[2018-10-12 10:46] Nicolausi113 commented on #8800
in v7.7.2 still the same!

[2018-10-12 15:23] mirasrael commented on #9686
Please provide server logs for both cases.

[2018-10-12 15:24] mirasrael commented on #9686
You can also upload your save somewhere (like Dropbox) and provide link to it. It will be much easier to investigate this issue then.

[2018-10-12 19:41] elfl0rd opened #9688 "world_gen - not 72x72 worlds cannot be generated"
Exception when generating water.
tested 100x100, 140x140 - all same
![default](https://user-images.githubusercontent.com/4980243/46890575-ee546480-ce6f-11e8-96af-f64c051c0ed5.png)

@metachronism

[2018-10-12 20:05] elfl0rd commented on #9688
It looks like this happens after you change the configuration through the server console

[2018-10-12 20:44] johnkslg commented on #9632
Fixed in master and staging!

[2018-10-12 20:44] #9632 closed

[2018-10-12 20:44] johnkslg commented on #9571
Fixed in master and staging!

[2018-10-12 20:44] #9571 closed

[2018-10-12 20:46] #9688 closed

[2018-10-12 20:50] metachronism commented on #9682
most of them work, and the ones that dont are broken on master as well

[2018-10-12 21:12] D3nnis3n commented on #9679
This did happen quite often the last days, i ever had to restart steam to get it working again. Probably this is an interaction issue or something like that? It's pretty enerving, though!

[2018-10-12 21:14] D3nnis3n commented on #9678
One player confessed he tried out what the height limit is with ramps ... You should really do something that players cannot crash the server by building too high. Probably disallow placing blocks at heights that would not be okay for that specific mapsize. People can easily crash the server without even knowing. Auto-restart does not work and backup must be restored to fix it. Autoremove on excep

[2018-10-12 21:22] D3nnis3n commented on #9667
Kind of a duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9329

Did fix that for my server manually by changing all ramp recipes.

[2018-10-12 21:23] D3nnis3n commented on #9673
Sure it would, just sounded like you'd rather have that "bug" fixed with no replacement - as this will probably happen. And that's not good. Then at least keep this "bug" until it get's a better way.

[2018-10-12 21:28] BlazeGuy2 commented on #9681
Fixed for 7.8 milestone, open a new issue if this resurfaces in the next release.

[2018-10-12 21:28] #9681 closed

[2018-10-12 23:56] seccombew opened #9689 "Laser Requirements to destroy meteor"
In a recent play through, four lasers were built, thought the energy requirements were only met for one laser. When firing lasers at the meteor, three of the four shut down immediately, but the single laser remaining was able to destroy the meteor by itself.

[2018-10-12 23:58] BlazeGuy2 commented on #9689
@seccombew Do you know what version the meteor was destroyed on?  Can you get the server save from them?

[2018-10-13 06:34] Deantwo commented on #9677
Yes, they have to be in the same room to count.
I suggest the little `Requires ©Electric Stamping Press` should be changed to include "in this room" at the end or something.

[2018-10-13 08:32] elfl0rd commented on #9550
and as i see - missed one "
hairpiece says I don't care -> hairpiece says "I don't care

[2018-10-13 11:05] Nicolausi113 commented on #9680
This problem happened once again, the loading screen did not progress and I stoke escape. An error message popped up and I copied the text, maybe it’s helpful.
I noticed in the log file: “Initialized touch support”. My machine doesn't have any touch devices ??

![failed connection](https://user-images.githubusercontent.com/38510829/46904622-8a6d8280-cee7-11e8-90fb-1d49c9923cab.jpg)

Log File:
Init

[2018-10-13 14:37] Impyyy opened #9690 "USER ISSUE: Chest/wall problem"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Stand on a chest in a room (3 blocks high) get someone to open the chest youre stood on

**Expected behavior:**
Chest to open - Not get stuck

**Actual behavior:**
Chest opens, but then the person stood on the chest gets stuck in the wall.n
**Do you have mods installed? Does issue happen when no mods are installed?:**
Chest opens, but then the per

[2018-10-13 17:15] D3nnis3n opened #9691 "Projects stay after unlearning"
I don't know if that is really wanted but we now got a case where this lead to behaviour i as server admin do not like, and neither did our other players. A player took a bunchload of skills when specialty are cheap, made the table, set up several projects with 9999, unlearned it and took the next. That leads to us having steam trucks after 30 hours on specialty multiplayer 1,5 and high difficulty

[2018-10-13 19:04] LipkeGu commented on #9680
I exoerienced also when i see my Server and click "Join" it will join another Server like "timlukas" :(

[2018-10-13 19:12] LipkeGu commented on #9345
```bcdedit /deletevalue nx```
Can you please post your Windows Version and Build? ECO on my side runs fine with this setting!
Im using the Insider preview build 18252.x - Windows 10

[2018-10-13 20:04] johnkslg opened #9692 "Make use of popup dialog for errors"
Errors sent using SendTemporaryError will display in the chat, which can be missed if its behind a window.  Go through all cases of SendTemporaryError and change them to instead call PopupConfirmBoxLoc on the client, so the error message is properly viewed.

[2018-10-13 20:50] Greatzeus1 opened #9693 "USER ISSUE: Workbench"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Go to workbench and after leveling up efficency for any items, the workbench is still the same.
The efficency does affect the other tables, just not the workbench.

**Expected behavior:**
changed the items required to a lower amount.

**Actual behavior:**
stays the same value, regardless of leveling or relogging.n
**Do you have mods installed? Doe

[2018-10-13 20:57] axxic commented on #9345
Hi I've resolved it by reinstalling the steam service thank you

On Sat, 13 Oct 2018, 21:12 Guido L., <notifications@github.com> wrote:

[2018-10-13 23:53] elfl0rd commented on #9692
Perhaps it would be better to display the chat on top of all Windows when an error occurs?
(Everyone hates popups!)
In addition it would be very good if the errors always will be visible in the chat and not for a short time after the appearance...
In addition, part of the "errors" should be removed by modifying the game mechanics.
For example, contracts for the delivery of items
e.g. need 11 items

[2018-10-14 00:31] pamduncan commented on #9693
If what you are trying to craft gets crafted in another table.. you have to use the specialty table to get efficiencies applied.  For example say you want to craft some type of wall block to build you house and its one of the itens the workbench will let you make  btu that block is something that can be crafted in a specialty table, like the crafting table.  If you use the Carpentry table to make

[2018-10-14 00:49] pamduncan commented on #9687
Does this happen after you have been online a while or even after you have just logged in?  What is your ping to the server?  The reason I ask is that we have seen this same thing and its turned out to be something like a desync between server and player - if we have that player who is hearing footsteps while driving to do some other things that get weird if the player is desynced and when they do

[2018-10-14 07:09] Dibbertaler commented on #9662
Hello, yes the local "single player mode" I starting my worls and have no access right anymore. I don't know why? Thanks for you support

[2018-10-14 07:10] Dibbertaler commented on #9662
oh ... no mods .. only the normal standard installation

[2018-10-14 07:15] Dibbertaler commented on #9662
![ingmars_home](https://user-images.githubusercontent.com/43926169/46913646-b04f6180-cf91-11e8-956c-984cbf7cae34.png)

[2018-10-14 08:28] Deantwo commented on #9662
@Dibbertaler, you are admin on a single player server, so just use the [`/unclaim`](https://eco.gamepedia.com/Chat_Commands#Admin_Commands) admin command.

[2018-10-14 11:30] Deantwo commented on #9691
One thing your server admin could do in the meantime, is to set the skill point refund to 0%. Or you can impose a tax/prevention law on learning new specialities if you have learned and unlearned many specialities within the last 24 hours.

[2018-10-14 11:36] Deantwo commented on #9691
As for how to fix the exploit, maybe projects should require the owner to have the skill for the project to continue. Similar to if the room the crafting station is in suddenly behome invalid.
This would however require project processes to constantly monitor the owner's skills. But yes, if we want efficiency to affect projects already in procress, I guess this is the direction we are headed anywa

[2018-10-14 11:41] Deantwo commented on #9693
All recipes in the workbranch don't benefit from efficiency skills.

[2018-10-14 11:48] Deantwo commented on #9693
DlPossible duplicate of: #8666

[2018-10-14 13:37] D3nnis3n commented on #9691
It was only one guy, we handled that by giving him a severe warning (e.g. 2 at once) and removing skill points from him. It's not wanted that people cannot refund at all.

As for how to fix it: Couldn't a skill refund not just trigger an event sent to all tables saying "No longer there, kill projects" instead of perma-monitoring? Same for efficiency raising, trigger an event going to all tables af

[2018-10-14 14:50] elfl0rd commented on #9662
Steam or slg license?

[2018-10-14 17:18] elfl0rd commented on #9669
And yes, you can place new ramps trough another blocks, facepalm.
![20181014032313_1](https://user-images.githubusercontent.com/4980243/46919865-529d3280-cfee-11e8-8ee8-340d58b70019.jpg)
![Uploading 20181014032252_1.jpg…]()

[2018-10-14 22:58] Phlo123 opened #9694 "USER ISSUE: Banned from my own server "?!""
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Open Game scene in unity, hit play, log in and try to connect to your 1000 euro server you bought with your own money. Works on other server that you don't own, but its better if you've spent the money. If I log in with a normal client it works fine.

**Expected behavior:**
It should let me log in. lol

**Actual behavior:**
The following error mes

[2018-10-14 22:58] Phlo123 commented on #9694
![image](https://user-images.githubusercontent.com/17730996/46923238-cefb3a00-d01d-11e8-86c0-74f7bd4391b2.png)

[2018-10-15 01:57] elfl0rd commented on #9694
um...
Unity? 0.7.7.2? what branch you using?
You asked the host from whom you rent the server?
If you have file acces, you checked Users.eco?

[2018-10-15 08:11] Skepsi commented on #9677
I suggest to make it possible to put those machines in separate buildings.

[2018-10-15 11:03] LipkeGu opened #9695 "7.7.2: Display Error while changing (sound) settings"
Version: 0.7.7.2 beta

Steps to Reproduce:

* Play the Game
* Disable Fog in graphics settings
* Press escape and change some settings, like sound, graphics or other settings
* while you change the settings like moving the slider, a fogish graphical error occours
* Restarting the Client fixing this

Expected behavior:
The Game should run normaly
Actual behavior:
Graphical Error...
Do you have mods

[2018-10-15 12:49] Nicolausi113 commented on #9695
Could it be related to these ? #9240 #9277

[2018-10-15 16:30] elfl0rd opened #9696 "Allow some objects to be set on tables"
**Version:** 0.7.7.2 beta
And cannot be used on table, as working decor.

![default](https://user-images.githubusercontent.com/4980243/46964464-ce5fb380-d0b0-11e8-9f00-65beadc6b85e.png)

[2018-10-15 17:46] Nicolausi113 commented on #9680
I meanwhile have a strong suspicion, that it has to do with shortening the long load sequence of Main Screen by clicking in the screen!

[2018-10-15 17:47] seccombew commented on #9693
@Greatzeus1 We are redoing efficiency completely in 8.0, so closing.

[2018-10-15 17:47] #9693 closed

[2018-10-15 17:53] seccombew commented on #9565
@BlazeGuy2 Check staging

[2018-10-15 17:56] seccombew commented on #9682
@BlazeGuy2 check if broken in staging.

[2018-10-15 18:15] BlazeGuy2 commented on #9695
@LipkeGu Can you send screenshots/videos of this graphical issue?

[2018-10-15 18:16] elfl0rd commented on #9696
It would also be good if it is possible to put items directly on the table and not in the wall next to it.

[2018-10-15 18:29] BlazeGuy2 commented on #9565
Happens on Staging.
![axe_tut](https://user-images.githubusercontent.com/35509188/46970306-93885c00-d06d-11e8-8214-763e17e39977.PNG)

[2018-10-15 18:30] BlazeGuy2 commented on #9565
Grab Axe before finishing Auth tutorial triggered it for me.

[2018-10-15 18:47] johnkslg opened #9697 "Rohrer bug: Couldnt connect to server erroneously"
Says 'ticket expired'

![image](https://user-images.githubusercontent.com/3536496/46971042-c2073680-d06f-11e8-9d16-8e809b79f17d.png)

[2018-10-15 18:49] johnkslg opened #9698 "Inventory confusion"
https://www.twitch.tv/videos/322315563 @6:50

![image](https://user-images.githubusercontent.com/3536496/46971285-6db08680-d070-11e8-8314-8061e333e61c.png)

[2018-10-15 18:53] johnkslg opened #9699 "Rohrer Bug: No suggested servers"
![image](https://user-images.githubusercontent.com/3536496/46971489-f0394600-d070-11e8-8c18-1c7a99b9d903.png)

Probably due to too-high ping

[2018-10-15 20:02] BlazeGuy2 opened #9700 "Minimap UI is broken"
![brokenminimapui](https://user-images.githubusercontent.com/35509188/46975107-9ccbf580-d07a-11e8-85bd-f2bf5c3ef0d7.PNG)
On Current staging.

[2018-10-15 20:03] BlazeGuy2 commented on #9700
Environment Data panel has all items listed as none.

[2018-10-15 20:06] BlazeGuy2 commented on #9700
Fixed itself later, only triggered on first time use in world.

[2018-10-15 20:14] BlazeGuy2 commented on #9682
Broken in staging.

[2018-10-15 21:14] metachronism opened #9701 "Huge lag spike after world layer tick completes"
ask Phlo for more details if needed -

Tick world layers, observe no lag during tick - as soon as tick finishes, huge lag spike and some disconnections

[2018-10-15 22:09] Phlo123 commented on #9701
Found the issue, the ticket can be closed i guess.
After the tick ends, the eco server transfers data at 50mb/s for 3-5 seconds which caps the upload speed on the network. I will most likely upgrade the connection to 400mb/s upload speed and "case closed".

[2018-10-15 22:52] elfl0rd opened #9702 "missing string"
@Nanders
![default](https://user-images.githubusercontent.com/4980243/46982712-16e59400-d0e6-11e8-9d96-617b69407546.png)

[2018-10-15 22:58] elfl0rd opened #9703 "missing strings"
infinity (like own currency)
and "not enough..."
![default](https://user-images.githubusercontent.com/4980243/46982885-dcc8c200-d0e6-11e8-9d08-f7e0ab3b3303.png)

Additional problem - balance stick into name

@Nanders

[2018-10-15 23:38] elfl0rd opened #9704 "missing string"
![default](https://user-images.githubusercontent.com/4980243/46984159-89597280-d0ec-11e8-8cec-4abf6b21645b.png)
@Nanders

[2018-10-15 23:41] elfl0rd opened #9705 "Possible dupe"
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50022
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50703

@Nanders

[2018-10-15 23:51] #9702 closed

[2018-10-15 23:51] #9703 closed

[2018-10-15 23:53] BlazeGuy2 opened #9706 "Master: Cutting down birch tree branches causes an exception"
This broke on master.

--BEGIN DUMP--
Dump Time
10/15/2018 16:10:51

Exception
Exception: Exception
Message:Could not find matching method DestroyBranch on type Birch taking 1 parameters.
Source:Eco.Shared

System.Exception: Could not find matching method DestroyBranch on type Birch taking 1 parameters.
   at Eco.Shared.Networking.RPCManager.InvokeOn(INetClient client, BSONObject bson, Object targ

[2018-10-15 23:54] BlazeGuy2 commented on #9706
As a side note, my CI system found it, so self high-five.

[2018-10-16 00:17] D3nnis3n commented on #9565
Well, that's what i clearly said in the description and name of the issue XD

[2018-10-16 00:18] D3nnis3n commented on #9699
You have a ping of 650 to my server? We got a lot of US players, but they are at around 150, East Coast though.

[2018-10-16 00:39] johnkslg opened #9707 "Double localization"
You can see by the double underscores, some of these strings are being re-localized. This wasn't happening when I localized laws previously. Can you take a look?

![image](https://user-images.githubusercontent.com/3536496/46985805-1f67ab80-d0a1-11e8-9949-a2cd4755dc62.png)

[2018-10-16 00:42] johnkslg opened #9708 "Found some web queries not returning localized"
![image](https://user-images.githubusercontent.com/3536496/46985916-913ff500-d0a1-11e8-90cb-f85db1e53dfc.png)

Humans, All, and Accept Contract appear to not be localized

[2018-10-16 00:44] elfl0rd commented on #9706
Dupe - https://github.com/StrangeLoopGames/EcoIssues/issues/9646

[2018-10-16 00:54] elfl0rd opened #9709 "Missing strings"
Players and Trees
![default](https://user-images.githubusercontent.com/4980243/46986278-1e616900-d0f7-11e8-81c5-b74b905368d6.png)

@Nanders

[2018-10-16 00:59] elfl0rd opened #9710 "Missing strings"
![default](https://user-images.githubusercontent.com/4980243/46986354-7f893c80-d0f7-11e8-8184-80bf4f794756.png)
Moisture, Nutrient, Plant Group - not exists.

@Nanders

[2018-10-16 01:01] elfl0rd opened #9711 "No strings for Capacity and Population"
I think an ideal option - {0} Capacity and {0} Population, where {0} specie name
![unknown](https://user-images.githubusercontent.com/4980243/46986453-2d94e680-d0f8-11e8-9ea6-7c6d931d0ac4.png)

@Nanders

[2018-10-16 01:02] elfl0rd opened #9712 "Feature - using string in another strings."
e.g.

except hardcoded

@Nanders

[2018-10-16 01:05] elfl0rd opened #9713 "Strings looks as not used."
![default](https://user-images.githubusercontent.com/4980243/46986539-a2682080-d0f8-11e8-9374-2e2fe408e8b5.png)
server panel - sleep - display
https://crowdin.com/translate/eco-by-strange-loop-games/all/en-ru#52403

![default](https://user-images.githubusercontent.com/4980243/46986548-b1e76980-d0f8-11e8-8f40-68b07ba47c0c.png)
Objectives tab
World Objective:
https://crowdin.com/translate/eco-by-str

[2018-10-16 01:15] elfl0rd opened #9714 "Missing string - Biomes"
Please add as full strings
e.g. "Desert Biome"
![default](https://user-images.githubusercontent.com/4980243/46986843-1fe06080-d0fa-11e8-8770-a82380ee8c64.png)

@Nanders

[2018-10-16 01:16] elfl0rd opened #9715 "Missing strings - moisture content"
![default](https://user-images.githubusercontent.com/4980243/46986880-50c09580-d0fa-11e8-9446-da85a3195ade.png)

@Nanders

[2018-10-16 01:18] elfl0rd opened #9716 "Missing strings - Nutrient contents"
![default](https://user-images.githubusercontent.com/4980243/46986918-84032480-d0fa-11e8-9ecf-58f937730ca5.png)

@Nanders

[2018-10-16 01:19] elfl0rd opened #9717 "Missing strings - Plant groups content"
![default](https://user-images.githubusercontent.com/4980243/46986951-b0b73c00-d0fa-11e8-8b3e-7db417e04fe0.png)

@Nanders

[2018-10-16 01:21] elfl0rd opened #9718 "Missing strings - pollution content"
![default](https://user-images.githubusercontent.com/4980243/46987029-f96ef500-d0fa-11e8-8846-76c6c861fb03.png)

@Nanders

[2018-10-16 01:22] elfl0rd opened #9719 "Missing strings - world content"
![default](https://user-images.githubusercontent.com/4980243/46987052-1c010e00-d0fb-11e8-8f2f-73f20463db70.png)

@Nanders

[2018-10-16 01:27] RexStar03 opened #9720 "USER ISSUE:"
**Version:** 0.7.6.3 beta

**Steps to Reproduce:**

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]

[2018-10-16 01:29] elfl0rd opened #9721 "localised /help - overlap"
![default](https://user-images.githubusercontent.com/4980243/46987252-1821bb80-d0fc-11e8-936a-ef7f4f6225b4.png)

[2018-10-16 01:33] elfl0rd opened #9722 "Need able to use base (english) and localised commands at same time."
As i see, currently, localised commands replace english, it's bad for me.

Ideal if you use english - all hints\tooltips to this command shown on english.
Localised - at local lng.

![default](https://user-images.githubusercontent.com/4980243/46987323-6afb7300-d0fc-11e8-89f4-65e743c33b53.png)

[2018-10-16 01:34] elfl0rd opened #9723 "Access level is not translated for /help"
![default](https://user-images.githubusercontent.com/4980243/46987400-bca3fd80-d0fc-11e8-98a6-b473d959f22d.png)
@Nanders

[2018-10-16 01:37] elfl0rd opened #9724 "allaccounts and spawn accounts strings missed"
and his description.
![default](https://user-images.githubusercontent.com/4980243/46987504-20c6c180-d0fd-11e8-84b3-dfc1feb7ec95.png)

@Nanders

[2018-10-16 01:38] elfl0rd commented on #9720
Do not use pirate copy, lol.

[2018-10-16 01:39] johnkslg opened #9725 "Stockpile didnt detect lots of logs added in tut"
![image](https://user-images.githubusercontent.com/3536496/46987584-acaefe00-d0a9-11e8-9b7d-788a1b192745.png)
May be fixed in staging @BlazeGuy2

[2018-10-16 02:23] Chumannn opened #9726 "USER ISSUE: No menu at game startup"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Launch game.

**Expected behavior:**
Show start menu

**Actual behavior:**
No menu listings just background with windmills etc. Nothing to click on. If i hit excape i get the settings menu as normal but n
**Do you have mods installed? Does issue happen when no mods are installed?:**
No menu listings just background with windmills etc. Nothing to c

[2018-10-16 02:45] Conchipedia commented on #9638
had to move Blast Furnace again, bug appeared again, getting someone else putting Coal in Power Tab didn't work this time, Had to have someone tweak Strange Fuel to work in Blast Furnace, sort of covered for now until i can get enough Coal to fill the Order then i can place Coal back in as Fuel.

i think whats happening is that if you look under Storage Tab it sees it's own Power tab there and jus

[2018-10-16 04:07] elfl0rd opened #9727 "USER ISSUE: "public crafting stations" is pretty useless after removing your own benches."
**Version:** 0.7.7.2 beta
Please, remake this page onto "Available crafting stations"
And allow you to control your own production through it!
![20181016070547_1](https://user-images.githubusercontent.com/4980243/46992320-237fe180-d112-11e8-8ad2-5e96572b102b.jpg)

[2018-10-16 05:44] goobie commented on #9687
From what i've said it happens all the time.

The server I was on didn't have the best ping (i think ~300ms). I'll check on a local server tonight.

[2018-10-16 05:59] elfl0rd opened #9728 "Duplicated strings"
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50027
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50068

@Nanders

[2018-10-16 06:08] D3nnis3n opened #9729 "Elections bug out sometimes"
We now have - once again, as in every few elections - the case that noone can vote on elections as of when you try the right side of the webpage stays empty. Funnily some people could vote before this started suddenly, so i have to declare the election invalid as of the winner probably winning by a bug.

<img width="1877" alt="actualelection" src="https://user-images.githubusercontent.com/25908592

[2018-10-16 09:05] elfl0rd opened #9730 "Master - minimap categories duplicated."
Sections from animal to world duplicated.
![default](https://user-images.githubusercontent.com/4980243/47005130-cbf66b80-d13b-11e8-897b-32e370dcbe46.png)

[2018-10-16 09:18] elfl0rd opened #9731 "NickLocBugs - Currency report - overlap name and balance."
Balance covers the name
![default](https://user-images.githubusercontent.com/4980243/47005972-8cc91a00-d13d-11e8-9024-2484c044ab95.png)

And behaves strangely when resizing
![default](https://user-images.githubusercontent.com/4980243/47005945-7fac2b00-d13d-11e8-90b0-73bec7c4a3eb.png)
![default](https://user-images.githubusercontent.com/4980243/47005960-85097580-d13d-11e8-97e4-42ba5e912580.png)

[2018-10-16 10:38] Skepsi opened #9732 "Electric Lathe: Crafting tab is empty"
Game version - 0.7.7.2
The "crafting" tab of "Electric Lathe" is empty.

[2018-10-16 11:42] Dimitri0xff commented on #6274
Hello,
Did updating Unity solve the UnityPlayer.dll crash problem (#4272)? If yes, which version, 2017.4?

[2018-10-16 15:10] Nicolausi113 commented on #9732
dupe #8800 #8547

[2018-10-16 15:45] Nicolausi113 opened #9733 "Balancing Issue - Ramps should have weight and be only carryable"
Example:
- 100 ramps can be packed in backpack in ONE slot
- place the ramps intermediate on ground and destruct them
- the scattered blocks now have weight and behave like normal dirt, stone road or asphalt road.

No vehicle or stockpile can hold this amount of weightless building material.
Ways for cheating are implemented.

[2018-10-16 16:23] D3nnis3n opened #9734 ""Tims Cart" when you sell deeds"
I bought two deeds with around 500 claims today, looked in my real estate table and owned Deeds called "Title" with plots that are ALL named "Tim's Wood Cart" instead of their real names and plots with coordinates. That vanished after changing something at the plot, e.g. change name or color.

[2018-10-16 16:24] D3nnis3n opened #9735 "Selling Claims takes authorisation with it"
If you sell a plot with people authorised they stay authorised. Maybe not the best thing to do, especially when you don't know this is happening and people can alter your plots without you knowing.

[2018-10-16 16:25] D3nnis3n opened #9736 "Sorting of Online List"
Somehow the sorting of the online list seems broken. On top of it there are often people that are online - but not all of them. Then there are offline people in between. After around 25 players the list finally starts to be alphabetical.

Could you make it completley alphabetical or just show online players on top in alphabetical order and then offline players in alphabetical order?

[2018-10-16 16:36] LolindirFox opened #9737 "USER ISSUE: Huckleberries Gitched"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Pick up huclkeberries

**Expected behavior:**
been put into an empty space in inventory

**Actual behavior:**
Dissappeared, it said I colected them in the information window but they are nowhere to be foundn
**Do you have mods installed? Does issue happen when no mods are installed?:**
Dissappeared, it said I colected them in the information windo

[2018-10-16 17:13] BlazeGuy2 commented on #9725
![stockpile_tut](https://user-images.githubusercontent.com/35509188/47034377-0e17b100-d12c-11e8-901a-ac358a4137f6.PNG)
Tutorial worked for me just fine on current staging.

[2018-10-16 19:02] elfl0rd opened #9738 "Missing string - help"
And as i see, /help needed to add into /help output! And need description.

@Nanders

[2018-10-16 19:23] elfl0rd opened #9739 "Missed string - inventory weight"
![default](https://user-images.githubusercontent.com/4980243/47041640-07238980-d192-11e8-8a6a-cfe9179707db.png)

@Nanders

[2018-10-16 19:31] elfl0rd opened #9740 "Missing string - Account ID"
![default](https://user-images.githubusercontent.com/4980243/47042079-1d7e1500-d193-11e8-8176-2c0cd37997a8.png)

@Nanders

[2018-10-16 19:34] elfl0rd opened #9741 "Not used strings"
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50111
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50112

![default](https://user-images.githubusercontent.com/4980243/47042309-9a10f380-d193-11e8-93e5-0505c7c96932.png)

@Nanders

(or add new string if separated)

[2018-10-16 19:41] elfl0rd opened #9742 "Missing strings"
"with {} paid in tax" and "Click to open contract."
![default](https://user-images.githubusercontent.com/4980243/47042624-6bdfe380-d194-11e8-8201-607d27c70536.png)

@Nanders

[2018-10-16 19:53] elfl0rd opened #9743 "Missing and wrong strings in contract window"
but contractor bank account and client bank account have correct strings at crowdin (with :)

And maybe you replace Currency to Currency: ?
![default](https://user-images.githubusercontent.com/4980243/47043424-47850680-d196-11e8-8f41-90c55c60aea2.png)

@Nanders

[2018-10-16 19:55] elfl0rd opened #9744 "Missed strings - world sides, e.g. SE"
![default](https://user-images.githubusercontent.com/4980243/47043547-8fa42900-d196-11e8-88b5-3ab17324a101.png)

@Nanders

[2018-10-16 19:59] elfl0rd commented on #9742
And i cannot found first "Unassigned" probably lost too.

[2018-10-16 20:02] elfl0rd opened #9745 ": lost in string?"
![default](https://user-images.githubusercontent.com/4980243/47043888-78197000-d197-11e8-833c-6d9f7cc6fe65.png)

https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#53248
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#53246

@Nanders ?

[2018-10-16 20:02] craig-jong commented on #9432
I know this is kinda of late, but can you provide any extra information on what you were doing when these exceptions occurred?

[2018-10-16 20:04] craig-jong commented on #9559
Lowering the priority further since none of these objects are even s'pose to have models. They're all intentionally using the default world object because they're debug/testing objects.

[2018-10-16 20:04] craig-jong commented on #9559
Also removing Keegan because they dont actually need art.

[2018-10-16 20:06] elfl0rd opened #9746 "String not used or missing - Hidden"
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#49809

![default](https://user-images.githubusercontent.com/4980243/47044176-29b8a100-d198-11e8-83e3-d0ad4d817913.png)

@Nanders

[2018-10-16 20:16] elfl0rd opened #9747 "Missing form strings"
![default](https://user-images.githubusercontent.com/4980243/47044692-84063180-d199-11e8-83f8-942a3db3c5da.png)

@Nanders

[2018-10-16 20:25] elfl0rd opened #9748 "Missed string - Crafted at a"
![default](https://user-images.githubusercontent.com/4980243/47045119-b8c6b880-d19a-11e8-9804-977a269212d4.png)

@Nanders

[2018-10-16 20:34] elfl0rd opened #9749 "Missed string - "Then allow" (laws)"
![default](https://user-images.githubusercontent.com/4980243/47045633-f546e400-d19b-11e8-986b-7cf9c7af2bf6.png)

@Nanders

[2018-10-16 20:38] elfl0rd opened #9750 "Missing string - minutes (fast time)"
![default](https://user-images.githubusercontent.com/4980243/47045873-92a21800-d19c-11e8-97d4-0cd0c19882e0.png)

@Nanders

[2018-10-16 20:43] elfl0rd opened #9751 "Missing string - server shutting down"
![default](https://user-images.githubusercontent.com/4980243/47046221-54f1bf00-d19d-11e8-938a-022a0b2a96e9.png)

@Nanders

[2018-10-16 20:47] elfl0rd opened #9752 "Nutrition description cover nutrition number."
en
![default](https://user-images.githubusercontent.com/4980243/47046333-89fe1180-d19d-11e8-936f-e408ac0e9b72.png)

translated
![default](https://user-images.githubusercontent.com/4980243/47046462-cdf11680-d19d-11e8-83d9-3c6e8d245af6.png)

Need more space, please.

[2018-10-16 20:50] elfl0rd opened #9753 "Missing strings - Examine and Bed"
![default](https://user-images.githubusercontent.com/4980243/47046644-4d7ee580-d19e-11e8-87da-81ab60d6520e.png)

@Nanders

[2018-10-16 20:55] elfl0rd commented on #8652
Still investigate? as i know adding converter planned, "Feature" will be better.

[2018-10-16 21:06] elfl0rd commented on #9752
Or make dynamic layout

[2018-10-16 22:07] Deantwo commented on #9736
I think they are sorted by players with positive reputation or players with a defined objective first.

Would be nice if this list was overhauled to have columns with sorting options for them. A column for total reputation and a column for __relative__ reputation would be nice.
Also things like buttons for giving reputation or sending money would be useful.

[2018-10-16 22:13] Deantwo commented on #9732
This is not a bug, there simply aren't any recipes at that crafting station. Place it in the same room as an __Electric Machinist Table__ to unlock the next recipe at the __Electric Machinist Table__.

See: https://github.com/StrangeLoopGames/EcoIssues/issues/9040#issuecomment-415072350

[2018-10-16 22:55] metachronism commented on #9122
unusable in certain resolutions

[2018-10-16 23:30] SHviid commented on #9485
We had this problem aswell. If a users currency balance is below what is being taxed, the server can go into a crash loop. We fixed it by making a law stating if currency balance >50 then prevent crafting tailings.

[2018-10-17 01:35] elfl0rd opened #9754 "Need more info to translate"
server console - World - Display

Total chunks:
Active chunks:
Frozen chunks:
Total chunk packs:
Dirty chunk packs:

To correct translate need description, what parameter is responsible for what?

https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50081
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50082
https://crowdin.com/translate/eco-by-strange-loop-games/24/en

[2018-10-17 01:38] Weatt opened #9755 "Corrupted Files"
Reposting because I cannot play the game until this gets fixed and it's past the refund time. https://www.sendspace.com/file/auowjj
I tried playing my singleplayer world today and it only says New game on the screen, no option to even play it. I uploaded the file above and was told by other they've never seen an .eco-corrupted file before and to take it here. Any help would be appreciated

[2018-10-17 02:39] Conchipedia opened #9756 "in minimap View the topmost Block of a structure or Road is extending to the ground"
**Version:** 0.7.7.2 beta
![snap3051](https://user-images.githubusercontent.com/29383891/47058640-cf323b80-d1bd-11e8-9d25-5a983e11b899.png)
as can be seen above the left most side of the Box Structure is extending to the ground from the roof, giving it a filled in effect.
Even the Road which is **ONLY** 1 block on the surface of the Sea is showing in filled.

is there possibly a way that the minim

[2018-10-17 02:45] elfl0rd opened #9757 "Balance - charcoal"
I think now getting the "steel" is too hard
Please, make charcoal reciepe more easy.
1) 50% less lumber
2) craftable from hewn logs too.

[2018-10-17 03:06] Conchipedia commented on #9698
watching this video, i can see why this Player was getting confused, maybe have the first thing that happens after creating/editing Avatar is to pop up on screen something like a message explaining How to toggle between Having the mouse pointer visible to interact with things and getting the Player to move an item from his backpack to his toolbar, this will at least give him a heads up on what the

[2018-10-17 03:32] j3fffff opened #9758 "Citizen Activity says undefined"
On Citizen Activity page,

if /suggest query is empty, displays 'undefined' in Current area. https://gyazo.com/a3d46f90f6f391b5bb1823b7ef11f85f

Should display text 'No Activity'

[2018-10-17 03:39] elfl0rd opened #9759 "Missing strings"
Room Requirements and Fueled
![default](https://user-images.githubusercontent.com/4980243/47060704-5cce5500-d1d7-11e8-81b4-6e9090f9a04d.png)

@Nanders

[2018-10-17 03:46] elfl0rd opened #9760 "Missing strings and need change string."
Port located at
Disconnected.
Open ends:

And please change "bench name" + "Output" onto "{0} output"
![default](https://user-images.githubusercontent.com/4980243/47060972-4c6aaa00-d1d8-11e8-9de9-4815a067345d.png)

@Nanders

[2018-10-17 03:46] elfl0rd opened #9761 "Balance - reinforced concrete."
Now it is too expensive and does not correspond to the real world.
In real life, reinforced concrete requie really, REALLY more concrete then rebars.

Just compare the volumes!
![664](https://user-images.githubusercontent.com/4980243/47059005-1e816780-d1d0-11e8-9b23-ddac96e889d8.jpg)

Maybe - flip rebars and concrete requiments at reinforced concrete reciepe.
e.g. from
![default](https://user-imag

[2018-10-17 03:48] elfl0rd commented on #9761
@Conchipedia I think you might be interested in that, too. :)

[2018-10-17 03:53] elfl0rd opened #9762 "Bank - accounts list"
1) list show over all windows
2) list not hide when user click\make actions outside.
![default](https://user-images.githubusercontent.com/4980243/47061239-4d500b80-d1d9-11e8-93b2-1bf8102bdb97.png)

[2018-10-17 03:55] elfl0rd opened #9763 "Windows title have zone w\o drag possible."
![r](https://user-images.githubusercontent.com/4980243/47061305-9738f180-d1d9-11e8-81cb-a48a8e1c5c88.gif)

[2018-10-17 04:01] elfl0rd opened #9764 "Missing or not used string"
Sales Tax

![default](https://user-images.githubusercontent.com/4980243/47061501-6c9b6880-d1da-11e8-904c-59ec148d51a1.png)

@Nanders

[2018-10-17 04:07] elfl0rd opened #9765 "Selection out of windows (new item filter)"
![default](https://user-images.githubusercontent.com/4980243/47061689-4aeeb100-d1db-11e8-9b86-3480ad601694.png)

[2018-10-17 04:10] elfl0rd opened #9766 "Spawning buildings not remove trees."
![default](https://user-images.githubusercontent.com/4980243/47061788-b89add00-d1db-11e8-9bb8-cbec26d8c8a6.png)

[2018-10-17 04:22] elfl0rd opened #9767 "Missing strings"
House Benefits

and type e.g. "Decoration"

and check room type too, please.

and as i see - "for {} ({} wanted) missed too.
![default](https://user-images.githubusercontent.com/4980243/47062176-61960780-d1dd-11e8-8f4a-e033943da9e3.png)

@Nanders

[2018-10-17 04:41] elfl0rd opened #9768 "Missing string and missing\not used strings"
![default](https://user-images.githubusercontent.com/4980243/47062708-3bbe3200-d1e0-11e8-9729-a0f7d3411cd9.png)

@Nanders

[2018-10-17 05:17] elfl0rd opened #9769 "Confusing server parameter - "Ignore Version Mismatch""
If _true_ version mismatch _not_ be ignored.
Maybe "Check client version" will be better?

[2018-10-17 05:48] elfl0rd opened #9770 "Missing strings - clauses"
![default](https://user-images.githubusercontent.com/4980243/47064759-5e087d80-d1e9-11e8-97ea-68c00e6b2a46.png)

@Nanders

[2018-10-17 05:52] elfl0rd opened #9771 "Feature: auto generate contract name from contract clauses."
e.g.
![default](https://user-images.githubusercontent.com/4980243/47064924-e4bd5a80-d1e9-11e8-8951-e7512e7ff36d.png)
Generated contract name - "Golden Dragon sell 10-100 bond"

[2018-10-17 06:59] NisseA opened #9772 "Trees despawn on singleplayer"
very often the tree Ive chopped down despawns when Ive collected like 20 logs from it and re-apears after a reload of the world.
Nearly every tree I chopped down. Noticed this a couple of months ago and stopped playing. started playing again and still happens.

The world stops loads too. If I walk away from my base the map stops to load and the ground/trees/bushes and others disappears. after a re

[2018-10-17 07:18] Deantwo commented on #9727
Pretty useless for you maybe.
The page is pretty useful if you have community crafting areas and some have paid usable.

Do we really need magical remote control over crafting?

[2018-10-17 07:50] Deantwo commented on #9726
Duplicate of closed/solved issue: #9345

Should be fixed in the next update.

[2018-10-17 08:09] elfl0rd commented on #9727
Why not? You can control it trough scroll scroll scroll in chat and hover, hover by mouse.
Previous crafting screen was useful for all, not just for servers with public stations

[2018-10-17 09:18] elfl0rd commented on #9727
In addition, now I can make the station open but close the door to it.
Is it really better than just letting your own stations appear on this list? lol.

[2018-10-17 12:19] Mehigh17 opened #9773 "Bad keymapping for the /fly command"
I have an AZERTY keyboard layout, I have remapped my normal walk keys but when I use the /fly command the QWERTY key maps apply so I need to press WASD, but WASD aren't in the same position as on an AZERTY keyboard. And the problem is that I can't remap the fly keys at all... It's very annoying and makes the flying almost impossible for non QWERTY users.

[2018-10-17 13:14] Conchipedia commented on #9761
would make sense to have more concrete than rebar ratio, or just call what we have as reinforced concrete Reinforced Rebar 😆

for more information please see this
https://www.uiet.co.in/downloads/20140911103651-sp.16.1980%20Structural%20Designing%20Practice.pdf

[2018-10-17 13:38] Conchipedia commented on #9757
as of writing this the Blast Furnace is broken and takes the Coal from the Power tab and using it as Ingredients #9638 so i expect that charcoal is being used instead of coal

[2018-10-17 13:57] elfl0rd commented on #9665
https://github.com/StrangeLoopGames/EcoIssues/issues/8980
https://github.com/StrangeLoopGames/EcoIssues/issues/9773

[2018-10-17 13:58] elfl0rd commented on #9773
https://github.com/StrangeLoopGames/EcoIssues/issues/8980
https://github.com/StrangeLoopGames/EcoIssues/issues/9665

[2018-10-17 14:05] zahnee commented on #9235
Still an issue in 0.7.7.2 beta
![image](https://user-images.githubusercontent.com/18610605/47091980-fb68af00-d1f3-11e8-9d1f-b28b9dfec073.png)

[2018-10-17 15:48] elfl0rd commented on #9235
Wait 7.8
https://github.com/StrangeLoopGames/EcoIssues/issues/9443
https://github.com/StrangeLoopGames/EcoIssues/issues/9333

[2018-10-17 16:08] elfl0rd opened #9774 "USER ISSUE: grass grow through _loaded_ distribution station."
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Place distribution station
Fill it.
Wait.

Now you can see grass inside it.

![20181017190652_1](https://user-images.githubusercontent.com/4980243/47100376-ff222300-d23f-11e8-90ea-4a93f19c68dc.jpg)

[2018-10-17 16:10] elfl0rd opened #9775 "Water show above smog."
![default](https://user-images.githubusercontent.com/4980243/50470908-7eac3b00-09c3-11e9-8c07-609e5f346d7e.png)
![default](https://user-images.githubusercontent.com/4980243/51876228-f5e53e00-2378-11e9-882d-e591df0b5458.png)

[2018-10-17 16:18] Conchipedia commented on #9756
also in Minimap some of the Blocks placed don't appear the same colour as in the real world
![snap3054](https://user-images.githubusercontent.com/29383891/47100905-84054080-d230-11e8-8e7f-6cd3068afa08.png)
and the Wooden Elevator shows up as a Horrible Bright Green (very annoying when trying to design something that also looks good in Minimap View)

[2018-10-17 16:35] elfl0rd commented on #9756
I think it's done to reduce system load.
Minimap even in its current form consumes quite a lot.

But this suggestion is cute :P

[2018-10-17 17:03] Conchipedia commented on #9756
also Some of the Blocks shown in Minimap View are completely the **Wrong** colour as shown below
![snap3055 edited](https://user-images.githubusercontent.com/29383891/47103308-e3fee580-d236-11e8-977f-de06ab77044d.png)

[2018-10-17 17:04] Conchipedia commented on #9756
trying to get that **EXTRA** design look in Minimap is not as easy as it first looks, somethings look great in minimap but awaful when looking at them normally

[2018-10-17 17:54] elfl0rd opened #9776 "Staging - contracts broken"
**Version:** 0.7.8.0 beta NickLocBugs-f100e292 debug

Click "create contract" on contract board make nothing.

/spawncontracts broken too.
No contracts and spawn board on air.

[2018-10-17 18:04] elfl0rd opened #9777 "Staging - added "Everyone" disappears after server restart."
Looks as result of - https://github.com/StrangeLoopGames/EcoIssues/issues/9583

lol.

[2018-10-17 18:07] elfl0rd opened #9778 "Staging - "Public Crafting Stations" broken"
![default](https://user-images.githubusercontent.com/4980243/47106942-9ee7ad00-d250-11e8-96b9-1f93d43d5a4c.png)

[2018-10-17 18:17] #9776 closed

[2018-10-17 18:17] #9777 closed

[2018-10-17 18:17] #9778 closed

[2018-10-17 19:27] elfl0rd opened #9779 "Master - loans\bonds broken"
![default](https://user-images.githubusercontent.com/4980243/47111023-102c5d80-d25b-11e8-9428-b34952037300.png)
![default](https://user-images.githubusercontent.com/4980243/47111047-20dcd380-d25b-11e8-870e-83854eab1544.png)
![default](https://user-images.githubusercontent.com/4980243/47111285-cb54f680-d25b-11e8-91da-77d8990414b4.png)

[2018-10-17 19:42] elfl0rd opened #9780 "Missing or not used string - Requires {0}"
![default](https://user-images.githubusercontent.com/4980243/47112083-f3455980-d25d-11e8-9fc0-95919703d58e.png)
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#49437

@Nanders

[2018-10-17 19:43] elfl0rd commented on #9780
And possible dupe - https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50139

[2018-10-17 19:47] elfl0rd opened #9781 "Master - adding any to authorization - server crash."
![default](https://user-images.githubusercontent.com/4980243/47112283-9302e780-d25e-11e8-9f81-d348f0b11988.png)

![default](https://user-images.githubusercontent.com/4980243/47112277-88e0e900-d25e-11e8-8274-c02d6d0958fd.png)

[2018-10-17 20:28] elfl0rd commented on #9263
(another - https://github.com/StrangeLoopGames/EcoIssues/issues/9263)
I can confirm, its regularly happens on release branch.
Other users report this issue too.

![20181017230808_1](https://user-images.githubusercontent.com/4980243/47114379-55a15880-d264-11e8-87b7-c3cbffc3ca62.jpg)

[2018-10-17 20:39] elfl0rd opened #9782 "Master - "Logout" button"
Please move it onto main screen, close to user name.
e.g.
from
![default](https://user-images.githubusercontent.com/4980243/47114907-bc734180-d265-11e8-93b8-bab58d1aea7b.png)
to
![default](https://user-images.githubusercontent.com/4980243/47114984-f04e6700-d265-11e8-9430-11433c50a0aa.png)

[2018-10-17 22:40] D3nnis3n opened #9783 "Sell Restrictions does not work"
We got this law:
<img width="1345" alt="law" src="https://user-images.githubusercontent.com/25908592/47120233-314a7980-d26e-11e8-9470-785a0319dd9a.png">
It is meant to restrict players from selling gold to me when they have more than 100 dollars.
But it counts MY money for the value check, which is obviously higher and disallows sale of people wehen i have more than 100 dollars and the seller does

[2018-10-17 23:32] D3nnis3n commented on #9679
I found a way to reproduce this:
This EVER happens when i start another steam game first. E.g. i start "Pathfinder Kingmaker", then in game tab out and start eco to look after what they do on my server, then eco has no main menu, i need to restart steam and then start eco again and it works. I had this issue serveral dozen times the last days.

My hardware is competent enough to run three games at

[2018-10-17 23:36] D3nnis3n commented on #9559
Just for clarification: This was a task of the QA Sheet, hence i reported this issue.

[2018-10-17 23:37] D3nnis3n commented on #9432
Unfortunatley not. It's not even a long time ago, it also happened while i was not there (we got autorestart activated), so i just thought i give you all those crash reports in the hope you could probably find out what is wrong and fix at least some of them.

[2018-10-17 23:41] D3nnis3n commented on #9432
Here are some more dumps since then:
[Dump.zip](https://github.com/StrangeLoopGames/EcoIssues/files/2489643/Dump.zip)

If they do not really give you information you should either stop creating them at all or give them more information. I can't be online all day to get to know every crash, that's why i made the server a service that autorestarts.

[2018-10-18 00:18] johnkslg commented on #9679
Want to try some repro attempts Walker?

[2018-10-18 00:35] BlazeGuy2 commented on #9679
Tried to repro.  I launched Stardew Valley from Steam and alt-tabbed out and launched Eco from Steam.  Main Menu appeared for me.  @D3nnis3n could you possibly post a video of a repro attempt on your end?

[2018-10-18 04:54] D3nnis3n commented on #9679
Do you know a good free software for making Videos? The Windows implemented Thing only works in a game, e.g. you can’t tab out to a new one.

[2018-10-18 05:05] Deantwo commented on #9783
The `Sell` trigger is triggered for both the seller and the store buying the item.
You can add "`not (on own property)`" to the `Sell` trigger's where clause, that way it won't trigger for the shop itself.
See: #9412

[2018-10-18 09:40] elfl0rd commented on #9732
Just move "Steel Axle" from Electric Planer to Electric Lathe, to compare as Lathe and Shaper.

[2018-10-18 11:28] MerGatto opened #9784 "USER ISSUE: Stone Ramp Catapult"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Place some stome ramps
Get a Wood cart
Drive the wood cart up the ramps

**Expected behavior:**
Smoothly drive up the ramp

**Actual behavior:**
You get catapulted in to the sky and possibly into the orbitn
**Do you have mods installed? Does issue happen when no mods are installed?:**
You get catapulted in to the sky and possibly into the orbit

[2018-10-18 11:30] MerGatto commented on #9784
Always happens when i drive up this slope and always at the same spot

![2018-10-18 13_28_39-eco](https://user-images.githubusercontent.com/2557018/47151404-f2eaa400-d2d9-11e8-8020-96f52b2eff98.png)

[2018-10-18 12:04] elfl0rd commented on #9784
0 coordinate...

[2018-10-18 18:21] Nanders opened #9785 "TaxManager.SubtotalAndTaxString() Encourages use of Composed/Nested strings"
Needs Refactor

[2018-10-18 21:06] MerGatto commented on #9784
i see, is there a workaround for this?

[2018-10-18 21:09] #9705 closed

[2018-10-19 00:36] BlazeGuy2 commented on #9772
Closing as potential dup of #9186

[2018-10-19 00:36] #9772 closed

[2018-10-19 00:42] Nanders commented on #9782
This isnt a localization issue, hes requesting the logout button be moved to the main menu, right now its in the escape menu

[2018-10-19 00:43] BlazeGuy2 commented on #9737
@LolindirFox Can you post a video showing this behavior?

[2018-10-19 00:50] #9732 closed

[2018-10-19 00:54] BlazeGuy2 commented on #9699
Wasn't autoclosed, PR was merged in for this.

[2018-10-19 00:54] #9699 closed

[2018-10-19 00:56] #9720 closed

[2018-10-19 00:57] #9725 closed

[2018-10-19 00:57] #9726 closed

[2018-10-19 01:09] SeanAtr0n commented on #9700
Seems to be related to localization, Animals goes in and 'None' comes out... could you look into it @Nanders ?

[2018-10-19 02:22] rainfarmer opened #9786 "Map doesnt display at first load, does after refresh"
Do a hard refresh with F5, map does not display, no errors.
Then do a normal refresh, and the map works correctly.

[2018-10-19 04:29] elfl0rd commented on #8547
Just move "Steel Axle" from Electric Planer to Electric Lathe, to compare as Lathe and Shaper.

[2018-10-19 04:29] elfl0rd commented on #8800
Just move "Steel Axle" from Electric Planer to Electric Lathe, to compare as Lathe and Shaper.

[2018-10-19 04:42] elfl0rd commented on #9757
@Nicolausi113 In any case, it takes too much coal to make steel now.

[2018-10-19 04:45] elfl0rd commented on #9779
And as i see, it broken on release too (7.7.2)
But different.
You can accept, receive debt, but not receive money, heh.

[2018-10-19 04:48] elfl0rd commented on #9774
same on stockpile

[2018-10-19 05:09] elfl0rd opened #9787 "Translation: missing strings - true\false"
![default](https://user-images.githubusercontent.com/4980243/47198658-48748e80-d376-11e8-9007-fd606796388e.png)

@Nanders

[2018-10-19 05:15] elfl0rd opened #9788 "Translation: not used string"
{0} claimed property at {1}, total land: {2} square meters.
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#49325
![default](https://user-images.githubusercontent.com/4980243/47198821-144d9d80-d377-11e8-9ab6-97eb2202fa1f.png)
@Nanders

[2018-10-19 05:17] elfl0rd opened #9789 "Translation: missing string and not used string"
Since you last logged in {0} ago, you lost {1} calories and gained {2} skill points
and not used - Ecosystem - https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#52601

![default](https://user-images.githubusercontent.com/4980243/47198875-5ecf1a00-d377-11e8-9f62-061e23e87117.png)

@Nanders

[2018-10-19 05:38] elfl0rd opened #9790 "Original text: need add dots, or remove existing. And maybe to correct one phrase"
![default](https://user-images.githubusercontent.com/4980243/47199412-267d0b00-d37a-11e8-9516-1e00d782ac88.png)
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#47998 - no dot
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50138 - has dot
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#50738 - no dot and confusing "tier of what?" I suggest text li

[2018-10-19 05:46] elfl0rd commented on #7140
Reciepes - same.
look at "modern hammer reciepe"
Original
![default](https://user-images.githubusercontent.com/4980243/47199666-5842a180-d37b-11e8-83c8-016b0e83123b.png)

Translated
![default](https://user-images.githubusercontent.com/4980243/47199641-39dca600-d37b-11e8-8c65-df12fd73ff7f.png)

[2018-10-19 09:49] elfl0rd commented on #9790
![default](https://user-images.githubusercontent.com/4980243/47211133-686b7880-d39d-11e8-806d-1fb61e243e85.png)

[2018-10-19 10:52] Conchipedia commented on #9757
we could always have coal turned into Coke then thats used in Blast Furnaces
if you want to read more about Steel making
https://www.worldcoal.org/coal/uses-coal/how-steel-produced

[2018-10-19 10:57] Conchipedia commented on #9757
Around 150 kg of coal are used to produce 1 tonne of steel in electric arc furnaces, so maybe we can have a **NEW** machine for producing Steel when Electricity is abundant

[2018-10-19 15:31] Dibbertaler commented on #9662
Steam

[2018-10-19 15:46] Dibbertaler commented on #9662
@Deantow - /unclaim is working :-) field by field but :-( I don't know why it was set to "red" but anyone - thanks for this option
Ingmar

[2018-10-19 17:39] seccombew commented on #9558
This should be hidden - this does not need an icon.

[2018-10-19 18:02] seccombew commented on #9756
@SeanAtr0n Your call

[2018-10-19 18:06] seccombew commented on #9735
@johnkslg Seems like a good idea to change this.

[2018-10-19 18:18] SeanAtr0n commented on #9756
It would be nice to have side colors on the map but that would require a lot of work to do efficiently so its pretty unlikely we will do it any time soon.

@keegan-o can take a look at the block colors though so reassigning

[2018-10-19 18:22] tpajenkamp opened #9791 "USER ISSUE: Picking up Log over storage opens storage"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Cut a tree such that it falls over a storage
2. Cut the tree in pieces
3. Pick up a log that lies within the storage ('E')

**Expected behavior:**
You only pick up the log

**Actual behavior:**
You pick up the log AND open the storage dialogn
**Do you have mods installed? Does issue happen when no mods are installed?:**
No. Yes.

[2018-10-19 18:39] Conchipedia commented on #9791
this happens occasionally on Stockpiles, i think sometimes the Client gets a bit confused, it knows you are picking up the Rubble/log but occasionally it also opens the storage as well, it takes a careful hand and patience picking up loads of Rubble that has fallen on a stockpile

[2018-10-19 18:41] elfl0rd commented on #9765
Okay, what information you want? :D

[2018-10-19 18:45] Conchipedia commented on #9790
since we have average room tier added it is **harder** to work it all out, the only way we have found so far is to add blocks of a higher tier and removing the lowest tier in the room, but sometimes we get that nasty bit where someone has built a room, but has forgotten to remove the dirt/sand from the corners and **under** the walls and then cries out for help, and it can take ages tracking down

[2018-10-19 18:46] elfl0rd commented on #9782
A couple of reasons for this.
First, you expect to find the logout button next to the user name and not in a separate menu.
Second, the button in the menu appears ugly under the mouse cursor when disconnected from the server.

[2018-10-19 18:46] BlazeGuy2 commented on #9765
Does clicking on the yellow boxes select items in the window?  Also, could you get a video showing what is occurring here so that it easier to visualize.

[2018-10-19 18:50] elfl0rd commented on #9790
@Conchipedia agree, i have issues about it.
e.g. #9636 #9637

[2018-10-19 18:56] Conchipedia commented on #9790
i don't want them to go back the the **old** way of a table saying that it needs 10 brick or 5 Hewn logs in a room, but something does need to be made clearer of how the room actually works without having to make a massive rebuild

[2018-10-19 19:00] elfl0rd commented on #9790
Yep, new system is beautiful but little confusing... Lot of people ignore tutorial :*(

[2018-10-19 19:01] johnkslg commented on #9779
Can you check these are working with all the new stuff added?
Also, can you write a /testdebt chat command, that triggers some loan variations on the server, then makes the client pay them back?  Work with @BlazeGuy2 to make sure it works with the new Continuous Integration system, so that the tests get run on PRs.  Check out /testexchanges for some examples, though that might need fixing as well.

[2018-10-19 19:01] johnkslg commented on #9781
@mirasrael can you check out whats going on here? Async exception related.

[2018-10-19 19:02] elfl0rd commented on #9781
Maybe its result of fixing - https://github.com/StrangeLoopGames/EcoIssues/issues/9583 ?

[2018-10-19 19:03] johnkslg commented on #9565
@Quadbro the tutorial should be testing for 'conditions satisfied' on start already, see why that's failing.

[2018-10-19 19:04] johnkslg commented on #9532
These need to be autosize, and could be bigger anyway.

[2018-10-19 19:06] johnkslg opened #9792 "Deed Sales need fixing"
I updated just about everything to use the new bank account system, except the deed sales.  You can see this interface on the real estate desk, give yourself one (might need to '/spawnbuilding 2' and put it inside to make it function.  In fact if you want to add a chat command /spawn <itemname> that works like /give, but creates a requisite building and places it inside, that would be fantastic).

[2018-10-19 19:20] elfl0rd commented on #9765
(This is current master branch)

Yes, except he outside filters window.

[2018-10-19 19:56] Phlo123 commented on #9694
Sorry i didn't respond sooner.
I opened Game Scene in unity and hit play, it boots up the game.
I'm using Release branch.
I don't host the server anywhere, I own the machine and the network it uses.
I checked Users file and my slg id was under blacklist, and also under Admin(but I gave myself Admin).

[2018-10-19 20:20] elfl0rd commented on #9694
Yes, you can shot to your leg by adding self to blacklist.

[2018-10-19 20:38] elfl0rd commented on #9653
Fixed
![default](https://user-images.githubusercontent.com/4980243/47242663-16a40c00-d3f8-11e8-873f-96e17517d0eb.png)

[2018-10-19 20:38] #9653 closed

[2018-10-19 20:54] Rambo99 commented on #9333
Confirmed in version 0.7.7.2

[2018-10-19 20:55] Rambo99 commented on #9235
Confirmed in 0.7.7.2

[2018-10-19 23:07] Trenix opened #9793 "USER ISSUE: Fail Contract Exploit"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Created a contract where the contractor must put a resource in a full container and make them pay a high deposit.
2. Contracter cannot deposit resource cause the container is full.
3. When the time expires, the contractor loses their deposit.

**Expected behavior:**
Not charge a contractor because the person is exploiting the system.

**Actual

[2018-10-19 23:14] Trenix opened #9794 "USER ISSUE: Put in Container Contract Exploit"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Take a contract that requires you to put a resource in a specific container.
2. Put the required resources inside your own steam truck (haven't tried with other vehicles).
3. Contract believes you're putting the resource in the correct stockpile when it's not.
3. Click complete job.
4. Profit

**Expected behavior:**
The resources should only be

[2018-10-19 23:22] bskora opened #9795 "USER ISSUE: Unfinished Contract Issue"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Begin creating contract.
2. Click away to get out of it.
3. Try to create a contract again, but it says you have a contract.
4. Check to see if you have a contract, but you dont.
5. Reconnect to server for your unfinished contract to appear.

**Expected behavior:**
A contract shouldn't be created until you officially submit it.

**Actual behavi

[2018-10-19 23:33] Trenix opened #9796 "USER ISSUE: Ramp Exploit"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Make dirt ramp
2. Break dirt ramp into dirt blocks
3. Use this to transport dirt far easier

**Expected behavior:**
Dirt ramps should remain into an item and not break into blocks or add a new item, dirt road.

**Actual behavior:**
Use ramps to transport dirt much easier.
**Do you have mods installed? Does issue happen when no mods are installe

[2018-10-19 23:56] Trenix opened #9797 "USER ISSUE: Steam Truck Iron Ore"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Put a stack of 20 iron ore in a steam truck.
2. Get a text message saying you can't put more than 5 iron ore in there, even though it went in.

**Expected behavior:**
No text message appearing.

**Actual behavior:**
Text message appears saying you can't do something which you clearly can.n
**Do you have mods installed? Does issue happen when no

[2018-10-20 01:14] LolindirFox commented on #9737
Here's a video trying to pick a few
https://plays.tv/video/5bca812dd03aa0f703/bug-report-eco

[2018-10-20 03:43] D3nnis3n opened #9798 "[7.8.0 #79e33fd9] Sorting for "match" does still not work."
See this issue: https://github.com/StrangeLoopGames/EcoIssues/issues/9561

Please tell me if you'd like me to open NEW issues or REOPEN old ones - i don't know what you would favor.

[2018-10-20 03:45] D3nnis3n opened #9799 "[7.8.0 #79e33fd9] Filter Settings are not synced on "Recommended Tabs" and "Browse All""
When you change something in the filter in the recommended tabs, e.g. "version match = no" that is not reflected on the filter for "browse" all. Probably this is intended, i found it enerving to have two filters. I'd propose to change the filters to sync, as that is easier to understand and in my opinion the behaviour one would expect. Just close, if you don't think so.

[2018-10-20 03:47] D3nnis3n opened #9800 "[7.8.0 #79e33fd9] Reconnecting to servers does not work sometimes"
See the video, the issues only arises every so much tries, but then i need to restart the game to be able to get on the server again.

https://drive.google.com/open?id=1xXZEktqZSTmpIy9P03R-QqVbasbK0sAn

If you press "Escape" when in that never-ending loading screen you get the message: "Error or otherwise informative message goes here" - one we know good, eh? :D

[2018-10-20 03:54] D3nnis3n opened #9801 "[7.8.0 #79e33fd9] Entering a wrong ip into connect by ip still gives no feedback"
See this issue: https://github.com/StrangeLoopGames/EcoIssues/issues/9560

Something did change though: Instead of the ui menu where you type in the ip closing, it just stays open and does nothing, but lag heavily for a moment, as you can see in the video (notice the background freezing for several seconds):

https://drive.google.com/open?id=1MNlH061UZEV-D0cpZyy6vv8KXqbHhqtc

[2018-10-20 03:57] D3nnis3n opened #9802 "[7.8.0 #79e33fd9] "Error or otherwise informative message goes here" issue persists"
See this issue: https://github.com/StrangeLoopGames/EcoIssues/issues/9585
Also on other occasions still there, i suppose it's just not merged into the staging branch yet.

@johnkslg or @BlazeGuy2 How should i go on with issues that are still there in a later staging build? Not reporting? Reopening? New issue? What's the way you'd like? It's hard for me to know if you put in the fix for a issue int

[2018-10-20 04:07] D3nnis3n opened #9803 "Land Claims used are still not disappearing from the inventory"
See this issue, it's persisting and marked for 7.8, so i suppose it should have been fixed:
https://github.com/StrangeLoopGames/EcoIssues/issues/9527

[2018-10-20 04:08] D3nnis3n opened #9804 "[7.8.0 #79e33fd9] Land claim papers are still not vanishing from inventory after being used"
See this issue, it's persisting and marked for 7.8, so i suppose it should have been fixed:
https://github.com/StrangeLoopGames/EcoIssues/issues/9527

[2018-10-20 04:08] D3nnis3n commented on #9803
Duplicated myself.

[2018-10-20 04:08] #9803 closed

[2018-10-20 04:11] D3nnis3n opened #9805 "[7.8.0 #79e33fd9] Placing down a workbench does not fulfill the tutorials requirement anymore"
I tried several times, it does not tick the objective:
<img width="1920" alt="workbench" src="https://user-images.githubusercontent.com/25908592/47251103-e330a400-d42e-11e8-94ec-0b18606e75a3.png">

[2018-10-20 04:12] D3nnis3n commented on #9568
In the new staging build i found that when i skip any other tutorial while the broken property tutorial is still open, the property tutorial get's suddenly marked as done, somehow. Maybe this helps?

[2018-10-20 04:14] D3nnis3n commented on #9565
Additional information:
This does not happen on the construction tutorial: If you have taken the stone hammer before the quest starts it will recognize you having the stone hammer taken, as soon as you have selected it in your hotbar. I hope this helps somehow.

[2018-10-20 04:27] D3nnis3n opened #9806 "[7.8.0 #79e33fd9] Getting into a crane in fly mode will make it bug out"
If you get into a crane while flying you will not be in the crane but behind the crane and running around while steering it until you try to lower or higher the cranes grip, as that will make your hotbar scroll and the game seems to acknowledge you are not really in the crane then.

[2018-10-20 04:31] D3nnis3n opened #9807 "[7.8.0 #79e33fd9] Distribution station shows weird information"
At least when using /testdistributionstation the distribution station shows a weird marker with numbers but no icons, and obviously those numbers are also somehow incorrect. But at least this time i can open it, while i couldn't on the last staging build :)

<img width="1920" alt="distribution" src="https://user-images.githubusercontent.com/25908592/47251218-9e5a3c80-d431-11e8-89b0-41d9f4c50dc0.pn

[2018-10-20 04:52] D3nnis3n opened #9808 "[7.8.0 #79e33fd9] Taking items out of a storage with left click puts it into inventory, not hotbar slot selected"
You successfully fixed this issue: https://github.com/StrangeLoopGames/EcoIssues/issues/9563

If you take out the tomatoes with left click though, they go into the inventory, even if the selected hotbar slot when pressing left click is empty - i'd expect them to go there!

[2018-10-20 04:57] D3nnis3n commented on #9607
I was able to get a video from one of the issues mentioned here, the color not changing:
https://drive.google.com/open?id=1ZGq20yPaYC2nC7OON1gCn4KwbIeCAHe0

@BlazeGuy2

[2018-10-20 05:07] D3nnis3n commented on #9282
Seems persisting on the newest bleeding edge version, too.

[2018-10-20 05:43] D3nnis3n opened #9809 "[7.8.0 #79e33fd9] Weird issue with specialties"
I had an issue that allowed me to skill all specialties for 0 points until i set the difficulty in the server ui once (e.g. just choosing "high difficulty" and then switching to "medium difficulty" again), after that it worked fine. Probably worth a look? The difficulty was set before, though. Game just didn't seem to recognize until set again.

[2018-10-20 05:48] D3nnis3n opened #9810 "[7.8.0 #79e33fd9] Exceptions in output_log.txt"
See the attachment.
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/2497839/output_log.txt)

[2018-10-20 07:29] Rambo99 commented on #8800
Steel Axle ??? What it is ?!?! This is not in the game. Screenshots please.

[2018-10-20 07:30] Rambo99 commented on #8547
Steel Axle ??? What it is ?!?! This is not in the game. Screenshots please.

[2018-10-20 07:30] Rambo99 commented on #9732
Steel Axle ??? What it is ?!?! This is not in the game. Screenshots please.

[2018-10-20 07:37] Deantwo commented on #9732
@Rambo99 he is just suggesting that the developers move the recipe from one crafting station to another.

See the recipes here: https://eco.gamepedia.com/Electric_Planer

[2018-10-20 08:16] elfl0rd commented on #9732
@Rambo99

Not in the game? Lol. in 0.7.7.2

![default](https://user-images.githubusercontent.com/4980243/47253232-5818d380-d459-11e8-861e-1e39ef0a843d.png)
![default](https://user-images.githubusercontent.com/4980243/47253261-7b438300-d459-11e8-9b4b-8415a471e110.png)
![default](https://user-images.githubusercontent.com/4980243/47253269-84345480-d459-11e8-902e-574e033a3088.png)

[2018-10-20 08:17] elfl0rd commented on #8800
@Rambo99

Not in the game? Lol. in 0.7.7.2

![default](https://user-images.githubusercontent.com/4980243/47253232-5818d380-d459-11e8-861e-1e39ef0a843d.png)
![default](https://user-images.githubusercontent.com/4980243/47253261-7b438300-d459-11e8-9b4b-8415a471e110.png)
![default](https://user-images.githubusercontent.com/4980243/47253269-84345480-d459-11e8-902e-574e033a3088.png)

[2018-10-20 08:17] elfl0rd commented on #8547
@Rambo99

Not in the game? Lol. in 0.7.7.2

![default](https://user-images.githubusercontent.com/4980243/47253232-5818d380-d459-11e8-861e-1e39ef0a843d.png)
![default](https://user-images.githubusercontent.com/4980243/47253261-7b438300-d459-11e8-9b4b-8415a471e110.png)
![default](https://user-images.githubusercontent.com/4980243/47253269-84345480-d459-11e8-902e-574e033a3088.png)

[2018-10-20 09:26] iliasGaming opened #9811 "Cannot set decimal values on Store"
I cannot set decimal values on Store (eg 0.5).
My cousin that lives in Canada, can set decimal values with not problem.
I live in Greece and I have Greek regional settings on my PC. I think this is the problem.
Let me describe the issue a bit more.
In Store, I cannot type the character "." (dot). So, there is no way to set a decimal value.
I'm able to type the character "," (comma), but this does

[2018-10-20 11:09] Deantwo commented on #9793
Not sure I would call it an exploit, there are many ways you can cheat a contractor. There are a few things that could be made better so the contract doesn't become impossible.

This is however what the reputation system is used for. If someone made a bad contract, give them bad reputation. Think of it as a review score.

[2018-10-20 11:19] Deantwo commented on #9796
Duplicate of #9329 and #8674.

[2018-10-20 11:29] mirasrael commented on #9679
VSDC Free Screen Recorder may work for you

[2018-10-20 11:42] D3nnis3n commented on #9804
I'm not having any in my inventory, i do have 6 in the hotbar i can place, but they don't vanish, but can't be placed down anymore.

[2018-10-20 11:43] D3nnis3n commented on #9811
Duplicate of #9210

[2018-10-20 11:43] #9811 closed

[2018-10-20 12:30] D3nnis3n commented on #9794
Subscribing to test on bleeding edge.

[2018-10-20 12:34] D3nnis3n commented on #9796
Also duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9667, but slightly different in how the duplication is used. Easy Storage in this case and duplication of road blocks in the other cases.

[2018-10-20 12:36] D3nnis3n commented on #9783
Additional Information:
We want to be able to disallow selling TO the bank if the player has more than 100 dollars while the bank itself should still be able to sell to other players regardless of the money the bank-owning player has. All of this should also be restricted to the bank only, e.g. its property "Federal Bank". I'll be great if you adapt your system as such, that this will be possible.

[2018-10-20 12:39] Deantwo commented on #9783
Are you saying that what we talked about on Discord didn't work?

[code]

[2018-10-20 12:46] Trenix commented on #9797
I did. Had more than enough weight to take the iron and it did. Its just a warning that makes no sense.

[2018-10-20 12:49] D3nnis3n commented on #9783
Yes, i just noted that down in discord too. The law seems to have no effect at all after this change, people can sell the gold regardless if they have over 100 or less than 100 gold, with no regards to the bank, too.

[2018-10-20 12:51] Trenix commented on #9793
While you may be right, another issue is that the deposit should be paid to the contractor, not the customer, just like in reality. The game does it backwards. Besides, how do I know if someone did this intentionally? Thier stockpile could of been linked to a store.

[2018-10-20 12:52] D3nnis3n opened #9812 "Spawn Location does not really work for z coordinate"
We had players spawned on the correct point of our marketplace by setting coordinates, including the z coordinate. After we hollowed out the marketplace to make room for storage people spawn BELOW marketplace which is very inconsistent with the usual behaviour of the game to spawn on the top-most block. At least i thought it would use the given z coordinate, that would also make the new players sp

[2018-10-20 13:03] elfl0rd commented on #9797
If you provide a screenshot it will help

[2018-10-20 14:47] alexarthur94 opened #9813 "Bug with browser-based features (laws, elections, and graphs)"
When I'm in the game and click on the button for laws or the button for graphs and then press the button to open either of those in the browser, it instead opens the Documents folder on my computer, which does not have anything in it related to Eco. This has happened to me since I started playing the game in June and on all of the several servers I've played on.

Recently, I tried to use a workaro

[2018-10-20 14:48] alexarthur94 opened #9814 "Pitcher plants and bullrush cannot survive"
On all of the servers I've been on, pitcher plants and bullrush have died out, even with no interference. On one server, I know for a fact that the population disappeared despite no local logging and absolutely zero air or ground pollution in the area. The most extreme example was where pitcher plants started at a population of over 150, but by the end of day three or four, all of them died out ev

[2018-10-20 15:21] Conchipedia opened #9815 "Kicked with Error on GetWorkOrderTooltip"
**Version:** 0.7.7.2 beta

Server encountered an exception:

<size=60.00%>Exception: Exception
Message:Could not find matching method GetWorkorderTooltip on type TableTracker taking 1 parameters.
Source:Eco.Shared

System.Exception: Could not find matching method GetWorkorderTooltip on type TableTracker taking 1 parameters.
   at Eco.Shared.Networking.RPCManager.InvokeOn(INetClient client, BSONObj

[2018-10-20 15:34] sgtsickness opened #9816 "USER ISSUE: continuous difficulty connecting to servers"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1.launch game
2.try to join server.

**Expected behavior:**
join server.

**Actual behavior:**
Connection failed.  Can connect fine after several restarts of the game or verifying game files.n
**Do you have mods installed? Does issue happen when no mods are installed?:**
Connection failed.  Can connect fine after several restarts of the game or ve

[2018-10-20 17:06] Deantwo commented on #9813
What is your OS and default browser?

[2018-10-20 20:27] alexarthur94 commented on #9813
My OS is Windows and my default browser is Google Chrome.

[2018-10-20 20:47] brianjgx118 opened #9817 "no sound!"
hi! i have no sound whatsoever in game, i have sound in other applications running in the background but not in this game, if it helps, the sound doesnt work in a game called EmergNYC either. I am running DirectX12 as a sound driver. any help would be great, thanks!

[2018-10-21 03:52] Quadbro commented on #9565
Ok, i'll check it out

[2018-10-21 04:36] sgtsickness opened #9818 "[0.8.1.3] Stockpile and Stack Items reduce room tier"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Build a room.
2. watch it fuck up over time.

**Expected behavior:**
room should be the tier that it says the building materials are.

**Actual behavior:**
Some crap that tier 2 drops to 1.99 or whatever and keeps dropping if you add or remove stuff.  Have to add tier 3 stuff to get it back over 2. Tier 1 drops for no reason to .88 even though

[2018-10-21 05:19] D3nnis3n opened #9819 "[7.8.0 #79e33fd9] Mow contract clause does still not detect mown grass correctly"
See this issue: https://github.com/StrangeLoopGames/EcoIssues/issues/9587

The issue still persists on the newest bleeding edge build.

It does recognize the contract to be fulfilled after i took the plow contract and plowed all grass away. But mowing the grass is cutting it to a low level, not removing it entirely. (e.g. using a scythe to pick up all grass that is mature, then it's getting cut do

[2018-10-21 05:28] elfl0rd commented on #9818
Screenshots? Saves?
You use "optimisation" by cutting edges? Or pipes maybe? Or stockpiles inside?

[2018-10-21 05:48] D3nnis3n commented on #9588
@Pradoxzon
Could you look into this, it says the giver of the contract marked the contract as failed, which is not the case:
<img width="871" alt="contractfail" src="https://user-images.githubusercontent.com/25908592/47263653-aedbe700-d505-11e8-902c-47dd114b95ff.png">

[2018-10-21 05:58] sgtsickness commented on #9818
I am not exactly sure what you mean by the first part.  But the tier 1 room has no pipes but does have stockpiles inside due to the way it was built.  Did not know if this was a known thing that stockpiles cause a rooms tier to drop.  Should be something that is excluded from that.  Also the stockpile was filled with lumber which is tier 2 so unless a stockpile is like tier -1 I don;t see why it w

[2018-10-21 06:00] D3nnis3n opened #9820 "[7.8.0 #79e33fd9] Server restoring backups is now completley broken"
See the screenshot. Backups are available. I made sure they do work when manually placed in. I broke the savefile by replacing it with a empty text file with ending .eco and the game just creates a new world instead of restoring the backup. One of the changes to backup seem to have broken this feature completley.

<img width="1891" alt="brokenbackup" src="https://user-images.githubusercontent.com/

[2018-10-21 06:07] D3nnis3n commented on #9814
For both species - that seem to be unused, at least the bullrush - we also have another issue: They spawn in ultra-low quantities, e.g. at a maximum of 15 plants on a 4km² world.

[2018-10-21 06:12] D3nnis3n commented on #9794
I tried this out while doing the QA Pass on Bleeding Edge and was able to reproduce it. Marked it in the QA pass.

[2018-10-21 15:53] alexarthur94 commented on #9814
It would be nice if all the plants could provide seeds such that it would be possible to use seeds for conservation purposes, although that's more of a feature request than a bug.

[2018-10-21 16:15] D3nnis3n commented on #9815
Probably duplicate of the less-good described issue https://github.com/StrangeLoopGames/EcoIssues/issues/9685

[2018-10-21 16:42] D3nnis3n commented on #9679
I tried that, it worked, but it seems laggy, despite it has not been for me, probably because of 4K Screen Resolution. Here you go: https://drive.google.com/open?id=1uga5fOANpVxBPUgUPefgH9FSdp0MNiid

I can reproduce this every single time.

[2018-10-21 17:23] HyperSpace64 opened #9821 "USER ISSUE: Plants"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
World gen doesn´t create any Rice and very low Crimini
If you Create a Random World

**Expected behavior:**
Bioms to spawn in.. World Gen should make Bioms which are large enough to Create a fair amount of Rice and Crimini

**Actual behavior:**
World Gen creates everytime very low Crimini and not a single Rice plantn
**Do you have mods installed?

[2018-10-21 18:33] D3nnis3n opened #9822 "Server Crash, again"
[code]

We had 30 players online, there is no way to know who did what at that moment.

[2018-10-21 20:16] exporta22 opened #9823 "connection timed out on every modded server connection"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
every time i conect to a modded sertver

**Expected behavior:**
it should connect

**Actual behavior:**
connection timed out without trying to get the server mod
**Do you have mods installed? Does issue happen when no mods are installed?:**
Only when I try to connect to modded server. Vanilla is ok but modded it don't answer the server so the serv

[2018-10-21 21:51] D3nnis3n commented on #9812
This seems to have fixed it self after restarting the server, closing therefore.

[2018-10-21 21:51] #9812 closed

[2018-10-22 01:34] elfl0rd opened #9824 "USER ISSUE: separator cannot be entered"
**Version:** 0.7.8.0 beta master-b293b18a debug
Store interface allow me use only dot (.) but dot disappears.
Correct separator is comma (,) but comma cannot be entered...
(Only ctrl+click)
![r](https://user-images.githubusercontent.com/4980243/47274953-9a562800-d5b3-11e8-8ae1-b0f68e3cec01.gif)

[2018-10-22 01:35] elfl0rd opened #9825 "USER ISSUE: separator cannot be entered"
**Version:** 0.7.8.0 beta master-b293b18a debug
Store interface allow me use only dot (.) but dot disappears.
Correct separator is comma (,) but comma cannot be entered...
(Only ctrl+click)
![r](https://user-images.githubusercontent.com/4980243/47274953-9a562800-d5b3-11e8-8ae1-b0f68e3cec01.gif)

[2018-10-22 01:38] elfl0rd opened #9826 "Store price separator cannot be entered"
**Version:** 0.7.8.0 beta master-b293b18a debug
Store interface allow me use only dot (.) but dot disappears.
Correct separator is comma (,) but comma cannot be entered...
![r](https://user-images.githubusercontent.com/4980243/47275001-25cfb900-d5b4-11e8-8aee-daf5f2761949.gif)

Only ctrl+click allow set a fractional number...
![r](https://user-images.githubusercontent.com/4980243/47275007-46980e80

[2018-10-22 03:23] elfl0rd opened #9827 "USER ISSUE: separator cannot be entered"
**Version:** 0.7.8.0 beta master-b293b18a debug
Store interface allow me use only dot (.) but dot disappears.
Correct separator is comma (,) but comma cannot be entered...
![r](https://user-images.githubusercontent.com/4980243/47275001-25cfb900-d5b4-11e8-8aee-daf5f2761949.gif)

Only ctrl+click allow set a fractional number...
![r](https://user-images.githubusercontent.com/4980243/47276834-dfce2180

[2018-10-22 05:54] mirasrael commented on #9679
Also tried to reproduce, no success. Can you provide content of your `<USERHOME>\AppData\LocalLow\Strange Loop Games\Eco\output_log.txt` and Crashes directory if it is not empty?

[2018-10-22 06:05] D3nnis3n commented on #9679
I added the requested data already in the opening post for this issue. There is no crashes folder, so i suppose there weren't any as in if it was empty.

Here is the output_log.txt file when the issue occurs and the error inside is very obvious:
[code]

[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/2500308/output_log.txt)

[2018-10-22 09:03] mirasrael commented on #9679
@D3nnis3n yes, sorry, missed that

[2018-10-22 09:21] Rambo99 commented on #9732
OK

[2018-10-22 09:33] Phlo123 commented on #9639
I think its time we also got item icons in chat and the ability to use Sliced Sprites as icons.
If I use sliced sprites the item name ingame changes to:
![image](https://user-images.githubusercontent.com/17730996/47286275-a44d4a80-d5f6-11e8-9fda-bb506c08d63a.png)

[2018-10-22 10:52] D3nnis3n opened #9828 "When attempting to emit air pollution does not apply to any crafting tables"
It's not possible to select any air pollution emitting crafting station in order to prevent air pollution or tax it. Even when you do not choose a where clause like with the limited options in the screenshot below, crafting tables like blast furnaces are not affected. So how are we supposed to stop the sealevel that started to rise from rising further when we have absolutley no way to tax or restr

[2018-10-22 11:00] D3nnis3n commented on #9827
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9210, https://github.com/StrangeLoopGames/EcoIssues/issues/9374, https://github.com/StrangeLoopGames/EcoIssues/issues/9811, https://github.com/StrangeLoopGames/EcoIssues/issues/9251

[2018-10-22 11:00] #9827 closed

[2018-10-22 11:01] D3nnis3n commented on #9827
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9210, https://github.com/StrangeLoopGames/EcoIssues/issues/9374, https://github.com/StrangeLoopGames/EcoIssues/issues/9811, https://github.com/StrangeLoopGames/EcoIssues/issues/9251

[2018-10-22 11:05] D3nnis3n commented on #9826
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9210, https://github.com/StrangeLoopGames/EcoIssues/issues/9374, https://github.com/StrangeLoopGames/EcoIssues/issues/9811, https://github.com/StrangeLoopGames/EcoIssues/issues/9251

[2018-10-22 11:05] #9826 closed

[2018-10-22 11:05] D3nnis3n commented on #9826
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9210, https://github.com/StrangeLoopGames/EcoIssues/issues/9374, https://github.com/StrangeLoopGames/EcoIssues/issues/9811, https://github.com/StrangeLoopGames/EcoIssues/issues/9251

[2018-10-22 11:06] D3nnis3n commented on #9825
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9210, https://github.com/StrangeLoopGames/EcoIssues/issues/9374, https://github.com/StrangeLoopGames/EcoIssues/issues/9811, https://github.com/StrangeLoopGames/EcoIssues/issues/9251

[2018-10-22 11:06] #9825 closed

[2018-10-22 11:09] D3nnis3n commented on #9824
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9210, https://github.com/StrangeLoopGames/EcoIssues/issues/9374, https://github.com/StrangeLoopGames/EcoIssues/issues/9811, https://github.com/StrangeLoopGames/EcoIssues/issues/9251

[2018-10-22 11:09] #9824 closed

[2018-10-22 12:03] dutchuss2016 opened #9829 "USER ISSUE: input delay after being in game for over 30 mins İ(linux clientİ)"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. be on linux.
 2 play normally for 1-030 mins
3 input lag should start affecting you
4 tap w
5 watch in horror as your character walks 50 meters off a cliff without you touching the keyboard

**Expected behavior:**
input should not be lagging like this

**Actual behavior:**
instead its really bad and it gets worse the longer the client is open r

[2018-10-22 12:24] elfl0rd commented on #9210
![r](https://user-images.githubusercontent.com/4980243/47275001-25cfb900-d5b4-11e8-8aee-daf5f2761949.gif)
![r](https://user-images.githubusercontent.com/4980243/47276834-dfce2180-d5c2-11e8-8cc6-d2b510113663.gif)

[2018-10-22 13:38] MerGatto commented on #9784
i replace the ramp with some stone roads to prevent upward/downward movement when crossing the 0 coordinate, it still glitches sometimes but far less worse

[2018-10-22 13:58] elfl0rd commented on #9784
Use flat road on 0 :(
This is old issue, https://github.com/StrangeLoopGames/EcoIssues/issues/7612

[2018-10-22 14:11] mirasrael commented on #9679
It seems like a Steam related bug which also can't be widely reproduced (specific for some local configurations like your).
But for sure it is not correct behavior for game to just silently fail and don't show anything. So we need at least add handling for this error and inform user about problem with suggestion to close other Steam games (because now we know it may conflict with other games).

[2018-10-22 14:14] mirasrael commented on #9679
I Googled for this and found it also happened in other games. In some cases it was permanent and some users was able to fix it by cleaning up all caches.

[2018-10-22 14:54] elfl0rd commented on #9820
as i know, 0 file = no file. != corrupted file.
Try random data.

[2018-10-22 17:06] D3nnis3n commented on #9679
Well, eco is a Administration-heavy game and therefore a pretty Good
example for this case. Despite it being a very specific issue it should
just not happen. We had several reports about missing Main menus in this
Tracker, so ist not that rare. You should definatley give Information like
"restart steam" when this occurs and report this issue to steam maintainers.

Alexander Bondarev <notifications

[2018-10-22 17:07] D3nnis3n commented on #9820
Won't work either, had that tested, too.
As long as the file exists the game MUST see it as corrupted.

GDragon <notifications@github.com> schrieb am Mo., 22. Okt. 2018, 16:54:

[2018-10-22 18:15] #9781 closed

[2018-10-22 19:04] seccombew commented on #9821
Closing because we are refactoring world gen in 8.0. Reopen after 8.0 if issues persists.

[2018-10-22 19:04] #9821 closed

[2018-10-22 19:49] Deantwo commented on #9828
Also no steam tractor? Or does that not emit air pollution?

[2018-10-22 20:22] SeanAtr0n commented on #9646
fixed in master

[2018-10-22 20:22] #9646 closed

[2018-10-22 20:29] D3nnis3n commented on #9828
It did not in 7.6, but does since 7.7. That means something has been forgotten here.
At least you should give us the law options to fight rising sea level. Sure, i could prevent manually the crafting for all items made in polluting crafting tables - have fun to get all recipes together in one law. It's much easier to just base it on pollution, but not possible atm, it seems.

[2018-10-22 20:35] SeanAtr0n commented on #9364
couldn't reproduce, appears to be a problem w/ their unity checkout

[2018-10-22 20:35] #9364 closed

[2018-10-22 20:44] rainfarmer opened #9830 "Map API bug"
/map/map.json
Should be returning:
WaterLevel
WorldTime

Used to work, but server is not returning these variables anymore.

[2018-10-22 20:49] SeanAtr0n commented on #9830
works in staging
![image](https://user-images.githubusercontent.com/774628/47318566-3f4b2200-d601-11e8-8b0d-9b3c661b71f1.png)

I think @johnkslg  last touched the web server, maybe something broke then

[2018-10-22 20:57] BlazeGuy2 opened #9831 "USER ISSUE: Enter wrong password in login screen leaves wrong pop-up block."
**Version:** 0.7.8.0 beta master-03df139f debug

**Steps to Reproduce:**
Login to Eco w/ wrong password.

**Expected behavior:**
Error msg should say Entered Incorrect Username/Password

**Actual behavior:**
The following error message popped up:
[code]
Error or otherwise informative message goes here.
[code]

[2018-10-22 21:03] SeanAtr0n commented on #9830
These two fields are get functions that used to get serialized

[2018-10-22 21:09] BlazeGuy2 commented on #9804
Confirmed bug, replicated on staging in Unity.

[2018-10-22 21:21] SeanAtr0n commented on #9830
might also be localization related?

[2018-10-22 21:24] #9815 closed, assigned to nobody

[2018-10-22 21:33] Conchipedia commented on #9756
![snap3067](https://user-images.githubusercontent.com/29383891/47320677-05ead480-d64a-11e8-9f6c-79c1efeaaacd.png)
Yoshi needs your help

[2018-10-22 21:35] Nanders commented on #9830
I dont think its localization related, I dont have these strings in the system

[2018-10-22 21:35] Nanders commented on #9830
But will check

[2018-10-22 21:35] seccombew commented on #9809
May close due to upcoming skills refactor.

[2018-10-22 21:43] seccombew commented on #9798
For future reference, you can reopen old issues.

[2018-10-22 21:43] #9798 closed

[2018-10-22 21:43] seccombew commented on #9561
@D3nnis3n informed us issue is not resolved.

[2018-10-22 21:49] SeanAtr0n commented on #9829
does this happen for you with other games? seems like most input issues for linux end up being issues with the linux distribution and not something we can fix

[2018-10-22 21:50] seccombew commented on #9802
Looking at previous closed issue, this was merged into master, not staging.  Will not show up in Staging for a release cycle.

[2018-10-22 21:50] #9802 closed

[2018-10-22 21:51] #9797 closed

[2018-10-22 21:51] seccombew commented on #9796
dup

[2018-10-22 21:51] #9796 closed

[2018-10-22 21:57] seccombew commented on #9793
Closing, since reputation system exists as a way to self police this issue.

[2018-10-22 21:57] #9793 closed

[2018-10-22 22:05] GophTheGreat opened #9832 "Save won't load on user's machine, but works on other machines"
Save is attached.

---

Original issue report:

"Hello, I was told to send an email here about the crash and loadup issues I have. I posted this on the steam forums already so I will copy and paste my issue here:

I usually play the game on single player as I am not up for the multiplayer yet
My issue comes from a world I have now played on for 5 days or so. I had to leave the house for about 2 ho

[2018-10-22 22:09] seccombew commented on #9535
@BlazeGuy2 doublecheck that this is fixed

[2018-10-22 22:10] seccombew commented on #9376
@rainfarmer Can you confirm re: above message.

[2018-10-22 22:44] craig-jong commented on #9818
I'll check stockpiles. It's possible they're using some kind of non-excluded world block.

[2018-10-22 23:12] BlazeGuy2 commented on #9535
Not fixed on Staging, exception is caught in the viewmanager everytime i use the claim stake.  Claim papers seem to deplete, but the visual icon on the screen isn't updating.

[2018-10-22 23:42] johnkslg opened #9833 "Completing food tutorial didnt put it in 'finished tutorials' section in escape menu"
Skipping it worked, but not actually doing the tutorial.

[2018-10-23 00:08] johnkslg commented on #9830
Fixed!

[2018-10-23 00:08] #9830 closed

[2018-10-23 00:13] johnkslg commented on #9820
@mirasrael can you investigate this when you dig into backups

[2018-10-23 00:29] SeanAtr0n commented on #9311
fixed in 8.0

[2018-10-23 00:29] #9311 closed

[2018-10-23 00:37] SeanAtr0n commented on #9338
probably fixed with https://github.com/StrangeLoopGames/Eco/pull/3502

btw, repair your tools please :)

[2018-10-23 00:37] #9338 closed

[2018-10-23 00:39] SeanAtr0n commented on #8374
Most likely fixed in https://github.com/StrangeLoopGames/Eco/pull/3502

[2018-10-23 00:39] #8374 closed

[2018-10-23 00:44] Conchipedia commented on #9647
if the table/door can be  Public or Specific Citizens then a Blacklist would work great i only have to **ADD** names to this rather than having everyone added manually and removing the ones i don't want

[2018-10-23 00:47] SeanAtr0n commented on #9682
probably also localization related? @Nanders ?

[2018-10-23 02:03] rainfarmer commented on #9376
havent been able to repeat this error

[2018-10-23 02:03] #9376 closed

[2018-10-23 02:57] elfl0rd commented on #9784
and https://github.com/StrangeLoopGames/EcoIssues/issues/8374

[2018-10-23 06:28] Deantwo commented on #7587
Sounds similar to #9005, so possibly fixed.

[2018-10-23 07:53] mirasrael commented on #9679
@D3nnis3n as I wrote above I'm totally agree with you :)

[2018-10-23 07:55] D3nnis3n opened #9834 "Restricting Air Pollution for vehicles does not work, either"
When you choose "When attempting to emit Air Pollution" you get "where object is", but that will automatically change to "where time performed (days)" and show other options that are of no use as soon as you set an vehicle - the system seems broken:

<img width="878" alt="problem" src="https://user-images.githubusercontent.com/25908592/47344849-b6d48c00-d6a9-11e8-9a04-ab1e8e122bf2.png">

[2018-10-23 07:56] D3nnis3n commented on #9679
Which is great!

[2018-10-23 08:12] D3nnis3n opened #9835 "Rubble im mines causes severe lag issues"
People often let the stone in their mines laying around which causes severe server lag after some time. Players seem to also expect that this rubble will vanish on server restart automatically as of some reason, see the screenshot:

<img width="510" alt="rubble" src="https://user-images.githubusercontent.com/25908592/47345859-1c297c80-d6ac-11e8-98dd-4634c928ec82.png">

We need a solution for this.

[2018-10-23 09:09] Rambo99 opened #9836 "[ver.0.7.7.2] Incorrect display of the melting process on Blast Furnance"
When smelting iron, gold or copper in Blast Furnance, instead of the required resource (iron ingot, gold ingot or copper ingot) in the smelting process, Tailing is displayed with the appropriate name "Tailing project".

---- Original Language - Russian -----

При плавке железа, золота или меди в Blast Furnance вместо требуемого ресурса ( слиток железа, слиток золота или слиток меди ) в процессе пл

[2018-10-23 09:16] Tigran07 commented on #9786
The maps didn't show at all with the new build I use. I've written about the solution in discord. After commenting out those two lines they work perfectly.

[2018-10-23 09:19] Rambo99 opened #9837 "[ver.0.7.7.2] Wrong recipe Steel in Blast Furnance"
When trying to make steel (not to be confused with charcoal steel) in Blast Furnance, coal required for smelting by prescription (Coal) is taken not from the inventory or from the warehouse (Stockpile), but from the fuel supply section for Blast Furnance itself.

------ Original Message - Russian Language --------

При попытке изготовить сталь (не путать с  charcoal steel ) в Blast Furnance необхо

[2018-10-23 10:43] Deantwo commented on #9837
You could have named this bug report better.
Maybe "Project uses coal from fuel storage" or something.

[2018-10-23 10:46] Deantwo commented on #9836
Duplicate of #9227.

[2018-10-23 10:46] Deantwo commented on #9836
Duplicate of #9227.

[2018-10-23 10:51] Deantwo commented on #9832
I am no expert on this, but if it only fails on your machine it might be caused by a corrupt client.
__Pam__ normally suggest deleting the mod folder and such, but it might be best if you ask her yourself in the #support channel on the Discord server.

[2018-10-23 11:58] elfl0rd commented on #9638
https://github.com/StrangeLoopGames/EcoIssues/issues/9241

[2018-10-23 11:59] elfl0rd commented on #9837
Dupe - https://github.com/StrangeLoopGames/EcoIssues/issues/9638

[2018-10-23 13:21] D3nnis3n opened #9838 "Lasers show wrong power consumption in crafting menu"
Lasers need 6000 Watts, not 15000 Watts:
![nimeton](https://user-images.githubusercontent.com/25908592/47363501-417fb000-d6d7-11e8-9e6a-427fe5a69e31.png)

[2018-10-23 17:47] seccombew commented on #9838
@D3nnis3n What version was this?

[2018-10-23 17:49] seccombew commented on #9837
Dupe

[2018-10-23 17:49] #9837 closed

[2018-10-23 17:50] seccombew commented on #9836
Closing as duplicate.

[2018-10-23 17:50] #9836 closed

[2018-10-23 17:52] Nanders commented on #9682
The ones in the ServerUI?

[2018-10-23 17:52] Nanders commented on #9682
11 days ago I haven't touched WorldLayers

[2018-10-23 17:54] D3nnis3n commented on #9838
That happens on version 7.7.

[2018-10-23 17:55] SeanAtr0n commented on #9784
likely fixed in https://github.com/StrangeLoopGames/Eco/pull/3502 7.8

[2018-10-23 17:55] #9784 closed

[2018-10-23 17:55] seccombew commented on #9241
Closing as dupe.

[2018-10-23 17:55] #9241 closed

[2018-10-23 17:59] D3nnis3n commented on #9831
As NONE of the issues that had to do with "Error or otherwise informative message goes here." have been fixed in the latest staging build i assumed this was one of those bugs not merged into staging branch and did not report. I did report the issue in conjunction with https://github.com/StrangeLoopGames/EcoIssues/issues/9800, though.

Seems like i also have to keep track what happens with my issue

[2018-10-23 18:00] SeanAtr0n commented on #9682
it's in game in the minimap panel... in staging the categories are all unknown, I'm not sure whats going on in master... if it doesn't look like a similar issue to staging then toss it back to me

[2018-10-23 18:34] elfl0rd commented on #7370
https://github.com/StrangeLoopGames/EcoIssues/issues/4485

[2018-10-23 18:41] D3nnis3n opened #9839 "Water Pollution Spread is too insane"
We had that one guy not caring about tailings and pollution spread into water, a day later all oceans are polluted-red-colored and all fish died. I like challenge, but that is too much. This is a 4 km² planet. One does not simply fuck that up by having one guy having leaking tailings to the ocean, lol.

[2018-10-23 18:56] SeanAtr0n commented on #9678
7.8

[2018-10-23 18:56] #9678 closed

[2018-10-23 18:57] SeanAtr0n commented on #9328
7.8

[2018-10-23 18:57] #9328 closed

[2018-10-23 18:57] SeanAtr0n commented on #9383
7.8

[2018-10-23 18:57] #9383 closed

[2018-10-23 18:57] SeanAtr0n commented on #9546
7.8

[2018-10-23 18:57] #9546 closed

[2018-10-23 18:57] SeanAtr0n commented on #9564
7.8

[2018-10-23 18:57] #9564 closed

[2018-10-23 20:49] BlazeGuy2 commented on #9805
Worked fine on my machine for unity and built version.  @D3nnis3n can you send me the save where this occurs?  Bumping down priority for now.

[2018-10-23 20:54] BlazeGuy2 commented on #9819
Looked into it, fix for it was merged into master.  I'll add this to the 8.0 milestone so that I can check it when it come out.

[2018-10-23 20:55] D3nnis3n commented on #9819
Is a not working contract clause really that unimportant to fix that it can wait for the next major version? Oof.

[2018-10-23 20:56] johnkslg opened #9840 "During work order tutorial, exceptions get spammed"
This is during the tutorial showing work orders, that popup animation. Its probably using a component erroneously on it.

NullReferenceException: Object reference not set to an instance of an object
UI.WorkOrderUI.Update () (at Assets/UI/Scripts/ItemOrSlot/WorkOrderUI.cs:47)

[2018-10-23 20:57] D3nnis3n commented on #9819
I mean the QA pass requires me to test this for each Version i do test. And i have to mark it „not working“ for each Version. So why isn’t it getting fixed for the next staging Version when it is considered a Basic feature that IS in the QA pass? :D

[2018-10-23 20:58] BlazeGuy2 commented on #9819
I can cherry pick the fix, but it will cause some issues when we update the branches on the next release.

[2018-10-23 21:00] rainfarmer opened #9841 "Scroll to map when adding to law"
On the propose law page, election and law comments:

Clicking Add Map or Add Graph button should scroll screen to the map or graph that is added.

Especially important if you already added a graph, then add a map. You can not see the added map, because it is above the graph.

[2018-10-23 21:00] D3nnis3n commented on #9819
It’s surely not my decision. It’s just that i try to learn this QA thingy and i find it odd that i have to check it every Version and probably mark it „not working“, despite there is a fix – but for another Version. I believed Features in this pass list are Basics that are required to work before any Version can get out? So, you don’t need to cherry pick anything – you do it like you are used to d

[2018-10-23 21:15] BlazeGuy2 commented on #9535
Fix merged in

[2018-10-23 21:15] #9535 closed

[2018-10-23 21:16] BlazeGuy2 commented on #9804
Fix merged in

[2018-10-23 21:16] #9804 closed

[2018-10-23 21:35] #9682 closed

[2018-10-23 21:41] johnkslg commented on #9800
Local server?  New genned world?

[2018-10-23 21:43] D3nnis3n opened #9842 "Webinterface is a lag festival"
Tell your webdeveloper to try to enact this law. It took me 2 hours to do it as of the lag, memory leak (a simple web page like this does NOT need 12 GB of my RAM!) and insresponsiveness of the interface and then there was an error in the law, so i need two more hours to do it again:

<img width="464" alt="taxlaw" src="https://user-images.githubusercontent.com/25908592/47392589-52531480-d71d-11e8-

[2018-10-23 21:43] johnkslg commented on #9599
This would be a new feature, not a bug fix, but @Quadbro you can add it at your leisure.

[2018-10-23 21:44] D3nnis3n commented on #9800
Happens on non-local servers, too. (Experienced it several times with my own Server on 7.7) Happens on new and not new worlds.

[2018-10-23 21:46] johnkslg commented on #9820
Could not repro this, need attached world this is failing in, as well asthe logs of the server and client upon failure.

[2018-10-23 21:47] johnkslg commented on #9800
Could not repro this, need attached world this is failing in, as well asthe logs of the server and client upon failure.

[2018-10-23 21:47] johnkslg commented on #9800
Assign back to me if you can get those

[2018-10-23 21:52] johnkslg commented on #9444
Pushing from this milestone to next

[2018-10-23 21:53] johnkslg commented on #9840
Doesnt actually break anything, so removing from 7.8

[2018-10-23 21:53] johnkslg commented on #9570
@rainfarmer This should be something the web team fixes, related to red-bar issue

[2018-10-23 21:54] johnkslg commented on #9820
Removing from 7.8 but still hi-pri

[2018-10-23 21:56] D3nnis3n commented on #9820
@johnkslg There was a message from you needing log and file of "world" from me before, seems deleted. Does this still apply? If yes, i'd like to assign me again, so i find that issue tomorrow when i try to get the things together for the other issue you assigned me.

[2018-10-23 22:16] SeanAtr0n commented on #9822
7.8

[2018-10-23 22:16] #9822 closed

[2018-10-23 22:16] rainfarmer opened #9843 "Districts display wrong when 2nd map in law comments"
On proposed law page,
For a districts law, if there is a 2nd map in the comments. Then districts coloring displays wrong.
https://gyazo.com/7113bfeb3860c938b0e5664fd874e156

[2018-10-23 22:26] SeanAtr0n opened #9844 "Laws don't migrate to 8.0"
Generate a world in 7.8, switch to master and you get:

[code]

[2018-10-23 22:52] SeanAtr0n commented on #9843
hrm can't get it to do this reliably on master... what are the steps?

[2018-10-24 00:27] craig-jong commented on #9227
this is not occurring for me on staging, but I'll double check tomorrow on staging.

[2018-10-24 01:05] elfl0rd commented on #9682
Most likely it happened for this reason, I'm new to editing prefabs :) can you tell me how to edit prefabs correctly?

[2018-10-24 02:07] elfl0rd opened #9845 "Door not have tier, nice exploit possible."
Doors need own tier!
e.g. hewn log door = 2 t1 blocks.

Old issue - https://github.com/StrangeLoopGames/EcoIssues/issues/8637

Exploit screenshot from discord
![mordor](https://user-images.githubusercontent.com/4980243/47401562-898bea80-d74a-11e8-9075-74a58e28dcb7.png)

[04:32] Temporal Wolf: That is a "room" with 54 hewn log doors and 1 framed glass. Hello tier 4

[2018-10-24 02:58] TemporalWolf commented on #9845
Removing the framed glass gives Tier: 0 and a blank block list when you hover over it.

[2018-10-24 05:10] elfl0rd opened #9846 "Localization: missing strings: allow\prevent (laws)"
![default](https://user-images.githubusercontent.com/4980243/47407520-40e12b00-d764-11e8-86c2-555a30a41786.png)
@Nanders

[2018-10-24 05:22] elfl0rd opened #9847 "Localization: translated text position"
Food tutorial
![default](https://user-images.githubusercontent.com/4980243/47407919-ea74ec00-d765-11e8-9018-b94743f03d02.png)
@Nanders

[2018-10-24 05:28] elfl0rd opened #9848 "Localization: not used string?"
![default](https://user-images.githubusercontent.com/4980243/47408126-b0581a00-d766-11e8-9e71-f77300d4d4e8.png)
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#53214
@Nanders

[2018-10-24 05:43] elfl0rd opened #9849 "Localization: duplicated strings"
https://crowdin.com/translate/eco-by-strange-loop-games/all/en-ru#q=Ultimately
@Nanders

As i see, old one replaced.

[2018-10-24 06:04] elfl0rd commented on #9227
Hm... Staging server is not starting for me...

[2018-10-24 06:46] mirasrael commented on #9820
@johnkslg It worked for me for corrupted file, but I also added check for empty file. So it will now work in both cases.

[2018-10-24 07:35] D3nnis3n commented on #9820
Well, i know that empty files caused a restore on the bleeding edge version before this and just used the same file. I now tested again using real corrupted file i still had from my online server by chance (and saved that one for future tests) and that did indeed work as expected.

A empty file in my opinion still is a corrupted file, though, at least as long a file is there. I would even go furth

[2018-10-24 07:42] D3nnis3n commented on #9842
I had another mistake in the second time i did this law which just made me give up on this law, which is a resemblance of a real live progressive tax law that is fair to players. I think laws like this should be possible, be it through an easier way with new clauses that make it easier to do so or just by lowering the lag that happens when you have a lot of nested clauses. A way to at least edit o

[2018-10-24 07:58] Deantwo commented on #9444
While a `Sell deed` and `Buy deed` statsic would be nice, it should probably still do the `Claim` and `Unclaim` actions so `(Claim actions - Unclaim actions)` is still equal to number of claims the player has.

But really a way to count current number of claims rather than reliying on action counts would be nice. Since the action counts can quickly become unreliable.

[2018-10-24 08:03] D3nnis3n commented on #9800
I see, i tried creating some other worlds to reproduce and there it is indeed not happening, at least not on all, but when i loaded up this one it happened again and was reproducable as in it happened in half the connection tries: https://drive.google.com/open?id=1wuMuNUD9EYYHh-TjZfVURBrAMRT6PJfA

That's the output_log:
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/2509488/o

[2018-10-24 14:51] Rambo99 commented on #9836
Ok.

[2018-10-24 14:53] Rambo99 commented on #9837
Ok.

[2018-10-24 16:23] D3nnis3n opened #9850 "Critical Server Crash"
We have the following laws for "Emission Permits". Since about ten minutes after the enactment of the "Distribution of Emission Permits 2" law the server crashes with this error:
[code]
It then auto-restarts and crashes again, probably every time someone joins the server or it has something to do with running crafting projects of someone that can not pay the tax, as the error mentions?

Law 1:
<im

[2018-10-24 16:40] SHviid commented on #9850
We had this problem. It was due to someone not having enough currency in their account, thus the server kept crash looping. I identied the user trying to craft, and quickly after a restart gave him currency to continue crafting. Then i removed the law and added something new to it: If your currency balance >50 then allow crafting tailings, if not prevent. This fixed it for us.

[2018-10-24 17:05] D3nnis3n commented on #9850
Well, if someone has not enough currency he should not be able to craft, that is pretty much the sense of the law and the expected output. It works with other things, so why the server goes into crash loop instead of just blocking the crafting as expected - ooof.

[2018-10-24 17:27] elfl0rd opened #9851 "Localization: loose translate"
![unknown](https://user-images.githubusercontent.com/4980243/47449355-1bd3d300-d7cb-11e8-891d-7ca9f95a76a7.png)
Elections and Laws looks lost translate
@Nanders

[2018-10-24 17:28] elfl0rd opened #9852 "Localization: possible duplicates"
https://crowdin.com/translate/eco-by-strange-loop-games/all/en-ru#q=%28Displaying+last+%7B0%7D
Displaying last {0} transactions.) and Displaying last {0} transactions.

https://crowdin.com/translate/eco-by-strange-loop-games/all/en-ru#q=You+can%27t+carry
You can't carry {0:n0} more {1:items} ({2} max). and You can't carry {0} more {1:items} ({2} max).

@Nanders

[2018-10-24 17:28] elfl0rd opened #9853 "Localization: possible typo?"
https://crowdin.com/translate/eco-by-strange-loop-games/all/en-ru#q=Appointe
Appointers and Appointees

Or context please :)

@Nanders

[2018-10-24 17:36] elfl0rd opened #9854 "Master: opening laws window crash server"
**Version:** 0.7.8.0 beta master-1f96455b debug
![default](https://user-images.githubusercontent.com/4980243/47449869-643fc080-d7cc-11e8-96aa-f6d87b8b4447.png)
![default](https://user-images.githubusercontent.com/4980243/47449882-6bff6500-d7cc-11e8-9826-0ba356d8d4ff.png)
![default](https://user-images.githubusercontent.com/4980243/47449805-3f4b4d80-d7cc-11e8-9a2b-83e0934e4a71.png)

[2018-10-24 17:52] D3nnis3n commented on #9850
Same issue here: https://github.com/StrangeLoopGames/EcoIssues/issues/9485
Probably my save helps, though.

[2018-10-24 18:20] Trenix opened #9855 "USER ISSUE: Camas Paste Wrong Icon in Economy Viewer"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Check economy viewer.
2. See someone who's buying or selling camas paste.
3. Realize it's the same icon as sugar and such, even though camas paste has it's own icon already in-game.

**Expected behavior:**
Camas paste should have it's own icon in the economy viewer.

**Actual behavior:**
Camas paste has a similar icon to items such as sugar.
**

[2018-10-24 18:37] SeanAtr0n commented on #9682
There are lots of ways to do it but editing things while the game is running is a pretty advanced way to do things that can be dangerous for complex prefabs.

The safest way to do it is to edit in edit mode. Drag the prefab into your scene, edit it, hit apply, disable or delete it and then test your changes in play mode.

[2018-10-24 18:57] #9767 closed

[2018-10-24 18:57] #9788 closed

[2018-10-24 18:57] #9722 closed

[2018-10-24 18:57] #9724 closed

[2018-10-24 18:57] #9728 closed

[2018-10-24 18:57] #9742 closed

[2018-10-24 18:57] #9744 closed

[2018-10-24 18:57] #9746 closed

[2018-10-24 18:57] #9748 closed

[2018-10-24 18:57] #9750 closed

[2018-10-24 18:57] #9751 closed

[2018-10-24 18:57] #9754 closed

[2018-10-24 18:57] #9759 closed

[2018-10-24 18:57] #9764 closed

[2018-10-24 18:57] #9704 closed

[2018-10-24 18:57] #9711 closed

[2018-10-24 18:57] #9713 closed

[2018-10-24 22:32] BlazeGuy2 commented on #9561
Fix merged in.

[2018-10-24 22:32] #9561 closed

[2018-10-24 22:37] BlazeGuy2 commented on #9831
Fixed in https://github.com/StrangeLoopGames/Eco/pull/3518

[2018-10-24 22:37] #9831 closed

[2018-10-24 22:40] BlazeGuy2 commented on #9838
Fix merged in.

[2018-10-24 22:40] #9838 closed

[2018-10-24 22:46] BlazeGuy2 commented on #9558
Fix should be merged in.

[2018-10-24 22:46] #9558 closed

[2018-10-24 22:58] Trenix opened #9856 "USER ISSUE: Random Skid Steer Acceleration"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Use Skid steer
2. Go into dig mode by pressing 1.
3. Use arm and press forward to move yourself up a block.

**Expected behavior:**
I should drive up normally.

**Actual behavior:**
I drive up and accelerate until I press forward to stop myself.

**Do you have mods installed? Does issue happen when no mods are installed?:**
No

[2018-10-25 00:22] rainfarmer opened #9857 "Hosted worlds - notification when removing items"
When removing items from hosted worlds subscription. and not also adding items to subscription.
Successful paypal update sends user back to eco website, and notification says. "Purchase successful. please wait a few minutes for servers to start"

Should detect that no purchase is made, and just display notification "Your subscription has been updated."

[2018-10-25 09:09] Disane87 opened #9858 "[7.7.2] Server crashes with "Total world volume is larger than the max supported size"
This issue seems to be related to #9261 but it occurs now on my server:

[code]

World-size is 160x160

The world works for now 20 days and the exception occured today the first time (at our usual daily server boot at 5am).

As I investigated, all backups since yesterday 5pm are corrupt and wont work.

Pam in the discord channel wanted me to post this here. If you need the corrupt worlds, I can se

[2018-10-25 09:42] Deantwo commented on #9858
Sounds like an object got thrown too high into the air or something.

[2018-10-25 09:53] Disane87 commented on #9858
yeah, some of my players reported, that some vehicles flown away and disappeared. As a hint for you: the players were digging at the edge of the map, between 1600 and 0

[2018-10-25 10:34] D3nnis3n opened #9859 "Redefining Demographic Doesn't Start With Current Demographic Logic"
Look the screenshot, that is hilarious. Shouldn't it show the real clauses that define it at the moment?

<img width="425" alt="default citizenlaw" src="https://user-images.githubusercontent.com/25908592/47494553-3dc46880-d852-11e8-8710-304c97c24364.png">

[2018-10-25 10:34] D3nnis3n commented on #9858
Both is afaik fixed in the next version, the bad physics on world borders as well as the server crashing when things are over the height limit, instead they get deleted.

[2018-10-25 10:45] D3nnis3n opened #9860 "/give claim,X does not longer work in 7.8"
I need to type /give PropertyClaimItem,X now which is just longer and tedious. Did some of the short cuts got removed?

[2018-10-25 11:25] D3nnis3n opened #9861 "Effective Date for laws"
Yes, i know, this is a feature request. But not having this feature has an effect that could be considered bad game balance and can fuck up servers quite much.

You have a tax law. You want to change it. Someone proposes a change. Unfortunatley, he proposes the change just a little after the old tax did it's taxing. The new law passes. Now you get taxed twice, which, depending of the content of th

[2018-10-25 11:28] elfl0rd commented on #9860
You use any localization?

[2018-10-25 11:31] D3nnis3n commented on #9860
Bleeding Edge, german localisation, did work in 7.7.

[2018-10-25 11:33] elfl0rd commented on #9860
Try "claim" in german (as it translated)

[2018-10-25 11:33] elfl0rd commented on #9860
and read this - https://github.com/StrangeLoopGames/EcoIssues/issues/9722

[2018-10-25 11:33] D3nnis3n commented on #9860
So you mean i should add " in front and end?

[2018-10-25 11:34] elfl0rd commented on #9860
no, enter claim as it translated on german

[2018-10-25 11:36] elfl0rd commented on #9749
merged to -> https://github.com/StrangeLoopGames/EcoIssues/issues/9846

[2018-10-25 11:36] #9749 closed

[2018-10-25 11:38] D3nnis3n commented on #9860
There really is no german translation for "claim", it's just the same thing as in english. Any translation that could be made would be a bad translation.

[2018-10-25 12:05] elfl0rd commented on #9860
yea, i see - https://crowdin.com/translate/eco-by-strange-loop-games/24/en-de#52171 looks as bug.
but it's fixed, read #9722

[2018-10-25 12:31] Deantwo commented on #9861
Nah, don't close it. Like I said, I would love a way to set a "start time of day" for periodic laws.

[2018-10-25 12:32] D3nnis3n commented on #9861
Reopen, shall the developers decide what to do with it.

[2018-10-25 12:35] D3nnis3n commented on #9860
I keep the issue open, as i think that should be fixed in 7.8 if it was working in 7.7. If they don't want to, devs can close it themselves.

[2018-10-25 13:06] Deantwo commented on #9859
What you did in that picture does not look correct, what are you trying to to remake? Picture if the default?

[2018-10-25 13:08] D3nnis3n commented on #9859
When you propose a law, choose "on law" passed, then "redefine demographic" and then choose "citizen" this is what you see. You should not see this, but the REAL clauses which is something along if player has played for more than two hours in the last 5 days.

[2018-10-25 13:09] Deantwo commented on #9859
Ah that is what you mean. Ok I understand and I agree. :+1:

[2018-10-25 13:10] elfl0rd commented on #9860
It's fixed on 7.8 master branch, you can check it.

[2018-10-25 13:11] D3nnis3n commented on #9859
It's so you can edit the current requirements with seeing them instead of this, which is just hilarious as i'm pretty sure if i do propose THIS law it will break. "You are a citizen if you are a citzen, and you are a citizen when you are a citzen, and you are that citizen if you are a citizen" - endless loop.

[2018-10-25 13:22] D3nnis3n commented on #9860
If there is an 7.8 master branch i have no access to it. It's not in staging, but in master and the latter contains many features not in 7.8, but probably 8.0. As it was also not in the bleeding edge version, like some other things haven't been that should have been there and were merged after my request, i'll keep it open until a dev closes it. I don't know from which branch they build the bleedi

[2018-10-25 16:07] ANVLAI opened #9862 "USER ISSUE:"
**Version:** 0.7.6.3 beta

**Steps to Reproduce:**

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]

[2018-10-25 16:25] elfl0rd opened #9863 "Flooding works strangely in the case of trees"
**Version:** 0.7.7.2 beta
![20181025192409_1](https://user-images.githubusercontent.com/4980243/47515497-b7c51380-d88b-11e8-8175-3fd165443f7e.jpg)
![20181025192401_1](https://user-images.githubusercontent.com/4980243/47515498-b7c51380-d88b-11e8-9be8-6ce651b0d943.jpg)

Terribe water hole nearby tree.

[2018-10-25 16:30] elfl0rd opened #9864 "Dying trees - instantly disappears without stages of dying."
Currently, "dead" trees looks as live, the only difference is in the information.

I would like to see the stages.
1) yellowing foliage (e.g. when contaminated)
2) the leaves have fallen, branches still on tree
3) some branches fell off
4) the tree trunk falls, leaving a log, stump, and debris contaminating the surrounding area
5) log and stump disappear.

It's more of a proposal, but it's about r

[2018-10-25 16:31] elfl0rd commented on #9862
Update your game.

[2018-10-25 17:49] Nanders commented on #9853
Appointer == The person doing the appointing
Appointee == The person being appointed

this is correct spelling

[2018-10-25 17:49] #9853 closed

[2018-10-25 17:50] seccombew commented on #9858
Fixed in 7.8+

[2018-10-25 17:50] #9858 closed

[2018-10-25 17:55] #9852 closed

[2018-10-25 17:56] #9862 closed

[2018-10-25 18:02] BlazeGuy2 commented on #9864
This issue was moved to StrangeLoopGames/EcoSuggestions#615

[2018-10-25 18:02] #9864 closed

[2018-10-25 18:04] BlazeGuy2 commented on #9863
This issue was moved to StrangeLoopGames/EcoSuggestions#616

[2018-10-25 18:06] BlazeGuy2 commented on #9863
Reopening, issue mover tool has bugged out today.

[2018-10-25 18:06] BlazeGuy2 commented on #9861
This issue was moved to StrangeLoopGames/EcoSuggestions#617

[2018-10-25 18:07] #9861 closed

[2018-10-25 18:07] D3nnis3n commented on #9861
As i said, Deantwo *g*

[2018-10-25 18:30] Conchipedia commented on #9580
this is the same problem and im dropping tailings into the sea (its our Dump area for them as trying something **new**) and as you can see from this snapshot they drop to the sea bed **BUT** they leave a gap )and they **are** there just invisible)
![snap3075](https://user-images.githubusercontent.com/29383891/47521697-96642780-d88b-11e8-9974-88a02196b06f.png)
now i will take The Top one out of the

[2018-10-25 18:32] craig-jong commented on #9227
Seemed fixed on staging. I'm going to close this, but we should double check this in a release build.

![image](https://user-images.githubusercontent.com/18184943/47522140-9f340980-d849-11e8-83e8-c1af82eac72c.png)

[2018-10-25 18:32] #9227 closed

[2018-10-25 18:48] elfl0rd commented on #9227
Not fixed, it's revert to old TOO BIG tailings production.

[2018-10-25 18:59] SeanAtr0n commented on #9580
please post your logfile if you haven't restarted the game client yet

`%APPDATA%\..\LocalLow\Strange Loop Games\ECO`

I'm guessing you have a few broken chunks and there should be some error msgs in the output log

[2018-10-25 19:25] Deantwo opened #9865 "Treasury Show Unused Currencies"
Version: 7.7.2

The Economy window was changed to only show currencies that actually had some circulation. It would be very nice if this was applied to the treasury management too.

![image](https://user-images.githubusercontent.com/2676134/47524859-0da1b780-d89c-11e8-8883-64fd2876762b.png)

I don't know if this is changed in >v7.7.2 already.

[2018-10-25 19:35] johnkslg commented on #9800
Good find! Ill give it a look.

[2018-10-25 19:47] Conchipedia commented on #9580
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/2516483/output_log.txt)

[2018-10-25 19:48] Conchipedia commented on #9580
but the chunks seem to fix themselves once i wake them up, by placing stuff near it and removing it again

[2018-10-25 20:45] craig-jong commented on #9227
![image](https://user-images.githubusercontent.com/18184943/47529283-343ffe00-d85c-11e8-9160-2ae9658d994d.png)

[2018-10-25 20:45] craig-jong commented on #9227
we good now

[2018-10-25 20:56] BlazeGuy2 commented on #9819
Fix for it turned out to be adjusting 1 line of code, safe to cherry pick, merged it in.

[2018-10-25 20:56] #9819 closed

[2018-10-26 00:15] BlazeGuy2 commented on #9801
It's being recorded in the unity log correctly, but the pop-up object is null for some reason.

[2018-10-26 00:35] Deantwo commented on #8942
Duplicate of #9252

[2018-10-26 00:44] Deantwo commented on #9813
Duplicate of #8942

[2018-10-26 04:04] D3nnis3n commented on #9800
Hey John,
yes - i started the server seperatley on my LOCAL machine in this case, then connected with the SLG game launcher from bleeding edge (i did not yet set up unity) to it.

The log is correct, that happened on my testing passes and it was also the first time i joined the server, did some QA tasks and then reconnected.

I'll keep this issue assigned to me and try to get more information when

[2018-10-26 04:06] D3nnis3n commented on #9865
I'd absolutley appreciate this for ease of use.

[2018-10-26 04:11] D3nnis3n commented on #9839
Here some data from our webinterface:
<img width="790" alt="suddendeath" src="https://user-images.githubusercontent.com/25908592/47544158-f1c30380-d8e5-11e8-992f-d5f3a90a3e8a.png">
Sorry, but fish just don't die that sudden on a 4km² world where someone had tailings in the ocean on one place.

[2018-10-26 04:23] D3nnis3n opened #9866 "Possible bug with sea level rising?"
We had high co2 values (up to 384), that raised sealevel to 43. Despite now being at 352, the sealevel has not fallen a bit.

<img width="799" alt="co2" src="https://user-images.githubusercontent.com/25908592/47544495-9db91e80-d8e7-11e8-9c29-1a866cd400b8.png">

[2018-10-26 04:32] D3nnis3n commented on #9492
I want to bump this up, additionally to these issues:
https://github.com/StrangeLoopGames/EcoIssues/issues/9834
https://github.com/StrangeLoopGames/EcoIssues/issues/9828

Those issues, together with this one:
https://github.com/StrangeLoopGames/EcoIssues/issues/9850

Make ANY treatment of co2 by the law system impossible at the moment - too much co2 is not handleable therefore.

[2018-10-26 04:48] elfl0rd opened #9867 "Staging: too many tailings"
**Version:** 0.7.8.0 beta staging-52b819ac debug
Refers to - https://github.com/StrangeLoopGames/Eco/pull/3523
@craig-jong

No efficiency
**Expected behavior:**
![default](https://user-images.githubusercontent.com/4980243/47544899-f68db480-d8f1-11e8-9c79-e1baab2e363a.png)
10 bar, 25 tailings from 100 ores

**Actual behavior:**
![default](https://user-images.githubusercontent.com/4980243/47545022-b

[2018-10-26 05:05] elfl0rd commented on #9227
Nope :D https://github.com/StrangeLoopGames/EcoIssues/issues/9867

[2018-10-26 08:07] elfl0rd commented on #9000
Dupe - https://github.com/StrangeLoopGames/EcoIssues/issues/8388

[2018-10-26 08:07] #9000 closed

[2018-10-26 08:07] elfl0rd commented on #8388
Bump, after fixing room requiment, missing power requiment looks strange.

[2018-10-26 10:16] draco89349 opened #9868 "USER ISSUE: Efficiency causes duplication"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Build dirt ramp with 2 dirt, level 4 efficiency.
Place ramp and dig back up.

**Expected behavior:**
Gain only 2 dirt.

**Actual behavior:**
Gain 4 dirt.n
**Do you have mods installed? Does issue happen when no mods are installed?:**
No mods are installed.

[2018-10-26 10:18] elfl0rd opened #9869 "Localization: missing "form" and confusing text"
![default](https://user-images.githubusercontent.com/4980243/47560606-65cecd00-d921-11e8-80c5-d18dbaa27d52.png)
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#51373
@Nanders
And about formulation...
i little confusing.
Select the form you want to build the logs in by selecting it on the toolbar as shown. ? for what here need variable?
Remove variable or make "form" to concrete fo

[2018-10-26 10:24] elfl0rd opened #9870 "Localization: some on tooltip missing"
![default](https://user-images.githubusercontent.com/4980243/47560938-8186a300-d922-11e8-87a1-1536f997a627.png)
@Nanders

[2018-10-26 10:28] elfl0rd opened #9871 "Localization: some directions is not added"
e.g. "East"
![default](https://user-images.githubusercontent.com/4980243/47561107-0f628e00-d923-11e8-84e7-8a0dd081713e.png)
@Nanders

[2018-10-26 10:34] elfl0rd opened #9872 "Localization: missing autogenerated deed names"
![default](https://user-images.githubusercontent.com/4980243/47561404-e0005100-d923-11e8-9839-0bb13e226bd0.png)
@Nanders

[2018-10-26 10:46] elfl0rd commented on #7355
As i see it's fixed on master.
![default](https://user-images.githubusercontent.com/4980243/47561932-839e3100-d925-11e8-9caa-c5bd301d35ae.png)

[2018-10-26 10:46] #7355 closed

[2018-10-26 10:47] elfl0rd commented on #9529
As i see - it's fixed on master.
![default](https://user-images.githubusercontent.com/4980243/47561978-a3355980-d925-11e8-91f0-027d41b84b0e.png)

[2018-10-26 10:47] #9529 closed

[2018-10-26 10:54] elfl0rd opened #9873 "Localization: missing error text"
Failed to establish connection - no response from remote host
![default](https://user-images.githubusercontent.com/4980243/47562260-9cf3ad00-d926-11e8-9302-49d107d40715.png)
@Nanders

[2018-10-26 10:57] elfl0rd commented on #8128
Okay, this is two! different issues.
One - you cannot smite middle debris by devtool
second - when you operating devtool, you receive wrong error messages. YOU CAN if you have devtool.

[2018-10-26 10:58] elfl0rd commented on #8128
Yep, nothing
![default](https://user-images.githubusercontent.com/4980243/47562455-2efbb580-d927-11e8-9ab8-be58217fc8c3.png)

[2018-10-26 10:59] elfl0rd opened #9874 "Devtool cannot destroy something like middle debris and uncut logs."
![default](https://user-images.githubusercontent.com/4980243/47562497-56528280-d927-11e8-8987-f3c9923cc27a.png)
split from - https://github.com/StrangeLoopGames/EcoIssues/issues/8128

[2018-10-26 11:00] elfl0rd commented on #8128
@SeanAtr0n check assignment please.

[2018-10-26 11:01] elfl0rd commented on #8180
0.8 - still happens.

[2018-10-26 11:03] elfl0rd commented on #8371
As i see - it's no more happens, closing.

[2018-10-26 11:03] #8371 closed

[2018-10-26 11:04] elfl0rd commented on #9868
dupe - https://github.com/StrangeLoopGames/EcoIssues/issues/9667

[2018-10-26 11:07] elfl0rd commented on #8171
As far as I can see the training now appears always
But...
MANY players do not notice it, this point requires study.

[2018-10-26 11:09] elfl0rd commented on #8512
I continued to miss fast and accurate label creation :(

[2018-10-26 11:11] elfl0rd commented on #9137
Fixed for all cases.

[2018-10-26 11:14] elfl0rd commented on #9769
Current
If Ignore Version Mismatch - true
Version checked and different version restricted.

If Ignore Version Mismatch - false
All version allowed.

Better
Check client version - true
Version checked and different version restricted.

Check client version - false
All version allowed.

[2018-10-26 11:16] elfl0rd commented on #9730
Fixed in https://github.com/StrangeLoopGames/Eco/pull/3506

[2018-10-26 11:16] #9730 closed

[2018-10-26 11:41] Mrkuff opened #9875 "USER ISSUE: Password and Whitelisting"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
On a server i got :
Network\Config\password = Something
Users\Display = 1 users / kuff_
Users\Config\Whitelist\String Collection = kuff_  (on 1 line, whitout white space at the end)

**Expected behavior:**
Should not ask for a password when clicking join button

**Actual behavior:**
Ask for a password, and the password work.  But should not ask fo

[2018-10-26 11:53] elfl0rd commented on #9875
You need use SLGid or SteamID64 in this field.
You can see it in description.
![default](https://user-images.githubusercontent.com/4980243/47564779-d4665780-d92e-11e8-8516-d9e0cea8af21.png)

[2018-10-26 11:54] elfl0rd commented on #9875
SLGID is NOT account name, you can see it on site, or use /whoami ingame.

[2018-10-26 11:55] JAGGANOT opened #9876 "USER ISSUE: Client kick after repairing hammer"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Client kick after repairing hammer in the repairbench

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]
Server encountered an exception:

<size=60,00%>Exception: NullReferenceException
Message:Der Objektverweis wurde nicht auf eine Objektinstanz festgelegt.
Source:Eco.Gameplay

System.NullReferenceExceptio

[2018-10-26 12:03] Mrkuff commented on #9875
Ok.  And when I'm typing /whoami this give me a STEAMID64 of 17 numbers, that I can't select/copy from the UI who disapear after 10 secs !!!  and i need to ask that to all my remote user to update my whitelist ?  C'mon!  Then we need to change the User display with this ID.  "kuff_ 12345678901234517" !

[2018-10-26 12:04] Mrkuff commented on #9875
If this ID is secret, then change the whitelisting for using the UserName instead of the STEAMID64

[2018-10-26 12:05] elfl0rd commented on #9875
:D you can get your steamid64 trough any site like https://steamidfinder.com/

[2018-10-26 12:06] elfl0rd commented on #9875
Username can be changed, especially steam. ID - not.

[2018-10-26 12:06] Mrkuff commented on #9875
Ok then Im asking for a request of change ! Add the ID right after the user name on the Users\Display tab

[2018-10-26 12:08] elfl0rd commented on #9875
Agreed, but create new suggestion here - https://github.com/StrangeLoopGames/EcoSuggestions/issues

[2018-10-26 12:10] Mrkuff commented on #9875
thanks for the quick reply

[2018-10-26 12:14] elfl0rd opened #9877 "Localization: Lot of tutorials broken if server language not english"
(Master branch)
e.g. Setting Up Camp
![default](https://user-images.githubusercontent.com/4980243/47565531-72f3b800-d931-11e8-829e-c78c9cdc2cd1.png)
etc...
@Nanders ?

[2018-10-26 12:15] elfl0rd commented on #9875
No problem :)

[2018-10-26 12:22] elfl0rd opened #9878 "Master: some tabs not shown (Critical!)"
Authorization?
![default](https://user-images.githubusercontent.com/4980243/47565877-9703c900-d932-11e8-88cb-80353bc06e42.png)

Mint?
![default](https://user-images.githubusercontent.com/4980243/47565971-dcc09180-d932-11e8-9423-a61ec6b9ca2c.png)

Etc...

[2018-10-26 12:50] #9137 closed

[2018-10-26 12:52] elfl0rd commented on #9460
Still no specialisation...

[2018-10-26 17:45] #9875 closed

[2018-10-26 17:49] #9868 closed

[2018-10-26 20:49] pamduncan commented on #9476
In some cases the servers will show up in search after a few hours or even a day or so.  Some issues with the recommended listings not showing the server but they can be found in browser search is solved by setting a server category.  But if not found in a search even if a category is set the server will not show.  Its better to see if they show up on a browser search as sometimes a user cannot se

[2018-10-26 22:07] rainfarmer commented on #9570
fixed https://github.com/StrangeLoopGames/Eco/pull/3529

[2018-10-26 22:07] #9570 closed

[2018-10-26 23:27] rainfarmer opened #9879 "Map water doesnt not always load on web interface"
Repeatedly reload any page with a map, sometimes the water does not load correctly.
https://gyazo.com/ce4aae1286389ebf4692477e4c662d25

[2018-10-27 03:56] D3nnis3n commented on #9820
Closing as it has been fixed.

[2018-10-27 03:56] #9820 closed

[2018-10-27 06:50] elfl0rd opened #9880 "Localization: localized markers loose color and icon"
![default](https://user-images.githubusercontent.com/4980243/47600662-a7b54d00-d9cd-11e8-93ad-3af2ef754b43.png)
@Nanders

[2018-10-27 07:11] elfl0rd opened #9881 "Localization: not used or missed string "Damage:""
![default](https://user-images.githubusercontent.com/4980243/47600869-a6395400-d9d0-11e8-9b38-724b89bd687a.png)
https://crowdin.com/translate/eco-by-strange-loop-games/24/en-ru#52802
@Nanders

[2018-10-27 07:31] elfl0rd commented on #9877
Stockpiles, work orders, etc... - not fixed.

[2018-10-27 09:03] elfl0rd commented on #9765
Fixed in https://github.com/StrangeLoopGames/Eco/pull/3534

[2018-10-27 09:10] InfectedBytes commented on #9692
Bringing the chat window in front when an error occurs is a good idea, but should really all error messages be always visible? Or would it be better if some (small) errors are still only temporarily visible?

[2018-10-27 09:13] Quadbro commented on #9792
It seems like all alias related things are broken now...

[2018-10-27 11:40] Quadbro commented on #9599
Yeah, nice idea, and can we count the skill requirements for repair station owner (placer) instead of user? That will have more sense, because it's ridiculous to pay smth in a very easy to make repair station...)

[2018-10-27 13:13] elfl0rd commented on #9599
In my opinion, this would contradict the logic of workbenches.
Why then the paid workbench does not use the skills of the owner?

this change is overly simplify the game, allowing pumped players do not go for a long time.
Currently, players with a high skill of repair use shops to buy broken and sell repaired.

[2018-10-27 13:29] BlackWyvern opened #9882 "USER ISSUE: Fault tolerance issues"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Have a terrible ISP.
Have a single ping over 200ms once every 40 seconds.
Try to exist.

**Expected behavior:**
Existence.
Expected some connection fault tolerance to prevent DC's or at least seamlessly catch back up.

**Actual behavior:**
Not existing.
Connection times out.

**Do you have mods installed? Does issue happen when no mods are install

[2018-10-27 13:59] elfl0rd opened #9883 "Master: rooms indicator work strange."
**Version:** 0.7.8.0 beta master-fc06dc16 debug
After removing all rooms, still on screen until server restart. Relogin - not helped.
![default](https://user-images.githubusercontent.com/4980243/47604790-f206f000-da06-11e8-9ab2-72599af44c8c.png)
And this color used for ANY first room.
General
![default](https://user-images.githubusercontent.com/4980243/47604963-211e6100-da09-11e8-9fe4-9d332111a84c

[2018-10-27 14:00] elfl0rd opened #9884 "Master: room indicator show wrong colors"
**Version:** 0.7.8.0 beta master-fc06dc16 debug

UI rooms colors not counts to Tutorial rooms colors (maube happens from - #9883)
![default](https://user-images.githubusercontent.com/4980243/47604941-dac90200-da08-11e8-8df5-997ea15e61d1.png)

![default](https://user-images.githubusercontent.com/4980243/47604928-a5bcaf80-da08-11e8-9af7-3042c01295ce.png)

Biggest - general, but have kitchen color, e

[2018-10-27 17:01] elfl0rd commented on #9455
As i see, stone and dirt roads can be removed using showel...

[2018-10-27 17:50] Weatt opened #9885 "Refund request"
It's been 23 days and nothing has happened to either of my bug reports and I'm unable to play the game until it's fixed.
https://github.com/StrangeLoopGames/EcoIssues/issues/9645
https://github.com/StrangeLoopGames/EcoIssues/issues/9755

At this point I've given up, can I just get a refund because it's not worth it to check every day on a bug report only to see nothing has happened. I want to enjo

[2018-10-27 20:43] johnkslg commented on #9885
Hey Weatt, sorry I will make sure these get looked at asap.

[2018-10-27 20:48] johnkslg commented on #9884
Make the titles of the rooms in the tooltip match the colors that the represent. Rearrange the tutorial so the colors line up with what theyre representing.  Do the same for food.

[2018-10-27 20:48] johnkslg commented on #9883
related to https://github.com/StrangeLoopGames/EcoIssues/issues/9884

[2018-10-27 20:50] johnkslg commented on #9882
Connection timeout is 10 seconds, if your ISP is that bad its dropping for 10 seconds at a time theres not much we can do, unless something else is happening?

[2018-10-27 20:51] johnkslg commented on #9878
Look for what exceptions are happening in the client, probably something excepting and preventing the tabs from fully building.

[2018-10-27 20:57] johnkslg commented on #9865
Treasury will be getting an overhaul so removing this for now.

[2018-10-27 20:57] #9865 closed

[2018-10-27 20:57] johnkslg commented on #9860
Should be fine in master.

[2018-10-27 20:57] #9860 closed

[2018-10-27 20:58] johnkslg commented on #9859
See why its defining it this way, it should be a complex query about playtime.

[2018-10-27 20:59] johnkslg commented on #9855
The economy viewer pulls the 'foreground' texture out and omits the rest, it treats icons specially, just need to rearrange the icon definition for this one.

[2018-10-27 21:00] johnkslg commented on #9485
Adding saves from other bug:
All Crash reports up to now:
dumps.zip

Game save: https://drive.google.com/open?id=16oSQNLK_uVwHtgt-Patn5l7u10-hLlVB
(Already deleted the distributing law in hope it would fix the issue, but it doesn't.)

[2018-10-27 21:00] johnkslg commented on #9850
Added saves to other bug, closing this one.

[2018-10-27 21:00] #9850 closed

[2018-10-27 21:01] johnkslg commented on #9845
Wow! Make doors have a tier.

[2018-10-27 21:03] johnkslg commented on #9884
Could also make the background of food and furniture tint the color of the nutrient/room theyre associated with? not sure on that yet though, I think we'd need to tune the nutrient colors to be more similar for that to work.

[2018-10-27 21:04] johnkslg commented on #9808
Makes sense to me.  Probably just need to change the order of inventory preference on this interaction, see if you can dig out where that happens.

[2018-10-27 21:16] johnkslg commented on #9885
User has filed this review as well:
https://steamcommunity.com/id/Weatt/recommended/382310/#developer_response

[2018-10-27 22:02] qlmabry opened #9886 "USER ISSUE: Exception error upon execution of task that requires tax"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Player "Buurtvader Karim" was trying to dump tailings which required tax and they had no currency to pay the tax. This resulted in an exception error and caused the server to crash and reboot

**Expected behavior:**
Player should have been taxed and allowed to dump tailings without server crashing.

**Actual behavior:**
Exception: Exception
Messag

[2018-10-27 22:06] qlmabry opened #9887 "USER ISSUE: Exception error upon execution of task that requires tax"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Player "Buurtvader Karim" was trying to dump tailings which required tax and they had no currency to pay the tax. This resulted in an exception error and caused the server to crash and reboot

**Expected behavior:**
Player should have been taxed and allowed to dump tailings without server crashing.

**Actual behavior:**
Player action caused an exc

[2018-10-28 02:48] BlackWyvern commented on #9882
No, it's not dropping connection nearly that long. I'll be in the middle of doing something, get the red connection symbol for 1-2 seconds, get kicked to main menu, then immediately able to reconnect. Total downtime, less than 5 seconds.

It just happens to co-inside with the 200+ms ping spike that I see come in at the exact same time on my pingplotter.

Kills discord too, but that's not yer thing

[2018-10-28 03:42] Quadbro commented on #9599
Yeah, you're right didn't think about it..)

[2018-10-28 04:52] elfl0rd commented on #9882
@johnkslg will be better if game try to restore connection multiple times, before "connection lost" error...

[2018-10-28 04:56] elfl0rd commented on #9765
Merged, fixed, closing.

[2018-10-28 04:56] #9765 closed

[2018-10-28 05:04] elfl0rd commented on #9883
Happens on 7.7.2 too

[2018-10-28 05:04] elfl0rd commented on #9884
Happens on 7.7.2 too

[2018-10-28 06:56] D3nnis3n commented on #9599
I would disagree with elfl0rd here and like your idea. Buying the broken tools and selling them again is something our players do at the moment, too. But they rather would like to be able to sell the needed ingredients for repair and then allowing a fee on the table so the guy can repair it's tools there with the efficiency the tool owner has.

I don't see (or don't understand what you mean) that

[2018-10-28 07:11] D3nnis3n commented on #9886
Closing as duplicate of #9887

[2018-10-28 07:11] #9886 closed

[2018-10-28 07:11] D3nnis3n commented on #9887
Closing as duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9485

[2018-10-28 07:11] #9887 closed

[2018-10-28 07:13] D3nnis3n commented on #9882
I agree, many people get kicked out of the game for this every day on our server.

[2018-10-28 09:16] elfl0rd commented on #9882
Yes, it really annoys many people. Moreover, periodic disconnects (red circle without throwing from the server) occur in some players and with normal Internet.

[2018-10-28 09:18] ryaptev opened #9888 "USER ISSUE:"
**Version:** 0.7.6.3 beta

**Steps to Reproduce:**

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]

[2018-10-28 09:39] elfl0rd commented on #9599
I can only agree to a new repair machine.
In this case, the current repair table works as it worked, new, much more expensive workbench allows you to use the skills of its owner and not the user when repairing.

[2018-10-28 11:02] Deantwo commented on #9888
@ryaptev you should probably start by updating to the latest version of the client. The current stable version is v7.7.2 beta.

[2018-10-28 15:19] D3nnis3n commented on #6017
Fixed long ago.

[2018-10-28 15:19] #6017 closed

[2018-10-28 15:41] D3nnis3n commented on #9291
Closed for being a duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9263

[2018-10-28 15:41] #9291 closed

[2018-10-28 15:50] D3nnis3n commented on #9235
Fixed in 7.8, duplicate of the aforementioned issues.

[2018-10-28 15:50] #9235 closed

[2018-10-28 15:52] D3nnis3n commented on #9228
For me everything works with only 3000 and 3001 open and all the rest blocked.

[2018-10-28 15:55] D3nnis3n commented on #9099
Just to add opinion on this: We ban placing of StarterCamps in a specific district, while placing Campsites is full fine if someone wants to.

[2018-10-28 16:00] D3nnis3n commented on #8830
Closing as fixed.

[2018-10-28 16:00] #8830 closed

[2018-10-28 16:13] D3nnis3n commented on #8602
Old issue, no longer occuring.

[2018-10-28 16:13] #8602 closed

[2018-10-28 18:59] Deantwo commented on #2380
This bug should be fairly easy to fix now.
Just copy the way tailings are made, so number of barrels is reduced with efficiency skill. That should make it possible to return barrels equal to petroleum units used.

Do however watch out for possible backwards rounding.

[2018-10-28 19:11] D3nnis3n commented on #9866
Another server owner sent me this: They have gone from very high to no pollution and stayed there for quite a long time - no sealevel has fallen. This MUST be bugged.

<img width="875" alt="eco2" src="https://user-images.githubusercontent.com/25908592/47620711-a0856080-daed-11e8-9424-2178ccb7d1fa.png">

[2018-10-28 20:36] gamenameign opened #9889 "USER ISSUE: World not loading competely"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
1. Start the game and play for x amount of time.
2. disconnect
3. rejoin
4. world not fully loaded

**Expected behavior:**
Been open world

**Actual behavior:**
Missing chunks, able to float in the void n
**Do you have mods installed? Does issue happen when no mods are installed?:**
Missing chunks, able to float in the void

[2018-10-29 07:05] Quadbro commented on #9792
Fixed in https://github.com/StrangeLoopGames/Eco/pull/3538

[2018-10-29 09:03] D3nnis3n opened #9890 "No law trigger for creating dirt roads"
With all these fancy automatic road laws - why can't we also allocate people for doing early roads with the road tool? Only people skilled in can repair it and they use a hell lot of calories, but we can't even allocate them money, despite they have the hardest road job of all.

[2018-10-29 09:12] D3nnis3n opened #9891 "New Behaviour of ramps make some road laws impossible."
Earlier:
If you place a dirt ramp = allocate 1 dollar
If you remove a dirt ramp = tax 1 dollar
Noone would abuse or grief.
Everything is fine.

Now:
If you place a dirt ramp = allocate 1 dollar
if you remove dirt = tax 0,25 dollar (so if you dig away the complete ramp you have made no profit)

STOP - people often need to dig out dirt to make a road, so we now need to tax them for this which is ins

[2018-10-29 09:31] elfl0rd commented on #9891
https://github.com/StrangeLoopGames/EcoIssues/issues/8380

[2018-10-29 09:31] elfl0rd commented on #9890
https://github.com/StrangeLoopGames/EcoIssues/issues/8380

[2018-10-29 09:31] elfl0rd commented on #8380
bump

[2018-10-29 09:32] D3nnis3n commented on #9890
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/8380

[2018-10-29 09:32] #9890 closed

[2018-10-29 09:32] Quadbro commented on #9833
The problem was it used setting Popup = null, to acquire "opened once" state, changed it to own boolean  variable "Touched". Now we need Popup all the time, to show tutorials with it in escape menu section;

[2018-10-29 09:32] D3nnis3n commented on #9891
That's an entirely different issue.

[2018-10-29 09:34] D3nnis3n commented on #8380
Upvote!

[2018-10-29 09:40] Quadbro commented on #9878
Fixed in https://github.com/StrangeLoopGames/Eco/pull/3536

[2018-10-29 09:46] elfl0rd commented on #9878
@Quadbro you can add fixed issues into **Bugs Fixed:** section in request :P

[2018-10-29 10:01] elfl0rd commented on #8678
Fixed in master (not in 7.7.2)

[2018-10-29 10:01] #8678 closed

[2018-10-29 10:04] elfl0rd commented on #9878
Hm... Can you check? No "cost" field in repair table interface. But tabs fixed, yes.
![default](https://user-images.githubusercontent.com/4980243/47642980-2dc2c680-db7b-11e8-80c0-f25c6d59dd99.png)

[2018-10-29 10:12] Quadbro commented on #9878
Repair desk is broken by another reason, i know it ;(
Will fix it with adding repair fees, but you can make a dedicated issue for this)

[2018-10-29 10:20] elfl0rd opened #9892 "Repair table - repair tab little broken"
Special for @Quadbro :P

No "cost" field in repair table interface.
![default](https://user-images.githubusercontent.com/4980243/47642980-2dc2c680-db7b-11e8-80c0-f25c6d59dd99.png)

Too small space - https://github.com/StrangeLoopGames/EcoIssues/issues/8307
(And check localizer component, as i see it missed in current state). e.g. in "Item"

[2018-10-29 15:26] Spydarlee commented on #9885
Hey @Weatt - I'm not having any luck connecting to SendSpace.com to download your save file. It seems the whole site is down right now - I'll keep trying, but if you see this before I get any further would you be able to upload the file anywhere else, please? Sorry/thanks!

[2018-10-29 15:31] D3nnis3n opened #9893 "Demographics - Who is in which group? - Am i in this group?"
So we have demographic groups now and can see the requirements in the game. But how am i supposed to know if i did play exactly 10 hours in the last two days? How am i supposed to know if i claimed land 100 times? How am i supposed to know who did that at all?

Neither in the webinterface (where there seems to be no demographic overview at all oO) nor in the game i can see who is part of which gro

[2018-10-29 15:32] D3nnis3n opened #9894 "New Law Tab in 7.8 is hard to read"
The new law tab in the game in 7.8 is hard to read as white text is on bright background, i have issues to read this. I'd prefer something else that is easier to read, especially when you have bad eyes like me. It's never a good idea to write white on bright background.

[2018-10-29 15:55] TeMPOraL commented on #9285
Same on 7.7.2-beta.
Also, if it happens that the shop is not buying a particular good, the buying quantity gets covered with "no longer want" sticker, and can not be changed - thus preventing the use of the store until the owner removes the item or raises its limit.

[2018-10-29 17:50] seccombew opened #9895 "7.8 Stuffed Elk System ran out of memory, server crash."

[2018-10-29 17:53] metachronism opened #9896 "7.8+ Main menu takes forever to fade in"
easily 15+ seconds

[2018-10-29 17:54] metachronism opened #9897 "loading screen animation takes longer than actual load"

[2018-10-29 17:55] metachronism commented on #9897
the little tree thing that is, on a built version, it takes 5+ seconds to play the animation but the scene load takes considerably less than that

[2018-10-29 18:03] SeanAtr0n commented on #9897
it can also take considerably more time

[2018-10-29 18:10] Nanders opened #9898 "Looking at the meteor sometimes does not trigger tutorial"
I was staring directly at the meteor (the timer was visible), and the tutorial task/introUI was not triggering

[2018-10-29 18:17] elfl0rd opened #9899 "Feature: ability to set color for titles\reputation."
Before recent changes, nickname color based on reputation. e.g. bad = red and good = green
Now the colors are changed and the owners of the servers can not configure them.

For example, customizing reputation colors would be nice in this section.
![default](https://user-images.githubusercontent.com/4980243/47671097-e1e64080-dbbf-11e8-9aa2-8a8a7a9970af.png)

p.s. by results of a question to JohnK i

[2018-10-29 18:18] elfl0rd commented on #9898
Yes, as far as I can see you need to run the tutorial and then transfer the camera to the meteor

[2018-10-29 18:31] SeanAtr0n opened #9900 "Map tooltips don't work on 7.8 stuffed elk"
They flash on/off, if I alt-tab while hovering eventually one pops up

[2018-10-29 18:36] #9833 closed

[2018-10-29 18:57] Nanders commented on #9898
yeah I had the tutorial open and waiting to trigger

[2018-10-29 18:59] D3nnis3n commented on #9896
Cannot reproduce in my testing in 7.8 bleeding edge, main menu is there immediatly.

[2018-10-29 19:01] #9792 closed

[2018-10-29 19:04] D3nnis3n commented on #9899
Linking related issue https://github.com/StrangeLoopGames/EcoIssues/issues/9288
Colors are not consistently displayed and the new color for good rep is ugly and unintuitive.

[2018-10-29 19:10] elfl0rd commented on #9878
Okay, now in master - fixed, closing.

[2018-10-29 19:10] #9878 closed

[2018-10-29 19:11] D3nnis3n commented on #9898
I noticed the meteor had to be near enough to trigger (time being visible seems to be not enough), but it triggered in all my test cases.

[2018-10-29 19:13] elfl0rd opened #9901 "Master: new item filter, scrolling problem."
In new item filter, screen scrolls ONLY if mouse cursor over any item inside.
If mouse cursor on window background - scrolling not work.
![default](https://user-images.githubusercontent.com/4980243/47674164-be26f880-dbc7-11e8-8937-5cd3a2a924d8.png)
![r](https://user-images.githubusercontent.com/4980243/47674220-df87e480-dbc7-11e8-930a-7d9a604071dd.gif)

[2018-10-29 19:18] elfl0rd opened #9902 "Master: mint broken"
Main tab empty.
![default](https://user-images.githubusercontent.com/4980243/47674533-91271580-dbc8-11e8-9432-6c47468325f4.png)
![default](https://user-images.githubusercontent.com/4980243/47674543-971cf680-dbc8-11e8-8a64-4ad0044041ec.png)

[2018-10-29 20:03] SeanAtr0n commented on #8813
fixed in 7.8

[2018-10-29 20:03] #8813 closed

[2018-10-29 20:50] Deantwo commented on #9485
Just had this happen on the server I play on too.
Server owner said it was because of a tailings tax law identical to the one @Sekor2600 posted. He said it was because someone had a project trying to produce tailings, but the player had no money to cover the tax, and this crashed/ the server.

I'll attempt the mentioned workaround of adding a condition to the law.

[2018-10-29 21:01] SeanAtr0n commented on #9900
Only replicates in built game

[2018-10-29 21:05] SeanAtr0n commented on #9554
still happening on staging

[2018-10-29 21:32] D3nnis3n commented on #9896
I did not click.

[2018-10-29 23:10] craig-jong opened #9903 "Crafting Scrap"
Someone get Eric to post the doc.

[2018-10-29 23:21] metachronism opened #9904 "7.8+ Graphics options aren't correct initially"
eg, GI turned on won't be active till you open the escape menu

[2018-10-29 23:29] metachronism commented on #9903
https://docs.google.com/document/d/1OEQtP1JKmWh4mW_ws6bHihPx1MWeRItkEW7oT1Y6V70/edit#heading=h.m2tuc8r0i4t9

[2018-10-29 23:33] metachronism opened #9905 "7.8+ no error displayed when not able to create laws/vote etc due to citizenship"

[2018-10-30 04:17] ragaar opened #9906 "USER ISSUE: Server Filter"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
Attempt to join a server that was full.

**Expected behavior:**
Should have a checkbox in the filters option that will allow a player to search for a server that is open and available.

**Actual behavior:**
The following error message popped up:
[code]

[2018-10-30 06:49] elfl0rd commented on #5786
Any plans?

[2018-10-30 13:04] D3nnis3n commented on #9867
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9649
Also Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9649

[2018-10-30 13:07] D3nnis3n commented on #9867
I'll close it the other way round since this has been mentioned in a pull request.

[2018-10-30 13:07] D3nnis3n commented on #9649
Duplicate of #9867

[2018-10-30 13:07] #9649 closed

[2018-10-30 13:30] dutchuss2016 commented on #9829
no this is the only game hat has this issue

On Mon, Oct 22, 2018 at 4:49 PM Sean Ater <notifications@github.com> wrote:

[2018-10-30 15:02] elfl0rd commented on #9867
Not duplicate, this is result of playtesting Craig fixes.

[2018-10-30 15:08] D3nnis3n commented on #9867
Well, it's the same problem in both issues. If this one is fixed, the other
one is, too.

[2018-10-30 15:19] D3nnis3n commented on #9885
@Spydarlee
https://drive.google.com/file/d/1EWmKZyQ9rldH16V7aa5rndPh60MjcCth/view?usp=drivesdk

[2018-10-30 16:59] metachronism commented on #9691
Crafting scrap will fix this #9903, dont outsource

[2018-10-30 17:08] Deantwo commented on #9903
@metachronism can you make the document public? Or are we all just going to have to trust that it will fix #9691?

[2018-10-30 18:05] seccombew commented on #9889
Can you post your save?  Also, what OS are you running (Windows, Mac, Linux)?

[2018-10-30 18:05] #9888 closed

[2018-10-30 18:35] SeanAtr0n commented on #9866
afaik sea level never goes down as an intentional design decision

[2018-10-30 18:36] SeanAtr0n commented on #9866
you can use devfloodtool to remove layers of water 1 by 1 though

[2018-10-30 19:11] D3nnis3n commented on #6407
This is at least fixed partially, https://github.com/StrangeLoopGames/EcoIssues/issues/9588.

[2018-10-30 19:33] D3nnis3n commented on #9903
Well, try to leave an access request *g*

[2018-10-30 19:34] elfl0rd opened #9907 "Chainsaw need their own description"
Um, axe? :D
![default](https://user-images.githubusercontent.com/4980243/47745083-e2e8a200-dc93-11e8-8439-027c446174ea.png)

[2018-10-30 19:34] D3nnis3n commented on #9867
Aye!

[2018-10-30 19:50] D3nnis3n commented on #1388
Ladders have been added to the game in 7.8.

[2018-10-30 19:50] #1388 closed

[2018-10-30 19:56] D3nnis3n opened #9908 "Ladders need to exit on top"
Watch the video: https://drive.google.com/file/d/1_dFw4uTE7onEwokOkdO2FdllXG9pOWxg/view?usp=sharing

Why do i not get onto the top dirt block automatically when i am on top of the ladder but need to jump and fail several times doing so? When trying to go down why can i not walk near the ladder and be on it to climb down, but can't get onto the ladder from top at all? I know, no fall damage, but pl

[2018-10-30 20:02] elfl0rd commented on #9908
Yes, and another problem, leaving in situations like this
![unknown](https://user-images.githubusercontent.com/4980243/47746728-bc2c6a80-dc97-11e8-9029-8bd7ae5247ba.png)
I want direct attach w\o pressing buttons, you can attach to it when fall\jump

[2018-10-30 20:02] elfl0rd commented on #9908
I prefer ladders in Rust, really usefull.

[2018-10-30 20:08] D3nnis3n commented on #3176
Hovering over an item in 7.7 shows a tooltip that gives you information on where you can buy or sell it. I'll close this issue as done therefore.

[2018-10-30 20:08] #3176 closed

[2018-10-30 20:11] D3nnis3n commented on #3142
This issue is no longer there in 7.7, closing therefore.

[2018-10-30 20:11] #3142 closed

[2018-10-30 20:14] D3nnis3n commented on #3430
Issue is fixed.

[2018-10-30 20:14] #3430 closed

[2018-10-30 20:16] D3nnis3n commented on #3325
Government Allocation Reasons are also not passed through the profanity filter.

[2018-10-30 20:17] johnkslg opened #9909 "World is stretching in web view"
![image](https://user-images.githubusercontent.com/3536496/47747679-24526080-dc46-11e8-9b89-5c7da8595578.png)

[2018-10-30 20:17] johnkslg commented on #9909
Not sure if this is web or webgl related

[2018-10-30 20:21] D3nnis3n commented on #3795
Property Claim Flags are no longer in the game, does not happen with property tool or claim papers.

[2018-10-30 20:21] #3795 closed

[2018-10-30 20:32] D3nnis3n commented on #4382
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/3170

[2018-10-30 20:32] #4382 closed

[2018-10-30 20:38] D3nnis3n opened #9910 "Mint - Disyplaying amount is wrong"
The mint currency creation screen where you choose the item says "amount" at the bottom, while it should say "item" or something fitting better. Probably, as of this issue i recently closed https://github.com/StrangeLoopGames/EcoIssues/issues/4966 earlier you could choose how many gold ingots make the 10 coins that were not changeable. (Cannot remember that time, though)

So you could either renam

[2018-10-30 20:38] D3nnis3n commented on #4966
Issue is no longer applicable, currency creation system changed, you cannot set an amount of gold or whatever backing item per coins. When trying to craft multiple currencies at once the amount of backing items needed is correctly removed from inventory.

[2018-10-30 20:38] #4966 closed

[2018-10-30 20:45] D3nnis3n commented on #4767
Claim Property Flags do no longer exist, moving any item to the shovels toolbar slot while holding dirt causes no issues (but you no longer hold the dirt in a shovel) and if a toolbar slot is free, the shovel will be moved there and selected again.

[2018-10-30 20:45] #4767 closed

[2018-10-30 20:46] D3nnis3n commented on #4745
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9775

[2018-10-30 20:46] #4745 closed

[2018-10-30 20:53] D3nnis3n commented on #9800
Here, another world this happened on, reproducably for me:
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/2531597/output_log.txt)

[2018-10-30 21:02] D3nnis3n commented on #5280
Fixed in 7.8.

[2018-10-30 21:02] #5280 closed

[2018-10-30 21:04] D3nnis3n commented on #5235
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/3776

[2018-10-30 21:04] #5235 closed

[2018-10-30 21:07] D3nnis3n commented on #5078
Fixed.

[2018-10-30 21:07] #5078 closed

[2018-10-30 21:11] D3nnis3n commented on #9908
Don't know Rust, but most games just put you on the ladder working towards it and eject you from the ladder when at top or bottom - should be the thing eco should do, too.

[2018-10-30 21:33] johnkslg opened #9911 "Slippery view button"
https://cdn.discordapp.com/attachments/330136213841510410/504423109881888768/lawsscrollbug.gif

[2018-10-30 22:21] rainfarmer commented on #9905
fixed https://github.com/StrangeLoopGames/Eco/pull/3547

[2018-10-30 22:21] #9905 closed

[2018-10-31 00:41] #9485 closed

[2018-10-31 00:48] rainfarmer opened #9912 "Web API's citizen activity query not sending GUID"
On master branch, In web interface, on Citizen Activity page:

When I click on discussion link for Citizenship law. It breaks because the API is not sending a GUID for the discussion.
 https://gyazo.com/9a49368b340a396594f1383ea20fb8dd

This is in query /analysis/discussions/suggest
https://gyazo.com/5ac31808b82665116610c574b6b36f06

[2018-10-31 08:14] #9904 closed

[2018-10-31 08:17] craig-jong commented on #9903
The gist of crafting scrap is that it will on take items per individual craft rather than storing them in hammerspace. By doing that, it means it can recalculate skill benefits on existing work orders and it will carry fractional materials between crafts.

[2018-10-31 11:20] Tigran07 commented on #9857
https://github.com/StrangeLoopGames/Eco-Accounts/pull/44

[2018-10-31 11:37] #9857 closed

[2018-10-31 13:39] #9876 closed

[2018-10-31 14:09] Deantwo commented on #9481
Commenting on laws via the in-game chat just doesn't seem like a very good idea. At least that is what I assume is the cause of this.
Remove that and you remove the need for referring to a law by name when commenting. Simply use the law's GUID instead.

[2018-10-31 17:50] BlazeGuy2 commented on #9911
Merged in

[2018-10-31 17:50] #9911 closed

[2018-10-31 17:52] Deantwo commented on #8241
The tooltip of the **Mining Efficiency** seem to be fixed.

But **Bow Efficiency** still says nothing.

[2018-10-31 18:42] elfl0rd commented on #9910
And this window have another problem, e.g. https://github.com/StrangeLoopGames/EcoIssues/issues/9146

[2018-10-31 20:38] BlazeGuy2 commented on #9554
Note: Skipping Tutorials fixes this, looking into why.

[2018-10-31 21:42] BlazeGuy2 commented on #9554
Merged in fix

[2018-10-31 21:42] #9554 closed

[2018-11-01 13:53] Spydarlee commented on #9885
I haven't yet been able to track down the original cause of this problem, but I was able to fix the save manually: https://drive.google.com/file/d/1CFC2KX2Xnd8E4BPqfh4BAPAFXJsgR5XZ

[2018-11-01 15:21] olehderkath13 opened #9913 "USER ISSUE: **Version:** 0.7.0.8 beta"
**Version:** 0.7.0.8 beta

**Steps to Reproduce:**

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]

[2018-11-01 15:57] elfl0rd opened #9914 "Master: Generated Ecko statue "Created by""
![default](https://user-images.githubusercontent.com/4980243/47863174-bc4b7800-de07-11e8-82e7-3711667ee919.png)
There no creator, and displayed tooltip confusing.
Need "Unowned. Naturally generated." in situations like this.

[2018-11-01 16:09] elfl0rd opened #9915 "Master: Ecko chair? :D"
![r](https://user-images.githubusercontent.com/4980243/47863577-a25e6500-de08-11e8-9c5d-1987a48c9101.gif)

[2018-11-01 16:16] elfl0rd commented on #9913
1) Update your game, actual version is 0.7.7.2
2) What OS you use? X64? X32?

[2018-11-01 16:18] elfl0rd opened #9916 "Ecko tribute mechanics broken, lost or removed?"
E.g. Ecko accepts your tribute of {0} and grants you {1} for your devotion.

(EckoTheDolphinItem.cs)

[2018-11-01 17:50] Nanders opened #9917 "7.8 Stuffed Elk Law Null Ref"
![image](https://user-images.githubusercontent.com/6262198/47869307-de230b80-ddc3-11e8-8a2f-ef22d0088fe7.png)

[code]

[2018-11-01 17:56] SeanAtr0n commented on #9915
so?

[2018-11-01 17:56] #9915 closed

[2018-11-01 18:07] elfl0rd commented on #9915
That the statue could be used as a seat - planned behavior?

[2018-11-01 18:36] Pradoxzon commented on #9907
Added a description for the Chainsaw in a PR.

[2018-11-01 18:36] #9907 closed

[2018-11-01 18:41] SeanAtr0n commented on #9915
yes planned

[2018-11-01 19:20] Pradoxzon commented on #9902
![temp](https://user-images.githubusercontent.com/25668381/47874177-80091f00-dde9-11e8-928d-57f4a17fc8ce.png)
I'm not very well versed in Unity, but it looks like something might be off with the prefab for the mint component. The Inspector doesn't show anything when the prefab is clicked.

[2018-11-01 19:30] johnkslg commented on #9902
This should be fixed now

[2018-11-01 19:30] #9902 closed

[2018-11-01 21:50] gust0357 opened #9918 "USER ISSUE: Lost Bean Yield Potential"
**Version:** 0.7.7.2 beta

**Steps to Reproduce:**
On some maps, planting beans leads to a loss in yield potential

**Expected behavior:**
It should stay the same.

**Actual behavior:**
It changes. Bare minimum, I'd like to know why, so i can avoid it in the future.n
**Do you have mods installed? Does issue happen when no mods are installed?:**
It changes. Bare minimum, I'd like to know why, so i

[2018-11-02 05:56] elfl0rd commented on #9918
It's known issue, fixed soon (in 0.8.0 as i know)

[2018-11-02 07:50] Quadbro commented on #9808
So you need to single click one item in some inventory (Chest, etc), and it's moving into our hotbar or our inventory? i can't see, if it's implemented somehow.... I can move stuff only with drag...

[2018-11-02 08:07] Quadbro commented on #9898
All is okay there, current tutorial mechanics requests to click on tutorial icon, before it get's started (it triggers looking on meteor hooks)

[2018-11-02 08:43] D3nnis3n commented on #9808
Yes, you can now leftclick items out of a storage - see this issue: https://github.com/StrangeLoopGames/EcoIssues/issues/9563

But if you do that while having an empty hotbar slot selected, the item still moves into your backpack and not into that hotbar slot, which is how i would like it. If you can no longer left-click an item into your inventory, that bug has been "unfixed", i'll see this in my

[2018-11-02 08:43] D3nnis3n commented on #9808
Mistake, sorry.

[2018-11-02 08:46] D3nnis3n commented on #9913
Has there ever been a 7.0.8? Probably spelling mistake?

[2018-11-02 09:01] elfl0rd commented on #9913
why not? Public wersion started from 0.6 as i know.

[2018-11-02 09:01] D3nnis3n commented on #9913
I don't remember so many hotfixes per patch i mean *g*

[2018-11-02 09:02] elfl0rd commented on #9913
in any case, we do not know because the user is silent :)

[2018-11-02 09:38] D3nnis3n opened #9919 "[7.8.0 #E50965c6] Mining Tutorial recognizes ores (at least half)"
If you use pickaxe on any ore or stone the first task will be checked, but only picking up stone will check the second task. That can be confusing. Either coal and the other ores should hot check the first task or they should also check the second task.

[2018-11-02 09:50] D3nnis3n opened #9920 "[7.8.0 #E50965c6] Only one Belt?"
Is there only one belt in the character creation screen or is it not working, as pressing the buttons does not give any other belt? Remove the buttons if there are no other belts.

[2018-11-02 09:56] D3nnis3n opened #9921 "[7.8.0 #E50965c6] You can't unequip clothes with right click"
Moving this from a comment in the QA-Pass-Sheet to an issue. While you can equip clothes with right click you can't unequip them like this, would be much more comfortable than dragging.

[2018-11-02 10:00] D3nnis3n opened #9922 "[7.8.0 #E50965c6] Property Claim Tool displays as hammer in third person mode"
See title.

[2018-11-02 10:18] D3nnis3n opened #9923 "[7.8.0 #E50965c6] I was not able to trigger the foraging tutorial"
In this run-through i couldn't get the foraging tutorial to trigger.
I tried:

- Eating food
- Harvesting food
- Harvesting food and grass with scythe
- Hoe dirt
- Place seeds on hoed dirt

The latter did work last time. I'm out of luck it seems, i don't really know what i'm supposed to do to get it and really, new players should get tutorials easily.

IMPORTANT: (See comments) I was also NOT able

[2018-11-02 10:31] D3nnis3n opened #9924 "[7.8.0 #E50965c6] Auto-generated Deed Names for Vehicles should not be called like "town", "field" or anything related to normal properties"
See title.

[2018-11-02 10:35] D3nnis3n opened #9925 "[7.8.0 #E50965c6] Exceptions in output_log.txt"
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/2542056/output_log.txt)

[2018-11-02 10:44] D3nnis3n opened #9926 "[7.8.0 #E50965c6] Proposing a law kills the server (Critical!)"
No dump is generated, the server shows this for a minute and then closes:
<img width="678" alt="stackoverflow" src="https://user-images.githubusercontent.com/25908592/47910940-9d46f780-de94-11e8-955b-1ed62e4038e8.png">

[2018-11-02 10:49] D3nnis3n commented on #9926
Same happens when running for office.

[2018-11-02 10:56] elfl0rd commented on #9924
In addition, I think that it would be nice to call the deed associated with the transport by the name of this transport.

[2018-11-02 10:57] elfl0rd commented on #9920
https://github.com/StrangeLoopGames/EcoIssues/issues/3549 :P

[2018-11-02 10:58] D3nnis3n commented on #9920
Closing for duplicate :D

[2018-11-02 10:58] #9920 closed

[2018-11-02 11:00] elfl0rd commented on #9922
https://github.com/StrangeLoopGames/EcoIssues/issues/8475 :P

[2018-11-02 11:01] D3nnis3n commented on #9922
Closed as duplicate.

[2018-11-02 11:01] #9922 closed

[2018-11-02 11:01] elfl0rd commented on #9923
criteria - "no calories"

[2018-11-02 11:04] D3nnis3n commented on #9923
Last time i tried it it triggered when i placed a seed. Funny. I think this should not be the trigger. When you are hungry it's already too late for some of the plants that need scythe or digged up. I'd propsoe to change this to something else, e.g. this is a suggestion. I'll just try to confirm that the criteria mentioned by elfl0rd works.

[2018-11-02 11:07] elfl0rd commented on #9923
Yes, in addition, many players ignore training.
And not cancel it...

There is my old issue - https://github.com/StrangeLoopGames/EcoIssues/issues/8171

[2018-11-02 11:09] elfl0rd commented on #9923
Perhaps you spent the last calories in this?

However, when you start, you do not have scythe

[2018-11-02 11:11] D3nnis3n commented on #9923
Yeh, that probably happened by chance.
Not having a scythe is of no matter, what happens when you spawn in the ice regionwhere only the scythe-able plants grow? People need to be told how to harvest earlier. Trigger the tutorial after the food tutorial or trigger it on harvesting a plant.

[2018-11-02 11:16] elfl0rd commented on #9923
As far as I understand the logic, food collection training is planned before food training.

However, I agree, food training is made awkward and inconsistent.

[2018-11-02 11:18] D3nnis3n commented on #9923
But this does not happen - you take the tomatoes out of your tent, eat them, get the food tutorial, eat them. And when you have no more you probably get the foraging tutorial. That's not the way it should work.

How about implementing this "low on food warning" of your mentioned issue and trigger the foraging tutorial when it happens? So you still have some calories and can easily take care of the

[2018-11-02 11:30] D3nnis3n commented on #9896
Can confirm when not Alt-Tabbing all the time, it does indeed take very long on newest bleeding edge.

[2018-11-02 11:31] D3nnis3n commented on #9807
This no longer happens on the newest bleeding edge build. You can close the issue if that is enough and you don't need to do further testing.

[2018-11-02 11:35] elfl0rd commented on #9923
what exactly is unclear?
Adding a food collection tutorial in first tutorials after player join?

[2018-11-02 11:35] D3nnis3n opened #9927 "[7.8.0 #E50965c6] Special Characters don't show in the rename menu of world objects"
<img width="663" alt="picture1" src="https://user-images.githubusercontent.com/25908592/47913260-bbfcbc80-de9b-11e8-8bc6-7fa581282524.png">
Note that they also do net get saved in the rename field (e.g. clicking into it after placing those cars in, you will have a empty field), but are displayed in the name of the stockpile in the inventory screen below correctly.

[2018-11-02 11:38] D3nnis3n commented on #9923
I already got that and edited my post.

[2018-11-02 11:42] elfl0rd commented on #9923
Agree.

p.s.
https://github.com/StrangeLoopGames/EcoSuggestions/issues/620 and https://github.com/StrangeLoopGames/EcoSuggestions/issues/560 Would be cool.

[2018-11-02 11:45] elfl0rd commented on #9927
With Russian language was similar: https://github.com/StrangeLoopGames/EcoIssues/issues/7355

[2018-11-02 11:46] D3nnis3n commented on #9923
IMPORTANT: I was NOT able to get the foraging tutorial to trigger with no calories left, either.

[2018-11-02 11:47] D3nnis3n commented on #9927
Something must have changed, at least the "x" sign in the picture i tested in the other versions and they did work correctly.

[2018-11-02 11:49] elfl0rd commented on #9923
You reset your tutorial before you tried?
As i know, completing "food tutorial" blocking "foraging tutorial" from show :D

[2018-11-02 11:52] D3nnis3n commented on #9923
Yes. I then completed the food tutorial first, as most players would do.
I just tried with not completing the food tutorial - doesn't trigger either.

[2018-11-02 11:58] D3nnis3n commented on #9923
Okay i found out what the problem is:
The foraging tutorial only triggers when your stomach is empty, not when you have no calories.

[2018-11-02 12:19] D3nnis3n opened #9928 "[7.8.0 #E50965c6] Remove debris contract is not working correctly with living trees on it"
If you put a contract for a propety to remove tree stumps and debris it will want you to also remove the stump of the tree that is still livjng - but you cannot cut the tree down to cut it's stump, even though its green. You just saw for an hour with your chainsaw with nothing happening.

Tree stumps of living trees should not be counted towards this contract.

[2018-11-02 12:19] elfl0rd commented on #9923
I can only say
![-this-is-fine](https://user-images.githubusercontent.com/4980243/47915059-b65ea100-deb2-11e8-9ff2-d0dc6d68de2a.png)

[2018-11-02 12:24] D3nnis3n opened #9929 "[7.8.0 #E50965c6] Make road contracts easier"
Road contracts sometimes don't work very well as the feedback you get is bad. It tells you where the last valid road block is - tell them where road blocks are missing to fulfill the quest, that's easier. I just can't get the roads done correctly of the spawned random contract, but when doing one myself (where the constructions posts are on the same height) it works perfectly. The information what

[2018-11-02 12:39] D3nnis3n commented on #9923
But hey, now they finally know whats probably wrong.

[2018-11-02 13:18] #9885 closed

[2018-11-02 13:19] #9845 closed

[2018-11-02 16:39] elfl0rd commented on #9845
Merged. Not fixed.

[2018-11-02 17:09] BlazeGuy2 commented on #9913
Reopen if issue occurs on 7.7.2, latest version.

[2018-11-02 17:09] #9913 closed

[2018-11-02 17:21] BlazeGuy2 opened #9930 "Recipe UI is throwing Exceptions on Bleeding Edge"
From log in https://github.com/StrangeLoopGames/EcoIssues/issues/9925

(Filename: C:\buildslave\unity\build\Runtime/Export/Debug.bindings.h Line: 43)

Must call RecipeListUI.Init before use.

(Filename: C:\buildslave\unity\build\Runtime/Export/Debug.bindings.h Line: 43)

NullReferenceException: Object reference not set to an instance of an object
  at UI.RecipeUI.get_OrderTime () [0x00000] in <364

[2018-11-02 20:40] Nanders opened #9931 "7.8.0 Unable to join server after some time"
Server left running, after some time you can no longer join.

Happened on Stuffed Elk

[2018-11-02 20:44] Nanders opened #9932 "7.8.0 Meteor impact text appears over UIs"
![image](https://user-images.githubusercontent.com/6262198/47939666-5ca3aa00-dea5-11e8-853b-c6559664e70d.png)

[2018-11-02 20:47] metachronism opened #9933 "7.8 Law condition on periodic action won't allow no 'else' condition"
I wanted to make a law to tax a specific demographic, but it wants there to be an 'else' clause, even when I dont need it.  Eg

if (you are a 'Cool Dude')
  then tax 1 dollar

but I had to set it up as

if (you are a 'Cool Dude')
  then tax 1 dollar
else
  tax 0 dollar

[2018-11-02 20:50] metachronism opened #9934 "7.8 Demographic laws do not show up on the webpage after being passed"

[2018-11-03 03:59] pamduncan commented on #9931
This has been happening a great deal.  It used to be that if the server was up more then 24 hours it needed a restart on a pretty regular basis but recently it is requiring a reboot 2-4 times a day or players cannot log in   Se have just been setting auto reboots for every 6 hours.  The need to reboot periodically has, off and on shown up since 7.6 but was, at most, once a day.  It did not change

[2018-11-03 05:47] D3nnis3n commented on #9934
They should get its own page like districts view, showing all demographics with their prerequisites and who is Part of that demographics.

[2018-11-03 08:47] elfl0rd commented on #9923
However, I think it would be good to hear @johnkslg opinion.

[2018-11-03 09:46] Deantwo commented on #9934
Isn't this a duplicate of #9893?

[2018-11-03 09:46] D3nnis3n commented on #9934
A bit, but i cannot close issues of a developer ;P

[2018-11-03 09:47] Deantwo commented on #9933
Duplicate of #8670.

[2018-11-03 09:59] Deantwo commented on #9926
Maybe related to #9917?

[2018-11-03 09:59] D3nnis3n commented on #9926
I can offer the savegame, if you need it, but no dumps or whatsoever unfortunatley.

[2018-11-03 11:36] elfl0rd opened #9935 "Master: meteor tutorial opens unexpectedly"
As result of "Fixed meteor stuff"
https://github.com/StrangeLoopGames/Eco/pull/3568

Now, meteor tutorial opens unexpectedly

https://github.com/StrangeLoopGames/Eco/pull/3568#issuecomment-435314985

@Quadbro

[2018-11-03 12:18] D3nnis3n commented on #9916
Well how it works then? i thought when having the statue in inventory it requests a tribute to convert into another item, but that does not seem the case? (You can also answer me on discord, same name there)

[2018-11-03 14:48] ragaar commented on #9559
I'm failing to connect to the public servers and this is the only error I receive.

The client progresses to *"Entering world..."* and gives me an endlessly spinning wheel.

&nbsp;

Allowing the game to sit on this screen, for durations greater than the length of making coffee, may connect me. Only to immediately show that my connection has been dropped, as the "disconnection warning" pulsates abo

[2018-11-03 14:52] ragaar commented on #9559
Confirmed, AT&T is not blocking the ports<sup>[[1]](https://about.att.com/sites/broadband/network)</sup>.

REF: https://about.att.com/sites/broadband/network

[2018-11-03 22:47] D3nnis3n opened #9936 "Highlight Server Admins"
In request of johnk, we'd like to add a way to show who is Admin in the server, so players know who they can contact.

[2018-11-04 07:58] Quadbro commented on #9854
Is this still reproducible? I can't get any crashes..)

[2018-11-04 09:08] Quadbro commented on #9936
And in what way it can be implemented? Constantly change admin nickname, or some server-world info? User groups?

[2018-11-04 09:15] D3nnis3n commented on #9936
Probably a special icon displayed in front or as of the eco icon there after the admin user name in all appearances in the game would be enough. (Probably with a red text "SERVER ADMINISTRATOR" in the users tooltip. Recoloring the name would not be working out, as there is reputation. Serverinfo does not help, when the admin is chatting ingame and people need to know he is an offical of that serve

[2018-11-04 09:17] Quadbro commented on #9859
Is this issue located in web part of eco?)

[2018-11-04 09:19] D3nnis3n commented on #9936
I dunno if there are already plans to mark World Leader and Government Officials in some way - that would be handy, too, i had made a suggestion for this earlier - if yes, you probably could re-use this system to show admin-status. But i don't know.

[2018-11-04 09:43] elfl0rd commented on #9854
yep, looks fixed.

[2018-11-04 09:43] #9854 closed

[2018-11-04 09:59] Quadbro commented on #9762
it looks that bank account choice dropdown template has override sorting (value= 30000) This problem can be solved removing sorting by canvas component, and adding that spawned dropdown to another transform in parent (with setting as last sibling) it works, but there are some troubles in getting that canvas component from template... some bugged stuff going there :D

[2018-11-04 11:05] Knigge opened #9937 "7.7.2 - Law lagging - amount check"
When this law passed:
Law:
When attempting to Sell
If (your Sell actions = 50)
Then allocate 5 currency
Otherwise allow

The server began having very long delays in trade action, and a simple trade took 1 second, trading two items a bit longer, trading a stack of 20 took longer -etc. It seems that each single item traded counts as one "trade action" and the law might check the sanity for all those

[2018-11-04 11:12] Knigge commented on #9937
I counted:
Sell:
1 item - 2 sec
2 item  - 5 sec
3 item - 6 sec
4 item - 9 sec
5 item - 9 sec
6 item - 11 sec
7 item - 12 sec
8 item -12 sec
9 item - 16 sec
10 item -18 sec

From that testing it seems that its a counter for each single item in each trade that delays the trade for the check.

[2018-11-04 11:14] Deantwo commented on #9937
First of all, that law definitely doesn't do what you expect it to do. I can help you with the law in the #law-examples channel on Discord if you want.

Secondly, the issue is probable that you are querying a VERY LARGE datatable.

[2018-11-04 11:41] Deantwo commented on #9934
When implemented a webpage for this, it might be useful to keep in mind that we would like players with specific government titles to maybe have manually managed demographic groups. If the webpage is made with this in mind, it might be simpler to implement later.

[2018-11-04 11:41] Deantwo commented on #9893
When implemented a webpage for this, it might be useful to keep in mind that we would like players with specific government titles to maybe have manually managed demographic groups. If the webpage is made with this in mind, it might be simpler to implement later.

[2018-11-04 11:51] Deantwo commented on #9937
Yeah so it is a one-time new-player reward style thing.
I would recommend just using the "logs on for the first time" trigger instead, and then simply take the money away from them again if they are offline for a week.
See: https://cdn.discordapp.com/attachments/469297188909088789/507237650361614337/Abandonment_Tax.png

[2018-11-04 17:30] johnkslg commented on #9794
Lets prioritize this for 7.8 as it breaks contracts

[2018-11-05 00:30] pamduncan commented on #9694
I have had this happen one time when connecting to a remote computers when the game was launch  through Unity.  It also added me to the blacklist.  I All I could think is it was some part of the code that adds you automatically as an admin when playing the single player world and got the wrong list?  I removed my ID from the blacklist and it worked fine and has not happened again, and I could not

[2018-11-05 04:02] xdarkxtriviumx opened #9938 "Server Crash - Aggregate Exception (Crashes on reboot)"
Reporting bug after some conversation with support in Discord

I have an Eco server that I have been running at 300x300 dimension settings for a couple of weeks now. Everything was running smoothly, but it had been a week or so (I was informed that this length of a wait between restarts was a bad idea) since the last server restart. I went to perform a restart tonight just for the sake of it, and

[2018-11-05 05:10] Quadbro opened #9939 "Auth component can't be set public on first initialization"
After server restart all auth settings are null if they was setted by code (store object)

Currently reproducible only with /spawneconomy command, on own claims all seems ok

So the problem is, when PropertyAuthComponent is setted public from OnPostInit it wont be saved after server restart (this applies to store object)

***Update*: After deeper debug i found that server wont save any auth change

[2018-11-05 06:20] Quadbro commented on #9939
Currently reproducible only with /spawneconomy command, on own claims all seems ok

[2018-11-05 08:17] D3nnis3n commented on #9933
I ... dare to close this as duplicate, as it clearly is one and the other also already has given labels. If you don't want that - reopen, lol.

[2018-11-05 08:17] #9933 closed

[2018-11-05 08:21] D3nnis3n commented on #9938
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9858
Bug is fixed in 7.8+ | And yes, this issue can start to happen only after a reboot, i experienced that, too.
Maybe you even got a backup in where it does not yet happen. Either someone build above the height limit, which for your world size is 238 blocks or a bug has catapulted a vehicle over this border, which causes the same.

[2018-11-05 08:21] #9938 closed

[2018-11-05 09:01] Quadbro commented on #9939
So the problem is, when PropertyAuthComponent is seted from OnPostInit it wont be saved after server restart (this applies to store object)

[2018-11-05 09:03] pamduncan opened #9940 "Player being Kicked from Server with NullReferenceException"
NullReferenceException: Object reference not set to an instance of an object
  at GraphicsSettingVSync.OnDestroy () [0x00000] in <4541e0b3a64a40fa96a17a87af6e7bf6>:0

(Filename: <4541e0b3a64a40fa96a17a87af6e7bf6> Line: 0)

[2018-11-05 12:16] Quadbro commented on #9859
probably i'll need  help from web developers, because it may take a lot of time to firstly dive into eco web-server ;)

[2018-11-05 18:13] ragaar commented on #9559
New internet connection fixed it.

[2018-11-05 18:35] #9937 closed

[2018-11-05 18:39] BlazeGuy2 commented on #9932
@Nanders This occurring on staging?  Fix is set to merge into master.

[2018-11-05 18:42] BlazeGuy2 commented on #9934
dupe of #9893

[2018-11-05 18:42] #9934 closed

[2018-11-05 18:48] metachronism commented on #9895
can't repro, hit other crashes usually before this triggers

[2018-11-05 19:44] Nanders commented on #9932
Yes, current staging on steam

[2018-11-05 19:46] johnkslg commented on #9936
Can just add an /admins chat command that prints the admin list of usernames, super simple.
Later we will do an icon pass

[2018-11-05 19:58] craig-jong commented on #9930
What's the reproduction case with this?

I can't get it to happen on current staging.

[2018-11-05 20:07] johnkslg commented on #9926
Yes please attach save! Thanks

[2018-11-05 21:17] craig-jong commented on #9925
@D3nnis3n Is there any way you have a save I could get? Or any more information? I'm not getting this bug on my own save.

[2018-11-05 21:18] seccombew commented on #9927
@Nanders Moving to 8.0 milestone

[2018-11-05 21:19] metachronism commented on #9931
Need a repro case

[2018-11-05 21:34] BlazeGuy2 commented on #9926
Was able to repro w/o save, but I'll use the save to test the fix later.

[2018-11-05 22:29] BlazeGuy2 commented on #9932
@Quadbro can you apply this fix to staging as well?

[2018-11-05 22:34] Nanders opened #9941 "7.8.0 Law Null Ref when initializing world (Stuffed Elk)"
![image](https://user-images.githubusercontent.com/6262198/48031075-e357c180-e107-11e8-8c62-d56931840ad9.png)

[code]

[2018-11-05 22:36] Nanders opened #9942 "7.8.0 Deed Null Ref on startup (Stuffed Elk)"
![image](https://user-images.githubusercontent.com/6262198/48031143-1d28c800-e108-11e8-9bdd-d3123c4b2d4d.png)

[code]

[2018-11-05 22:38] Nanders commented on #9941
Note this looks to be unrelated to https://github.com/StrangeLoopGames/EcoIssues/issues/9917, since this happens on startup, while 9917 happens while running

[2018-11-06 01:04] D3nnis3n commented on #9925
Unfortunatley i do no longer have the save file, but i'll make sure to keep all saves i do while QA-testing in the future. I just extracted the output log after i was done with each testing round, as by request of walker. He also opened another issue that more clearly shows what happened, as i'm no developer.

[2018-11-06 01:08] D3nnis3n commented on #9915
Dolphin-Riding, how cool <3

[2018-11-06 08:44] stanislav99 opened #9943 "USER ISSUE: Title"
**Version:** 0.7.0.8 beta

**Steps to Reproduce:**
1

**Expected behavior:**
it

**Actual behavior:**
The following error message popped up:
[code]

[2018-11-06 09:02] Quadbro commented on #9917
can't  propose any law to get this case sending null ref... webform seems to be broken, or I'm proposing wrong?)

[2018-11-06 10:10] Praefator opened #9944 "Able to pollute despite a law preventing Truck/Excavator from polluting unless admin(check tax too)"
![unknown](https://user-images.githubusercontent.com/841990/48057470-66ceec80-e1b4-11e8-94e2-3874d3a11e23.png)

![capture-airpollution](https://user-images.githubusercontent.com/841990/48057529-8e25b980-e1b4-11e8-81aa-6ba62776269d.JPG)

[2018-11-06 10:39] D3nnis3n commented on #9944
I want to crosslink all the other pollution issues that make controlling pollution nearly impossible atm:
https://github.com/StrangeLoopGames/EcoIssues/issues/9828
https://github.com/StrangeLoopGames/EcoIssues/issues/9834
https://github.com/StrangeLoopGames/EcoIssues/issues/9492

Please note - as of it stands now - sealevel does never go back. We need ways to fix this with the law system then!

[2018-11-06 11:38] Deantwo commented on #9485
The workaround in v7.7.2 of adding a condition to check for the currency seem to work fine.

[2018-11-06 13:51] elfl0rd opened #9945 "Staging branch: can not make a new world from scratch"
Assets/Scripts/System/Settings.cs(189,29): error CS0117: TOD_Sky' does not contain a definition forAmbientDayOverride'
Assets/Scripts/System/Settings.cs(190,29): error CS0117: TOD_Sky' does not contain a definition forAmbientNightOverride'

[2018-11-06 18:39] Deantwo commented on #9944
To be noted, after a little while the law did take effect and prevent the use of the vehicles, it just didn't affect vehicles right away.

[2018-11-06 18:41] Deantwo commented on #9943
@stanislav99, you should probably start by updating to the latest version of the client. The current stable version is v7.7.2 beta.

Secondly make sure the server you are trying to connect to is even online.

Other than that, you have supplied no other information, so there isn't much else anyone can do to help you. Please give more information.

[2018-11-06 18:57] seccombew commented on #9943
Update to latest version, and reopen with more information if issue persists.

[2018-11-06 19:22] BlazeGuy2 commented on #9945
@elfl0rd Works just fine for me on a fresh pull.  Make sure that your SVN branch is on branches/staging.

[2018-11-06 19:57] elfl0rd commented on #9945
Ok, i try it.

[2018-11-06 20:08] Zimgaha commented on #8780
I see this issue has been closed, however i am having the same issue.

I set up a contract as follows;

![20181106200433_1](https://user-images.githubusercontent.com/44818253/48090612-4b3d0380-e1ff-11e8-9c27-f7e929f5a129.jpg)

Now when the player accepts the contract, and starts to do the job, soon as they put the stone in their cart it counts towards the contract amount even tho they have not dep

[2018-11-06 20:12] Zimgaha opened #9946 "Contract Board Bug"
Contract Board Bug #8780 - I see this issue has been closed but i am still having this problem on my server. Not sure if an issue can be reopened so i have started a new post, linking in the old post.

[2018-11-06 20:21] #9946 closed

[2018-11-06 20:21] Zimgaha commented on #8780
Ignore, i see this is due to be fixed

[2018-11-06 20:30] D3nnis3n commented on #9946
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9794

[2018-11-06 20:38] #9926 closed

[2018-11-06 20:39] johnkslg opened #9947 "Character creator spams exception"
NullReferenceException: Object reference not set to an instance of an object
AvatarAnimationManager.UpdateState () (at Assets/Scripts/Utils/AvatarAnimationManager.cs:275)
AvatarAnimationManager.LateUpdate () (at Assets/Scripts/Utils/AvatarAnimationManager.cs:200)

[2018-11-06 20:39] #9935 closed

[2018-11-06 20:39] #9932 closed

[2018-11-06 20:39] #9923 closed

[2018-11-06 20:39] #9901 closed

[2018-11-06 20:40] #9898 closed

[2018-11-06 20:40] #9939 closed

[2018-11-06 20:40] #9892 closed

[2018-11-06 20:40] #9884 closed

[2018-11-06 20:41] #9883 closed

[2018-11-06 20:41] #9808 closed

[2018-11-06 20:41] #9779 closed

[2018-11-06 20:41] #9686 closed

[2018-11-06 20:41] #9599 closed

[2018-11-06 20:41] #9179 closed

[2018-11-06 20:42] #8307 closed

[2018-11-06 21:15] Nicolausi113 opened #9948 "Fir Seed is not available, producible in game, only by /give-command"
Version: v0.7.7.2-beta

I wanna remind of this old (maybe forgotten) Issue #5786. It’s a basic function and I would prefer to have before new features and bugs occlude it.

[2018-11-06 21:28] D3nnis3n commented on #9948
Even though being a reminder this is a duplicate issue, therfore closing it.
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/5786

[2018-11-06 21:28] #9948 closed

[2018-11-06 23:48] BlazeGuy2 commented on #9917
Found the cause: occurs when a User opens the Citizen Activity Tab from the webpage.
![law_bug](https://user-images.githubusercontent.com/35509188/48101352-76adf700-e1db-11e8-9e46-8cd7da5d998a.PNG)

[2018-11-06 23:57] BlazeGuy2 commented on #9917
Also using the 7.8 stuffed elk save stored in SVN.

[2018-11-07 01:11] BlazeGuy2 commented on #9945
@elfl0rd Let me know if that works for ya.

[2018-11-07 01:16] BlazeGuy2 commented on #9917
Caused by trying to find a failed law w/o checking the failed law list.  Added fix to an earlier PR of mine.

[2018-11-07 01:24] Ket-SLG opened #9949 "Raining Stones"
It seemed to do this indefinitely. It also would randomly appear in the tunnels sometimes and block progress of vehicles.
https://www.youtube.com/watch?v=jmc6bd7vxrk

[2018-11-07 01:26] #9949 closed, assigned to nobody

[2018-11-07 01:43] BlazeGuy2 commented on #9918
@craig-jong was this fixed?

[2018-11-07 02:56] Quadbro commented on #9794
@BlazeGuy2 sure

[2018-11-07 03:51] Quadbro commented on #9899
So it's confirmed, and i need to add color field there?

[2018-11-07 04:13] Quadbro commented on #9945
@elfl0rd @BlazeGuy2  Yes, staging branch fixes that error

[2018-11-07 06:09] elfl0rd commented on #9918
@BlazeGuy2 in current state (include 7.8) - no

[2018-11-07 06:36] elfl0rd commented on #9899
Well, I think it's the best place to rep. color settings. :)
and ofc, need store parameters in config and apply selected color ingame.

[2018-11-07 07:17] elfl0rd commented on #9899
In addition - would be good if you make default colors.
Bad reputation - red
neutral - yellow (or white)
good - green

[2018-11-07 18:51] #9917 closed

[2018-11-07 18:51] #9942 closed

[2018-11-07 18:51] #9941 closed

[2018-11-07 18:52] #9794 closed

[2018-11-07 19:10] #9936 closed

[2018-11-07 19:13] johnkslg commented on #9931
@mirasrael we havent been able to repro these bugs, but would really like to figure out whats happening, want to take a stab at them?
@Nanders can you attach stuffed elk save that went OOM

[2018-11-07 19:14] johnkslg commented on #9895
@Nanders can you attach stuffed elk save that went OOM?

[2018-11-07 19:33] BlazeGuy2 commented on #9895
He posted a version on SVN in the game saves folder for 7.8.

[2018-11-07 19:49] elfl0rd commented on #9945
Okay, that error fixed... But now, server cannot start legislation....

System.NullReferenceException
  HResult=0x80004003
  Сообщение = Ссылка на объект не указывает на экземпляр объекта.
  Источник = Eco.Gameplay
  Трассировка стека:
   at Eco.Gameplay.Property.PropertyManager.GetAllDeeds() in D:\DevelopECO\Eco\Server\Eco.Gameplay\Property\PropertyManager.cs:line 93
   at Eco.Gameplay.Legislatio

[2018-11-07 19:51] BlazeGuy2 commented on #9945
Pretty sure the fix for that was merged to the staging branch this morning.  Did you update from github?

[2018-11-07 19:52] BlazeGuy2 commented on #9945
Problem there is a dual dependency between demographics and property manager.  I made a fix for it yesterday.

[2018-11-07 21:00] Deantwo commented on #8360
Duplicate of #9510
Which has higher priority, so just close this one.

[2018-11-08 00:09] BlazeGuy2 commented on #9945
Nope, it is a bug.  I was testing with a working save, didn't try genning from scratch.

[2018-11-08 01:17] #9945 closed

[2018-11-08 01:56] SeanAtr0n opened #9950 "minimap icons disappearing when crossing Z=0"
seems fine when crossing X=0

[2018-11-08 02:34] SeanAtr0n opened #9951 "distribution station + skill scrolls error msg incorrect"
I was able to right click to learn several skills at a distribution station, but couldn't read 2 and the error msg said I didn't have enough room in my inventory. (which was basically empty)

Sounds like those 2 weren't in the authorized list.

[2018-11-08 02:41] SeanAtr0n opened #9952 "distribution station limits only apply per-transfer?"
A distribution station said I could only take 5 corn.

I took 5 corn at a time repeatedly

[2018-11-08 06:44] elfl0rd opened #9953 "Addition to "door tiers""
https://github.com/StrangeLoopGames/Eco/pull/3561

1) Door need info about tier and and number of blocks in tooltip
e.g.
Lumber door equal 2 T2 block

Large Lumber door equal 20 T2 block

2) Door "blocks" need to show in room blocks tooltip
![default](https://user-images.githubusercontent.com/4980243/48182070-f7373980-e33a-11e8-950b-2cd686fa61e2.png)

[2018-11-08 11:43] D3nnis3n commented on #9805
Reopening as it happened again in 7.8.0 #Be3effa9.
Crafting the hewn logs will check the task of the workbench being placed, though.