[2020-10-08 07:53] IcedForge commented on #18440
As john mentioned, this should be fixed for 9.1 (works on current dev build)

[2020-10-08 07:53] #18440 closed

[2020-10-08 08:04] IcedForge commented on #9124
Closing this as it is possible to do now in 9.0 with changes to law triggers and sub conditions.
![Screenshot_69.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/cef7b34c-9a7f-4870-9453-a9f7019a0129)

[2020-10-08 08:04] #9124 closed

[2020-10-08 08:13] #16870 closed

[2020-10-08 08:30] IcedForge commented on #16029
It is currently possible to do with the custom statistics ( 9.1 fix with sum count, still not doable in 9.0.x as it is an issue with sum vs count )

Might need to look into this in the future for a more convenient way as this can get pretty complex very fast especially if you want to add in multiple item types but it is possible to work around it now.
![Screenshot_72.jpg](https://images.zenhubuser

[2020-10-08 08:34] #18518 closed

[2020-10-08 08:41] #18495 closed

[2020-10-08 08:51] ThePiachu opened #18644 "[0.9.0.3 br-78] Outline of items in a Large Lumber Stockpile sometimes doesn't match their visual representation"
Sometimes the outline of items in the Large Lumber Stockpile doesn't match their visual representation:

![image](https://user-images.githubusercontent.com/964559/95436388-9fc7ec80-0908-11eb-9f27-68e41a9fa9e6.png)

![image](https://user-images.githubusercontent.com/964559/95436404-a5253700-0908-11eb-9e65-51083e92a4da.png)

Not sure if it's only in that Stockpile or what's causing it. It might be d

[2020-10-08 08:53] ThePiachu opened #18645 "[0.9.0.3 br-78] Rocker box handle missing texture / geometry on the inside connector"
Tiny visual glitch, the Rocker box's handle is missing a bit of texture / geometry on the inside of the connector thingy:

![image](https://user-images.githubusercontent.com/964559/95436668-f1707700-0908-11eb-939f-3ad50237e601.png)

![image](https://user-images.githubusercontent.com/964559/95436689-f9c8b200-0908-11eb-9d8a-116fde558b45.png)

[2020-10-08 08:58] mirasrael commented on #18448
Seems related to Minimap shader issues (https://github.com/StrangeLoopGames/EcoIssues/issues/18413).
[code]
It tried to build a mesh for tessellation level 1 (which is huge).

[2020-10-08 09:01] mirasrael commented on #18139
Probably fixed with ENet changes (https://github.com/StrangeLoopGames/Eco/pull/6928)

[2020-10-08 09:30] IcedForge commented on #18573
Noticed this #11036 when i was looking up other things, this has been on the back burner for way too long and is a major pain in player perspective when you have larger populations on a server with delay times anywhere from 5s -> 15s trying to open certain areas of the ui even if by mistake.

[2020-10-08 09:37] IcedForge opened #18646 "[0.9.1.0 beta civics-fun-56] Bank account access with titles reconnect required"
Add Title via registrar
Add Bank account, set manager to Title and remove yourself
Add yourself to user of Title

Now you should see the bank account in the list but it is not showing
requires a relog to appear in the bank tab.

[2020-10-08 09:42] IcedForge commented on #18247
Should be fixed in 9.1 Any related issues can be made into a new one if thats the case for easier tracking as this contained a lot of different parts which has been addressed in the current devbuild

[2020-10-08 09:42] #18247 closed

[2020-10-08 10:00] beastyn commented on #17960
Trees are still in troubles, will make separate issue

And rubles are quite better. but still have a little freeze which make their physics kind of animated.
https://drive.google.com/file/d/1VUNzR5Kz2CNio9E6YYKp6WbVfZuyHXI1/view?usp=sharing
Also they still can stuck in the air after excavator dropping.

https://drive.google.com/file/d/1-F0dFyWVjKNUYp1780ooV92L3HuuPtY6/view?usp=sharing

[2020-10-08 10:01] ThePiachu commented on #18644
Actually it just happened to me on loading world in single player straight away, so probably isn't caused by things being used in manufacturing...

[2020-10-08 10:03] siggjen opened #18647 "USER ISSUE: Gui isn't ins sync with mouse"
\
**Version:** 0.9.0.3 beta release-78

**Steps to Reproduce:**
Start Game. Try to click on anything. You have to be below and at the right to hit it

**Expected behavior:**
To click on a button the mouse it over not away from

**Actual behavior:**
None

**Do you have mods installed? Does the issue happen when no mods are installed?:**
No mods, I just downloaded and installed from Steam

**Please

[2020-10-08 10:08] beastyn opened #18648 "[ 0.9.1 develop-78] Trees duplication"
After #17960

In the multiplayer trees are doubled after cutting.
For one client original tree and a copy are falling down.
For a second client one tree is falling and copy is staying as yellow part.

You can' cut or collect a copy.

![bandicam 2020-10-08 15-07-48-093](https://user-images.githubusercontent.com/27898520/95445100-0b956e00-0978-11eb-91e8-4e5ea006d539.jpg)
![bandicam 2020-10-08 15-05-

[2020-10-08 10:22] mirasrael opened #18649 "TagParser refactoring"
Current tag parser implementation not flexible enough to handle scenarios like `"<Unassigned>"` text (with non-tag text formatted as tag) (see  https://github.com/StrangeLoopGames/EcoIssues/issues/17381). It was fixed by change in `ViewExtensions.SetText` as:
[code]
but it breaks another cases where it should be auto-closed (i.e. if text is "<color=white>abc").

This change should be reverted and

[2020-10-08 10:29] mirasrael commented on #18122
@kapawlak did you have this issue only with specific kind of trees (like Palm) or with any kind of trees?

[2020-10-08 10:30] SlayksWood commented on #18511
Still have exceptions alot of different exceptions:
[code]
[Player.log](https://github.com/StrangeLoopGames/EcoIssues/files/5347163/Player.log)
and original issue #10637 was returned:
![image](https://user-images.githubusercontent.com/45708377/95447243-1fd26e80-096a-11eb-84d4-97c398e9d8b5.png)

[2020-10-08 10:34] mirasrael commented on #18122
From error log it seems like an issue with collider mesh which doesn't have read/write flag enabled:
[code]

[2020-10-08 10:42] beastyn opened #18650 "[0.9.1 develop-78] Exception with contract creation"
Create a contract (loan for example).

Now this error will spam your log

[code]

[2020-10-08 10:44] IcedForge commented on #18623
Making a revision of a revision no longer duplicates stuff, but its removing its prior version and adds the new one properly BUT its changing name title to <deleted> even though its not?
![Screenshot_82.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/a2bb749e-d886-4323-b185-5eabcba0b8aa)
The law itself operates correctly and it passes election etc its just very confusing for the

[2020-10-08 10:48] SlayksWood opened #18651 "[0.9.1 develop-78] Clarify loan contract notification"
50 (Beastyn. credit) in my case:
![image](https://user-images.githubusercontent.com/45708377/95448874-a5571e00-096c-11eb-9bd4-afb0a1b6c6ce.png)
Step to reproduce:
- first player make loan contract.
- second player take it and without any pay press finish button.

[2020-10-08 10:51] SlayksWood commented on #18644
@ThePiachu Thank you for the report, it related with world border(your stockpile crosses it)
dup #17767

[2020-10-08 10:51] #18644 closed

[2020-10-08 11:01] mirasrael commented on #18211
Did we see this issue in last few weeks?

[2020-10-08 11:08] #18611 closed

[2020-10-08 12:12] NN-Mike commented on #18634
I might suggest looking at only auto-linking storage to existing objects if the storage is added on the same plot?

This would prevent other players creating new land claims to do this themselves and also continue to auto link storage when a player would want it.

[2020-10-08 12:14] SlayksWood opened #18652 "[0.9.0 develop-78] Display Crushed Gold Ore on minimap like Gold ore"
Should be gray, now it's yellow:
![image](https://user-images.githubusercontent.com/45708377/95456954-cfaed880-0978-11eb-8c78-6a5adfb35ba2.png)
![image](https://user-images.githubusercontent.com/45708377/95456960-d2a9c900-0978-11eb-95e8-4c13f8da5734.png)

[2020-10-08 12:21] SlayksWood commented on #18647
@siggjen Thank you for the report.
Can you provide a little more information about your problem? Feel free to attach video files or screenshots, and don't forget about the log files. Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file
and, please, provide your PC specification (include Operating System).

[2020-10-08 12:22] SlayksWood commented on #18645
dup #18513

[2020-10-08 12:22] #18645 closed

[2020-10-08 12:26] SlayksWood commented on #18641
@TheForeignHunter This will be very helpful. You can provide your save file to me in discord Kirill (Slayks)#6251 or to mail kirill@strangeloopgames.com

[2020-10-08 13:18] D3nnis3n commented on #18211
Yes.

Alexander Bondarev <notifications@github.com> schrieb am Do., 8. Okt. 2020,
13:01:

[2020-10-08 13:41] siggjen commented on #18647
Hello

I have attached a screenshot it shows the mousepointer to the left of and below the resolution selector box. That where it need to be to open the dropdown selector for resolution. I can't choose Apply as the mouse pointer isn't going enough to the right. My plan was to try to use windowed setting and a decent resolution that is playable.
There was an upgrade available when I was taking the

[2020-10-08 13:53] redwyre opened #18653 "Create a symbol store on build machine and upload release builds"
Gather symbol files and upload to S3.

[2020-10-08 13:54] redwyre commented on #18086
split the last item to separate issue: https://github.com/StrangeLoopGames/EcoIssues/issues/18653

[2020-10-08 13:54] #18086 closed

[2020-10-08 15:26] SPC-Phoenix opened #18654 "[V. 9.0.4] Corp Deed Bug"
Version: 9.0.4
There's an Odd bug with Deeds Store and transferring the deed to a title instead of a person. When a title owns a Deeds the store doesn't recognize the  chests but when a person owns it, it does. Here's screen shots of what I'm taking about. Everything should work the same even though a title owns the  deed instead of a person. This is important if you want to set-up a house, like t

[2020-10-08 15:32] SPC-Phoenix opened #18655 "[V. 9.0.4] Multiplayer Organization issue"
Version: 9.0.4
There's an issue with chest priority system. The problem is chest priority is different for each person. This is a problem because I am the organized one and my buddy doesn't care. If I go threw each machine set up a chest priority and what chest it's allowed to go into and not go into then this should be the same for everyone. It's a major inconvenience the way it is now.

[2020-10-08 16:26] JamesTalon opened #18656 "[V 9.0.4] Changing view locks block placement for Skid Steer"
Happening in the newest version (9.0.4), confirmed it is not a result of modded items. Hop in to a skidsteer with a block of sand, dirt, etc in it, switch view to third person and back, and it will have locked the drop location to where it was when you switched. Only way to fix it is to exit and re-enter the vehicle.

[2020-10-08 16:40] Calura opened #18657 "Failed to load server??"
![error](https://user-images.githubusercontent.com/53465919/95488260-522c9d80-0963-11eb-852f-0d3c11ede133.png)

The server won't load because of this. I've deleted the file and let the auto-updater recompile it. Nada.

[2020-10-08 18:38] TheForeignHunter commented on #18641
Just sent it via email!

[2020-10-08 18:41] Calura commented on #18657
![crashlog](https://user-images.githubusercontent.com/53465919/95499582-7c865700-0973-11eb-9af6-15395dd585c0.png)

Full log of the crash. We have no mods that affect the waste filter at all. We have one for colored trucks, and one for chat announcements, that's all. But all mods were also deleted in an attempt to stop and possible conflicts. This is still the errors that it came back with. We have

[2020-10-08 21:00] IcedForge commented on #18655
Duplicate from https://github.com/StrangeLoopGames/EcoSuggestions/issues/329

[2020-10-08 21:00] #18655 closed

[2020-10-08 21:01] IcedForge commented on #18654
Duplicate #18530

[2020-10-08 21:01] #18654 closed

[2020-10-08 21:07] Astrija commented on #14840
Now all work. Close

[2020-10-08 22:38] gzatravkin commented on #18650
Investigated. It fails because of refering destroyed object. Exception is at line 243, here. ![image.png](https://images.zenhubusercontent.com/5ee8f9e511fef00acff64193/041223e7-95f8-41fa-937d-9fecfc30349f)

Looks like it's subcase of this issue https://github.com/StrangeLoopGames/EcoIssues/issues/18090 . For my opinion it's not worth to fix particular cases (there are a lot of simmiliar issues), i

[2020-10-08 23:49] XerWolf opened #18658 "Tags should be set as buyable items"
Vegetables should cover everything under the tag.  I may not care what type of vegetable im buying.  I just need some for a recipe.  It would help lessen the clutter of stores.

[2020-10-09 00:13] redwyre commented on #18657
Try this: https://github.com/StrangeLoopGames/EcoIssues/wiki/Work-around:-Mod-compilation-issues

[2020-10-09 00:27] hitzu111 opened #18659 "USER ISSUE: Unable to smoothly walk up on FloatStairs block to normal stairs block"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
Place a float stairs block (or any corner stairs block), then place a normal stairs block after.

**Expected behavior:**
You should be able to walk on that stairs without need to jump.

**Actual behavior:**
The character stops before the normal stairs block and can't go further. It has to jump in order to move up.

**Do you have mods

[2020-10-09 01:23] Calura commented on #18657
I didn't try deleting the *entire* mods folder, but I did delete that file that it kept pointing to in the exception. We have an auto-updater that uses an anonymous steam log-in and it kept downloading the "app 739590" after I deleted that file. But when it put the file back on, it was back to the bad version. So the auto-updater itself keeps overwriting the working file that WE created, and repla

[2020-10-09 01:37] Rybadour opened #18660 "Plant Yield Potential Heat Maps Broken in 9.0.4"
Our server was running 9.0.3 and just updated and now all the heatmaps for plants no longer show white, yellow, red, purple but instead just a faint dark grey.

Screenshot: https://imgur.com/a/kg0cJaC

[2020-10-09 01:46] redwyre opened #18661 "Update to Unity 2020.1"

[2020-10-09 01:51] redwyre opened #18662 "Prep for update to HDRP"
Need to go through each rendering system and investigate if it will work with hdrp or require changes.

- [ ] TOD - requires changes
- [ ] Highlighting
- [ ] SEGI (remove)
- [ ] Aura 2 (remove ?)

[2020-10-09 05:17] #14840 closed

[2020-10-09 05:23] D3nnis3n commented on #18658
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/14630

[2020-10-09 05:23] #18658 closed

[2020-10-09 05:43] SlayksWood commented on #18641
Save file(use slg mail to have access): https://drive.google.com/file/d/1qB5I2AAGsDwAF3Sdaw7b_fQ-SZC2Gs_B/view?usp=sharing

[2020-10-09 05:53] SlayksWood commented on #18659
![Uploading image.png…]()

[2020-10-09 06:41] SlayksWood commented on #18639
will close after release

[2020-10-09 06:46] #18327 closed

[2020-10-09 06:51] SlayksWood commented on #18656
Yea we have this problem, but it's not related with 9.0.4. I have the same in 9.0.3.

[2020-10-09 07:22] SlayksWood commented on #18660
@Rybadour Thank you for the report.
@WeaselDog
It seems to be related to nutrients. There is no problem on new worlds, apparently we have to wait until the nutrient layers are restored.
For example, on the server on which I'm playing, the restoration for Big bluestem has already begun (I suppose it is not need a lot)

[2020-10-09 07:33] SlayksWood opened #18663 "[Migration to 9.1] Can't connect to server."
I try to migrate world from 9.0.x version to 9.1 and connect to it. World was migrated but I can't connect to it.
World: https://drive.google.com/file/d/1mnifbN7tMF696znTBbsOsP9kdMPqRxSc/view?usp=sharing
Server log:
[log_201009101251.log](https://github.com/StrangeLoopGames/EcoIssues/files/5353176/log_201009101251.log)
Exception when try to connect:
[code]
We had this exception before in this issu

[2020-10-09 07:51] #18006 closed

[2020-10-09 08:01] SlayksWood opened #18664 "[MacOS] Minimap render issue with tesselation less 64"
I have tessellation on iMac = 16 and I have no idea how to easy change it. And on big map (e.g. 2 km) with min Zoom I don't have a half of map:
![image](https://user-images.githubusercontent.com/45708377/95558289-ae082c80-0a1e-11eb-915a-ca499d51e2fe.png)

[2020-10-09 08:22] SlayksWood commented on #18139
@geoffwong Hi, this issue was fixed, but you need to wait 9.0.5 version to check it. If you are interested to check it early, please contact me on the discord Kirill (Slayks)#6251.

[2020-10-09 08:24] redwyre commented on #18657
The problem is probably not that file, but another, you should delete the entire mods file to make sure you are using the right version of _all_ the files.

"app 739590" is the steam app ID for Eco Server

[2020-10-09 08:29] mirasrael commented on #18657
Just checked last version from Steam. It has this (correct) line `public bool Operating => this.converter.In.BufferAmount > 0 || this.converter.In.LastTickConsumed > 0;`
You may try to verify all files in Steam. There is unfortunately nothing we can do on our side. Version in Steam is correct and most of users was successfully updated server with valid file version.

[2020-10-09 08:31] #18567 closed

[2020-10-09 08:33] hitzu111 opened #18665 "USER ISSUE: Add a "District Map" condition to the laws"
![Screenshot 2020-10-09 112923](https://user-images.githubusercontent.com/50346354/95561028-c8440980-0a22-11eb-86ab-e025e5bc492d.png)
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
An example: you have a District Map with a road system of your world. Each street/square is defined by a separate district with a unique name. And you want that only the Road Worker title has the right

[2020-10-09 09:12] beastyn commented on #16023
@Alteraner I can't actually get you. Bank accounts and appointed titles do not have a revisions. Can you make a screenshot or video?

[2020-10-09 09:32] #18170 closed

[2020-10-09 09:34] mirasrael commented on #18533
Issue was related to Debris cache updates (which effectively didn't work). I fixed the logic, but it caused Debris cache to reset. So it should work fine with new Debris, but old Debris information lost. It may be recovered, but will require very expensive full world scan (every block) so I guess we can let it go.

[2020-10-09 09:41] Alteraner commented on #16023
No that was not, what i meant by. Let's try to be more precise. For example, I have a bank account and give manager role to that bank account by an elected title. Let's use "president" as an example. Now I change the "president" title which ends up, I have "president 2" and "president" is deactivated "president (removed)". The Bank account is still linked to "president (removed)" and no one has ac

[2020-10-09 09:51] #18519 closed

[2020-10-09 10:11] IcedForge commented on #16023
This was reworked in 9.1 and should no longer an issue, any revisions will replace current and archive it.

[2020-10-09 10:11] #16023 closed

[2020-10-09 10:16] IcedForge opened #18666 "[0.9.1.0 beta develop-79]Civics: Adding revisions of titles into the same election multiple times"
Adding a title revision into a election, then going into the draft of the title again and adding it once more will purge links and associations as well as title holders and make a new version of it completely.

Revise title, add changes to an election creating a new election draft.
Now edit title revision then add changes to the same election
![Screenshot_87.jpg](https://images.zenhubusercontent.c

[2020-10-09 10:37] IcedForge commented on #18665
Should be possible to do something like we do with nested objects, selecting parent object then advanced list option to select specific districts and letting the requirement field read its contents as it does right now.
![Screenshot_89](https://user-images.githubusercontent.com/24981362/95573544-e6face00-0a2b-11eb-8b92-8890e34ad185.jpg)

So the reality of instead of selecting districts directly it

[2020-10-09 10:55] SlayksWood commented on #18538
Can't check it right because I can't select another district maps:
![image](https://user-images.githubusercontent.com/45708377/95575117-d2700300-0a36-11eb-812b-34a983fc00e1.png)
Also have some exceptions in log, but not always:
[code]
[Player-prev.log](https://github.com/StrangeLoopGames/EcoIssues/files/5354438/Player-prev.log)

[2020-10-09 11:01] #18349 closed

[2020-10-09 11:03] #17813 closed

[2020-10-09 11:20] SlayksWood opened #18667 "[0.9.0 develop-79] Can't start election for elected title"
Don't have any button:
![image](https://user-images.githubusercontent.com/45708377/95576335-f3395800-0a38-11eb-8208-3d5c71f54c41.png)
how should it work with the new package system?

[2020-10-09 11:26] SlayksWood commented on #18667
check this one after fixing #14132

[2020-10-09 11:57] gzatravkin commented on #18538
From PR:
It's difficult to make fix without big refactoring, so for now just disables districts from selecting while drawing.
Should be truly fixed after minimap refactoring.

So imposibility of select of districts - it's temporary fix so districts maps will be not broken. Should still work with another overlays.
For exception please create another issue

[2020-10-09 11:57] gzatravkin commented on #18538
@SlayksWood

[2020-10-09 12:03] TrasHC opened #18714 "Bathtub diminishing housing value - Eco 9.0.4, Server Bug(?)"
When a bathtub is placed in the same room with other items from the sink category, something strange is happening to the diminishing returns, where following items don't get the expected values. Best explained in pictures:

![20201009130752_1](https://user-images.githubusercontent.com/18727081/95580470-ad2fc480-0a37-11eb-8dc6-53cd9a565db2.jpg)
![20201009132707_1](https://user-images.githubusercont

[2020-10-09 12:17] IcedForge opened #18668 "[0.9.1.0 develop-79]Civics: Trigger breaks storage links"
Trigger type "Add Resources To Work Order" - Sub trigger " Auto Contributed" will break links completely for automatically retrieving resources into a work order.

It will still add materials if you manually input into table, or add 1 cycle worth of materials if you add it to a linked stockpile BUT
it will not take any more materials from this stockpile per auto IF you have a law using this sub tr

[2020-10-09 12:19] SlayksWood commented on #18650
- 1 player makes a contract
- 2 player disable cache (/toogleuicache)
- 2 player open economy viewer
- 2 takes a contract.

[2020-10-09 12:47] beastyn commented on #18636
Yeap, looks like the same issue. I will merge it into #16568 for further investigation.

[2020-10-09 12:48] beastyn commented on #16568
Also here #18636. Ask save from me.

[2020-10-09 13:17] beastyn opened #18669 "[0.9.1.0 develop-79] Fishing line exception"
1) Call a friend (2 is better)
2) Let them cast fishing poles
3) Fly away and unload a chunk with your friends
4) Come back
5) Here you can have an exception
NullReferenceException: Object reference not set to an instance of an object.
  at FishingLinePoint.GetPos () [0x00000] in <00000000000000000000000000000000>:0
  at FishingController.GetPoints () [0x00000] in <00000000000000000000000000000000

[2020-10-09 14:16] Calura commented on #18657
We didn't bother updating from Steam again. I just copied that line and pasted it into the file. It's good now. Thanks.

Although I'm now looking at our server as a result of all of this, and so many ideas are popping up. Maybe the updater was interrupted somehow and only downloaded part of a file. Maybe the file was written to a bad part of the hard drive. I don't know. But I do apologize for the

[2020-10-09 14:28] mirasrael commented on #18650
It is important to open and then close economy viewer. Also no need to disable cache, because Economy Viewer doesn't use cache.

[2020-10-09 14:30] mirasrael commented on #18657
Happy you are fine now! Thanks for letting us know!

[2020-10-09 14:30] #18657 closed

[2020-10-09 14:37] mirasrael commented on #18090
Implemented in 3rd way. IMonoBehaviourSubscriptions with SubscriptionsReleased flag was added (mostly for optimization purposes) as well as new ReleaseSubscriptions extension method. When this method called in OnDestroy it recursively releases all IMonoBehaviourSubscriptions children components even they never was awaken and sets SubscriptionsReleased flag. It skips unsubscribe recursive call for

[2020-10-09 14:37] #18090 closed

[2020-10-09 14:37] mirasrael commented on #18650
Fixed with generic solution.

[2020-10-09 16:31] Rybadour commented on #18660
Agreed, I didn't notice the note in the patch notes that says all the soil is reset to 0. I guess it's expected behaviour so I'll close this.

[2020-10-09 16:31] #18660 closed

[2020-10-09 17:47] Astrija opened #18670 "[0.9.0.4] weight inscription does not fit into the cart"
the inscription does not fit, a line feed occurs
![изображение](https://user-images.githubusercontent.com/13696708/95615205-817d0080-0a70-11eb-99df-195c9ada08a7.png)

[2020-10-09 17:52] Astrija commented on #18638
I could not repeat this error on version 0.9.0.4.В
Perhaps the error has been fixed.

[2020-10-09 17:57] Astrija opened #18671 "[0.9.0.4 beta] [linux] [console] Can't start server not in directory server"
If you try to start the server not from your directory, then it swears at an error, is it possible to fix this problem?
![изображение](https://user-images.githubusercontent.com/13696708/95616061-e2590880-0a71-11eb-9ea2-3a23d20f7551.png)

[2020-10-09 21:13] Astrija opened #18672 "[0.9.0.4] not fully working specialization mining"
specialization does not fully work.
The tool does not increase the amount of life.
![изображение](https://user-images.githubusercontent.com/13696708/95631891-24dc0e80-0a8d-11eb-9879-a7ca3893b11f.png)
![изображение](https://user-images.githubusercontent.com/13696708/95631916-34f3ee00-0a8d-11eb-8241-04f5012d00ef.png)

[2020-10-09 21:43] denysaw commented on #18187
Could be tested on Staging.

[2020-10-09 21:47] denysaw commented on #17203
@IcedForge Forced :) Yes, please clear cache before each new tests ;) Sometimes, I'm updating anti-cache version variable, but sometimes forgetting (like this one). So problem is gone after cache clear, right?

[2020-10-09 21:49] denysaw commented on #17203
As I got yes, could as I see it's the only problem. So yep, it's web and cache should be cleaned (Ctrl+F5 while being on page). Putting fixed, put re-open if clear cache doesn't help.

[2020-10-09 22:36] johnkslg opened #18673 "Tooltip is too sensitive for nested"
![anim](https://user-images.githubusercontent.com/3536496/95636808-f5091880-0a44-11eb-8a4e-0d0a271cb3a8.gif)
It used to work as follows:
- If the tooltip has no nested properties, it disappears instantly when you un-hover whatever brought it up (and hovering in the tooltip doesnt do anything)
- If the tooltip has nested properties, its more flexible.  It wont disappear if the mouse is close to the

[2020-10-09 22:39] johnkslg opened #18674 "Disappearing map"
![image](https://user-images.githubusercontent.com/3536496/95637081-b1fb7500-0a45-11eb-8fab-153604ca338f.png)
Clicking this button makes the map totally disappear:
![image](https://user-images.githubusercontent.com/3536496/95637095-bb84dd00-0a45-11eb-8948-aa11ba81d9bc.png)
There should be buttons to make it a movable window, fullscreen, and docked.

[2020-10-09 23:03] pfmd86 commented on #18349
Is that fixed in the current public version? My Server and Client are up-to-date but I still have the same problem.

[2020-10-09 23:10] johnkslg commented on #18668
Fixed, along with a number of other cases where it treated 'bad variables' as 'prevent the action entirely'. Nice find.

[2020-10-09 23:14] johnkslg opened #18675 "Make all lerps take the same amount of time"
![anim](https://user-images.githubusercontent.com/3536496/95638698-64cdd200-0a4a-11eb-898a-be35f4d08641.gif)
Blur lerp-out is faster than ui fade-out.  All lerps should have identical time, adds a lot to the polish feeling.  Check other lerps as well.

[2020-10-09 23:43] johnkslg commented on #18667
Fixed this and other actions:
![image](https://user-images.githubusercontent.com/3536496/95639749-8cbf3480-0a4e-11eb-8fe3-0c3deefef17d.png)

[2020-10-09 23:50] johnkslg commented on #18666
Fixed
![image](https://user-images.githubusercontent.com/3536496/95640016-8da49600-0a4f-11eb-8df3-d2eace6a9159.png)

[2020-10-09 23:52] johnkslg commented on #18164
I think this will have gone away with my re-write of the proposal system last week, can you tell me if it comes back?

[2020-10-09 23:52] blueadeptmage opened #18676 "USER ISSUE: Items Lost"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
Go to tent storage and try to put pick and hammer in personal inventory when inventory is full.

**Expected behavior:**
Item should have not been able to move into inventory and stayed put.

**Actual behavior:**
Item disappeared from campsite inventory and did not end up in personal inventory. instead it just disappeared. Empty square

[2020-10-09 23:54] johnkslg opened #18677 "Long tooltip titles can create wrapping problems"
![image](https://user-images.githubusercontent.com/3536496/95640098-ff7cdf80-0a4f-11eb-9e6c-c8faef6f918a.png)

Get @serpopov to review

[2020-10-09 23:58] GauHelldragon opened #18678 "[0.9.0.4] Upsidedown reflection on specific Asphalt Road Ramp"
![image](https://user-images.githubusercontent.com/2829037/95640179-61d5e000-0a50-11eb-9878-ce8173a978f7.png)

The double line corner piece of an asphalt ramp has the reflection upside down.

[2020-10-10 00:00] j3fffff opened #18679 "ssh tunnel require for auth and accounts terminal"

[2020-10-10 00:01] #18679 closed

[2020-10-10 00:28] johnkslg opened #18680 "World object's lacking DisplayName"
Court Object, and many others, dont have a display name:
![image](https://user-images.githubusercontent.com/3536496/95640947-3b19a880-0a54-11eb-89ea-a57629e82be4.png)

It used to use the camel case name if the 'friendly name' is not defined in the tech tree (which it isnt for any world objects), but this was changed back in May by Alex in PR https://github.com/StrangeLoopGames/Eco/pull/6055:
![ima

[2020-10-10 00:29] johnkslg commented on #18621
Fixed, now it will preserve objects in an active or draft election when you pick up a civic object.

[2020-10-10 00:59] j3fffff commented on #15629
Troubleshooting:
1 Setup elastic on build server with filebeat on kubernetes - works
2 setup elastic stack with ssl - failed
3 setup elastic stack with ssl using docker-composer - works
4 get filebeat to talk with elastic on ssl - needs cert
5 Pass CA to filebeat via kubernetes - not best practice
6 Give elastic a signed cert with traefic
7 For port access, change jenkins reverse proxy with no dow

[2020-10-10 01:33] j3fffff opened #18681 "Game purchase being applied twice on prod"
Check db with:
[code]

[2020-10-10 05:34] ThePiachu opened #18682 "[0.9.0.4 br-94] World Merging causes crash on loading world"
Got that error while trying to load one of my test worlds:

[Test.zip](https://github.com/StrangeLoopGames/EcoIssues/files/5358494/Test.zip)

[log_201009102647.log](https://github.com/StrangeLoopGames/EcoIssues/files/5358493/log_201009102647.log)

Might have something to do with the world having been created in an older version of ECO and so on.

[2020-10-10 05:49] ThePiachu commented on #18619
Somewhat related - Carts are also a bit off if you want to keep the m3 consistent.

First of all, all truck types can carry twice as much volume of dirt-like materials than rock-like materials per inventory slot. So you can have 10 sand but only 20 sandstone. You usually run into the weight limit of carrying rocks before you run out of inventory anyway, so it wouldn't be too bad to bump the stack

[2020-10-10 06:38] WeaselDog commented on #18304
Glad to hear this is fixed for you. Thanks for providing the save.

[2020-10-10 06:38] #18304 closed

[2020-10-10 06:40] #3423 closed

[2020-10-10 06:48] WeaselDog commented on #15394
Hi @ThePiachu. Are you still having this issue in 9.0.4?

[2020-10-10 06:51] WeaselDog commented on #8841
@IcedForge Can you check if this is still an issue?

[2020-10-10 06:53] WeaselDog commented on #12421
@SlayksWood Can you confirm this is still an issue?

[2020-10-10 06:55] WeaselDog commented on #10905
@SlayksWood Can you confirm this is still an issue?

[2020-10-10 07:08] Astrija opened #18683 "[0.9.0.4] mismatch of stars of specializations"
The number of possible specializations does not correspond to the number of stars
![изображение](https://user-images.githubusercontent.com/13696708/95648334-fa1aa600-0ade-11eb-95f9-2e8c147909f3.png)

[2020-10-10 07:30] ThePiachu commented on #18594
Also also worth looking into - Resource Multiplier and Oil stuff. At the moment those don't appear to be affected by it. Might be worthwhile to make things both take less oil barrels to make and produce less empty barrels to keep the ratio proper.

[2020-10-10 07:32] Pavion commented on #18419
Hi @SlayksWood
With the latest update this is still not working and I can't see a solution here. Is there a reason for this issue to be closed?
BR Pav

[2020-10-10 09:13] IcedForge commented on #8841
Not entirely sure what would be the issue?

Laws cannot check if an object of any type is contained in a cell, only apply effect though an action /interaction from a player.

F.ex you cant tax based on how many bison mounts a player owns but you could based on how many he has plased down in total.

Same for conditions, you cannot explicit request how many objects has been placed down in x district

[2020-10-10 09:14] ThePiachu commented on #15394
Tested and the game did not crash.

[2020-10-10 09:23] ILYA4372 opened #18684 "USER ISSUE: qwe"
**Version:** 0.8.3.2 beta

**Steps to Reproduce:**
1 q

**Expected behavior:**
cool

**Actual behavior:**
Было получено следующее сообщение об ошибке:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
Было получено следующее сообщение об ошибке:
[code]

[2020-10-10 11:26] Astrija opened #18685 "[0.9.0.4] mowing problem salal"
Salal is not a food, but the plant needs to grow. Why?
https://youtu.be/atTRtfsP6AI

[2020-10-10 15:02] jzvandenoever opened #18686 "[0.9.0.4]Plant moisture seems to be based on rainfall only and not soil moisture"
I first encountered this when trying to create a rice field. I tried making a place with higher moisture to suit the rice because the total soil moisture is one thing I can manipulate. However, once I started planting there I was told the moisture for the rice was too low. Despite the total soil moisture being higher. I created some space with even higher moisture levels to compensate but the mois

[2020-10-10 15:27] RTHauke opened #18687 "[0.9.0.4]: Some Oak trees and all Forest biomes disappeared after update"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
Just updated server (on Linux)
[eco-server-logs.tar.gz](https://github.com/StrangeLoopGames/EcoIssues/files/5359249/eco-server-logs.tar.gz)

to 0.9.0.4 via Steam from v. 0.9.0.3.

**Expected behavior:**
Biome should not have disappeared.

**Actual behavior:**
There are not any forest biomes anywhere in the world after the update.  The

[2020-10-10 16:07] Praefator commented on #10905
Haven't seen this issue pop up at all recently, fairly sure it has been resolved at some point

[2020-10-10 16:37] hitzu111 opened #18688 "USER ISSUE: Persistent motor tool sound"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
Scroll fast through tools with one of them being ~~a chainsaw or~~ a modern rock drill. The sound of the motor appears and remains being played on that place and doesn't disappear even after a relog. Other players do not hear it. Server restart fixes the problem.

**Expected behavior:**
The sound should disappear.

**Actual behavior:*

[2020-10-10 17:13] hitzu111 opened #18689 "Add law triggers associated with vehicles"
- "Enter vehicle" trigger. It could be useful for things like a road team could ignore authorization and move away lost carts and trucks.

- "Use vehicle per distance" and "Use vehicle per tick" triggers. They could be useful for taxing truck usage or tolling.

[2020-10-10 18:48] #3133 closed

[2020-10-10 19:08] WeaselDog commented on #12838
@SlayksWood Can you confirm this is still an issue?

[2020-10-10 20:09] WeaselDog commented on #9823
Hi. This issue should be fixed in the latest update. Please let us know if you still have issues.

[2020-10-10 20:09] #9823 closed

[2020-10-10 22:55] ThePiachu commented on #14766
Adding to this - with Global Illumination the lights don't add much brightness to the game. Without Global Illumination, they help a bit, but not as much as I would expect something like a Street Lamp or Steel Ceiling Light in a closed room to add. I want to be able to put in 2-3 of those in my factory and for it to be as bright as daylight, rather than just machines getting some shine to them

![

[2020-10-11 04:16] ThePiachu commented on #18619
So the stockpile inconsistency stems from `public class StockpileStackRestriction : InventoryRestriction`. In the `MaxAccepted` function for non-Block items returns `item.MaxStackSize` but should (in my opinion) return `item.MaxStackSize  * this.maxStackHeight`. This would auto-balance these blocks.

For vehicles, it's because `CreateBlockStackSizeMaps()` uses default block stack sizes for everyth

[2020-10-11 05:21] pestinhk opened #18690 "USER ISSUE: farm yield potential"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
seem the last update mess up the farm yield potential and also my skill point

**Expected behavior:**
at first I think it's the fertilizers problem so I take the fertilizers skill,but then I check the plant potential map, now lots of plant showing dark on the map

**Actual behavior:**
so that's a bug and now I wasted one skill point a

[2020-10-11 09:57] hitzu111 commented on #16750
Furniture could just count the free space in its direct surrounding volume with the radius depending on its size or its purpose. For example, a chair just counts its surrounding volume 1m around it and would require 1m above + 1m in front/behind it = 2m in a total of 26 possible. Thus placing a row of chairs is possible, but making a wall of chairs is not. A buffalo should scan 2m radius and shoul

[2020-10-11 11:29] IcedForge commented on #18672
Duplicate #12378 - Also fixed for 9.1

[2020-10-11 11:29] #18672 closed

[2020-10-11 11:31] IcedForge commented on #18678
Possibly related to #16418

[2020-10-11 11:35] IcedForge commented on #18690
Thank you for reporting. Previous patches bypassed nutrient requirements and now that it is fixed, old worlds do not have nutrient layers which is what is causing your poor farm yields you need to apply fertilizers ( which will also fix the potential map as it is tied to nutrients as well since  0 nutrient = no plant will be yielding more amounts in this area ) alternatively you can get the server

[2020-10-11 11:35] #18690 closed

[2020-10-11 11:38] IcedForge commented on #18687
Thank you for your report.
Could you try to reset the nutrient layers as lack of nutrients might cause some odd side effects now that it has been fixed.

Commands for manipulating layers
"/sim setlayer Potassium, 0.6, 0.9"
"/sim setlayer Nitrogen, 0.6, 0.9"
"/sim setlayer Phosphorus, 0.6, 0.9"

Also feel free to upload the world file as well for further investigation.

[2020-10-11 11:47] IcedForge commented on #18684
Outdated and the most frequently used cracked version of late.
Make sure you connect using a account that owns a copy of the game and try using the latest version.

[2020-10-11 11:47] #18684 closed

[2020-10-11 11:51] IcedForge commented on #18682
Yes, this seems to be a merger conversion issue.

[22:27:16.221] [20] [Error] [Eco] Failed to load server, Exception was Exception: InvalidCastException
Message:Unable to cast object of type 'Eco.Gameplay.Items.LimitedInventory' to type 'Eco.Gameplay.Items.BuilderInventory'.
Source:Eco.Core

[22:27:16.254] [1] [Error] [Eco] Unhandled errorSystem.Reflection.TargetInvocationException: Exception has

[2020-10-11 11:57] IcedForge commented on #18689
I like this, Would make renting out heavy machinery equipment possible by tying it into the actual vehicle system ui as well simular to how cost per min works for work benches?

[2020-10-11 13:21] hitzu111 opened #18691 "Heavy late game woodcutting vehicle"
A chainsaw is good and handy in the late game and saves players some time, but it doesn't save them from all the routine like cutting a log into pieces, removing the wood pulp, and chopping stomps. Although there is no huge need for wood in the late game (which itself is just a balance thing and may be changed later), in some cases a large area should be cleared for new development and a lot of ma

[2020-10-11 14:52] RTHauke commented on #18687
I will try the nutrient adjustment and let you know the results.  Here is a link to the current save file: https://drive.google.com/file/d/1hfkEwnKY7Rnb1ZNpv6fs_Du43xjpSUcT/view?usp=sharing

[2020-10-11 16:40] redwyre opened #18692 "Text rendering issue in diagnostic pages"
![image](https://user-images.githubusercontent.com/431728/95684288-ffd5d000-0c33-11eb-8127-0e4fc0a53451.png)

In renderdoc I can see some tiny variation in the depth buffer at the same locations
![image](https://user-images.githubusercontent.com/431728/95684313-17ad5400-0c34-11eb-9791-dbaa189bf4bf.png)

Looks like this is related:
https://forum.unity.com/threads/textmeshpro-bug-i-have-5-holes-in-t

[2020-10-11 17:06] fillion07 opened #18693 "[0.9.0.4][Server Issue] Players get disconnected after 10 minutes when they connect via the directory of servers"
Version 0.9.0.4
Server Issue

Players get disconnected after 10 minutes when they connect via the directory of servers. This behavior doesn't happen when they connect to the server via direct IP.

[2020-10-11 18:14] Aeridhredhir opened #18694 "USER ISSUE: Game Freeze"
\
**Version:** 0.9.0.4 beta release-94

Hello, I started Eco a few weeks again but sadly i am unable to enjoy my time in it.
I am unsure why but my game freezes every 2-15 minutes and the following happens:
1. the game freezes
2. a small Unity Crash helper window pops up with some kind of loading bar in it but no Error text/number or any clue what happened
3. Both, the unity crash helper and the e

[2020-10-11 18:45] olegshegai commented on #18634
Hi @NN-Mike
Nice catch and really good solution (implemented it, will be in some of the upcoming updates if it passes a review), thanks a lot!

[2020-10-11 21:17] Narviath opened #18695 "USER ISSUE: broken Pickaxe sound"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
I heard a different sound for tools when they are break.
But there isn't for pickaxe

**Expected behavior:**
different sound for broken pickaxe like other tools

**Actual behavior:**
same sound for pickaxe and broken pickaxe

[2020-10-11 21:57] MishkaFur opened #18696 "9.0.4 After upgrading account items do not appear on server you have already joined"
From the player Vikittania on discord/Redwood server.

They upgraded themselves to Wolf Whisperer tier but did not receive the items ingame as they had already joined the server, server should if possible do a check of "if account level change then issue X items" as the dev/wolf whisperer tier items are not spawnable by admins.

[2020-10-11 22:00] Bazzi89 opened #18697 "Temperature Issues"
On our world the temperature in each biom raised ~2°C, there is no way to farm several plants... seems like an bug, is there a workaround via config?

4km² World, Industry is in Desert and a lil bit in other biomes...

at day one, all seems okay

[2020-10-11 22:45] Thibault-Brocheton opened #18698 "[0.9.0.4] ModKit - Sprite not rendered in chat for Tags"
Hello Guys !
The 0.9.0.4 fixes the <sprite ... bug for modded icons in text.
However, there's still a bug for TAG icons.

See screenshot here:
https://images-ext-2.discordapp.net/external/p3-Xp1msTLduEaBq1l_hX35CjL0OpxmUBJgLQmbU_8U/https/steamuserimages-a.akamaihd.net/ugc/1667979695693184182/00950F60530BB999715D22F03B5EFC139B756590/?width=1204&height=677

To reproduce, here's my mod link:
https://

[2020-10-12 01:15] LucanderP opened #18699 "USER ISSUE: Chat filter"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
1. Press C
2. Click on the filter
3. Resize the window

**Expected behavior:**
It should filter out every thing that i filter out.

**Actual behavior:**
It shows everything

**Do you have mods installed? Does the issue happen when no mods are installed?:**

**Please provide log files. Instruction is here https://github.com/StrangeLoop

[2020-10-12 02:09] ThePiachu commented on #18697
Probably the temperature was raised because of industry air pollution. Did you recently get started with the Oil processing? That usually is the big CO2 producer. Check your CO2 levels. The temperatures should return to normal once the CO2 levels go down. If not, this might be a bug.

[2020-10-12 02:45] #6120 closed

[2020-10-12 02:50] #3059 closed

[2020-10-12 02:54] WeaselDog commented on #4578
We have templates now for steam updates. For the rest of it, closed as duplicate of above issue.

[2020-10-12 02:54] #4578 closed

[2020-10-12 02:56] WeaselDog commented on #5680
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/6113

[2020-10-12 02:56] #5680 closed

[2020-10-12 03:01] #7618 closed

[2020-10-12 03:13] #9408 closed

[2020-10-12 03:16] WeaselDog commented on #7969
Closing as the issue is old and there has been many changes to the UI since then

[2020-10-12 03:16] #7969 closed

[2020-10-12 03:17] WeaselDog commented on #8068
Please investigate if this is still an issue

[2020-10-12 03:25] #6654 closed

[2020-10-12 03:26] #7221 closed

[2020-10-12 03:26] #7528 closed

[2020-10-12 03:27] #9642 closed

[2020-10-12 03:40] WeaselDog opened #18700 "[9.0.4] Remove adding ingredients from chat filter."
Having a notification when an ingredient is added adds a ton of unnecessary notification. This should be removed as starting crafting projects is enough. Adding ingredients to a work party has its own notification.

[2020-10-12 04:09] RobertMangano commented on #8683
![image.png](https://images.zenhubusercontent.com/5ee82262cf91f12b03cc5ad8/159f0615-61e3-4cef-a40a-3cf204264cbe)

after updating svn bear supreme already has new icon assigned? not sure why it is not appearing?

[2020-10-12 04:10] #16941 closed

[2020-10-12 04:41] #8683 closed

[2020-10-12 04:46] WeaselDog commented on #10905
Thanks!

[2020-10-12 04:46] #10905 closed

[2020-10-12 05:07] olegshegai commented on #18640
@beastyn
Probably divided to zero somewhere and infinite time appeared.
Handy stuff:
![image](https://user-images.githubusercontent.com/56091594/95707333-e9466d80-0c61-11eb-85f1-d5a27d31aafd.png)

[2020-10-12 05:19] SlayksWood commented on #18419
@Pavion Hi, Closing the issue doesn't mean that it was released. For you it will be fixed with next update.

[2020-10-12 05:22] Pavion commented on #18419
Thank you, I'm looking forward to it. This game is truly amazing!

[2020-10-12 05:44] SlayksWood commented on #18697
@Bazzi89 Follow @ThePiachu advice. Ground pollution appears near your craft stations, temperatures rise across the planet. So seems that's intended behavior, but I want to check it full. So provide information from status bar of any craft station with pollution (e.g. Blast Furnace or Oil refinery):
![image](https://user-images.githubusercontent.com/45708377/95709342-219c7a80-0c67-11eb-86f8-cf7e9aa

[2020-10-12 05:52] SlayksWood commented on #18695
@Narviath Thank you for the report. What pickaxe do you use? I have broken sound for all pickaxes. Can't reproduce. Can you provide video or something else?

[2020-10-12 06:03] SlayksWood commented on #18670
Step to reproduce:
- place stockpile with Sandstone and empty wood cart:
![image](https://user-images.githubusercontent.com/45708377/95710519-8d7fe280-0c69-11eb-89bf-ff872521fdf8.png)
- open stockpile:
![image](https://user-images.githubusercontent.com/45708377/95710556-9d97c200-0c69-11eb-9d51-1895aae4aae6.png)
- drag sandstone to wood cart with Shift:
![image](https://user-images.githubuserconten

[2020-10-12 06:11] SlayksWood commented on #18674
I suppose that the Movable map is rendered off-screen? But we have a logic: if the map go away screen, then its edge should still be visible. Can't reproduce in develop-81.
@gzatravkin Can you take a look?

[2020-10-12 06:15] Deantwo commented on #8841
This was a question and confusion about how and when an action is counted as being in a district or on a claim. It has nothing to do with counting.

The question is/was about how action stats are saved in the database, and rather the "in district" and "on property" check is done when the action stat is recorded or when the action stats are queried.

If I place a bison mount on my property, then pl

[2020-10-12 06:34] SlayksWood commented on #18683
@Astrija Thank you for the report.
As far as I know. Full stars show you how much specialties you take in current profession. But empty star shows that you can take another specialty in this profession. For example Mason Specialty:
You have Mining learned - your have 1 empty star.
You take Mining - you have 1 full star.
You  learn masonry - you have 1 full star and 1 empty(it shows that you can ta

[2020-10-12 06:44] SlayksWood commented on #18685
All plants in eco have maturity. To get Plant fiber the plant must mature.
![image](https://user-images.githubusercontent.com/45708377/95713582-717f3f80-0c6f-11eb-9c7f-5f3ce95f0184.png)

[2020-10-12 06:44] #18685 closed

[2020-10-12 07:02] Mark-3503 opened #18701 "USER ISSUE: After Biom Die, nothing more"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
after the well-known bug biome die, there is no recovery.
the 2 jungle and the 2 desert biomes do not recover, only trees grow, no mushrooms, ferns or other plants come back

**Expected behavior:**
Plants spore grows

**Actual behavior:**
nothing the Bioms are dead,

**Do you have mods installed? Does the issue happen when no mods are

[2020-10-12 07:02] SlayksWood commented on #18688
I reproduced it, but I have glitch always with modern rock drill. Chainsaw sound never remains. My toolbar:
![image](https://user-images.githubusercontent.com/45708377/95715117-fb300c80-0c71-11eb-891c-78067f7f03dc.png)

[2020-10-12 07:08] serpopov commented on #18683
@SlayksWood is right, it it supposed to be like that

[2020-10-12 07:09] #18683 closed

[2020-10-12 07:09] #18413 closed

[2020-10-12 07:10] SlayksWood commented on #18448
@JanThomas118 should be fixed in next update(9.0.5). Reopen please if you still have any problem

[2020-10-12 07:10] #18448 closed

[2020-10-12 07:24] hitzu111 commented on #18688
I confirm, it is only a rock drill and never a chainsaw. I was confused because they were close together. Sorry for misleading.

[2020-10-12 07:25] SlayksWood commented on #18701
@Mark-3503 Thank you for the report
What do you mean by 'biome die'? please, provide someadditional information (maybe some screenshots), you can also provide save file, Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Uploading-a-world-save

[2020-10-12 07:37] IcedForge commented on #14726
I do like this idea, and there was a lot of appreciation as it added some layering into farming skill in general and also opens up for more frequent use of machinery (plowing) maybe tie it into on harvest revert block? Still wouldnt fix OP's point of planting stuff without the tilled ground look but it would resolve the concern on the non need of ever plowing again?

[2020-10-12 07:48] IcedForge commented on #17203
still getting this trying to open the previous election page after i set a law with the popup alert code.

0.9.1.0 beta develop-81
![Screenshot_97.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/87a0be55-d118-4d80-aa0d-42e3ef39aca6)

The actual law page

![Screenshot_99.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/693cf00f-fdab-4b0d-bdd3-817ff620e8d7)

On p

[2020-10-12 07:56] SlayksWood commented on #18682
@ThePiachu Can you provide save file?

[2020-10-12 08:03] SlayksWood commented on #18693
@fillion07 Yhank you for the report. Can someone provide log file? or give please server name to test it.

[2020-10-12 08:08] IcedForge commented on #17527
It should fade with the sign i would assume?
Right now it is always there, as long as its in a loaded chunk the player will see the sign regardless of distance / graphic settings.
![Screenshot_100.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/4794e2c9-18cb-4828-acc3-533b494aa1ab)

vs the draw distance of the sign itself.
![Screenshot_101.jpg](https://images.zenhubusercontent.c

[2020-10-12 08:19] SlayksWood commented on #18694
@Aeridhredhir Thank your for the report.
1. Please provide your PC specification (include Operating System).
2. Did you update drivers to the latest version?

[2020-10-12 08:27] IcedForge commented on #18696
Could add a system for checking if a player has received the reward items or not by giving a bool flag on character creation
Character created, add bool check is devtier = false/true
If devtier = false allow to run /getreward

and this would spawn in the relative reward items to the player (while preventing abuse and not able to infinite spawn items), so he/she can retroactively get the items if t

[2020-10-12 08:39] mirasrael commented on #18682
Issue was related to Crane inventory migration.

[2020-10-12 08:45] #18536 closed

[2020-10-12 08:50] IcedForge opened #18702 "[0.9.1.0 beta develop-81]Civics: Allow to remove / withdraw objects from multi election drafts."
Noticed that we do not allow the ability to withdraw objects once they are added to a draft.
Is this something we should do as currently you can delete it and it will be <deleted> in the election
and work fine but what if you regret adding this district and want it in another election to not be a conflict of interest etc?

Should we have another UI popup to edit the contents of the multi elections

[2020-10-12 09:03] IcedForge opened #18703 "[0.9.1.0 beta develop-81]Civics: Constitution still referenced as (draft) in government tab after election"
Civic duties does not change constitutional references in its government tab as seen below.
![Screenshot_103.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/2704e1ca-7980-446d-ab36-ee349577a9cf)

Should be updated to refer to the active constitution and not called "draft" anymore.

[2020-10-12 09:13] SlayksWood commented on #18676
merged to #18340

[2020-10-12 09:13] #18676 closed

[2020-10-12 09:22] SlayksWood commented on #18699
@LucanderP Thank you for the report.
Can your a little clarify your problem? I don't exactly understand what you means. Maybe some screenshots.
Also provide log files. Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file
and PC specification (include operation system).

[2020-10-12 09:25] WeaselDog commented on #14673
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/17012

[2020-10-12 09:25] #14673 closed

[2020-10-12 09:35] #18130 closed

[2020-10-12 09:47] IcedForge commented on #18349
@pfmd86 No this is fixed for 9.1

[2020-10-12 09:49] #18638 closed

[2020-10-12 10:05] Ser-Geeves opened #18704 "9.0.4 Crop yields on all crops dropped to minimal value after update."
On the server I play, it's crop yields and yield potentials that seem to be affected similarly to issue #18687 . While it has not destroyed the entire populations of crops, all yield potentials are dropped to the minimum available unless fertilizer has been used. Even in areas where no players have been in the last 10 days.

Unlike issue #18687 our trees have not been affected (as of the writing o

[2020-10-12 10:08] IcedForge commented on #18703
After some more testing, this is potentially a weirder problem.
The draft constitution permissions override the constitution ratified one until the player turns into active demographic, new players see the constitution as expected but players already on experience this.

[2020-10-12 10:17] SlayksWood opened #18705 "Possibility to see another district map durin drawing"
#18538

[2020-10-12 10:17] #18538 closed

[2020-10-12 10:20] SlayksWood commented on #18501
seems we need to update SVN, ladder doesn't work now at all

[2020-10-12 10:21] #13575 closed

[2020-10-12 10:43] IcedForge opened #18706 "[0.9.1.0 beta develop-81]Civics: Exception on exiting district draft"
Getting an exception when i close down a district edit object via esc

[12:38:07.055] Exception in view notifySystem.NullReferenceException: Object reference not set to an instance of an object.
  at UI.ViewUIContainer.ListChanged () [0x00000] in <00000000000000000000000000000000>:0
  at Unity.Entities.LambdaSingleJobDescriptionConstructionMethods+WithCodeAction.Invoke () [0x00000] in <00000000000

[2020-10-12 10:52] IcedForge commented on #18704
@Ser-Geeves Thank you for reporting. This is an unfortunate side effect from the plant fix that were applied in 9.0.4 and the bandaid done in 9.0.3 caused nutrient world layer to poof.
You can ask an admin on the server to run these 3 commands
"/sim setlayer Potassium, 0.6, 0.9"
"/sim setlayer Nitrogen, 0.6, 0.9"
"/sim setlayer Phosphorus, 0.6, 0.9"
And it will fix up the nutrient layers again whi

[2020-10-12 10:52] #18704 closed

[2020-10-12 11:02] SlayksWood opened #18707 "[0.9.1 develop-81] Elevator call post lost some texture"
On active button:
![image](https://user-images.githubusercontent.com/45708377/95738728-5d006e80-0c92-11eb-941d-0dcaa9c2768e.png)

![image](https://user-images.githubusercontent.com/45708377/95738772-6f7aa800-0c92-11eb-93fa-242ff3870aa8.png)
![image](https://user-images.githubusercontent.com/45708377/95738779-730e2f00-0c92-11eb-81da-4dba3c573a9b.png)

[2020-10-12 11:15] #18627 closed

[2020-10-12 11:19] #17959 closed

[2020-10-12 11:23] #18663 closed

[2020-10-12 11:29] #18648 closed

[2020-10-12 11:37] mirasrael commented on #18211
After few days of downloading and crashing my system during dump opening I finally was able to investigate the dump file :)
And issue related to way how .NET works with Large Object Heap (LOH). Unlike GC heaps it never makes unforced compaction what causes high memory fragmentation (like 99%):
![image](https://user-images.githubusercontent.com/475445/95742112-2b8aa180-0c98-11eb-9edc-63e6d78e3b89.p

[2020-10-12 11:40] Mark-3503 commented on #18701
Sorry my english ist not Perfect.
From Patch 9.0.3. to 9.0.4 was plant Mass extinction in deserts and jungles .

Every plant, grass, mushroom in the jungle was away overnight, and same in the desert.
Only trees (and those similar to wood) have remained

[2020-10-12 11:46] #18533 closed

[2020-10-12 11:49] #18605 closed

[2020-10-12 11:51] #16875 closed

[2020-10-12 11:58] #18604 closed

[2020-10-12 12:03] SlayksWood opened #18708 "[0.9.1 develop-82] Use Page Down / Page up cause exception"
Step to reproduce:
- open any civics object and start to enter description:
![image](https://user-images.githubusercontent.com/45708377/95744434-f1bb9a00-0c9b-11eb-9a50-7be1dab258ff.png)
-  use Page Down / Page up:

[code]

[2020-10-12 12:21] SlayksWood opened #18709 "[0.9.1 develop-82] 2xOkBox when start election for elected title"
Step to reproduce:
- press start election:
![image](https://user-images.githubusercontent.com/45708377/95745777-5677f400-0c9e-11eb-8107-eee59c0cc33d.png)
- I have first OkBox:
![image](https://user-images.githubusercontent.com/45708377/95745798-60015c00-0c9e-11eb-938d-1a90e754ef19.png)
- press Ok, I have second OkBox:
![image](https://user-images.githubusercontent.com/45708377/95745828-6f80a500-0c

[2020-10-12 12:27] IcedForge opened #18710 "[0.9.1.0 beta develop-82]Render limit for ballot box is too short"
setting level of detail to <22% makes the ballot box only have 6 tiles of render range, which is not consistent with other placed objects.

[2020-10-12 12:48] #18030 closed

[2020-10-12 12:55] #18667 closed

[2020-10-12 13:18] johnpmayer commented on #18419
Do you still need verification of the fix on the release_preview channel? Or has somebody already validated the change on OSX?

I still have issues on `0.9.0.4 beta release-97` (currently, I experience the "Host creation call failed" crash even with the default config, where IPAddress is Any)

[2020-10-12 13:18] #18666 closed

[2020-10-12 13:18] denysaw commented on #16998
Fixed also on Prod.

[2020-10-12 13:19] #18668 closed

[2020-10-12 13:30] #18621 closed

[2020-10-12 13:40] denysaw commented on #17203
@IcedForge Aha, really. Current election was still not escaped (only menu section), thanx for pointing out 👍  Done. You could re-test after PR above will be merged ;)

[2020-10-12 13:50] D3nnis3n commented on #18711
Can you reproduce this issue with a supported map size of maximum 4 km², e.g. 200x200. The map seems to be way bigger than we support. I cannot see this issue with any supported map size, so it'd be useful to know if it only happens on unsupported sizes, in which it might be a wontfix or a low priority fix.

[2020-10-12 14:02] MishkaFur opened #18715 "Additional Ban functionality"
Would be handy when banning a player to have the below extra functionality

Name of player who did the ban
Duration
Reason

This would allow say a temp Ban of 60 minutes with a reason that'd show up when the player tries to join and show who did the ban on the player

This system could also then be used to have a reason for why player names such as ". .. ... and blue red yellow the" etc are unable

[2020-10-12 14:03] D3nnis3n commented on #18715
Backlog issue, implement when you get time. Do the same expansion for the /mute command and the /kick command (without duration there, obviously).

[2020-10-12 14:55] TheKye opened #18716 "Mod Files Bigger then 30MB won't download,"
If the Mod asset files are bigger then 30MegaBytes they don't seem to download, even on local servers, is this intentional?

This only happens if a single file is bigger then 30mb not a total overall ( i have 150mb worth of asset files in my servers and they download fine)

I can supply files for testing if needed

What I think happens:
It takes to long for it to collect information on the size th

[2020-10-12 15:10] IcedForge commented on #17203
I assume all of the pages are now included?, Previous elections, current elections etc?

[2020-10-12 15:15] IcedForge commented on #12898
I liked this "feature" XD Made digging along claims very easy :D.
Now we got the property overlay we can use ingame though so thats possible to use instead.

[2020-10-12 15:35] Sheetso opened #18717 "My own server doesnt recognize me anymore and wants me to create a new char!"
Since the last 9.0.4 update, my dedicated server is recognizing me as a 2nd new player. I dont know what I should do. tried to restart the server 10 times, restarted my pc, the game and everything and it always wants me to create a new char with the username "sheetso2" while my original was "sheetso". In mainmenu on the right bottom site it says i´m logged in as "sheetso"which would be the right o

[2020-10-12 15:55] denysaw commented on #17203
@IcedForge Yeah.

[2020-10-12 16:22] IcedForge commented on #18573
Is it possible to combine this change with something like this?
https://github.com/StrangeLoopGames/EcoSuggestions/issues/1261
Or count transfers made and desc list so you have the recent bank accounts used in transfer list to be at the top?

[2020-10-12 16:32] denysaw commented on #18387
@j3fffff Deal? :)

[2020-10-12 17:05] owenowen101 opened #18718 "USER ISSUE: Law bug - Custom stat record count for 'items moved' not working correctly?"
![ba8cd1985953c1439bdb4610b42a1ecf](https://user-images.githubusercontent.com/4236816/95772885-5afbd700-0cb5-11eb-93b4-5377fa817d5e.jpg)
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
1. Draft law
2. Trigger = 'on inventory action' (any item(s) will do)
3. If = 'take'
4. Then = 'record custom stat', person = 'citizen', count = 'items moved'.

**Expected behavior:**
Count added to

[2020-10-12 17:17] Astrija opened #18719 "[0.9.0.4] [linux] [amd] artifacts in shadows"
such artifacts appear in the shadows
![изображение](https://user-images.githubusercontent.com/13696708/95773761-c2bb1d80-0cc7-11eb-82ba-81541605cf17.png)

OS: linux
Video: AMD RX 5600 XT

[2020-10-12 17:40] denysaw commented on #16255
You could re-test it after PR above merged.

[2020-10-12 18:14] denysaw commented on #18482
Could be re-tested after merging the above PR.

[2020-10-12 18:23] olegshegai commented on #18493
Seems to be fixed within new election system introduced by @johnkslg
@tuha263 try to reproduce, inspect related prefabs and see where the values are taken from
Some tips:
- `/civics spawngov false` will allow current user start elections (instead of insta-perform actions);
- you can disable auth and login with different names to vote;
- you can adjust settings of basic elections using server UI (t

[2020-10-12 18:55] fillion07 commented on #18693
The server name is **TOKÉBEK ICITTE!!**

Where can I find my client logs?

Will you need the server logs, if yes can I provide it to you privately?

[2020-10-12 19:06] RED7201 opened #18720 "ECO CANT BUILD ANYTHING"
https://www.youtube.com/watch?v=0E2BsUBRL44&ab_channel=REDSTEEL

[2020-10-12 20:27] WeaselDog commented on #17898
Still an issue in 9.0.4

[2020-10-12 20:29] #17898 closed

[2020-10-12 20:33] WeaselDog opened #18721 "[9.0.4-release] IndexOutOfRange exceptions with animal pathing"
We are receiving massive amounts of crashes related to IndexOutOfRange exceptions. It is similar to https://github.com/StrangeLoopGames/EcoIssues/issues/17898, but not a NullException.

Crash log:

[code]

[2020-10-12 21:13] Virkiato opened #18722 "USER ISSUE: No Meteor at all"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
Meteor is not visible in the sky since day 2. We finally had lasers and it is 6 days of plenty game without seeing meteor at all. It disapeared.

**Expected behavior:**
Meteore should have run around the world and tell us how many days are up before it collapses

**Actual behavior:**
There is no meteor at all since day 2. Our lasers d

[2020-10-12 21:52] Narviath commented on #18695
It was a stone pickaxe.
When I play today I didn't reproduce the bug so I will close this issue.
Sorry

[2020-10-12 21:52] #18695 closed

[2020-10-12 22:34] johnkslg commented on #18643
This is happening because they arent being tagged as nine-slice somehow, or the  meta data of the image (which is stored in the corresponding .meta file) is getting lost, not checked in perhaps.

[2020-10-12 22:35] johnkslg commented on #18493
Actually Tu if you want to make this better, you can have a portion of the bar stay black to represent uncast votes, and the rest is divided between yes and no.

[2020-10-13 00:34] j3fffff commented on #18410
this is for the /worlds page. This check box will be available for each world, next to the Advanced Options > Clear Save

[2020-10-13 01:30] j3fffff opened #18723 "eco tree styling max view"
Update css content styling for side bar, after its maximized.

[2020-10-13 01:46] j3fffff opened #18724 "update url bar with each eco tree click"
When a user clicks on a section of the eco tree, uprate the browser's url bar with the url for that section.

For example:
https://play.eco/updates/professions/tailor/09-14-2020
when user clicks on 'professions', the url becomes https://play.eco/updates/professions/
Then if they click 'tailor', the url becomes https://play.eco/updates/professions/tailor/

[2020-10-13 01:47] j3fffff opened #18725 "Disqus comments height not supporting long comments."
see Community > Web discussion for example

[2020-10-13 02:07] j3fffff commented on #18187
I can't get the Disqus Community page  (that is showing simons pic) to update with a new post.
I've tried posting various comments in separate disqus comments.
@SlayksWood can you see if you can get an update to show on the Community page: https://disqus.com/home/forum/strangeloopgames/

Should be able to just post on the eco tree, and it shows up. Maybe it requires a facebook login on disqus or s

[2020-10-13 02:07] j3fffff commented on #18387
deal :)

[2020-10-13 02:39] WeaselDog commented on #17665
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/16980

[2020-10-13 02:39] #17665 closed

[2020-10-13 03:31] WeaselDog commented on #17438
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/14290

[2020-10-13 03:31] #17438 closed

[2020-10-13 05:25] redwyre opened #18726 "Bugreports: sanitise exception messages"
Sanitise exception messages to remove potential user info and allow them to be matched properly.

Currently any exception message with a file path has the potential of creating a new report, because where people install the server varies greatly.

Some people also install it in their user folder.

[2020-10-13 05:27] redwyre opened #18727 "Bugreports: Update report page"
Update report page to list the data associated with the report, and a list of exceptions.

[2020-10-13 05:28] redwyre opened #18728 "Bugreports: Update exception list"
- [ ] Verify all fields are shown in the list
- [ ] Add pagination
- [ ] Add sorting
- [ ] Add filters

[2020-10-13 05:44] IcedForge commented on #18720
@RED7201 Thank you for reporting. In your server settings do you have crafting timer and crafting multiplier at 0 values?
You can find this Difficulty.eco file in Eco\Eco_Data\Server\Configs, you can open it with notepad and check, or check via the server gui by writing /servergui if you are playing on a single player world.

[2020-10-13 05:44] serpopov commented on #18296
For this issue refactroing was performed. Things to test:

- Trigger selection on laws restricts to the correct tagged stuff, check tool related triggers, etc.
- Ecopedia 'show discovered' continues to work properly, as well as item filter 'show discovered'
- Migration from previous created Mint, Contracts (Build Roads, Harvest etc), Item Distribution Station and their pickers.
- See if only allow

[2020-10-13 05:59] #16493 closed

[2020-10-13 06:33] #18682 closed

[2020-10-13 06:43] SlayksWood commented on #18721
#18113 Stanislav try to fix it and maybe fixed it, but we can't check without massive playtest or without release.

[2020-10-13 07:12] SlayksWood commented on #18720
Here:
![image](https://user-images.githubusercontent.com/45708377/95827326-4282cf80-0d3c-11eb-861b-3dd3be9ad498.png)
or here:
![image](https://user-images.githubusercontent.com/45708377/95827445-6e05ba00-0d3c-11eb-92c7-a21a18fd1d8f.png)
merged to #18640
Reopen please if you still have any problem.

[2020-10-13 07:12] #18720 closed

[2020-10-13 07:14] DemonDog47 opened #18729 "Reflections On appears to give all objects/terrain a white sheen"
Comparison shot at 3 different times of day provided of reflections on and off. Effect most prominent at night, particularly on modded objects. Also shown is that certain metallic surfaces turn completely black at certain times if reflections are off. (Try it with road barrier forms for a particularly egregious example)

![20201013014321_1](https://user-images.githubusercontent.com/72786287/958270

[2020-10-13 07:18] #18263 closed

[2020-10-13 07:51] IcedForge opened #18730 "[0.9.0.5 - release 100]Durability display should wrap inside its cell"
Durability bar keeps going past its cell if you use /inventory durability to increase it past its natural limit.
![Screenshot_121](https://user-images.githubusercontent.com/24981362/95831598-86c0a080-0d39-11eb-89b1-81ceab5bac20.jpg)

[2020-10-13 07:57] SlayksWood commented on #18713
The problem is definitely there, I heard from people. I can't reproduce it in any way (and I think I can't make it). Usually happens with servers that are online for a long time without rebooting (about 2 days) and with a lot of online. But I couldn't get the logs(

[2020-10-13 08:19] MishkaFur opened #18731 "9.0.4 Skid steer able to interact with stockpiles under itself even through 5+blocks"
I have stone road above stockpiles (touching the top of them) and it seems that the skid steer can interact with them?

It is as if the interact ability is passing through the 1 block of stone road, not sure if this is intentional or not

![image](https://user-images.githubusercontent.com/61889138/95834652-23cd0a80-0d35-11eb-9ea3-8e2c692d8720.png)

[2020-10-13 08:35] #18428 closed

[2020-10-13 08:46] #18028 closed

[2020-10-13 08:52] #18634 closed

[2020-10-13 09:07] mirasrael commented on #15545
@Elliander sorry for very long no response for this issue. I investigated the issue and actually can fix the save, but guess it isn't actual anymore.
There two potential root causes of the issue:
- You logged into a paused world first time (with WorldTime == 0), so your user was marked with login time == 0 which is same as not logged user, so it thought you logged first time;
- You had a server cr

[2020-10-13 09:25] mirasrael commented on #15545
I fixed first case (it will now start with negative login time and so even if world time is zero it will still correctly be counted as logged in) and also now reward items will go to Void Storage preventing login issues due to out of space inventory (it was also a bit disadvantaging to players with reward to start with lower free space in inventory).

[2020-10-13 09:53] MeirionHughes commented on #17419
I guess this is the reason piping water into a field doesn't raise its moisture? tried direct to soil, a basic hole (1 water block) and 1 water block surrounded by aquaduct - non of them raised the moisture level.

[2020-10-13 09:55] IcedForge commented on #18714
@TrasHC Thank you for reporting.

yes there seems to be some inconsistencies in how its calculating the value of the objects
1. Sink (highest value item )
2. Bathtub ( 2nd highest value ) / 50%
3. Small Sink ( lowest value ) is stating 49%? Should be 35%? since there is already 2 objects so it is the 3rd in line and with its 70% value reduction ?

Furniture diminishing returns has always been a bi

[2020-10-13 09:58] SlayksWood commented on #18610
Still an issue. Text overlapping is fixed
![image](https://user-images.githubusercontent.com/45708377/95846090-afee2a80-0d53-11eb-8438-98d7e04a5679.png)

[2020-10-13 10:00] MrAnonymous110 commented on #18610
Ah, I'm waiting to merge this part into develop branch :D

[2020-10-13 10:01] IcedForge commented on #18718
Thank you for reporting.
It was using another method incorrectly but is fixed for 9.1

[2020-10-13 10:01] #18718 closed

[2020-10-13 10:05] MonzUn commented on #17419
None of those methods have ever worked for raising moisture I think.
Running water in an aqueduct is the only think I think should work (Not sure even that affects it though).

[2020-10-13 10:14] MrAnonymous110 commented on #18610
Merged

[2020-10-13 10:38] #18607 closed

[2020-10-13 10:40] #18608 closed

[2020-10-13 10:53] SlayksWood opened #18732 "[0.9.1 develop-83] NRE when select 'Revision'"
Step to reproduce:
- create any elected title:
![image](https://user-images.githubusercontent.com/45708377/95851557-0dd24080-0d5b-11eb-9e9f-25963d9f22df.png)
- revise it:
![image](https://user-images.githubusercontent.com/45708377/95851593-1cb8f300-0d5b-11eb-8d33-dfa3eb354ef1.png)
- start to change elected title name and select revision:
![image](https://user-images.githubusercontent.com/45708377/

[2020-10-13 10:57] mirasrael commented on #18680
It used this post processor to set FriendlyName to all objects which doesn't have it: `\Server\TechTreeTemplates\_EnsureFriendlyNamePostProcessing.cs`. So all generated objects should always have DisplayName.

[2020-10-13 10:57] mirasrael commented on #18680
Actually I have it:
![image](https://user-images.githubusercontent.com/475445/95852210-0e1f0b80-0d5c-11eb-98b4-60d251266412.png)

[2020-10-13 11:04] mirasrael commented on #18717
@Sheetso Do you have the backup before new user was created?

[2020-10-13 11:08] #18677 closed

[2020-10-13 11:14] IcedForge commented on #12906
Giving attention to this as well since they both are in the same spectrum of functionality https://github.com/StrangeLoopGames/EcoIssues/issues/18715

[2020-10-13 11:21] #18438 closed

[2020-10-13 11:22] SlayksWood commented on #18258
Will close after second iteration

[2020-10-13 11:23] Sheetso commented on #18717
Sure! I had 19 Backups. I tried the last 6 but they all lead me to create a new player.

[2020-10-13 11:26] mirasrael commented on #18717
I checked the save and it says you have different Steam ID for Sheetso and Sheetso#2 users. This ID should never change though.
I checked both urls:
https://steamcommunity.com/profiles/76561197974077341/ - for new ID
and
https://steamcommunity.com/profiles/76561198668141828/ - for old ID, it says unable to load account data (which may happen when family sharing is active).

So it seems something r

[2020-10-13 11:32] Sheetso commented on #18717
Hmmm.... This is rly strange since i have no family sharing activ and also haven't changed anything in steam. played it with two friends the last couple of days without any problems. Then the update 9.0.4 was coming and since then its forcing me to create a new character. I really dont know and can't imagine whats going on.

[2020-10-13 11:34] mirasrael commented on #18717
I guess I can fix the save file (remove new user and change ID for old user), but if we won't know the reason we can't fix this issue and guarantee it won't appear again.

[2020-10-13 11:35] mirasrael commented on #18717
So if you have any ideas what may be related it will be very helpful.

[2020-10-13 11:37] Sheetso commented on #18717
Thanks. Would appreciate your help by changing the ID but I really can't figure out what happend or what could cause this. Hopefully it won't appear again. If it will, I will take notes what has changed and will come back to you!

[2020-10-13 11:39] #17032 closed

[2020-10-13 11:41] #18700 closed

[2020-10-13 11:42] #18053 closed

[2020-10-13 11:57] SlayksWood opened #18733 "[0.9.1 develop-83] Arrow should turn when collapse/expand"
![image](https://user-images.githubusercontent.com/45708377/95857468-53473b80-0d64-11eb-99ea-667a75535f6e.png)
![image](https://user-images.githubusercontent.com/45708377/95857485-580bef80-0d64-11eb-9983-9252a4f5ee39.png)

[2020-10-13 12:00] #18211 closed

[2020-10-13 12:10] SlayksWood commented on #17203
I still have problem with election name, maybe it was broken with new system?)
![image](https://user-images.githubusercontent.com/45708377/95858485-da48e380-0d65-11eb-9c79-72aeb0973721.png)

[2020-10-13 12:12] MeirionHughes commented on #17537
possible to make it functional too? so that is raises the temperature?

[2020-10-13 12:19] mirasrael commented on #18717
@Sheetso can you contact me in Discord mirasrael#5137 ?

[2020-10-13 12:37] gzatravkin opened #18734 "Investigate if there are any forever subscriptions"
This PR fixes some cases of subscription problem
https://github.com/StrangeLoopGames/Eco/pull/6938 (https://github.com/StrangeLoopGames/EcoIssues/issues/18090)
But it don't fixes the case when some object was never active and then deleted itself, not his active parent. Also we don't know how many deleted objects with subscription we have (some of them may don't throw any exception if server won't

[2020-10-13 12:38] #18482 closed

[2020-10-13 12:50] Sheetso commented on #18717
Everything works fine now. Thank you really much for your help!

[2020-10-13 12:50] #18717 closed

[2020-10-13 13:14] tuha263 commented on #18643
Thank @johnkslg, I just updated the metafile. Please update SVN and recheck it.

[2020-10-13 13:15] DarkLiKally opened #18735 "USER ISSUE: Plants in the Rainforest died out"
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
1. We played about 10 Days now
2. Since a few days all plants in the rainforest except the trees and the bushed with red flowers are remaining
3. Our eco system is not affected that much, we have no pollution at all, only a level 1 pollution of the ground because of tailings until we move them underground. But that area is faaaaar aw

[2020-10-13 13:24] D3nnis3n opened #18736 "Implement "White Hat" and "Bug" Icon"
- [x] @MilenkoTunjic We need you to provide the images for Jeff.
- [x] @j3fffff We need you to do the implementation on the web side.
- [x] @D3nnis3n Pass emails or username of users and their icon to @j3fffff
- [x] @j3fffff Add icon to user's db.
- [x] @gzatravkin I guess we need you to implement it in the game, not sure?

Please feel free to reassign people as you see fit.

[2020-10-13 13:43] gzatravkin commented on #18388
Added https://github.com/StrangeLoopGames/Eco/pull/6967 to serverInfo as IsPaused (bool)

[2020-10-13 13:48] gzatravkin opened #18737 "Add support for ramps to be multiplaced"
Now when you editing asphalt ramps, you have to put them 1 by 1, making changes of ramp type.

It should be changed, so when you selecting multyblocks with same direction as ramp, it should change ramps to next type and increase height if necesarry. It will simplificate editing.
Illustration:

![image](https://user-images.githubusercontent.com/53317567/95869215-862c0800-0d41-11eb-9393-9b44b60d157a

[2020-10-13 14:12] gzatravkin commented on #18674
CNR at develop or release.
There are MinimapModeBehavior line 169 which prevents such behavior
minimapUI.ClampToScreen();

@johnkslg do you remember which branch was you at moment of issue?

[2020-10-13 14:56] Springy150 opened #18738 "USER ISSUE: farm always overcrowded"
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
farm corn/sun flower spaced out 3x3 still overcrowded

**Expected behavior:**
lose overcrowded

**Actual behavior:**
overcrowded

**Do you have mods installed? Does the issue happen when no mods are installed?:**
no mods

**Please provide log files. Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Ec

[2020-10-13 14:58] denysaw commented on #18187
@j3fffff Man, this is issue is completely fixed. I remembered, that I have Disqus credentials and removed Simon myself ;)

[2020-10-13 15:02] denysaw commented on #17203
@SlayksWood Wha? =)) Not funny. You can't have name with `<script` in it as it's counted as an XSS attack. <script tags are being removed there and will be in some other places. It's norma. So on the snap everything is correct, cuzz after removing <script tags only `Act` should've been left, which we see on a left snapshot. Returning labels back

[2020-10-13 18:00] Sekor2600 opened #18739 "Occupancy Missing"
Occupancy is be missing for the following Objects
LargeStandingMortaredStoneSign
LargeHangingMortaredStoneSign
LargeStandingMortaredLimestone
LargeHangingMortaredLimestoneSign

![grafik](https://user-images.githubusercontent.com/37456949/95898049-c2398a00-0d8e-11eb-9756-b16339923b79.png)

[2020-10-13 19:34] DylanToscano opened #18740 "USER ISSUE: Crafting queue looks like a template."
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
-Place a Capitol.
-Have the owner start a project.
-Have the owner authorize someone else.
-Have that someone start a project.
-Leave.
-???
-Come back to check the crafting
-Ta-da!

**Expected behavior:**
Displayed the crafting queue properly.

**Actual behavior:**
It shows some sort of template.
Project says "none none none none non

[2020-10-13 19:35] DylanToscano commented on #18740
![image](https://user-images.githubusercontent.com/49658747/95907509-0702f800-0d72-11eb-9a97-f98890ab40ee.png)

[2020-10-13 19:35] DylanToscano commented on #18740
[Player.log](https://github.com/StrangeLoopGames/EcoIssues/files/5373703/Player.log)
[Player-prev.log](https://github.com/StrangeLoopGames/EcoIssues/files/5373704/Player-prev.log)

[2020-10-13 19:58] j3fffff opened #18741 "Compare Maps button should fade in and keep previous graph"
Currently if user selects a map to view, then clicks Compare Maps button it opens new page, with 2 maps empty of data.

Update so user can select map, then click Compare Maps,
It will fade in a new, empty map next to their original map.

[2020-10-13 20:06] johnkslg commented on #14042
This is passed to Unity and waiting on bug fix from them.

[2020-10-13 20:10] StallEF opened #18742 "[client] [9.0-9.0.5] server search filter by Lang bug"
Client on EN server search filter have checkbox on Lang  by default, but  on all other  Lang it checkbox off by default

![en](https://user-images.githubusercontent.com/26339332/95910723-2a956500-0da9-11eb-95c1-d7df8086147e.png)
![de](https://user-images.githubusercontent.com/26339332/95910721-29fcce80-0da9-11eb-8059-cfc4bed556ad.png)
![ru](https://user-images.githubusercontent.com/26339332/959107

[2020-10-13 20:13] Astrija opened #18743 "[0.9.0.5] [server] [linux] [console] Error after shutdown"
After update 0.9.0.4 to 0.9.0.5
After send signal shutdown server
[11:04:20] Сохранение... Завершено за 7 775,8мс
[11:04:46] System.AggregateException: One or more errors occurred. (Cannot access a closed file.)
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at System.Threading.Tasks.Task.Wait()
   at Eco.Core.Plugins.StorageManager.Shutdo

[2020-10-13 20:34] johnkslg opened #18744 "Make Ecopedia page for control shortcuts"
IE (from Conchita) (needs edit pass)

When adding Calories to work order Left Click adds default 100 calories
When adding Calories to work order CTRL+Left Click adds 500 Calories
When adding Calories to work order ALT+Left Click adds ALL possible Calories
Hide/show UI for snapshots use ALT+Z
Hide/show UI for snapshots use SHIFT+ALT+Z or CTRL+ALT+Z (handy if you have NVIDIA GeForce experience using

[2020-10-13 21:10] mirasrael commented on #18742
It is intended behavior, because much more English servers than other servers and user may end up with only few servers or no servers available with language filter.

[2020-10-13 21:11] JanThomas118 commented on #18414
Same issue here. Fedora 32 with an AMD RX480 (amdgpu driver)

[2020-10-13 21:25] denysaw commented on #18410
Could be tested on Staging. As for this issue it's done only to users (w/o admin interface changes).

[2020-10-13 21:31] j3fffff opened #18745 "add worlds and citizen menu links drop down under the cloud worlds (sales page) menu link"

[2020-10-13 21:46] j3fffff opened #18746 "In cw dashboard, world map image is getting cert error"
cw world map image is getting a cert error.
The map image is only http, and cw dashboard on our website is https.
So i think there is error trying to call insecure asset in https.
gives error: worlds:353 GET https://eco-testing-server.eco.hw.sfo2.do-slg.com/Layers/WorldPreview.gif net::ERR_CERT_AUTHORITY_INVALID

But we need that insecure image..

this is in chrome. ff is supposed to be working

[2020-10-13 22:17] #4451 closed

[2020-10-13 22:17] IcedForge opened #18747 "[0.9.0.5 beta release-100] Incorrect mouse over selection on user list in claim auth"
Only a very narrow field i can select a user in the drop down field list ![Screenshot_142.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/3865d29f-2f37-4440-9476-5d6f64167af3)

[2020-10-13 22:20] j3fffff commented on #17068
added to develop.

[2020-10-13 22:20] #17068 closed

[2020-10-13 22:31] j3fffff opened #18748 "Make eco tree dev submission more obvious"
too easy to submit daily update as a blog post in eco tree backend.

[2020-10-13 22:58] johnkslg opened #18749 "When fading in, dialogs should lerp 'up', and when fading out lerp 'down'"

[2020-10-13 23:14] johnkslg opened #18750 "Closing world object UI with escape leaves cursor enabled AND returns camera control"
![animx22.gif](https://images.zenhubusercontent.com/5ecc5c35b608cc220cfb5b6d/d0f1b176-403e-4ec4-b1e7-f39b9e46e90b)

We've had quite a few recurring problem cases with escape + cursor behavior.  In addition to fixing this bug, can you test dialogs in the game to make sure everything works properly?  Cursor should go away after closing the last blocking dialog if there are no other big dialogs on sc

[2020-10-13 23:25] johnkslg opened #18751 "Drop down notifications polish"
![animx22](https://user-images.githubusercontent.com/3536496/95926409-16357600-0d71-11eb-983f-5831f45e79de.gif)
- [x] Transitions are awkward for pulling/raising this bar:
- When you pull it down, it does a little jerk at the start.  It should be doing the lerp out_back, so that it overpulls and then clicks into place (think opening a pull-down window shade)
- When you pull it up, it should do in_

[2020-10-13 23:57] j3fffff commented on #18588
![image.png](https://images.zenhubusercontent.com/5ee7b64c2edca519271c634b/9023fe6b-5b35-4841-8a82-0dfab68d2e6d)

[2020-10-13 23:57] #18588 closed

[2020-10-14 00:08] Conchipedia commented on #18744
for info where i mention **NOTE: when turning back on UI Skills window will annoyingly open (has been mentioned in a github, low priority)**
this is the Github
https://github.com/StrangeLoopGames/EcoIssues/issues/4485

[2020-10-14 00:11] Conchipedia commented on #4485
can we just have skills Windows only open with Z key?
and not recognize the Combinations for open closing and opening GUI  which are:
ALT Z
SHIFT ALT Z
CTRL ALT Z

[2020-10-14 00:16] Conchipedia commented on #18744
also related to this is this github
https://github.com/StrangeLoopGames/EcoIssues/issues/14479

[2020-10-14 00:43] Conchipedia opened #18752 "Killing a Tarantula with an Arrow rewards nothing, would be nice to have a carcass maybe cook it , stuff it or mount it"
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
Find a Tarantula Shoot it with an Arrow Find the Carcass to Harvest it

**Expected behavior:**
Have a Trantula Carcass

**Actual behavior:**
can Shoot Tarantula with Arrow
Get Told to collect Carcase
Receive Nothing

![snap7422](https://user-images.githubusercontent.com/29383891/95929874-fb88ee80-0dbc-11eb-8ea6-f6e99fa2adfe.png)

![s

[2020-10-14 01:18] Conchipedia opened #18753 "Stop signs will Stack while Street Signs will not"
**Version:** 0.9.0.5 beta release-100

i made 10 street sign and 10 stop signs, the street signs refuse to stack while the stops signs will
![snap7428](https://user-images.githubusercontent.com/29383891/95932353-8e2c8c00-0dc3-11eb-98d7-3d00fd14956d.png)

[2020-10-14 01:31] ThePiachu commented on #15032
The UI doesn't seem to display the XP gain to be bigger. Whether you hit the animal normally or headshot, you still get a popup saying +1:
![image](https://user-images.githubusercontent.com/964559/95932744-89df7f00-0d81-11eb-886e-337f4b174aca.png)

Tested it a little, got the same amount of XP from a turtle body shot and a jaguar headshot. Something doesn't appear to be working from what I can see

[2020-10-14 04:07] StallEF commented on #18742
I understand that it may turn out that there are no active servers in the client's language and so that the game does not seem dead, they see everything, but on EN 80% of all servers and EN the client sees only 80%, for example, RU client shows 100% of the forced player search among 100% of the same 5% RU servers, since 90% of players do not know about the existence of a filter in the game.

**Sug

[2020-10-14 04:41] Quadbro commented on #17795
Fixed in 9.1 in svn (before staging transfer,, in develop), tested.

[2020-10-14 04:41] #17795 closed

[2020-10-14 04:54] RobertMangano commented on #17297
Hewn log door texture and mesh done,

Hardwood, Softwood and generic mix of the two
![hewn log doors.jpg](https://images.zenhubusercontent.com/5ee82262cf91f12b03cc5ad8/2507d0a5-9116-43e5-937b-d110ed3e9136)

[2020-10-14 05:05] Quadbro commented on #14480
Checked, was fixed in https://github.com/StrangeLoopGames/Eco/pull/6806

[2020-10-14 05:05] #14480 closed

[2020-10-14 05:10] RTHauke commented on #18687
The nutrient adjustment seems to have stopped the tree and plant die-off.  Am I correct assuming that the forest biome will never return?  I'm not sure of what impact loosing it will have on the play-through.

[2020-10-14 05:34] SlayksWood commented on #18753
This happens because Street sign has text component and it should save it for each sign. So you can't stack them.
@olegshegai Nothing can be changed for signs without text?

[2020-10-14 05:42] SlayksWood commented on #17847
Still an issue for black, but black is generally a very problematic color for property and there is a separate issue for it #9168.
Closed for now.

[2020-10-14 05:42] #17847 closed

[2020-10-14 05:45] olegshegai commented on #18753
Yeah, good idea, but it's currently possible with some unwanted workarounds.
We may add some rule that will allow stacking objects with no persistent data if they got a specific tag or attribute, but that require some time. I suggest to make it not-high-priority feature.

[2020-10-14 05:46] landenbirch commented on #18452
1. This is a link to a log I found. [eco fail.txt](https://github.com/StrangeLoopGames/EcoIssues/files/5375845/eco.fail.txt)

2. Screenshot of performance tab: it looked completely normal

3. I was trying to connect to my number one most recommended server as I used to do

4. My PC specs are: AMD Ryzen 7 2700x 8 core CPU / Radeon RX 590 Series GPU

[2020-10-14 06:00] JanThomas118 commented on #18416
Just wanted to confirm that this is happening on our machines too.
Both Fedora 32
One RX480 (amdgpu driver) and one 1060ti (nvidia proprietary)
Eco 9.0.5
Steam Linux Runtime Soldier

[2020-10-14 06:12] SlayksWood commented on #18463
Continue button isn't full clicable, only in red zone:
![image](https://user-images.githubusercontent.com/45708377/95950316-f2b80d00-0dfc-11eb-931b-899d0122a698.png)
Other buttons you can click in green zone, maybe we should limit it with buttons? (yellow lines)

[2020-10-14 06:25] SlayksWood commented on #18511
fixed black screen but on second pick up and subsequent I have exceptions:
[code]
[Player.log](https://github.com/StrangeLoopGames/EcoIssues/files/5376043/Player.log)

[2020-10-14 06:56] WeaselDog commented on #13594
@mirasrael Please let me know what you think know that we are post 9.0.

[2020-10-14 06:59] SlayksWood opened #18754 "[0.9.1 develop-84] Hiding interface glitch by ESC if text input is active"
Step to reproduce:
- open any object window:
![image](https://user-images.githubusercontent.com/45708377/95954199-99071100-0e03-11eb-9b8c-6ef722145aa3.png)
- start to rename it:
![image](https://user-images.githubusercontent.com/45708377/95954238-a58b6980-0e03-11eb-8acc-ebd804797ebe.png)
- press ESC. It should only stop to change text field, but it will also open ESC Menu:
![image](https://user-im

[2020-10-14 07:03] SlayksWood commented on #18750
@gzatravkin and I can't reproduce it. But I found another issue when try, at first I wanted to post here, but there are steps there, so I decided to open a new one #18754

[2020-10-14 07:29] WeaselDog opened #18755 "Give option to not sprint while using automove"
When using the autorun, it is usually used to travel long distances. For balance reasons, when you sprint you lose calories and end up moving very slow. As a result, long distance travel using the autorun button can take longer than if you just walked.

We just need to remove the part that sprints and the command works great.

[2020-10-14 07:32] SlayksWood opened #18756 "[0.9.1 develop-84] Window of object with Bed Component doesn't close by ESC"
I first encountered this with Wooden Straw Bed. I encountered this today with Wooden Fabric Bed. I decided to check on the last item that contains Bed Component - Campsite. And here is also a glitch. Of course I could be wrong, but I guess this is due to Bed Component.
Step to reproduce:
- open Campsite/Wooden Straw Bed/ Wooden Fabric Bed.
- press ESC, you can move camera with UI:
![image](https:/

[2020-10-14 07:37] beastyn commented on #18755
As I remember someone has asked me to make sprint by default and switch it off with Shift.
But if you say so, no problem )

[2020-10-14 07:44] SlayksWood commented on #18502
Still an issue after https://github.com/StrangeLoopGames/Eco/pull/6959

[2020-10-14 07:45] #18501 closed

[2020-10-14 07:51] SlayksWood commented on #18485
Maybe you should block the avatar rotation during this animation, like on ladders?

[2020-10-14 07:55] #18739 closed

[2020-10-14 07:56] #18610 closed

[2020-10-14 08:01] Astrija commented on #18719
I confirm that in version 0.9.0.5 the problem remains

[2020-10-14 08:27] mirasrael commented on #18755
It actually may be smart and auto-run if you are run and auto-walk if you're walk when press the key.

[2020-10-14 08:47] WeaselDog commented on #7237
This will be added in 9.1

[2020-10-14 08:47] #7237 closed

[2020-10-14 08:51] WeaselDog commented on #18308
We will add recipes for fertilizer, but in the meantime can we fix this as part of https://github.com/StrangeLoopGames/EcoIssues/issues/10119. If it is all compostable items, it should be 1 compost. If it has trash items, it should create 1 garbage.

[2020-10-14 09:05] WeaselDog commented on #18736
Let's make it into an Epic and split up the parts for each person.

[2020-10-14 09:40] D3nnis3n commented on #18736
Not sure thats really required, this is a minor task.

[2020-10-14 10:19] #18650 closed

[2020-10-14 10:26] NemoLArs opened #18757 "Patches in Rainforest Biome empty"
On my server i saw that there's some patches in the Rainforest biome that's completly empty except from trees. No flowers, no bushes no nothing. See pic..

![ecorainforestempty1](https://user-images.githubusercontent.com/32419758/95976011-37e93880-0e17-11eb-939d-ee43b7fba350.png)

There is a couple of these patches. So far only found in rainforest.

Uploading my server folder if that helps.
Server

[2020-10-14 10:28] Chillbillyy opened #18758 "Food Recipe "Pineapple Fried Rice" appears as "Pineapple Friend Rice" in game"
https://cdn.discordapp.com/attachments/764313352222277642/765883487843778570/unknown.png

[2020-10-14 10:33] IcedForge commented on #17585
Back on 0.9.1.0 Staging-1804
Sorting in Ascending order works, but Descending will put blank values above.

[2020-10-14 10:39] SlayksWood commented on #18758
Easteregg:
![image](https://user-images.githubusercontent.com/45708377/95978279-9e278880-0e22-11eb-83c3-2695bfd99cfc.png)

[2020-10-14 10:39] #18758 closed

[2020-10-14 10:58] SlayksWood commented on #18744
and maybe the option to customize modifier+button?

[2020-10-14 11:12] mirasrael commented on #18742
I guess we can add an option and implement logic to put same language servers on top of suggestions list. What do you think @StallEF ?

[2020-10-14 11:23] IcedForge commented on #18757
The area affected is in limbo due to heat map + soil moisture + rainfall collides into this perfect storm situation where its too hot or too wet for either type of plants to survive in this border area.
Heat overlay on the area affected
![Screenshot_145](https://user-images.githubusercontent.com/24981362/95982158-104a9e00-0e20-11eb-82af-d8fd33d1f52e.jpg)
Probably need to take a look at possible ge

[2020-10-14 11:24] SlayksWood commented on #18722
@Virkiato Thank you for the report.
1. Did you see meteor at first day?
2. Can you provide save file? Instruction is here: https://github.com/StrangeLoopGames/EcoIssues/wiki/Uploading-a-world-save
3. Let admin will try to use command /meteor spawn

[2020-10-14 11:34] hitzu111 opened #18759 "USER ISSUE: Walls don't connect to full blocks"
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
Place a wall next to a floor made of full blocks.

**Expected behavior:**
Walls should connect to the floor and fill the gaps. This was an issue since forever and it became worse with the introduction of new materials such as composite lumber. For example, clad walls look so nice and pristine from the outside that it's just a shame t

[2020-10-14 11:41] IcedForge commented on #17585
![Screenshot_146](https://user-images.githubusercontent.com/24981362/95984005-d0d18100-0e22-11eb-8404-9da7d88fc2b5.jpg)
Sale / Buy price listing - Sorting works for Asc but NOT Desc (adds null values ontop instead of ignore at bottom)
Number Available/Number Wanted - Sorting works for Desc but NOT Asc (adds null values ontop instead of ignore at bottom)

[2020-10-14 11:57] hitzu111 commented on #18757
In our world, we have such a spot at the border of 4 tree species grow areas where neither of them can grow (redwood, fir, spruce, old growth redwood). In that place around the center bottom house before the last update, there were more trees, including an old growth redwood tree.

![Screenshot_144](https://user-images.githubusercontent.com/50346354/95985412-3cb8e700-0e2d-11eb-95bc-4b46fa70b38c.pn

[2020-10-14 11:57] SlayksWood commented on #18740
Exceptions from log
[code]

[2020-10-14 12:16] SlayksWood commented on #18740
@DylanToscano Thank you for the report. Can you provide some information?
1. Please provide your PC specification (include Operating System).
2. Did you meet this issue after updating to 0.9.0.5 or you had it before?
3. How often does this issue appear?
4. What language does server use?
5. What language do first player and second player use on their client?
6. Can you provide a more steps to repro

[2020-10-14 12:18] SlayksWood commented on #18759
merged to #4601

[2020-10-14 12:18] #18759 closed

[2020-10-14 12:19] SlayksWood commented on #18735
merged to #18757

[2020-10-14 12:19] #18735 closed

[2020-10-14 12:24] SlayksWood commented on #18738
@Springy150 Thank you for the reprort.
Can you provide save file? Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Uploading-a-world-save
And coordinates if problem in one place.

[2020-10-14 12:26] SlayksWood commented on #14655
@ZockerBoysHD haven't tried it?

[2020-10-14 12:28] SlayksWood commented on #18092
Closed for now. Reopen please if you still have this issue.

[2020-10-14 12:28] #18092 closed

[2020-10-14 12:34] IcedForge commented on #18729
Should be mentioned that any of these modded objects are not supported officially so they would need to update/fix this on their end. But the overall aspect needs to be reviewed.

[2020-10-14 12:36] #18160 closed

[2020-10-14 12:37] hitzu111 commented on #4601
@SlayksWood the problem is that in the situation mentioned in this thread the wall connection should be different. T-junction that suits here won't solve the problem #18759

[2020-10-14 12:45] SlayksWood commented on #18731
we have this problem:
![image](https://user-images.githubusercontent.com/45708377/95990348-0df23f00-0e34-11eb-8457-e521eab3dbb1.png)
But if youi change person view it will fixed.

[2020-10-14 13:11] IcedForge opened #18760 "[0.9.1.0 beta staging-1804]Icons in work parties"
Some icons can be very hard to see due to background coloring and the color of the icons themselves such as carcass in work party
![Screenshot_153.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/2277aaa4-4656-4c36-926c-faab2f450812)

[2020-10-14 13:12] Springy150 commented on #18738
@SlayksWood yes ill will pop in on my google drive and will send you a DM with link

[2020-10-14 13:36] IcedForge opened #18761 "[0.9.1.0 beta staging-1804]Civics: Capitol invalid article doesnt update text when functioning again."
Procedure to break stuff:
Add capitol
Add election process
Add government office

Draft a constitution ratification, create a draft title and election process draft
Set title as veto user in "Election process 2"
use this "Election process 2" in the constitution

Vote in the constitution and it will break and turn invalid because the Veto user is not actualized as it is only a draft and not active.

[2020-10-14 13:36] SlayksWood commented on #18760
and in tooltips too

[2020-10-14 13:50] denysaw commented on #18388
Done. Could be tested on Staging with new worlds (which go from develop branch).

[2020-10-14 13:54] NemoLArs commented on #18757
I did attach the whole server folder. And it's not the same issue. The plants don't die. They don't spawn in on these areas. And i think (atleast my tests) that all server and all worlds have this "issue" atm. So just start a world and look around in the "jungle".

[2020-10-14 14:42] redwyre commented on #18617
@keegan-o
That picture hurts my brain, the shadow mesh should only be generated from geometry that is along the face that would normally get removed. Can you provide more examples of blocks that cause it? Also if you could capture it in the scene view and turn on wireframe overlay that would help too.

[2020-10-14 14:43] redwyre commented on #13507
@beastyn is this still relevant? Don't you need hammer to place road now?

[2020-10-14 14:48] redwyre commented on #13384
@C00lzer0 from 9.0 the linux server is native linux, so this issue is no longer valid. If you have any problems please open a new issue.

[2020-10-14 14:48] #13384 closed

[2020-10-14 14:50] redwyre commented on #2354
Did this get fixed with the underwater building?

[2020-10-14 14:52] redwyre commented on #12459
This should have been fixed a while ago

[2020-10-14 15:05] johnpmayer commented on #18419
I'm still having issues launching EcoServer on mac. You'll see in the below logs I'm running [Eco Server 0.9.0.5 beta release-100]

https://gist.github.com/johnpmayer/a4ecd00817ccd63ca626b9b9167e0c6b

Fails on "Any" (shown in above logs), and also "0.0.0.0", and "127.0.0.1"

[2020-10-14 15:45] WeaselDog commented on #18736
Assignees from 3 different teams, not clear what is supposed to happen with code.

[2020-10-14 16:20] Sanquira opened #18762 "USER ISSUE: Pipes leaking"
![pipe_leak](https://user-images.githubusercontent.com/8235842/96016772-70096f00-0e49-11eb-9da8-6f68d088b03a.png)
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
1. Place the pump
2. Place 2 Blast Furnaces
3. Connect furnaces to pump
4. Power up the pump
If the effect does not occur, try add more machinery.

**Expected behavior:**
Water is not springling from the pipe and it shoul

[2020-10-14 17:49] IcedForge opened #18763 "[0.9.0.5 beta release-100]Tooltip overlay displays above work button when crafting window is too short"
When you mouse over Work button the tooltip for crafting an item can cover it and you cannot click on the button, this happens when a crafting cycle tooltip is too long and has a lot of ingredients and the Y displacement of the crafting UI is too short.
![Screenshot_158.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/0911a87f-e907-4213-b1c0-8783c204d8e6)

While this works fine a

[2020-10-14 18:07] denysaw commented on #18746
Done on dev/staging and hotfixed on Prod. Please, test.

[2020-10-14 18:19] gzatravkin commented on #18754
This issue happens due to changes in popups (in UIManager it was changed from UIInput to Input for escape).
Make sure that after fix of this issue you still will be able to close popups with text to enter by escape (not just cancel editing).

[2020-10-14 18:19] WeaselDog commented on #18755
Yes, please remove the sprint for now. We can discuss having a way to implementing sprinting, but for now the feature does not work how it should.

[2020-10-14 18:51] denysaw commented on #18319
![image](https://user-images.githubusercontent.com/5720101/96032509-10b65980-0e5f-11eb-925a-2a2c2c4601af.png)

@D3nnis3n Soon (on a next merge) gonna be on Production ;)

[2020-10-14 18:54] j3fffff commented on #18637
still seeing worlds with past due end_dates

[2020-10-14 19:06] johnkslg opened #18764 "Fix crops vs wood tag"
![image](https://user-images.githubusercontent.com/3536496/96033911-98777600-0e15-11eb-8a9a-6a8639276ad4.png)
Crops should be actual crops. If this is used for harvest contract, its meant to allow harvesting all types of crops.

[2020-10-14 19:15] j3fffff opened #18765 "teachers with self hosted world (not cw) missing world ip input on citizen page."
when user has self_hosted = 1 in user table && they dont own a cw,
then on citizen page, it should show input for 'server ip' which is their self-hosted world's ip.

currently not showing the input.

[2020-10-14 19:31] j3fffff opened #18766 "Vetting teachers"
there are a bunch of ppl registering teacher accounts. How do we want to vet them for being real teachers?
i imagine we need to be able to receive links, images or pds from them, that can prove their employment at a school?
then well need to store all those files and make ui for support to access them.

[2020-10-14 19:37] JanThomas118 opened #18767 "Game freezes at random on Linux"
OS: Fedora 32
GPU: Nvidia 1060ti (proprietary driver latest)
Steam Runtime Soldier

The Game hard freezes in regular intervals (arround 4 minutes) to the point that one has to kill it from some task manager (SIGKILL is neccesarry, normal closing wont do anything). It does not seem to be due to RAM usage as that looks normal.

Log: https://pastebin.com/gunBVTL3
Graphics Settings: [screenshot](https

[2020-10-14 19:52] #18390 closed

[2020-10-14 20:51] Alteraner commented on #16023
@IcedForge I'm sorry, i cannot confirm that the issue is been solved. If you look at below screenshot in the ammendment you can see, the (removed) title and it was not replaced by the new title version

![image](https://user-images.githubusercontent.com/47274045/96043752-bd003c00-0e6f-11eb-9341-66894240e944.png)

[2020-10-14 21:22] denysaw commented on #18637
Where? Show me the world, which has `renew` = 1, `free` = 0 and passed date?
![image](https://user-images.githubusercontent.com/5720101/96046636-166a6a00-0e74-11eb-85ed-a5ea30538167.png)

[2020-10-14 21:28] denysaw commented on #18637
Why is `renew = 0` for passed worlds is completely another issue, but ok, let's just ignore that in this one.

[2020-10-14 21:34] ThePiachu opened #18768 "Give access to more world generation options from the main game"
I've played around with the "game difficulty" server options around resource and time multipliers and I have to say - they are REALLY good way to make the game more accessible to more casual playthroughs. They make me want to recommend the game to more people, but I know explaining how to run the separate server executable and set everything up might be a way to lose people that would otherwise ha

[2020-10-14 22:06] denysaw commented on #18637
Removed `renew = 0` from conditions and cron worked great. Done on prod.

[2020-10-14 23:29] DemonDog47 commented on #18729
Yeah, I acknowledge modded stuff is sort of out of the purview of development, but it was the first place I noticed it at so I figured worth mentioning. I've seen the effect on it on several mods from different creators, so I'm not sure how to really fix it on the mod end. Here's another comparison screenshot at midnight highlighting the problem on terrain and the effect on metallic objects.
![202

[2020-10-15 00:17] D3nnis3n opened #18769 "Change "Support" to "Contact Us" on the website"

[2020-10-15 00:18] D3nnis3n opened #18770 "Make "Community discussion" being uncollapsed by default on eco tree pages"

[2020-10-15 00:19] D3nnis3n opened #18771 ""Business" option reported to be not working in contact form"
For QA: Please test if it works and the mail arrives _on production_, not staging.

[2020-10-15 00:33] #18637 closed

[2020-10-15 00:34] #18746 closed

[2020-10-15 03:27] WeaselDog opened #18772 "[0.9.0.4] Animals can recover from extinction."
When animal species count reaches zero, it is still possible for new animals to spawn. This really interferes with simulation and need for hunting protection laws.

Can we add a check if the actual population is zero that no more will respawn? Also, if there are none of that species in an area, ideally they will not respawn there either.

[2020-10-15 04:24] WeaselDog commented on #9320
Can we confirm this is still an issue? Asphalt ramps are different now.

[2020-10-15 04:28] ThePiachu opened #18773 "[0.9.0.4 br-100] Store hints sometimes don't update properly"
Today on Coast Redwood I noticed some of the tooltips / hints for the stores didn't update properly. For example, this one tells me one of the stores wants to buy some items while in reality it doesn't:

![image](https://user-images.githubusercontent.com/964559/96077054-a9e76f00-0e63-11eb-82c9-91edcdc38f63.png)

While this one doesn't say how many items I have in my inventory I can sell:

![image]

[2020-10-15 04:42] WeaselDog commented on #3067
There was big chat remake since this issue was opened and notifications are different. We have a Chat UI Overhaul epic we can put specific issues into.

[2020-10-15 04:42] #3067 closed

[2020-10-15 04:45] WeaselDog commented on #4159
Can we check resolution on 640x480 to see if this is still a problem?

[2020-10-15 04:49] WeaselDog commented on #12242
@tuha263 Can you see if this is fixed with recent meteor tutorial improvements?

[2020-10-15 04:59] WeaselDog commented on #13891
Let's make a decision what to do with this for 9.2 so we can close.

[2020-10-15 05:47] SlayksWood commented on #18743
save file: https://drive.google.com/file/d/1wuQBTDbl5jVCjNrS12HTmJOsQRmfuuwZ/view?usp=sharing

[2020-10-15 05:58] SlayksWood commented on #18762
@Sanquira Thank you for the report.
Pipe leaking was  only a visual bug. Apparently something has changed. Merged to #18762

[2020-10-15 06:00] SlayksWood commented on #11846
It became worst:
![image](https://user-images.githubusercontent.com/45708377/96082911-cc5da480-0ec4-11eb-8114-7fde0c0d68fd.png)
Now if there is pipe leaking, the craft station does not work

[2020-10-15 06:00] #18762 closed

[2020-10-15 06:09] SlayksWood commented on #4159
![image](https://user-images.githubusercontent.com/45708377/96083559-0da28400-0ec6-11eb-80f9-1607fa71df91.png)

[2020-10-15 06:11] SlayksWood commented on #4159
But this is not only resolution problem:
![image](https://user-images.githubusercontent.com/45708377/96083689-5eb27800-0ec6-11eb-8abe-9c067b73ec4f.png)
This is localization problem too.

[2020-10-15 06:14] ptitducanh commented on #18555
It should be fixed by #18499.
I'll move this issue to Review.

[2020-10-15 06:21] SlayksWood commented on #9320
No it was changed. Now material is just being written:
![image](https://user-images.githubusercontent.com/45708377/96084441-c0bfad00-0ec7-11eb-967e-b631eebbeaf1.png)
![image](https://user-images.githubusercontent.com/45708377/96084458-c917e800-0ec7-11eb-8aca-3eb0036c20d7.png)
![image](https://user-images.githubusercontent.com/45708377/96084473-d0d78c80-0ec7-11eb-8853-6eca886d5041.png)

[2020-10-15 06:21] #9320 closed

[2020-10-15 06:37] mirasrael commented on #18358
@ky0uraku @MishkaFur @Praefator can you make a process dump next time when you have spam of these messages and attach to the issue?

[2020-10-15 06:44] mirasrael commented on #18419
@johnpmayer what is your exact PC spec (including OS version)?

[2020-10-15 06:48] mirasrael commented on #18419
Also can you try to run this executable?

[publish.zip](https://github.com/StrangeLoopGames/EcoIssues/files/5382902/publish.zip)

Run with: `dotnet ENet-Test.dll`
And check (in another console window): `lsof -i UDP:10201 -P`

[2020-10-15 06:52] SlayksWood commented on #17564
Still an issue: https://drive.google.com/file/d/1saNtAlAoa9abkn5rTQngwqi0jXD0wRcF/view?usp=sharing

[2020-10-15 07:00] #15545 closed

[2020-10-15 08:10] #17727 closed

[2020-10-15 08:11] #17954 closed

[2020-10-15 08:29] redwyre commented on #13655
@exp131 Have you tried Eco 9.0?

[2020-10-15 08:31] #7865 closed

[2020-10-15 08:33] redwyre commented on #18692
I moved this to UI as the issue is just with TextMeshPro rendering

[2020-10-15 08:36] redwyre commented on #18671
Change to the server directory and run it from there

[2020-10-15 08:37] D3nnis3n commented on #13891
Either only the operator symbols or the symbols with description in brackets.
Only the description tends to be understood by the least people, as this is not globally the same and translation issues may make it even harder.

Probably symbols plus description is the most accessible way for everyone.

[2020-10-15 09:00] MishkaFur opened #18774 "9.0.5 item Buy/sell it at should be in value order"
The buy it at should show the cheapest first and sell it at should show the highest first, have found several users not realising there is other stores available which can save them money/offer more income.

![image](https://user-images.githubusercontent.com/61889138/96101218-2498a480-0ecd-11eb-847c-eda73f575bb2.png)

![image](https://user-images.githubusercontent.com/61889138/96101312-3b3efb80-0e

[2020-10-15 10:17] SlayksWood commented on #18623
Still an issue. Step to reproduce:
- create 3 laws (Law 24/Law 25/ Law 26):
![image](https://user-images.githubusercontent.com/45708377/96109784-b4e3e300-0ee7-11eb-9f6b-e2b866921944.png)
- start to revise law 26. start election. In moment when election is finished you will have 2 the same laws (maybe 2 sec), you need to have time to press Revise Law in Old Law 26:
![image](https://user-images.gith

[2020-10-15 10:25] Astrija commented on #18671
i know. This is not problem, but maybe resolv this?

[2020-10-15 10:30] mirasrael commented on #17465
I reproduced this locally when had local Server already started. It failed to start because of port conflicts. I guess this issue happens when another build in progress which runs integration tests.
I refactored the script to output the server log to console for troubleshooting and also supported net-less mode for generate default world and migration tests, so they won't overlap with other servers

[2020-10-15 10:34] #17718 closed

[2020-10-15 10:35] #12980 closed

[2020-10-15 10:40] #18312 closed

[2020-10-15 10:42] #18721 closed

[2020-10-15 10:57] IcedForge opened #18775 "[0.9.1.0 beta-staging-1805] Barter function displays 0 balace in Y economy view"
If you toggle barter in a store it displays a value of 0 in the economy viewer which personally at least i associate with that "This store cant buy my things as it has no money"

Maybe change the value into text in the same way that personal currency says "Infinity" but an alternative text "Barter"?

![Screenshot_167.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/011c0c07-1f33-

[2020-10-15 11:03] SlayksWood commented on #13924
Don't have it anymore.
![image](https://user-images.githubusercontent.com/45708377/96115084-1bb8ca80-0eef-11eb-8fbc-6ec0ef0aa895.png)

[2020-10-15 11:03] #13924 closed

[2020-10-15 11:08] Sekor2600 opened #18776 "Framed Glass Door Texture"
![grafik](https://user-images.githubusercontent.com/37456949/96115506-57e82d00-0ee7-11eb-9575-a451415cedfa.png)
Texture seems a "little" strange

[2020-10-15 11:08] #16557 closed

[2020-10-15 11:26] SlayksWood commented on #18187
This one i closed, open another issue with Simon xD

[2020-10-15 11:26] #18187 closed

[2020-10-15 11:34] SlayksWood opened #18777 "[Eco Tree] Set correct og:image of every community discussion Instead of Simon"
Step to reproduce:
- go to ECO Tree:
![image](https://user-images.githubusercontent.com/45708377/96117817-5886c080-0ef3-11eb-90f7-02c58775ffd1.png)
- press join The Discussion. I have a lot of Simon xD:
![image](https://user-images.githubusercontent.com/45708377/96117885-6dfbea80-0ef3-11eb-8556-9094b996a6a5.png)

[2020-10-15 11:40] #15393 closed

[2020-10-15 11:42] denysaw opened #18778 "CW Added by an admin is failed to be start by user"
Steps:
Admin adds new world to a user
User sees the world in `/worlds` and clicks `Start New World` button.
Problem:
That world will be never started.

[2020-10-15 11:56] SlayksWood commented on #18153
It got better, so closed for now.

[2020-10-15 11:56] #18153 closed

[2020-10-15 12:00] SlayksWood commented on #18775
And maybe write something else instead 'Store Credit'. Maybe Barter with another color?

[2020-10-15 12:01] SlayksWood commented on #18773
Can't reproduce in 0.9.1 staging-1805. But it was a lot of changes in store. So will investigate.

[2020-10-15 12:09] #18164 closed

[2020-10-15 12:11] #18392 closed

[2020-10-15 12:13] #18521 closed

[2020-10-15 12:17] SlayksWood commented on #18512
![image](https://user-images.githubusercontent.com/45708377/96121985-81aa4f80-0ef9-11eb-855e-fcd916adcfc7.png)

[2020-10-15 12:17] #18512 closed

[2020-10-15 12:21] #18565 closed

[2020-10-15 12:24] SlayksWood opened #18779 "[0.9.1 staging-1805] Lumber Door has wrong sound"
compare to Softwood/Hardwood Doors:
https://drive.google.com/file/d/1dAuZtjGbDR2jHxgd12X72dPJSf4D9DzR/view?usp=sharing

[2020-10-15 12:32] denysaw opened #18780 "Old waterless map shows after newly bought world is being started"
Old waterless map shows after newly bought world is being started (before page manual refresh).
![image](https://user-images.githubusercontent.com/5720101/96123467-21181400-0ef3-11eb-9177-2abcc18f32ba.png)

After refresh map is already good (with water).

[2020-10-15 12:32] denysaw commented on #18780
Done. Also hotfixed on Prod.

[2020-10-15 12:33] denysaw commented on #18778
Done. Also hotfixed on Prod.

[2020-10-15 12:54] SlayksWood commented on #18522
yea. it works now

[2020-10-15 12:54] #18522 closed

[2020-10-15 12:55] Aryathal commented on #18570
Um, I'm not sure, but #18403 is marked as fixed and closed. Was that fix already included in one of the updates? Because I'm still getting crashes.

[2020-10-15 13:02] IcedForge opened #18781 "[0.9.1 staging-1805] Tool breaking sound improvement"
Currently when you break a tool it sounds like you are squashing a tomato, not breaking a pick axe / hammer etc?
Maybe something more sharper and with a more distinct "crack" sound also making it slightly higher so its audible above surrounding noise?

[2020-10-15 13:02] SlayksWood commented on #18505
fixed: ![image](https://user-images.githubusercontent.com/45708377/96129702-a73a5780-0eff-11eb-84e3-c8cd9f805434.png)

[2020-10-15 13:02] #18505 closed

[2020-10-15 13:04] IcedForge commented on #18215
Have not been able to replicate it and have not seen it since the issue with the one wage setting on white tiger initially

[2020-10-15 13:04] #18535 closed

[2020-10-15 13:08] IcedForge opened #18782 "[0.9.0.5 - beta-release-100] Prev election page on website does not reposition logged user"
Slight issue with when you have a long list of previous elections it does not update the positioning of the logged in client and server window causing overlap in the list.
![Screenshot_1.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/f3910eeb-dc39-4dc7-8042-593039b61f53)

[2020-10-15 13:24] SlayksWood commented on #18622
Still an issue:
- make Vice-president in registrar. Make Article in Amendments with Vice-President and them delete it:
![image](https://user-images.githubusercontent.com/45708377/96132156-b66ed480-0f02-11eb-9b32-10e300c6a5ec.png)
- It should return previous article from Capitol, but it doesn't. Open Board of election I will see:
![image](https://user-images.githubusercontent.com/45708377/96132266-

[2020-10-15 14:18] denysaw commented on #18765
Done. Also hotfixed on Prod.

[2020-10-15 14:32] mirasrael commented on #18074
Probably fixed. Need to check.

[2020-10-15 15:29] Sanquira opened #18783 "USER ISSUE: Waste filter do not consume power"
\
**Version:** 0.9.0.5 beta release-100

**Expected behavior:**
Waste Filter is processing Sewage, producing Compost, but does not consume power.

**Actual behavior:**
Waste Filter consumes power when working.

**Do you have mods installed? Does the issue happen when no mods are installed?:**
no

[2020-10-15 18:11] Aeridhredhir commented on #18694
Operating System
	Windows 10 Home 64-bit
CPU
	Intel Xeon E3 1230 v3 @ 3.30GHz
	Haswell-WS 22nm Technology
RAM
	16,0GB Single-Channel DDR3 @ 799MHz (9-9-9-24)
Motherboard
	ASRock Z87 Extreme3 (CPUSocket)
Graphics
	BenQ EW2775ZH (1920x1080@60Hz)
	BenQ EW2775ZHý (1920x1080@59Hz)
	3072MB ATI AMD Radeon R9 200 Series (C.P. Technology)
Storage
	465GB Samsung SSD 840 EVO 500GB (SATA (SSD))
Optical Drive

[2020-10-15 18:58] Conchipedia commented on #18753
looks like ALL crafted signs won;t stack either as it saves the writing
is this really a necessity that we keep the writing saved?
they take up way too much space just sitting 16 to a chest or 25 to stockpile rather than stacking

[2020-10-15 19:29] ThePiachu commented on #18773
Oh whops, did a wrong crop on the first screenshot:

![image](https://user-images.githubusercontent.com/964559/96176882-d4780d00-0ee1-11eb-98be-650bc6d0e038.png)

But yeah, not sure what might be causing it, my best guess would be a lengthy game session and a laggy server?

[2020-10-15 20:01] #18765 closed

[2020-10-15 20:02] Sekor2600 commented on #18779
fixed in staging SVN

[2020-10-15 22:27] Sekor2600 opened #18784 "Marterial Icon for Flatsteel"
![grafik](https://user-images.githubusercontent.com/37456949/96192387-39654e80-0f46-11eb-8113-37f351ea34b6.png)
We need a new Icon for Flatsteel Marterial

[2020-10-15 23:31] Sarah-Graesyn commented on #15132
I had some thoughts on this issue after helping Mishka run a server on 9.0 both during the playtest and after full release.

first a question though: is the DB file all in one DB or is it split into separate DBs?

my thought: if it is not already separated into separate DBs take the file and separate it out so that you have a playerdata DB, a transactions DB, a plant DB, etc for anything that need

[2020-10-15 23:42] denysaw commented on #17617
Really ;) Done, could be tested on staging ;)

[2020-10-16 00:56] Sarah-Graesyn commented on #18712
I tend to agree with @D3nnis3n and @johnkslg on making it a chance for it triggering, perhaps even making it just a chance of triggering if you are within "x" distance of a players claim

[2020-10-16 03:22] Sarah-Graesyn opened #18785 "9.0.4 unable to load the voting page for elections"
**Steps to reproduce:** click on in game election notification, click on open in browser
**Expected behavior:** webpage to vote in election for new law proposal opens
**Actual behavior:** get screen saying that it took too long to respond and it can't load; it is worth noting that the same server was loading fine for me just about a week, maybe week and a half ago.
**Providing Log files:**

![2020

[2020-10-16 03:25] Sarah-Graesyn commented on #18785
so I get the same result in Microsoft Edge, Google Chrome, and Mozilla Firefox, just attempted to load the voting page on all three of them.

[2020-10-16 05:15] #12989 closed

[2020-10-16 05:15] Quadbro commented on #12989
It is not used in 9.x anymore

[2020-10-16 05:20] SlayksWood commented on #18783
merge #18583

[2020-10-16 05:20] #18783 closed

[2020-10-16 05:33] Quadbro commented on #18688
Rechecked issue, it was fixed it my latest tool sound update. So it's not reproducible anymore.

[2020-10-16 05:33] #18688 closed

[2020-10-16 05:43] SlayksWood commented on #18785
@Sarah-Graesyn Thank you for the report. please provide some information:
1. Which kind of internet connection are you using?
2. Please provide your PC specification (include Operating System).
3. Do you have Firewall or Antivirus enabled?
4. Do you have this problem only on this server? or you have it on any server?
5. Provide log files. Instruction is here https://github.com/StrangeLoopGames/Eco

[2020-10-16 05:46] Quadbro commented on #12854
Was already fixed

[2020-10-16 05:46] #12854 closed

[2020-10-16 06:17] mirasrael commented on #15132
@Sarah-Graesyn good suggestion, but it doesn't seems like a problem anymore. But if we face it again then we can use your solution :)

[2020-10-16 06:21] SlayksWood commented on #13940
![image](https://user-images.githubusercontent.com/45708377/96220230-04cab480-0f91-11eb-9bc7-797ae42e031e.png)

[2020-10-16 06:29] #18590 closed

[2020-10-16 06:32] beastyn commented on #18640
So, I am using minimum value check.
Need to test:
-WebServerUrl without http:// and https:// in config
-WebServerUrl without http:// and https:// in ServerUI
- Craft Resource Multiplayer = 0 in config
- Craft Resource Multiplayer = 0 in ServerUI
- Craft Resource Multiplayer = 0 with Host World custom setting
- Craft Time Multiplier = 0 in config
- Craft Time Multiplier = 0 in ServerUI
- Craft Time

[2020-10-16 06:38] IcedForge commented on #17308
Would need a way to restrict articles in a law slot? otherwise you could add a whole massive lot of law articles in the same slot making actually building any court into a "extra surplus" thing since a lot of servers only user core basic, pay/tax for construction & tree stump stuff can easily be added into it as well.

Using credits as a promise to allow exchange into actualized currency would be

[2020-10-16 06:39] #16182 closed

[2020-10-16 07:05] SlayksWood commented on #18771
I tried to send mail but have error (I hid the mail):
![image](https://user-images.githubusercontent.com/45708377/96223637-e798e480-0f96-11eb-8351-1267c7ed4e01.png)

[2020-10-16 07:54] #14132 closed

[2020-10-16 08:00] redwyre commented on #18417
Looks like the stencil/depth buffer aren't being cleared properly
![image](https://user-images.githubusercontent.com/431728/96228658-35364100-0fd9-11eb-89ce-57e38dcda55c.png)

When the chat window is rendering the text it first renders into the stencil buffer which seems to work correctly, but the text isn't clip properly outside of it.

[2020-10-16 08:01] mirasrael commented on #18182
Problem was with extension methods returned by ReflectionUtils.AllMembers (for non-instance members request).

[2020-10-16 08:01] redwyre commented on #18417
@serpopov This may be an issue with TMP or Unity GUI in general, do you have any thoughts?

[2020-10-16 08:10] SlayksWood commented on #17936
- [ ] 1. So now I have problems only with a server link:
![image](https://user-images.githubusercontent.com/45708377/96228098-c4bdfe80-0f9d-11eb-8828-a61886ea586a.png)
Since we currently support Linux and Mac server too. Should we add link to it too? like here:
![image](https://user-images.githubusercontent.com/45708377/96228329-1e262d80-0f9e-11eb-822b-12009bdd0b1e.png)

[2020-10-16 08:25] SlayksWood commented on #17935
Don't have this error now.

[2020-10-16 08:25] #17935 closed

[2020-10-16 08:32] mirasrael commented on #18214
I added logging in https://github.com/StrangeLoopGames/Eco/pull/6984 for this issue, so we will be able to identify where it happens, but it actually may happen to any non thread-safe enumerable

[2020-10-16 08:36] mirasrael commented on #18713
Seems like a duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/17727 which already fixed.

[2020-10-16 08:38] IcedForge opened #18786 "[0.9.1.0 beta-staging-1806]More mint UI issues"
As title, If you open mint ui, Write in a name into the Currency field and close ui ( not clicking create currency ) it will now have created currency without clicking the button.

- [ ] Only create currency on clicking the button.

- [ ] If Mint is unowned it should not be giving warnings Or disallow creating currency completely?

Currently if i place a mint on unowned ground, i can create curren

[2020-10-16 08:38] mirasrael commented on #9182
There already APIAuthToken and APIAdminAuthToken which should solve the issue.

[2020-10-16 08:38] SlayksWood commented on #18340
Still and issue: https://drive.google.com/file/d/19WMl5-Q2YfedGHEBrhCMc19KR1CGYT4P/view?usp=sharing

[2020-10-16 08:39] IcedForge commented on #18232
Found some more related issues here #18786

[2020-10-16 08:43] StallEF opened #18787 "[Eco Server 0.9.1.0 beta staging-1804] Failed to load server"
i am use SLG account for first enter in game but second from Steam and get Error

https://yadi.sk/d/ia352dPGlB5i3w
[log_201015062849.log](https://github.com/StrangeLoopGames/EcoIssues/files/5390105/log_201015062849.log)

[2020-10-16 08:50] Bazzi89 commented on #18358
We have the same issue on our server, restart helps for a while... then cpu-usage rises to 90+%, lagg, 60%, lagg, 99%, and back to 60-70%, same message in server console!

[2020-10-16 09:01] IcedForge opened #18788 "[0.9.1.0 beta-staging-1806]Currency Exchange"
Currency exchange does not hold value restrictions for limitations in how much currency to buy and when to stop.
![Screenshot_13.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/da260c9f-dee5-491b-97fb-59a4e7d9bf04)

Could probably push this to 9.2 as there is not a lot of people that use the exchange in general?
@WeaselDog

[2020-10-16 09:19] IcedForge opened #18789 "[0.9.1.0 beta-staging-1806] Crafting Fee / Taxation on queued not crafted."
Crafting fees and taxations are applied on work order created not item created,
if fee is 1$ per item
and you set a work order for 100 items
it will charge you 100$ immediately
now if you regret your decision, or maybe something happened and you want to cancel
you have paid all crafting fees already and cannot get that money back.

This should be changed into paying on actual item crafted not queu

[2020-10-16 09:30] SlayksWood opened #18790 "'Internal server error' when register account and use non-latin"
![image](https://user-images.githubusercontent.com/45708377/96241549-00ab9080-0fab-11eb-8812-614365451cfa.png)
Should say Use latin symbols

[2020-10-16 09:57] StallEF commented on #18742
yes thanks, this will be a good option until another concept of how search works in the game is suggested

[2020-10-16 10:26] IcedForge opened #18791 "[WIP] [0.9.1.0 beta-staging-1806] Crafting fee notification UX fix."
Notifications for paying crafting fees is odd since it displays split costs
![Screenshot_14.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/0f2e05ce-e893-45cc-96c3-31f9b4aa9d70)
It does not state that i paid full sum of 10€ anywhere.

Rundown on this is

Your trades notification : paid fee for "Project" from user for "4.9". you paid tax "5.1" (51%)
Transfer notification :  paid

[2020-10-16 10:26] IcedForge commented on #18791
Added myself on it as i want to expand this a bit and fill it out properly to make the notifications more reasonable to the general user.

[2020-10-16 11:07] mirasrael commented on #18787
Investigated issue. It related to server locale changes and way how personal account naming and lookup works.
Assume following steps:
1. Start server in English. Login as Stalef, "(Stalef Credit)" named currency created.
2. Stop the server and change locale to Russian.
3. During load it will try to create personal currency for User and will lookup it by personal account name (which is now "(валюта

[2020-10-16 11:13] mirasrael commented on #18742
@beastyn need to implement last suggestion. New option which will put same language servers on top of the list, which should be enabled by default.

[2020-10-16 11:29] SlayksWood commented on #18771
It doesn't work on staging too.

[2020-10-16 11:42] MishkaFur commented on #18785
This is on my server, that IP 95.217.35.61 is a Hetzner one which I do not use as my provider nor have ever used for my Eco Servers.

Port though is correct for my server unless one of the officials also uses 4001 for web UI, screenshot below of my network.eco's IP section

![image](https://user-images.githubusercontent.com/61889138/96254310-01452680-0fad-11eb-9907-b4762d2b69cb.png)

[2020-10-16 11:45] mirasrael commented on #18787
Fixed in 9.2

[2020-10-16 11:55] MishkaFur commented on #18358
I have not had this error again after moving to new hardware as discussed on discord, Praefator's server is vastly more powerful than even my new hardware.

Old hardware Opteron 6376 and 128GB ram Server 2019
New hardware Xeon 2690V1 but the game is running as a VM with 6 cores, 32GB ram and is Server 2016

@Bazzi89 what OS is your server? as it may be related to OS

[2020-10-16 12:37] redwyre commented on #18417
On dx11 the stencil is clean up rendering the text in the box:
![image](https://user-images.githubusercontent.com/431728/96230840-e7bad380-0fda-11eb-976f-b881ac3cb88b.png)

[2020-10-16 14:20] tuha263 commented on #17666
I already fixed it in: https://github.com/StrangeLoopGames/EcoIssues/issues/17666

[2020-10-16 15:37] tuha263 commented on #12242
@WeaselDog Yes, this is fixed in this PR https://github.com/StrangeLoopGames/Eco/pull/6893

[2020-10-16 16:53] #18784 closed

[2020-10-16 17:00] #12242 closed

[2020-10-16 18:06] johnkslg opened #18792 "Level up images too pixely"
![image](https://user-images.githubusercontent.com/3536496/96293480-aa852000-0f9f-11eb-83ff-caa3e2fcfcda.png)

Upscale them or shrink the notice.

[2020-10-16 18:43] MishkaFur opened #18793 "9.0.5 Store default uses credit even if the minted currency is set at treasury"
Store uses credit even if the minted currency is set at treasury

Crafted a new store, checked treasury which is sent to the minted currency, placed the store and it picked up my player credit by default.

World was generated on 9.0.0 if this is of any help seems to only be stored made/placed after 9.0.5 as this was not happening before.

[2020-10-16 18:52] #9182 closed

[2020-10-16 19:53] StallEF commented on #18785
you cannot connect via an external IP because your router cannot forward packets to itself, this is called a loop. If you play alone, then it is enough to change your IP to the one that your computer has on the local network

if you have public server it problem easily resolved via DNS (domen name) and add in you locanhoct file in Windows

[2020-10-16 21:26] johnkslg commented on #18623
Need to be mindful of priorities. This doesn't break any features, and is very hard to trigger, so it shouldnt be high priority.

[2020-10-16 22:20] #18334 closed

[2020-10-16 23:09] johnkslg opened #18794 "Bad font hanging around still"
![image](https://user-images.githubusercontent.com/3536496/96321328-e46b1c00-0fc9-11eb-942c-e3fd62ea83fb.png)
'Articles' text.

[2020-10-16 23:11] johnkslg opened #18795 "Highlight hangs around too long in faded background when popup happens"
![image](https://user-images.githubusercontent.com/3536496/96321408-25633080-0fca-11eb-993c-64a92aa3abff.png)
It should fade at the same rate as the blur fades.

[2020-10-16 23:14] johnkslg opened #18796 "Animal assert triggering constantly"
![image](https://user-images.githubusercontent.com/3536496/96321534-a02c4b80-0fca-11eb-853e-f3ccbb175c9c.png)

[2020-10-16 23:16] IcedForge opened #18797 "[0.9.0.5 beta-release-100] change /manage warnuser to use popup instead of notification"
Change out the notification on screen popup type into a Ok check box alert type to guarantee that the user has received the warning

[2020-10-17 00:16] MishkaFur commented on #18785
@StallEF this log is not that issue at all and your comment does not seem to make sense, Sarah is in a different country to me, playing on my server and it has directed them to the IP of a server at Hetzner not mine.

[2020-10-17 00:47] Sarah-Graesyn opened #18798 "[9.0.5 Beta Release] Government Notifications bypassing chat filters and still showing up/ Government Notifications Obscuring Screen and making game unable to be seen"
**Steps to reproduce:** Filter out the chat so that you only get the things in chat that you want to see in the chat box
**Expected behavior:** Only see what I have left in my chat
**Actual behavior:** Government Law notifications (Specifically I have noticed this with a law that myself and Mishka have set up on the server we are running that pays people for working on roads) co9ntinually spam roa

[2020-10-17 10:38] IcedForge commented on #18798
Thank you for reporting, this has been fixed for 9.1

[2020-10-17 10:38] #18798 closed

[2020-10-17 12:13] Bazzi89 commented on #18697
![20201013122607_1](https://user-images.githubusercontent.com/36135677/96336859-b7c70b00-1082-11eb-8995-4775db561566.jpg)

sorry for late answer, but thats one of my blast furnace

[2020-10-17 12:15] Bazzi89 commented on #18793
thought it is intended :P

[2020-10-17 12:40] MishkaFur commented on #18793
Nope @Bazzi89
![image](https://user-images.githubusercontent.com/61889138/96337341-5d2bb000-107e-11eb-82d3-3b5fdc1816b3.png)

[2020-10-17 13:10] Guedez commented on #18713
This bug was reported the day it was reproduced on a up to date server

[2020-10-17 13:28] MishkaFur opened #18799 "9.0.5 Research papers yield way way too high XP rate"
It is currently possible to just spam out research papers to level a skill instead of crafting items and have a drastically reduced resource requirement

Geology paper basic needs 30 rocks, crushed limestone needs 20 but geology paper gives x4 the XP rate, same is for other papers

So to level mining its best to just get  300 rocks (15 papers) instead of doing 10 crafts of crushed limestone in thi

[2020-10-17 15:14] Yorkforce commented on #18045
Still occurring in 0.9.0.5

[2020-10-17 18:18] StallEF opened #18800 "[0.9.1.0 beta staging-1806] Crowdin requires updating (Help text for chat command)"
- Drops a global waypoint at the current position. Accepts an optional text string for the waypoint.
- Makes all animals hungry.
- Spawns a store with storages and random trade offers.
- Resets the world caches.
- Displays a list of all known users, showing username and ID.
- Removes user as an Admin by account id, steamid, slgid, or username
- Save the world!
- Kicks user
- Resets the world cache

[2020-10-17 18:24] Rybadour opened #18801 "Placing Carts Causing Excessive Client Side Lag/Disconnect"
Currently on our server placing a Wood Cart, anywhere causes the client placing the cart to become unresponsive for around 3-4 minutes. As the client I can move but not interact with anything. Chat and notifications can be received but not sent. After unresponsiveness ends all my actions get executed, chats sent, inventories opened, etc.

[2020-10-17 18:26] Rybadour commented on #18801
Also when picking up a steam truck...

This is very urgent bug game play experience is greatly hampered.

[2020-10-17 18:37] Rybadour commented on #18801
Additional observations: It seems I can dupe Steam Trucks during this if I log out and log back in.
My placed steam truck now will not accept the fuel from the cart I placed during all of this. Logging out and in does not change the fuel situation.

[2020-10-17 19:10] MishkaFur commented on #18801
Please can you provide full server specs including OS as advised on Discord :)

[2020-10-17 19:43] Sarah-Graesyn opened #18802 "[9.0.5] Admin Devtool Bug: Removing Admin while player is offline and Devtool is on the players hotbar bugs the Devtool"
**Steps to reproduce:** Grant player admin, have them spawn in a Devtool, let them use it a bit and then they log off, remove admin while they are offline but while the devtool was left in their hotbar (mine was in slot 1), when they log in they attempt to use it get the "you cannot currently use this tool" message, restore admin
**Expected behavior:** Devtool functions normally
**Actual behavior:

[2020-10-17 19:55] MishkaFur commented on #18802
Not a bug, modified devtool on my server.

[2020-10-17 19:58] NemoLArs opened #18803 "[9.0.5] "BunnyHop" makes you go twice as fast!"
So im that guy that jumps all the time.. and with the last patch i found that you can "BHop" and go really fast.

I made a little recording of normal running - run / jumping - Bhop between some lightposts.

The normal run and normal run / jumping takes roughly 9 seconds - the bhop takes roughly 5 seconds.
I made this video "under pressure" so the Bhop is really bad.. you can jump at least 50% fast

[2020-10-17 20:00] #18802 closed

[2020-10-17 20:53] zajcom opened #18804 "[9.0.5] this.NoSpread = true; this.SpreadRate = 0; doesnt work"
Even that I have set configuration forRedWood
this.NoSpread = true;
this.SpreadRate = 0;
for server in steamApps\common\Eco\Eco_Data\Server\Mods\AutoGen\Plant\Redwood.sc
still during game playing, I may observe that new redwood are spawn in word.

How to reproduce:
- cut few redwood tress and wait sometime,
- new tress will be spawn in close space

Current file content:
// Copyright (c) Strange Lo

[2020-10-17 23:38] MarviBiene opened #18805 "USER ISSUE: Launchpad into sky with wood/rubble"
[Player.log](https://github.com/StrangeLoopGames/EcoIssues/files/5396857/Player.log)
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
1. Have a ile of chopped wood (round wood)
2. Jump and move on them
3. Have a fly into sky

**Expected behavior:**
it should only move the logs not launch the player into the sky

**Actual behavior:**
it lauches the player into sky

**Do you have mod

[2020-10-17 23:41] MarviBiene commented on #18805
If that matters. I am doing this with the Redwood logs.

[2020-10-18 00:22] denysaw commented on #17936
Done. Could be tested on Staging.

[2020-10-18 00:47] johnkslg opened #18806 "'You have not voted' notification should go away once I vote"
![image](https://user-images.githubusercontent.com/3536496/96356250-c1f80200-10a0-11eb-965e-2173660201d5.png)

[2020-10-18 02:14] omelancon opened #18807 "[0.9.0.5] Tools are upside down under Pop_!OS"
**Version**: 0.9.0.5 beta release-100

**Bug**

Currently selected item/tool is upside down..? This is best explained with a screenshot.
![382310_screenshots_20201017213721_1](https://user-images.githubusercontent.com/16464818/96357136-83c10980-10c5-11eb-8acd-55489e6eec59.jpg)

**Specs**

I ran the native game (not with Proton) under Pop_!OS, I am using system76-nvidia driver on an Oryx pro with t

[2020-10-18 03:05] johnkslg commented on #18706
@gzatravkin check after refactor

[2020-10-18 03:08] johnkslg commented on #18623
It will now check state and block it if you manage to click during a transition

[2020-10-18 03:09] johnkslg commented on #18761
Made it now require any referenced thing that's a draft also be in the election, or it can't start.
Text should be fixed too.

[2020-10-18 03:09] johnkslg commented on #18622
Check now

[2020-10-18 08:25] #18215 closed

[2020-10-18 08:47] redwyre opened #18808 "Devops: custom build doesn't work with branch names that contain a /"
they get interpreted as paths in some places, and don't upload to s3 properly

[2020-10-18 10:40] Astrija commented on #18807
duplicate
https://github.com/StrangeLoopGames/EcoIssues/issues/18414

[2020-10-18 11:39] TootleBrush opened #18809 "USER ISSUE: Elevator intermittenly stops randomly"
\
**Version:** 0.9.0.4 beta release-94

**Steps to Reproduce:**
Set up a elevator.
Go up/down using the controles inside, or the external ones.

**Expected behavior:**
It would normally go up or down till it hit the ends, either ground/dirt/floor/stone etc. or the top of the elevator itself.

**Actual behavior:**
It go down for a varied and changing number of seconds before you have to push the bu

[2020-10-18 14:50] MishkaFur commented on #18358
@mirasrael just had this on my server on the new hardware, first time in like 2 weeks and first time on my new hardware

![image](https://user-images.githubusercontent.com/61889138/96371292-e4e5ed00-1158-11eb-87f5-f67d67ade958.png)

A handful of users (about half) also got red DC then eventually booted to game main menu with no message, how shall i send or give you access to the file? it is 12GB u

[2020-10-18 20:24] Sarah-Graesyn opened #18810 "[9.0.5 beta release] unknown reason - crash to main menu while mining granite"
**Steps to reproduce:** mine out a wall of rock (I was mining granite at the time)
**Expected behavior:** mine granite, start picking up chunks, store, crush, etc
**Actual behavior:** crash to main menu
**Providing Log files:**
[mining crash.txt](https://github.com/StrangeLoopGames/EcoIssues/files/5398137/mining.crash.txt)

[2020-10-18 21:19] Sarah-Graesyn commented on #18307
I have an Nvidia RTX 2060 and GI actually makes my PC struggle a bit right now as well so I tend to play with it off as well, I definitely should not be having an issue considering I custom built my tower and dropped $2000 US into it, most of that cost being a GPU, processor, and cooling rig

[2020-10-18 21:35] Mkorny commented on #18157
Adding a few more notes and Repro:

I am attaching a OneDrive .mp4 that very clearly shows the bug occuring:
[Video Repro](https://1drv.ms/v/s!AlwkS4BRguXxmBV5b9HLXrjDuVGd?e=otxam3)

And a quick timeline:
Second 26 - normal view
Second 31 - gets darker once i open the menu.
Second 46 - compare to sec 26 and u will see the exact side-by-side comparison on the tunnel/ramp down.
Minute 02:48 - You se

[2020-10-19 00:15] johnkslg commented on #14153
How about it will run ALL sections until it hits a 'prevent', then it will stop?

[2020-10-19 00:24] FerreTux opened #18811 "USER ISSUE: EMpty void of death"
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
Kill aligator
Jump on aligator
Enterspace

**Expected behavior:**

**Actual behavior:**

**Do you have mods installed? Does the issue happen when no mods are installed?:**

**Please provide log files. Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file

[2020-10-19 00:38] GHCrypton opened #18812 "USER ISSUE: Login to 9.1.0"
\
**Version:** 0.9.1.0 beta staging-1806

**Steps to Reproduce:**
Tried to login to latest 9.1.0 build from SLG website, says invalid username/password. I can login to the website just fine and even tried resetting my password and trying new one but still no go.

**Expected behavior:**
Let me login

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? D

[2020-10-19 00:54] D3nnis3n commented on #15132
Tiger managed to get to 5,5 GB, but it's reset time, so we won't see if the limitation kicks in.

[2020-10-19 01:12] MishkaFur opened #18813 "Abandoned demographic filter for ingame UI"
Simple option that if player has the abandoned demographic then do not show them in the currency dropdown, objectives list etc unless the "Show Abandoned" is ticked (default is unticked)

High population servers have a large amount of lag when opening Objectives or the show transfer menu, this will also make it easier to scroll through the list as it'll just show everyone but abandoned.

[2020-10-19 01:12] D3nnis3n commented on #18813
Sounds good, let's do that.

[2020-10-19 01:16] StallEF opened #18814 "playtime UI need update - error definition RTZ"
Not all countries in the world use the summer / winter time measurement system.
the language does not determine the country, and the country is not specified in the game setting, then it is advisable to add a checkbox to use clock translation, so as not to do unnecessary actions for determining the player's country for correct display RTZ.

[2020-10-19 02:10] WeaselDog commented on #14153
That should work good, as long it just stops checking that trigger. For example, if the trigger is prevented, but the law has another section with an unrelated trigger, this should still go through.

[2020-10-19 02:12] ThePiachu opened #18815 "[0.9.0.5 br-100] Strange map glitch when editing claim"
So I'm not sure exactly how this happened. I was editing a claim, trying to claim some land next to someone else, and I think I pressed some shortcut and I got this glitch:

![20201017222938_1](https://user-images.githubusercontent.com/964559/96393960-9abf3480-1175-11eb-8669-b1dd603ad5a4.jpg)

The minimap centred itself on the map I was editing and I couldn't open the map back up, close it or do a

[2020-10-19 02:16] ThePiachu opened #18816 "[0.9.0.5 br-100] Rocks are a bit too eager to deny being picked up"
I was mining next to someone's property and some rocks seemed a bit too stubborn to be picked up even if some tiny part of them was on someone's property:

![image](https://user-images.githubusercontent.com/964559/96394183-38b2ff00-1176-11eb-874f-87b3d3eb1308.png)

or even near it:

![image](https://user-images.githubusercontent.com/964559/96394208-410b3a00-1176-11eb-8eb2-981705c2a5a7.png)

Since

[2020-10-19 03:09] johnkslg opened #18817 "Long constitution names can break it"
![image](https://user-images.githubusercontent.com/3536496/96397153-bc241e80-117d-11eb-96d3-7037e1b3ff04.png)
looks like its compressing past the boxes of the article name and the article title.

[2020-10-19 03:38] johnkslg opened #18818 "Deadlock when trying to bind and unbind simultaneously"
Thread 1:
![image](https://user-images.githubusercontent.com/3536496/96398784-8da84280-1181-11eb-9dab-13c5dbf7b751.png)

Thread 2:
![image](https://user-images.githubusercontent.com/3536496/96398815-9d278b80-1181-11eb-8e25-e64b6a40bb34.png)

Dump here: https://drive.google.com/file/d/1iJN0VLvoc-_d0P7dgmzl7UG_L0sq4qGs/view?usp=sharing

Was debugging when it happened, but it could happen naturally

[2020-10-19 04:20] antaeusdk commented on #18487
I have the same issue.

I had System Monitor open when I tried to play Eco. The game opens, but crashes when I try to join a server. Besides a slight bump in RAM usage, it doesn't look as though there is a memory leak. Albeit it might be so fast the system does not really register it.

![Screenshot from 2020-10-19 06-17-18](https://user-images.githubusercontent.com/2125190/96401285-25824c80-11d3-1

[2020-10-19 04:20] ptitducanh commented on #14042
I sent a bug report to Unity.
https://fogbugz.unity3d.com/default.asp?1285723_74gqqml451059thq

[2020-10-19 04:23] olegshegai commented on #18182
May be closed together with https://github.com/StrangeLoopGames/EcoIssues/issues/18598

[2020-10-19 04:24] olegshegai commented on #18598
May be closed since type tooltips are back (https://github.com/StrangeLoopGames/Eco/pull/6935) and not broken (https://github.com/StrangeLoopGames/EcoIssues/issues/18182)

[2020-10-19 04:41] #18598 closed

[2020-10-19 04:48] ThePiachu opened #18819 "Make every crafting table able to be turned off"
Really like the toggle some buildings have where you can turn them off. Playing on Coast Redwood however made me wish I could have this toggle on every building. Sometimes I want to stop processing crushed ore so I can sell it raw to someone since they only take crushed and not concentrated ore. Similarly, sometimes I need crushed rock and sometimes I need my rocker boxes to make sand. It would be

[2020-10-19 04:58] #18812 closed

[2020-10-19 06:01] SlayksWood commented on #18815
@ThePiachu
Provide log files. Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file

[2020-10-19 06:06] SlayksWood commented on #18811
@FerreTux Thank you for the report. Anything else you can add? Screenshots, video?

[2020-10-19 06:07] SlayksWood commented on #18810
merged to #18214

[2020-10-19 06:07] #18810 closed

[2020-10-19 06:11] SlayksWood commented on #18809
@TootleBrush Thank you for the report. There has never been a similar problem.
Can you provide additional information?
1. how many people are in the elevator?
2. maybe there are any objects there, like wood cart?
3. If you can provide some video.
4. Log files. Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file

[2020-10-19 06:12] #18807 closed

[2020-10-19 06:18] mirasrael commented on #18800
@Quadbro Localizer now only handles ChatCommandAttribute, but these strings is from ChatSubCommandAttribute. Need to be updated.

[2020-10-19 06:26] SlayksWood commented on #18803
related with moving by diagonally (W+A or W+D). We must have this issue, but I can't find.

[2020-10-19 06:28] SlayksWood commented on #14655
Closed for now, reopen if you still have thi issue.

[2020-10-19 06:28] #14655 closed

[2020-10-19 06:30] SlayksWood commented on #18122
closed as not reproducible in staging-1806.

[2020-10-19 06:30] #18122 closed

[2020-10-19 06:31] SlayksWood commented on #18144
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 06:31] #18144 closed

[2020-10-19 06:38] SlayksWood commented on #18193
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 06:38] #18193 closed

[2020-10-19 06:41] SlayksWood commented on #18210
merged to #9057

[2020-10-19 06:41] #18210 closed

[2020-10-19 06:42] SlayksWood commented on #9057
Most likely the tree doesn't grow when the player sees it, you need to reconnect or reload the chunk.

[2020-10-19 06:42] SlayksWood commented on #18238
Closed for now.

[2020-10-19 06:42] #18238 closed

[2020-10-19 06:48] SlayksWood commented on #18305
Closing for no response, reopen when you can provide us with necessary information

[2020-10-19 06:48] #18305 closed

[2020-10-19 06:48] WeaselDog commented on #18315
I added written content for Mortgages.
In WordPress, Currency Exchange is listed as Currency. Not sure why the content for Mortgages is not appearing.

[2020-10-19 06:49] SlayksWood commented on #18320
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 06:49] #18320 closed

[2020-10-19 06:49] SlayksWood commented on #18343
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 06:49] #18343 closed

[2020-10-19 06:50] SlayksWood commented on #18353
Closed for now as not reproducible.

[2020-10-19 06:50] #18353 closed

[2020-10-19 06:53] mirasrael commented on #17825
@j3fffff won't it be enough if CW API will just inform caller about duplicate name? I don't think by design it is good to make name assignment on CW API side. It makes name generation less flexible. For uniqueness on the site side you can actually use combination of user name and world number and will significantly reduce chance of name conflict and also will make world checking simpler. Also if y

[2020-10-19 06:55] SlayksWood commented on #18375
Closed for now. reopen if you still have problem

[2020-10-19 06:55] #18375 closed

[2020-10-19 06:59] SlayksWood commented on #18385
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 06:59] #18385 closed

[2020-10-19 07:00] SlayksWood commented on #18382
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 07:00] #18382 closed

[2020-10-19 07:01] SlayksWood commented on #18429
Closing for no response, reopen when you can provide us with necessary information

[2020-10-19 07:01] #18429 closed

[2020-10-19 07:02] SlayksWood commented on #18432
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 07:02] #18432 closed

[2020-10-19 07:12] SlayksWood commented on #18452
@landenbirch
1. Try to connect to any server and provide log files. You can find log files here: https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file . Provide them please.
2. Try to delete game and install it again.
3. Try to connect to any official server  and provide log files again.
4. What Operating System do you use?

[2020-10-19 07:17] SlayksWood commented on #18458
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 07:17] #18458 closed

[2020-10-19 07:17] SlayksWood commented on #18478
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 07:17] #18478 closed

[2020-10-19 07:20] IcedForge commented on #8053
Disabled stores hide their offers on the Economy Viewer, and unauthorized are marked as red as well.
Would it be possible to add some form of auto hide feature for this? And maybe have a filter option somewhere to show unauthorized stores?

So you cannot see them by default but you can turn it visible to check prices f.ex and compare?

[2020-10-19 07:30] SlayksWood commented on #18498
@Sarah-Graesyn Do you still have the problem? Can't reproduce in staging-1806.

[2020-10-19 07:30] mirasrael commented on #18796
@johnkslg instead of removing assert you can use AssertionFlags.WarnOnly parameter. In this case you won't lose information about an issue, but won't be chased by constant breakpoints.

[2020-10-19 07:37] ptitducanh commented on #18511
I pushed a fix for this one.
Please check after merged :D

[2020-10-19 07:46] IcedForge opened #18820 "[0.9.1.0 beta staging-1806]Store: does not disable/close on property user access"
When a user added on a claim adds a store, sets his currency then this user is removed from the claim ( different from owner )
it will not update the claim / store permission check towards account used in a store.

This probably needs to send info to the store on claim permission changes somehow.

[2020-10-19 08:08] SlayksWood commented on #18486
Still can't reproduce, but will finish investigating before release 9.1.

[2020-10-19 08:12] SlayksWood commented on #18517
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 08:12] #18517 closed

[2020-10-19 08:13] SlayksWood commented on #18546
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 08:13] #18546 closed

[2020-10-19 08:13] IcedForge commented on #18537
Fixed in changes made for 9.1, reopen if it shows up again.

[2020-10-19 08:13] #18537 closed

[2020-10-19 08:13] SlayksWood commented on #18551
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 08:13] #18551 closed

[2020-10-19 08:14] SlayksWood commented on #18563
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 08:14] #18563 closed

[2020-10-19 08:15] SlayksWood commented on #18568
Closing for no response, reopen when you can provide us with necessary information.
One type of duping with stockpile were fixed in 0.9.0.4

[2020-10-19 08:15] #18568 closed

[2020-10-19 08:15] #13640 closed

[2020-10-19 08:15] IcedForge commented on #13640
Works again in 9.1
Spawns building, adds treasury and allocates money etc.

[2020-10-19 08:15] SlayksWood commented on #18569
Closing for no response, reopen when you can provide us with necessary information.

[2020-10-19 08:15] #18569 closed

[2020-10-19 08:19] NemoLArs commented on #18803
Oh you mean like. 10 movementspeed for each button hold?
w = 10;
w + a = 20;

[2020-10-19 08:23] ptitducanh commented on #18710
LOD setting of Ballot Box was different than other objects. It was culled at 3% while others are culled at 2%.
So I updated the LOD Group setting of Ballot Box.

[2020-10-19 08:23] SlayksWood commented on #18687
@RTHauke Forest biome only used in save from 0.7 version. It was replaced with other biomes in 0.8 version. Therefore, we save the forest biome only for worlds that migrated from version 0.7 to version 0.8 and now to version 0.9. So if you have a new world you will not have Forest biome, but you will have others biome, which people doesn't have in 0.7 version.
Closed for now.

[2020-10-19 08:23] #18687 closed

[2020-10-19 08:31] IcedForge opened #18821 "[0.9.1.0 beta staging-1806]Civics: Mint currency trigger review"
Mint currency  sub-trigger "Currency Amount" only count amount of instances you craft a currency, not total value of the craft which makes laws for currency amounts unnecessarily complex and can easily be circumvented if not done correctly.

Change currency amount into the total value of the currency its pointed towards.
![Screenshot_47.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a8

[2020-10-19 08:40] #18575 closed

[2020-10-19 08:40] #18577 closed

[2020-10-19 08:43] #18636 closed

[2020-10-19 08:48] SlayksWood commented on #18738
@Springy150 Sorry missed your message, you can send it to kirill@strangeloopgames.com or in Discord Kirill (Slayks)#6251

[2020-10-19 08:53] SlayksWood commented on #18701
@Mark-3503 Can you provide save files? Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Uploading-a-world-save, if you still have this problem.
But first try to use this 3 admin commands ( If you are not server owner, you can ask an admin on the server to use these 3 commands).
"/sim setlayer Potassium, 0.6, 0.9"
"/sim setlayer Nitrogen, 0.6, 0.9"
"/sim setlayer Phosphorus, 0

[2020-10-19 08:59] Blaazouille commented on #18486
Wasn't able to reproduce since it happened the first time.
I'm not sure what went wrong at that time.

[2020-10-19 09:04] SlayksWood commented on #18697
What about your temperature now?
Maybe you had some kind of technological bang? And you made a lot of pollution?
Can you prodice save file to investigate? Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file
If you don't want to make it public, you can send to my mail kirill@strangeloopgames.com or in Discord Kirill (Slayks)#6251

[2020-10-19 09:09] IcedForge opened #18822 "[0.9.1.0 beta staging-1806]Dev Command: /civics spawngov oddities"
Not sure if intended or not, but using this command it does not pass / enact all object types
Districts, election processes are applied and added to object
Demographic, Law is only added as drafts
Title is added as an election draft.

[2020-10-19 09:11] IcedForge commented on #18822
Also not sure what happened here
![Screenshot_48.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/15e6ab9d-73af-423c-84c9-5dd32aace313)

[2020-10-19 09:21] ThePiachu commented on #17990
Still an issue in 0.9.0.5:

![image](https://user-images.githubusercontent.com/964559/96426086-a03a7000-11b1-11eb-8659-364625528b63.png)

![image](https://user-images.githubusercontent.com/964559/96426120-aa5c6e80-11b1-11eb-8fd0-a2d881035f54.png)

I notice it every now and then on Coast Redwood. Happens both when the chat is loaded and updated.

[2020-10-19 09:21] ptitducanh commented on #18652
I updated the Crushed Gold Ore to grey.
![image.png](https://images.zenhubusercontent.com/5f21cd42c75e8efdb4582cc7/7096554b-62ef-452f-8644-98fb13e2dc81)

[2020-10-19 09:28] ThePiachu opened #18823 "[0.9.0.5] River Sand appears in the Ocean"
On Coast Redwood, we have some River Sand appearing in one of our Oceans, not really sure why. We do also get normal Ocean Sand next to it:

![image](https://user-images.githubusercontent.com/964559/96426891-b7c62880-11b2-11eb-8ac3-354cdab43ca1.png)

[2020-10-19 09:29] mirasrael commented on #18694
Hi @Aeridhredhir
From crash report and error log it seems like there some issues with DirectX or drivers. You can try to experiment with drivers (rollback to older version) or try to update/reinstall DirectX. If you have an opportunity to test with another GPU (i.e. get it from friend and replace your own) it also may help with troubleshooting.

[2020-10-19 09:30] ThePiachu opened #18824 "[0.9.0.5 br-100] Ocean / River sand turns to dirt underneath bridges"
Not sure if this is intended, but on our Coast Redwood server the Ocean and River Sand underneath a bridge slowly turned to regular Dirt:

![image](https://user-images.githubusercontent.com/964559/96427072-f22fc580-11b2-11eb-99b6-9bd4d7acb738.png)

I'm guessing that's just how it operates if it has some block above it, even though it's way above it?

[2020-10-19 09:33] ThePiachu opened #18825 "[0.9.0.5 br-100] Depression in water appears like a sheer drop on the map"
On Coast Redwood I think someone built a structure on the ocean water and then removed it, creating a depression in the water:

![image](https://user-images.githubusercontent.com/964559/96427405-5eaac480-11b3-11eb-90e1-e8c0bd0ef1d0.png)

However, if you view it from the map, that depression looks like the ocean has parted:

![image](https://user-images.githubusercontent.com/964559/96427211-1ee3dd0

[2020-10-19 09:35] mirasrael commented on #18767
Hi. It is GPU related crash (it fails when Vulkan tries to CreateResource) which is either due to Unity bug or due to driver bug. Did you try to update drivers to latest or rollback to older version? Also did you try disable shadows and reduce resolution? Also you can try different screen modes (i.e. Exclusive Fullscreen).

[2020-10-19 10:27] SlayksWood commented on #17944
Check if the password is correct before you press update. For example I want to recover password:
![image](https://user-images.githubusercontent.com/45708377/96436356-9dba3380-120e-11eb-927c-0c499026c3d7.png)
I enter new password. If I don't fulfill the conditions, then why do I need to confirm this password?
![image](https://user-images.githubusercontent.com/45708377/96436520-a90d5f00-120e-11eb-8

[2020-10-19 10:29] SlayksWood opened #18826 "[Web] Possibility to confirm e-mail and change it."
So I made a mistake in e-mail when I create account and I can't change it now. So we need to add:
1. Confirm your e-mail during registration.
2. Possibility to change e-mail.

[2020-10-19 10:49] SlayksWood commented on #11814
Don't want to create another issue, so
![image](https://user-images.githubusercontent.com/45708377/96441280-f2ab7900-1211-11eb-8dbc-f62c3da7306b.png)

[2020-10-19 11:06] SlayksWood opened #18827 "[0.9.1 staging-1810] Scrollbar always go to top in Pending elections."
Step to reproduce:
- start 3 different elections
- try to use scrollbar. It will return to basic position(top) every second:
![2020 10 19 Scrollbar always go to top in Pending elections](https://user-images.githubusercontent.com/45708377/96442675-2f786f80-1214-11eb-9734-b812237748e4.gif)

[2020-10-19 11:06] #18603 closed

[2020-10-19 11:08] SlayksWood commented on #18393
1. I will be watching for a couple of days.
2. Still have without any election:
![image](https://user-images.githubusercontent.com/45708377/96442933-8e3de900-1214-11eb-9f02-a1f350ce1867.png)

[2020-10-19 11:10] #18632 closed

[2020-10-19 11:24] Alteraner opened #18828 "LawSystem: Skid & Excavator not triggering Dig or Mine trigger"
Hello,
 in the law system, the skid and the excavator are not triggering the dig or mine trigger when in use. So a law to prevent dig or mine can be cheated by using the skid or excavator. Even the skid is been listed as an item to use it does not matter. the excavator is not listed as an item, but should although in my point of view.

[2020-10-19 12:14] #11846 closed

[2020-10-19 12:47] IcedForge opened #18829 "[0.9.1.0 beta staging-1810]Civics: Able to vote on things that are not put to election."
When ratifying constitution you can click its name link, go to the website and vote for it before it is set to an election.
![Screenshot_14.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/218df019-b0ba-48ad-a7b2-ab3f91dda6f0)

![Screenshot_11.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/1ddb1bab-facd-4b7b-b574-c4808899a79e)

[2020-10-19 13:06] denysaw commented on #18278
@WeaselDog Finished my part. That's why removing milestone for Jeff to plan his ;)

[2020-10-19 13:07] #17465 closed

[2020-10-19 13:44] #18075 closed

[2020-10-19 14:10] SlayksWood opened #18830 "[0.9.1 staging-1810] Timer for disabling constitution doesn't work."
Step to reproduce:
- ratify constitution:
![image](https://user-images.githubusercontent.com/45708377/96459386-be908200-122a-11eb-8cb9-8ed3cc446571.png)
- pick up it, I have notification that this constitution will be disabled in 20 minutes.
![image](https://user-images.githubusercontent.com/45708377/96459778-2a72ea80-122b-11eb-8371-38dfb70fac6b.png)
- wait 20 minutes, nothing happens.
![image](ht

[2020-10-19 14:36] #18623 closed

[2020-10-19 14:39] gzatravkin commented on #18706
CNR at staging (before refactoring). Refactoring is still don't merged

[2020-10-19 14:47] thepolypusher opened #18831 "USER ISSUE: Ecopedia search breaks if you typo or try to search more than once"
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
1. Open Ecopedia
2. Type something dumb like 'mortat'
3. Erase it and type 'mortar'

**Expected behavior:**
created a new search with the corrected word

**Actual behavior:**
Ecopedia search doesnt work on the 2nd attempt. You have to close it and reopen it to search

**Do you have mods installed? Does the issue happen when no mods a

[2020-10-19 14:49] thepolypusher opened #18832 "USER feedback: Ecopedia focus should start on the typing bar so you can press F1 and just start typing"
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
1. Open Ecopedia
2. Start typing

**Expected behavior:**
You should be able to search without having to click on the search bar

**Actual behavior:**
Nothing, you can't search without a pointless click

**Do you have mods installed? Does the issue happen when no mods are installed?:**
yes and yes

**Please provide log files. Instruct

[2020-10-19 16:31] redwyre commented on #11814
@SlayksWood can you reopen https://github.com/StrangeLoopGames/EcoIssues/issues/13940 and move this there?

[2020-10-19 16:31] MishkaFur opened #18833 "9.0.5 Work parties/laws etc can have the name of an item"
If you name a work party/law etc Hewn Log, it will prevent any looksup being done on that item by typing it into chat.

Same applies to basically every other block name too, block names should not be allowed to be in the title of something by themselves to prevent this kind of issue

![image](https://user-images.githubusercontent.com/61889138/96479420-d965f500-1230-11eb-9f24-5b2dcc3221cd.png)

Had

[2020-10-19 18:07] johnkslg commented on #14153
Fixed in staging

[2020-10-19 18:53] johnkslg commented on #18830
@olegshegai Can you help with this?

[2020-10-19 19:07] JanThomas118 commented on #18767
Updated to latest nvidia driver (i don't think downgrading is a thing here) tried switching to windowed or to exclusive full screen and setting the game settings to lowest possible also doesn't change it.
Its super weird, sometimes it happens every 5 minutes and sometimes it doesnt happen for 2 hours

[2020-10-19 19:13] keegan-o commented on #13940
![image](https://user-images.githubusercontent.com/14983165/96500885-66df2000-1204-11eb-9b72-57d72db8236e.png)
Alas, the old behavior is back on the face remover (though, I'm sure it's more performant this way :( )

[2020-10-19 19:25] j3fffff commented on #17825
ya that sounds good. usernames are unique and its maybe ideal for user to have their username in world url.
@denysaw can you implement worldnames set as username + number

[2020-10-19 20:34] WeaselDog opened #18834 "Eco Tree - Issue clicking User Experience dev"
In the Eco Tree, when I click a developer who is assigned to a User Experience task, it redirects me to the top of the page. For all other branches/roots, it brings up the section they are working with the tab selected for the issue.

Can we make sure User Experience has the same behavior?

![EcoTreeUserExp](https://user-images.githubusercontent.com/47330823/96508672-d3135100-120f-11eb-9234-843ccf

[2020-10-19 20:42] johnkslg opened #18835 "Blinky neck"
![animx22](https://user-images.githubusercontent.com/3536496/96509425-d9ee9380-1210-11eb-92f9-716b78d1f43f.gif)
bad normals?

[2020-10-19 20:43] johnkslg opened #18836 "Make the property display tell you what biome you're in"
![image](https://user-images.githubusercontent.com/3536496/96509576-16ba8a80-1211-11eb-8b3b-ed7fb0175103.png)

[2020-10-19 20:47] johnkslg opened #18837 "Web dialog does not display why you cant vote"
![image](https://user-images.githubusercontent.com/3536496/96509815-744ed700-1211-11eb-8ae8-aabeb97e27a0.png)
In this case, I'm not an 'active' player so i cant vote, but it doesnt explain that. Put that explanation on here.

@tuha263 add data about why the player can/cant vote to the election DTO
@denysaw display it in the webpage

[2020-10-19 20:48] johnkslg commented on #18837
Actually looks like voting is not working at all in this case.

[2020-10-19 20:52] johnkslg commented on #18837
nvm

[2020-10-19 20:52] #18837 closed

[2020-10-19 21:03] WeaselDog opened #18838 "Eco Tree - Need category for Client in Performance root"
We need to add a category for Client in Performance category. We have a fair amount of these issues assigned, and there is no proper place to put it.

This is especially important because optimization is a highly requested thing for us to work on, and it is good to show that we are actively working on this.

[2020-10-19 21:44] WeaselDog commented on #9225
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/17735

[2020-10-19 21:44] #9225 closed

[2020-10-19 21:45] WeaselDog commented on #17735
Issue is actual: https://github.com/StrangeLoopGames/EcoIssues/issues/9225

[2020-10-19 21:57] keegan-o commented on #17408
Added these two forms into SVN, they will likely appear in 9.2.

[2020-10-19 22:07] ThePiachu opened #18839 "[0.9.0.5 br-100] Vehicles tend to clip through the floor when area is loaded"
I decided to build my house on the ocean not to have to deal with digging up dirt or levelling the ground. However, I still have to park my truck on solid ground, otherwise I'd have to fish it out from the bottom of the ocean on regular basis. It seems that when vehicles are loaded into an area (possibly after server restart or what have you) they have a tendency to clip downwards through the floo

[2020-10-19 22:08] j3fffff commented on #18736
So I hear we are wanting to give every player that writes a bug on github, the bug icon.

dont see any easy way to get a list of those people on githb. is there one? or maybe an api option.
Even if we get a list, we probably don't want to manually update that. Might be able to automate it, seems like a bit of work for a small feature.

Or we could just have it be an on request feature. and let the

[2020-10-19 22:10] j3fffff commented on #18736
oh and @gzatravkin can you setup the game to display the white hat and bug icon if auth returns:
selected_icon = whitehaticon or bugicon

[2020-10-19 23:14] keegan-o commented on #16629
Re-assigned Rob because we may want concepts for the Spin Melter and Automatic Loom. These should both be industrial textile machinery that would fit in in a modern factory.

[2020-10-19 23:51] j3fffff opened #18840 "auto update version on staging website"
theres a lot of staging, develop, playtest world versions on staging website's cw dashboard.
I ran auto update on a world, which was set to an older 'develop' version of cw.

So I think auto update is not working.
While you're in there can you make sure it updates to newest staging version. (not develop or playtest)

[2020-10-19 23:56] j3fffff commented on #17802
solved by using username

[2020-10-19 23:56] #17802 closed

[2020-10-20 00:11] denysaw commented on #18840
Could be tested on Staging.

[2020-10-20 02:18] FerreTux commented on #18811
Basically I was teleport to z max or something.   Everything was a complete black void but when I moved X̄ or ȳ it registered on the map as lateral movement ect.   Using Teleport  admin commands with Z index moved me back into the game world.    As for experience when it happened I shot straight into the air and watched the planet disappear into the darkness.  Not even a pale blue dot was visible

[2020-10-20 02:27] FerreTux commented on #18811
You should also run your logs per day rather than per execution.   The overwrite doesn't help for bug triage.  =p  most people try to reboot a few times on their own before reporting a bug.  <- happens to me at work too.

Really liked the in game bug report +1 big kudos to team for that.   Maybe just have it snapshot the log as soon as that button is pressed.   I know other games like eve online k

[2020-10-20 04:44] Quadbro commented on #18800
Yeah, thanks, will fix asap

[2020-10-20 05:26] johnkslg commented on #17388
I've fixed the constitution one. For the issue where it shows the error at the top instead of by the params, I propose 'wont fix', its clear enough they can mouse over and read it and will require a big refactor

[2020-10-20 05:27] johnkslg commented on #17388
@SlayksWood Can check latest state to verify errors display well enough

[2020-10-20 05:38] SlayksWood commented on #18839
merged to #15688

[2020-10-20 05:38] #18839 closed

[2020-10-20 05:41] SlayksWood commented on #18836
Do we overload this window too much? Maybe some other place?

[2020-10-20 05:48] Phlo123 commented on #18580
I fixed the mesh and replaced it in SVN.

[2020-10-20 05:48] #18580 closed

[2020-10-20 06:08] #18182 closed

[2020-10-20 06:38] SlayksWood opened #18841 "[0.9.1 staging-1813] Constitution tab is broken"
![image](https://user-images.githubusercontent.com/45708377/96549218-dc57f880-12b7-11eb-995b-ced68cb5868a.png)

[2020-10-20 06:41] IcedForge commented on #18828
Fixed in 9.1 with refactoring and tweaks.
Excavator / Skid-steer dig action as well as tractor / handplough plowing action

[2020-10-20 06:41] SlayksWood opened #18842 "[Web] Add possibility to logout from any page"
maybe here:
![image](https://user-images.githubusercontent.com/45708377/96549494-38228180-12b8-11eb-9763-1168a1747701.png)
or here:
![image](https://user-images.githubusercontent.com/45708377/96549512-3fe22600-12b8-11eb-9374-893095445389.png)
I prefer 1st point, it suits our site more.

[2020-10-20 06:43] #18703 closed

[2020-10-20 06:45] IcedForge opened #18843 "[0.9.1.0 beta staging-1813]Civics: UX UI tweaks"
- [ ] Chat visible inside while editing a civics object - allow the UI to be resized / moved?
Currently there is no way to talk to people while making civic objects/edits because the UI does not allow resizing and is primary
and overlaps everything.

[2020-10-20 06:58] SlayksWood commented on #18622
Still an issue:
![image](https://user-images.githubusercontent.com/45708377/96551330-c435a880-12ba-11eb-914d-826a225d70bd.png)
![image](https://user-images.githubusercontent.com/45708377/96551347-cc8de380-12ba-11eb-86c3-7c7c6dfd10bc.png)
May be related with #18830

[2020-10-20 07:32] IcedForge commented on #17378
"Can't reproduce [0.9.1.0 beta staging-1813], closed for now and will reopen if we run into it again."

[2020-10-20 07:32] #17378 closed

[2020-10-20 07:33] IcedForge opened #18844 "[0.9.1.0 beta staging-1813] Tutorial List UI still apperant after skipping/completing"
The tutorial list graphic stays after completing/skipping tutorial and should not be visible.
![Screenshot_21.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/a9067f99-7b83-45c8-a841-bb4f634b8558)

[2020-10-20 07:34] #18395 closed

[2020-10-20 07:34] #18267 closed

[2020-10-20 07:37] IcedForge commented on #18057
Can't reproduce [0.9.1.0 beta staging-1813], closed for now and will reopen if we run into it again.

[2020-10-20 07:37] #18057 closed

[2020-10-20 07:38] #18761 closed

[2020-10-20 07:45] beastyn commented on #12425
It can't be fixed easily. This messages are from the different actions and going into different channels, so they should have duplicated information for the sake of the sanity.
We will need to reconsider it with chat refactoring

[2020-10-20 07:56] IcedForge opened #18845 "[0.9.1.0 beta staging-1813]Toolbench weird tooltips on dragging items"
Getting weird tool tips and different ones depending on what item you drag into it.

Shift drag anything, f.ex broken pickaxe and you only have 1 it still says not enough space but it should just allow this?
![Screenshot_22.jpg](https://images.zenhubusercontent.com/5f5a7fa59878ed957a861886/4f4a307e-ba85-4fe8-a064-29867277bb1d)

Using property stake instead of a tool.
![Screenshot_23.jpg](https://i

[2020-10-20 07:57] #18596 closed

[2020-10-20 08:13] olegshegai commented on #18830
Seems to be okay.
I guess the problem is about server settings: `minutes between civics updates` are real minutes and not affected by fast forward.
So disable span may already expire, but civics plugin didn't tick yet.
![image](https://user-images.githubusercontent.com/56091594/96558797-db799380-12c4-11eb-9271-1e1541a282a6.png)

[2020-10-20 08:20] #18474 closed

[2020-10-20 08:37] IcedForge commented on #18174
Still needs to investigate why it is generating more items each time he logs on?
Possible db entry issue?

If this happens again, could you provide the server .eco and .db files ?
@Shinjix3

[2020-10-20 08:41] #18388 closed

[2020-10-20 08:44] SlayksWood commented on #18025
Today I buy 2 worlds and it works:
![image](https://user-images.githubusercontent.com/45708377/96562514-8724e280-12c9-11eb-85fe-b9302411c8fa.png)
need to check one more time.

[2020-10-20 09:08] Shinjix3 commented on #18174
I have the Game.db and .eco files saved.
You can download it here:
https://www.dropbox.com/s/vbuyily6rptriov/Survival.rar?dl=0

Hope it helps

[2020-10-20 09:24] mirasrael commented on #18174
This issue is duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/15545 which already fixed in 9.1.

[2020-10-20 09:27] TootleBrush commented on #18809
1. Only me
2. Nothing in it.
3. Find video here:
https://www.dropbox.com/s/iwx51tk0bfbl6yp/Desktop%202020.10.20%20-%2011.09.19.01.mp4?dl=0

Hope it helps. Others I talk with have also experienced it

On Mon, 19 Oct 2020 at 08:12, Kirill <notifications@github.com> wrote:

[2020-10-20 09:45] Alteraner commented on #18471
@johnkslg, Maybe the easiest way to do will be to change it back as it was in the 9.0 staging time. Here all items which are crafted independent of primary or secondary have been triggered.
To be fair, I was thinking a lot on a realistic case, where I need to differentiate between primary or secondary product. The entire team has done a brainstorming to find a situation where this kind of trigger

[2020-10-20 10:03] SlayksWood opened #18846 "[CW] World rename issue."
- [ ] 1. Can't see a long name:
![image](https://user-images.githubusercontent.com/45708377/96570923-9ad54680-12d3-11eb-8f6c-3b0e17a80e81.png)

- [ ] 2. Extra unnecessary click. Step to reproduce:
- have world with name:
![image](https://user-images.githubusercontent.com/45708377/96571121-db34c480-12d3-11eb-9349-c00801da47c9.png)
- click on pencil or world name to rename it:
![image](https://user-

[2020-10-20 10:16] beastyn opened #18847 "Closing OkBox gives NRE"
![bandicam 2020-10-20 14-49-18-333](https://user-images.githubusercontent.com/27898520/96573063-142a6480-12e7-11eb-81b5-756319a79a3c.jpg)

[2020-10-20 10:31] SlayksWood opened #18848 "[CW] Owner CW can't change advanced options after losing Admin on server."
And it's not clear why he loses admin. So step to reproduce:
- start CW, open Advanced options (I just want to add my account to admin list), UserManager tab:
![image](https://user-images.githubusercontent.com/45708377/96573767-45029d80-12d7-11eb-8a8e-e93fa7c6f91e.png)
- So I add another user to admins. I don't remember my slgID and of course I don't remember my SteamID, so I decide just to enter

[2020-10-20 11:52] SlayksWood opened #18849 "﻿CW: Infinity payment when removing one of citizens"
- buy 1 world and 3 citizens:
![image](https://user-images.githubusercontent.com/45708377/96581979-52258980-12e3-11eb-8185-4b5ac7145d66.png)
- want to update my subsrciption and have 2 citizens:
![image](https://user-images.githubusercontent.com/45708377/96582058-6c5f6780-12e3-11eb-9436-b45d110ebeae.png)
- press update subscription:
![image](https://user-images.githubusercontent.com/45708377/96582

[2020-10-20 12:26] Conchipedia commented on #18258
Version 0.9.0.5
getting lag when opening storage (didn't seem as bad until Lumber Stockpiles are part of the Linked Storage)

![snap7473edited](https://user-images.githubusercontent.com/29383891/96584380-0c15f900-12d6-11eb-9131-0bd23115abbc.png)
The above Snapshot of CPU Usage from Task manager shows a specific Drop in CPU Usage when opening and then closing Storage

![snap7474edited](https://user

[2020-10-20 12:28] rodneymillerpca opened #18850 "USER ISSUE: Steam engine pipes"
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
Place steam engin and try to  connect pipe.

**Expected behavior:**
Pipe connects.

**Actual behavior:**
Pipe does not connect

**Do you have mods installed? Does the issue happen when no mods are installed?:**
No. Yes

**Please provide log files. Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-

[2020-10-20 12:58] SlayksWood opened #18851 "[CW] Add notification to add citizen name"
after reset citizen:
![image](https://user-images.githubusercontent.com/45708377/96588854-cc0e4080-12ec-11eb-86ce-2595ec793195.png)
 will be:
![image](https://user-images.githubusercontent.com/45708377/96589015-ff50cf80-12ec-11eb-876d-a31cfbb13a10.png)
to clarify it.

[2020-10-20 13:42] IcedForge commented on #18828
Checked through it, it does trigger its civic action but its not actually preventing it to mine tiles.
Would like to see this fixed in 9.1 if possible? @WeaselDog as this prevents any laws directed at using heavy machinery in authorizations and so.

[2020-10-20 14:13] MishkaFur opened #18852 "9.0.5 Disconnect under water for atlantis on main menu"
Disconnect whilst head is underwater in 9.0.5 and you'll see Main Menu atlantis theme, reproducable has happened a few times whilst im trying to find a good worldgen for white tiger

![atlantis](https://user-images.githubusercontent.com/61889138/96598402-bd248f80-12e6-11eb-9111-b4af0481ec5b.JPG)

[2020-10-20 14:17] LordMurray opened #18853 "USER ISSUE: Logging Basic upgrade not usable"
\
**Version:** 0.9.0.5 beta release-100

**Steps to Reproduce:**
Logging Basic upgrade not usable. if i want to remove the carpentry table, it can be moved out of the boost section, not in the backbag, nor the 1-0 shortcuts. only movable to the garbage. from there also not movable.

**Expected behavior:**
be movable

**Actual behavior:**

**Do you have mods installed? Does the issue happen when no

[2020-10-20 14:21] LordMurray commented on #18853
solved it with /carryall

[2020-10-20 14:21] #18853 closed

[2020-10-20 14:52] IcedForge commented on #18471
I would not want to revert it but fix it in a more permanent feature as this will become an even bigger issue later on as more products are available and removing the option to specifically tax certain objects is a big enough reason to invest this time into fixing that.

[2020-10-20 14:53] IcedForge commented on #18850
Thank you for your report. Currently the steam engine does not require water in 0.9.0.X hence why it is not connecting.

[2020-10-20 14:53] #18850 closed

[2020-10-20 15:00] IcedForge commented on #18831
Thank you for your report.
What is your operating system and language localization? I am not seeing this on win10 / Eng.

[2020-10-20 15:23] superfoxi opened #18854 "IDO"
\
**Version:** 0.9.0.3 beta release-78

**Steps to Reproduce:**
SEFSFS

**Expected behavior:**
SEFSEFS

**Actual behavior:**
SEFS

**Do you have mods installed? Does the issue happen when no mods are installed?:**
SSEFSE

**Please provide log files. Instruction is here https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file

[2020-10-20 15:24] superfoxi opened #18855 "adasda"
asdasdasda

[2020-10-20 16:18] denysaw commented on #18834
Could be tested on Staging.

[2020-10-20 17:03] johnkslg commented on #17820
This one needs to be applied in the new refactored towns branch, or wait till it gets merged

[2020-10-20 17:04] johnkslg commented on #17820
Theres a ton of changes to minimap rendering in there

[2020-10-20 17:08] johnkslg commented on #18077
We should be able to move the statistics registration to happen before the post effect, that will fix this

[2020-10-20 17:10] johnkslg commented on #18516
I still like having the popup be an optional thing, so it can go to chat instead.
For notification aggregation, you can check if there was a recent duplicated message, remove it, and readd it with a multiplier on it.

@SlayksWood can you post an example of a law that needs to have this notification aggregation on it?

[2020-10-20 17:15] johnkslg commented on #18754
Make sure to fix this through the escape system, not through special cases

[2020-10-20 17:40] johnkslg commented on #18841
Should be fixed now

[2020-10-20 17:46] johnkslg commented on #18821
Update the comment on the context value too

[2020-10-20 17:47] johnkslg commented on #18709
Can remove that first box.

[2020-10-20 17:58] johnkslg commented on #18702
For this one, you can dig into the autogen system of the election card that shows up for the election.  Make a View_Provisions that is added there, which will auto generate it from the synced property. Then add a 'IHasClientControlledList' interface to election, which will allow the user to edit the entries that get created.  Make it set it read-only based on state too.

This will be a tricky one

[2020-10-20 18:03] denysaw commented on #18771
Could be tested on Staginland.

[2020-10-20 18:04] #18834 closed

[2020-10-20 18:29] #10440 closed

[2020-10-20 18:29] keegan-o commented on #10440
This is a dupe now

[2020-10-20 18:36] #12882 closed

[2020-10-20 18:39] keegan-o commented on #12476
Roof forms now all have split individual forms to use, "fixing" the smart roof builder is not feasible.

[2020-10-20 18:39] #12476 closed

[2020-10-20 18:42] #15070 closed

[2020-10-20 18:42] elfl0rd commented on #12882
Я так понимаю в тонкие крыши таки "нишмагла"? xD

[2020-10-20 18:44] #16405 closed

[2020-10-20 18:45] #2630 closed

[2020-10-20 18:47] #6843 closed

[2020-10-20 18:48] keegan-o commented on #17475
Duplicate of flying plants and terrain builders issue.

[2020-10-20 18:48] #17475 closed

[2020-10-20 18:52] keegan-o commented on #7023
Cube form is now usable for this, and more forms with more options will be added. Floor blocks are not intended to always work as walls.

[2020-10-20 18:52] #7023 closed

[2020-10-20 18:56] keegan-o commented on #9232
This needs a fix in code, pipes can perhaps be seen as non block items to stockpiles, so they show up in a crate?

[2020-10-20 18:59] keegan-o commented on #18729
This can be affected by problems with the reflection probe ending up inside voxels, for instance in any building interior seeing the difference between when you are right next to/up against a wall, versus in the middle of the room, you can see the reflection probe updating dramatically which is bad.

[2020-10-20 19:02] #10476 closed

[2020-10-20 19:11] keegan-o commented on #18307
Closing for now because my changes to the day/night ambient contribution should have fixed things like the overly bright rainforest, I would hope.

[2020-10-20 19:11] #18307 closed

[2020-10-20 19:24] keegan-o commented on #9454
Yeah, there is no obvious place to put a sign on the art, so just remove this component.

[2020-10-20 19:26] keegan-o commented on #10333
![image.png](https://images.zenhubusercontent.com/5ee003d5cfaa7fb4ca69f828/2a8836f8-eef4-4240-aa3e-fe54caa1621a)
Was changed to brown instead of grey a while ago

[2020-10-20 19:26] #10333 closed

[2020-10-20 19:27] StallEF opened #18856 "[0.9.1.0 beta staging-1814] Work Party tables headers have not localization"
Work Party tables headers have not localization (how on picture), but on tooltip localization is present
![2020-10-20](https://user-images.githubusercontent.com/26339332/96634332-0397df80-1323-11eb-9774-617731f3461f.png)

[2020-10-20 19:35] svy opened #18857 "When building at specific location (inside building at 395,1200) all players disconnected from the server"
При постройке игроком v.petroew на координатах 395,1200 выкидывает всех с сервера. В конфиге сервера вкладка "Сеть" пользователи есть, пинги до них есть, но информация (объекты, животные)
 не передаются. Файлы сохранения игры: https://yadi.sk/d/ImbvPTdM0-RLyg?w=1
Лог снят при завершении сервера после выкидывания всех игроков с сервера. Сервер выключается по 10-15 минут. Если
игрок не строил, то се

[2020-10-20 19:37] keegan-o commented on #10579
![image.png](https://images.zenhubusercontent.com/5ee003d5cfaa7fb4ca69f828/41d08b84-256a-49a5-b906-d3101b3a9061)

Has been fixed for a while

[2020-10-20 19:37] #10579 closed

[2020-10-20 19:53] keegan-o commented on #18566
![image.png](https://images.zenhubusercontent.com/5ee003d5cfaa7fb4ca69f828/b332fa32-7a6c-4704-87bd-138ac00584ca)
Thanks sekoris!

[2020-10-20 19:53] #18566 closed

[2020-10-20 19:59] WeaselDog commented on #17037
This is much better now due adjusted numbers in server configs

[2020-10-20 20:14] #16383 closed

[2020-10-20 20:14] #16370 closed

[2020-10-20 20:19] #2980 closed

[2020-10-20 20:52] johnkslg commented on #18530
This is a tricky one, because linked storages are setup via users manually connecting them to the table.  If the table isn't owned by any user, then we can't setup the links for this.  Couple ways we can go about it:
- When determining linked storage, look at what storages are linked for ALL users in the owner alias.

- Have a way to set linked storage for yourself AND for the owner demographic, i

[2020-10-20 20:53] johnkslg commented on #18404
It looks like the code that scans the user input for tags is finding a tag inside a tag?

[2020-10-20 20:53] #17408 closed

[2020-10-20 20:54] johnkslg commented on #18296
This filter dialog needs a 'Show Undiscovered' button.
I believe there was another bug that fixed this, so if that exist now just close this.

[2020-10-20 20:54] johnkslg commented on #17924
Maybe it's all just a dream?

[2020-10-20 20:55] johnkslg commented on #17585
We can make the '-' null values sort to the end in one case, and the top in the other case. I dont want to special case it to always be at the bottom, creates more problems then its worth.

[2020-10-20 20:56] johnkslg commented on #17038
Propose we push this till we do a full address of world spawn
If its easy we can fix.

[2020-10-20 20:57] johnkslg commented on #14845
Good ideas

[2020-10-20 20:57] johnkslg commented on #12425
Probably one is the chat going to global, the other is going to a single user.
You can make the global one exclude the user that is getting a personal message, i think theres an exclusion list you can fill in already (and if not can add it)

[2020-10-20 21:15] #15908 closed

[2020-10-20 21:55] j3fffff commented on #18748
passed new input header images to denys.

[2020-10-20 21:59] #18838 closed

[2020-10-20 21:59] j3fffff commented on #18838
Also added documentation for adding new sub features to the tree https://docs.google.com/document/d/1qcWvE6eELCcwy04kDgOg-fq9Mi7LXSLc8DTutEMveRM/edit#heading=h.b1v62y3ifuja

[2020-10-20 22:01] keegan-o commented on #18776
fixed in develop and staging

[2020-10-20 22:01] #18776 closed

[2020-10-20 22:31] keegan-o commented on #17431
![image.png](https://images.zenhubusercontent.com/5ee003d5cfaa7fb4ca69f828/66f6d93d-c6d0-4859-89b3-d10311810731)

@MilenkoTunjic Right now the large elevator controls don't really match the needed controls for the elevator script, we need up, down, and stop buttons.

We also will want an animation of both doors opening and closing at once so the elevator can be used in whatever way players like.

[2020-10-20 22:32] denysaw commented on #18770
Could be tested on Staging.

[2020-10-20 22:39] denysaw commented on #18748
replaced images

[2020-10-20 22:47] keegan-o commented on #17424
These need icons @RobertMangano , please add them to eco.unity as:

ShippingContainerRedItem
ShippingContainerBlueItem
ShippingContainerGreenItem

[2020-10-20 22:51] keegan-o commented on #17373
@RobertMangano

Please add the icon to eco.unity as CrabPotItem,

and please setup the prefab to look as you want it to (right now the prefab has a blank material).

[2020-10-20 22:55] keegan-o commented on #17428
@RobertMangano we need icons for these,

DumpsterCompostItem
DumpsterGarbageItem
DumpsterRecycleItem

[2020-10-20 22:56] keegan-o commented on #17427
Lets get prefabs and icons done for these for 9.2!

[2020-10-20 22:58] keegan-o commented on #17425
Let's get at least the art and icon for this ready to go in project for 9.2!

[2020-10-20 23:01] keegan-o commented on #17365
For 9.2:
**Boiler** needs a prefab + material and an icon.
**Paper Printing Press and Paper Machine** need icons.
**Easel and Mailbox** need prefabs, and icons.