[2018-12-01 18:33] elfl0rd commented on #10173
Try to place roof over roof, not over enother block,

[2018-12-01 19:07] Magnetkay commented on #10173
@elfl0rd  Thanks for the advise ^^

![image](https://user-images.githubusercontent.com/45519359/49331899-ae267e00-f5a4-11e8-98f7-a08052aa287f.png)

This problem had me stumped for a while!

[2018-12-02 07:53] Quadbro commented on #10014
@johnkslg , @BlazeGuy2  can someone help me with that issue?

[2018-12-02 12:10] ZeelNightwolf opened #10174 "Some Skills might not be working as intended."
Looking at skills to make modules for the wiki I have noticed a few things that might not be working the way that was intended.

Bow Efficiency:
The calories burned by using a bow is currently coded to use the hunting skill. Only 1 level of Bow efficiency is currently required to unlock Bow Damage. Therefore the rest of the level unlocks for this skill are useless.

Hunting:
Level 1 hunting allows

[2018-12-02 14:36] TheNerdPerson opened #10175 "USER ISSUE: Can't login because reasons"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
LOG INTO YOUR STRANGE LOOP ACCOUNT

**Expected behavior:**
LOGGING INTO THE GAME

**Actual behavior:**
The following error message popped up:
Cannot resolve destination host
[code]

[2018-12-02 14:37] bobertDobert opened #10176 "USER ISSUE: Login Failure"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
Create an account
Download ECO
Attempt to log in using ECO credentials (both user name and user ID fail)
Stare at pop-up message in sadness

**Expected behavior:**
it should have logged the fuck on

**Actual behavior:**
The following error message popped up:
Invalid username or password
Invalid username or password.
[code]

[2018-12-02 19:12] htonus opened #10177 "USER ISSUE: Can't start the game"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
1. Generate new world with all checkboxes ticked
2. After all steps passed it shows the gear and does nothing
3. Press ESC and it gives error message - connection lost

**Expected behavior:**
The game started

**Actual behavior:**
The following error message popped up:
[code]
Connection Failed
[code]

[2018-12-02 19:40] htonus commented on #10177
Not sure about thew issue. Found created worlds in saved list and managed to start the game.

[2018-12-03 05:09] mirasrael commented on #10166
@johnkslg Which version is it?

[2018-12-03 05:19] mirasrael commented on #10166
Checked on current release and on 7.9.1 version (which already have GUID ids) and in both cases I have
[code]
![image](https://user-images.githubusercontent.com/475445/49354464-1627b200-f6d4-11e8-9634-ebcbafce0f2a.png)

[2018-12-03 07:00] mirasrael commented on #10155
I fixed loading for long paths in staging, but there seems are another problem which I wasn't able to trace down. Game fails to load because of very suspect path in the game save archive.

![image](https://user-images.githubusercontent.com/475445/49357978-0dd67380-f6e2-11e8-8508-8508d48dd072.png)

Until next release you can fix this by manually removing such entries from `Game.eco` (Eden.eco, what

[2018-12-03 07:31] gau-veldt commented on #5898
But here's the million tailings question: can the devtool replace bedrock it (say accidentally due to a stray click which frequently happens during a lagspikes) smited?

[2018-12-03 07:34] elfl0rd opened #10178 "Hosted Worlds: prevent ip changes"
If possible, please prevent io changes when hosted world instance restarted.
Ofc, if instance shut down for long time, or subscription end - it's ok.

[2018-12-03 08:36] elfl0rd commented on #10178
(ok, it's intended)

[2018-12-03 08:36] #10178 closed

[2018-12-03 13:28] AndrDDD opened #10179 "USER ISSUE:"
**Version:** 0.7.6.3 beta

**Steps to Reproduce:**

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]

[2018-12-03 13:33] #10179 closed

[2018-12-03 13:33] redwyre commented on #10179
Duplicate of #10171

[2018-12-03 13:35] redwyre commented on #10171
The Program Files directory is protected, either run the server as an administrator, or move the server to a directory outside of Program Files.

[2018-12-03 14:03] Spydarlee commented on #8824
Elevator call post has now been added - functionality will likely change later, and it may only work with high tech elevators in the future. But hopefully this eases some frustrations for now. Will try and take a look at /unstuck in a bit, too!

[2018-12-03 14:03] #8824 closed

[2018-12-03 14:29] Quadbro commented on #9745
Do you mean ":" is missing?)

[2018-12-03 14:30] Quadbro commented on #9745
sorry, missclicked closing)

[2018-12-03 15:51] InTheNameOfTheEMPEROR opened #10180 "USER ISSUE: wrong skill points calculation"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
1. Start the world in no collaboration mode
2. Learn each specialty step by step
3. Reached 22nd specialty, costs 700 points
(can't guarantee reproduction; haven't proofed on other worlds)

**Expected behavior:**
The cost should calculate like 0, 0, 5, 15, 50, 300, 700 according to eco.gamepedia.com/Specialities

**Actual behavior:**
22nd specialt

[2018-12-03 16:56] InTheNameOfTheEMPEROR opened #10181 "USER ISSUE: Small wooden sign"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
1. Place a small wooden sign
2. Type in any text you want
![2018-12-03 5](https://user-images.githubusercontent.com/45568218/49388594-8d853200-f724-11e8-81f6-c34e9f97d3ef.png)
3. Save
![2018-12-03 6](https://user-images.githubusercontent.com/45568218/49388608-96760380-f724-11e8-98d7-9e40b7f2f54b.png)
4. No text on the sign
![2018-12-03 7](https://

[2018-12-03 18:44] elfl0rd commented on #9745
yep, different vs other strings.
adding : will be better :)

[2018-12-03 20:54] Nicolausi113 commented on #10181
This is backside you looking to, turn it 180 degree

[2018-12-03 21:14] Nicolausi113 commented on #10181
sorry , I was wrong - but i works for me
![sign2](https://user-images.githubusercontent.com/38510829/49401927-c7682f80-f748-11e8-837f-612b483b6b3a.jpg)

[2018-12-03 23:02] Echtoplasma opened #10182 "USER ISSUE: UI opening with fast typing"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
Opens at random without doing anything

**Expected behavior:**
Open at command

**Actual behavior:**
Opens sporadically every 20 seconds or son
**Do you have mods installed? Does issue happen when no mods are installed?:**
Opens sporadically every 20 seconds or so

[2018-12-04 01:08] elfl0rd commented on #10182
check your Z button on your keyboard.

[2018-12-04 02:18] elfl0rd commented on #8032
okay, looks fixed in master.

[2018-12-04 02:20] elfl0rd opened #10183 "Master: connection error still open under screens."
(i pressed esc)
![r](https://user-images.githubusercontent.com/4980243/49414363-2bf4b000-f784-11e8-886a-f3be208aea44.gif)

[2018-12-04 02:22] elfl0rd opened #10184 "Master: /trashcity cause server to unavailable"
https://github.com/StrangeLoopGames/Eco/pull/3624
Server looks work, but client cant connect. (timeout)

[2018-12-04 02:49] elfl0rd opened #10185 "Master: campsite place cause crash"
**Version:** 0.8.0.0 beta master-417733c2 debug
[code]
Looks as campsite have only one slot.

![default](https://user-images.githubusercontent.com/4980243/49415635-606a6b00-f788-11e8-810b-9442f41f3ecf.png)

[2018-12-04 03:10] elfl0rd commented on #10025
Yes i can confirm. It's still happens on fresh master branch.

Before restart
![default](https://user-images.githubusercontent.com/4980243/49416523-42523a00-f78b-11e8-82b7-04f7bc6a1b48.png)

after multiple saves and restart
![default](https://user-images.githubusercontent.com/4980243/49416544-585ffa80-f78b-11e8-8b8a-e9dfe2b8dfe6.png)

[2018-12-04 03:28] elfl0rd opened #10186 "Master: /setreputation limited by 30 rep."
**Version:** 0.8.0.0 beta master-417733c2 debug
Admin can enter any number of reputation to /setreputation, but target receive max 30.

[2018-12-04 03:30] D3nnis3n commented on #10181
Duplicate of #10062

[2018-12-04 03:30] #10181 closed

[2018-12-04 03:33] D3nnis3n commented on #10135
Please add your save file uploaded to google drive or similar.

[2018-12-04 03:35] D3nnis3n commented on #10154
Probably missing error message for not being logged in correctly.

[2018-12-04 03:37] D3nnis3n commented on #10158
Can you provide a Screenshot? Cannot reproduce this.

[2018-12-04 03:39] D3nnis3n commented on #10083
Closed because of no answer in two weeks.

[2018-12-04 03:39] #10083 closed

[2018-12-04 03:40] D3nnis3n commented on #9729
Issue did no longer occur.

[2018-12-04 03:40] #9729 closed

[2018-12-04 03:41] D3nnis3n commented on #9432
None of these issues occured again since then.

[2018-12-04 03:41] #9432 closed

[2018-12-04 03:43] #10162 closed

[2018-12-04 03:43] D3nnis3n commented on #10162
Duplicate

[2018-12-04 03:46] D3nnis3n commented on #10163
Duplicate of #10051

[2018-12-04 03:46] #10163 closed

[2018-12-04 03:48] D3nnis3n commented on #10171
Old version and solution given, not a bug.

[2018-12-04 03:48] #10171 closed

[2018-12-04 05:31] InTheNameOfTheEMPEROR commented on #10180
Yes but in no collaboration it suddenly shouldn't cost 700 points. My
friend hadn't  this issue. And it completely stagnated like this. I can't
pay 2100 points for my next 3 specialities.

Am Di., 4. Dez. 2018, 04:28 hat D3nnis3n <notifications@github.com>
geschrieben:

[2018-12-04 06:15] Deantwo commented on #10154
That could be. I haven't had the issue since, but I have not been disconnected from the server while editing laws either.

[2018-12-04 09:46] elfl0rd commented on #7240
@D3nnis3n can you close lot of duplicates? :D

[2018-12-04 10:08] D3nnis3n commented on #7541
Duplicate

[2018-12-04 10:08] #7541 closed

[2018-12-04 10:10] D3nnis3n commented on #8665
Duplicate

[2018-12-04 10:10] #8665 closed

[2018-12-04 10:12] D3nnis3n commented on #9274
Duplicate

[2018-12-04 10:12] #9274 closed

[2018-12-04 10:16] D3nnis3n commented on #10180
I'm not sure if i get the Problem - what did the 21 specialty cost?

[2018-12-04 10:34] elfl0rd opened #10187 "Localization: missed "by" and "benefits""
![default](https://user-images.githubusercontent.com/4980243/49436071-3be2b300-f7c9-11e8-815f-d5297b168614.png)

[2018-12-04 11:02] elfl0rd commented on #9579
As i see it's fixed in master.

[2018-12-04 11:11] D3nnis3n opened #10188 "[7.9.1 - Update 2] Invalid IP-Address shown on localhost"
Should not show that, as it works (probably, if hostnames work, check for those, too):

<img width="808" alt="invalidip" src="https://user-images.githubusercontent.com/25908592/49438119-a8f04b80-f7bd-11e8-90b0-8b1f0dedd672.png">

[2018-12-04 11:22] #10148 closed, assigned to Quadbro

[2018-12-04 11:23] #10147 closed, assigned to Quadbro, BlazeGuy2

[2018-12-04 11:31] #10152 closed

[2018-12-04 11:37] D3nnis3n opened #10189 "[7.9.1 - Update 2] Targeting carved pumpkin is hard"
You can only target the pumpkin on top, not from the sides, therefore it can be hard to press "e" on it. (There really is no use to open it, but as you can, it should work)

[2018-12-04 11:41] D3nnis3n commented on #10189
Probably just remove the ability to open them alltogether - we have the desk that has no UI at all - or add a UI to desk, just somehow consistent.

[2018-12-04 11:56] D3nnis3n opened #10190 "[7.9.1 - Update 2] Animals are dumb"
Just a joke. :) When an animal is in its normal behaviour and you shoot arrows at it, missing it, it will not go into flee mode. Even if the arrow hits directly next or in front of it. Every animal i know would notice that something happened ...

[2018-12-04 12:57] Deantwo commented on #10066
Totally agree, the current way ramps work is just weird. The old world object ramps were simpler and easier to work with.

If you really want to make ramps into blocks, I would suggest something more long the lines of how roof blocks work. Maybe you have to rotate the block to indicate which way to slope, but then have them automatically slope to the amount of ramp blocks that are placed in the ro

[2018-12-04 13:15] D3nnis3n opened #10191 "[7.9.1 - Update 2] Mowing Contract does once again not recognize mown grass correctly (The third time!)"
See title and this screenshot.
![grass](https://user-images.githubusercontent.com/25908592/49444319-16f13e80-f7cf-11e8-9c86-5459bbe87f2c.jpg)

[2018-12-04 13:16] D3nnis3n commented on #10191
"Not ripe enough to harvest"

[2018-12-04 13:57] D3nnis3n opened #10192 "[7.9.1 - Update 2] Exceptions in output_log.txt"
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/2644229/output_log.txt)

[2018-12-04 15:32] D3nnis3n commented on #10025
Getting even worse:
<img width="537" alt="information" src="https://user-images.githubusercontent.com/25908592/49452823-2fb71f80-f7e2-11e8-8700-8c0922713351.png">

[2018-12-04 17:41] masterquinn opened #10193 "Ladder included in room tier"
Build a brick house, add 1 peice of ladder.. assuming it's because ladder is entitled as isMaterial=HewnLog... Either multiple tier ladders or have the ladder ignore tiers in room calcs

Thanks

[2018-12-04 18:16] Orkmork opened #10194 "No seeds from tomatoes and huckleberries"
Here is a video of the problem. Collecting 4 tomatoes, no seeds given. but it was shown that 3 seeds were gathered. After this video i collected 2 corns and got 2 corn and 2 cornseeds each. and the corn seeds are in the inventory. https://www.dropbox.com/s/kf4ljx5mjj269kd/2018-12-04_18-20-48.mp4
No mods on the server. Basic settings without meteor. 140x140 worldsize.
Same is happening with the huc

[2018-12-04 18:18] D3nnis3n commented on #10193
Duplicate of #10123

[2018-12-04 18:18] #10193 closed

[2018-12-04 19:53] #9456 closed

[2018-12-04 19:56] Orkmork commented on #10194
The newest one. but nevermind... the issue was, that the backpack did not open propperly. Now after the backpack is shown all seeds are there.

[2018-12-04 19:56] #10194 closed

[2018-12-04 20:46] D3nnis3n opened #10195 "[Master] Election System is broken"
/leader tells you you were made leader, but you aren't.

Trying to run for election gives you this view:
![election](https://user-images.githubusercontent.com/25908592/49471763-01e7d000-f80e-11e8-9ef5-8ecd45df5502.jpg)

You can't run for office, getting the error seen on top.

Laws seem to work.

[2018-12-04 20:59] SeanAtr0n commented on #10190
Yeah, was hoping to do something for this in 8.0

[2018-12-04 21:22] johnkslg opened #10196 "Error dialog is bad"
![image](https://user-images.githubusercontent.com/3536496/49473709-a8f54900-f7c7-11e8-9d49-5fc4f154d7cf.png)

There's no option to just 'ok' or close it
the buttons are long and look bad
Should look like a normal dialog box.

[2018-12-04 22:25] johnkslg opened #10197 "Cant connect after disconnecting client from server"
Upon trying to reconnect, the client hangs. Current master.

[2018-12-04 22:26] SeanAtr0n opened #10198 "pipe emitters aren't getting destroyed in 8.0"
destroying tables while they emit leaves behind particle systems

[2018-12-04 22:34] SeanAtr0n opened #10199 "sideways pipe ports are dumb 8.0"
![image](https://user-images.githubusercontent.com/774628/49477278-44d78280-f7d1-11e8-8bd3-29c1fef11034.png)

Previously we moved all chimneys to the top to help minimize sideways pipe port builder issues... we will need pipe port directional variations and an easy way to specify builder rules that change the rule block based on rotation

[2018-12-04 23:29] Praefator opened #10200 "[Linux] Spammed with LiteException"
As per Pam's request - I am constantly being spammed by this message in the console while running on Linux. Ubuntu 18.04, Mono 5.14

Error writing to stat database: LiteException Cannot insert duplicate key in unique index '_id'. The duplicate value is '299061'.

Game.eco and game.db included here:
https://1drv.ms/u/s!Ah1HP-nsGmcYiewf1-5lpredLOCobQ

[2018-12-04 23:54] johnkslg commented on #10197
Exception probably related:
ArgumentException: An item with the same key has already been added. Key: 455
System.Collections.Generic.Dictionary`2[TKey,TValue].TryInsert (TKey key, TValue value, System.Collections.Generic.InsertionBehavior behavior) (at <f2e6809acb14476a81f399aeb800f8f2>:0)
System.Collections.Generic.Dictionary`2[TKey,TValue].Add (TKey key, TValue value) (at <f2e6809acb14476a81f399

[2018-12-05 03:47] PredatorActual commented on #10124
https://drive.google.com/drive/folders/1-iHljBpjjYcrb8WydZ-udKHC9AMHDZ6S?usp=sharing

This is a current world and .db files from 12/5

[2018-12-05 05:37] mirasrael commented on #10124
Hi @PredatorActual
Did you check comments for this issue? https://github.com/StrangeLoopGames/EcoIssues/issues/10155

[2018-12-05 05:40] PredatorActual commented on #10124
I was told by Pam in discord that these might help.

[2018-12-05 06:09] McFappington opened #10201 "USER ISSUE: truck fell through the ground and now I can not find it. It also had my skid steer in its inventory and I'm very upset"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
not sure

**Expected behavior:**
truck should not fall through the ground

**Actual behavior:**
truck fell through the ground
**Do you have mods installed? Does issue happen when no mods are installed?:**
I do not have any mods

[2018-12-05 09:11] elfl0rd opened #10202 "QoL: configs need to contain all variables by default."
In current state, configs looks "empty" untill target variable not changed.
This make config editing before server start, or\and editing configs on dedicaded servers really ugly.

Please, make changes, all configs need to be "filled" by default.

e.g.
"current" stock config.
[code]
"full" config.
[code]

[2018-12-05 09:31] elfl0rd commented on #10196
In some cases woll be better removing\hiding report button...
e.g. "server shutting down" and some more connection errors...

[2018-12-05 10:38] elfl0rd opened #10203 "Stockpiles, possible trap (art, low prior, funny)"
In current state, stockpiles contain floor without collision, it's allow to create traps. I will be prefer removing "floor" graphics part from stockpile.
![default](https://user-images.githubusercontent.com/4980243/49508139-05716a80-f893-11e8-91c1-ffd217879a2e.png)
![default](https://user-images.githubusercontent.com/4980243/49508151-0e623c00-f893-11e8-86a5-8fd4c6805172.png)

[2018-12-05 11:52] mirasrael commented on #10166
Issue related to Steam changes.

[2018-12-05 13:11] elfl0rd opened #10204 "Feature: fallback connection through ip."
Connection attempt -> used ID -> masterserver check in background IP server availability, if available send "check" to client -> client check server availability in background, if available -> save IP and server ID in recents\favorites\continue, etc.
If masterserver unavailable, or connection through masterserver with ID fail, client try to use saved IP.
When connection trough ip, client check sav

[2018-12-05 13:11] elfl0rd commented on #10204
https://github.com/StrangeLoopGames/EcoIssues/issues/8003

[2018-12-05 13:14] elfl0rd commented on #9662
Apparently a rare problem I think can be closed. @D3nnis3n

[2018-12-05 13:15] elfl0rd commented on #9413
@Quadbro look at it! :P

[2018-12-05 13:19] elfl0rd commented on #9434
Still happens on latest version?

[2018-12-05 13:20] elfl0rd commented on #4407
@mirasrael can you look? Maube can be closed?

[2018-12-05 13:25] elfl0rd opened #10205 "New player cannot use direct connect"
Due to "your worlds" hidden if no recent\favorites servers.
And direct connect button available only in "your worlds".

Temporary solution before main menu remake - make your worlds available bu default.
Or add direct connect button (+) in "browse all servers" in new game.

[2018-12-05 13:35] Nicolausi113 commented on #10191
Should not count as harvest - also #10095 – needs consistent solution

[2018-12-05 13:44] D3nnis3n commented on #9662
That's up to @BlazeGuy2, he already took the issue and i have heard of such problems earlier.

@Dibbertaler Please add your game save file.

[2018-12-05 13:50] Spydarlee commented on #9981
General UI scaling is probably a wider issue for another time, but making the input field a pop-up is a nice idea. We could revisit that one later if it continues to be an issue here and elsewhere, but for now I've added right-click-to-edit support. :)

![lostwordsrightclickedittitle](https://user-images.githubusercontent.com/553695/49517454-225a6d80-f894-11e8-839b-8bef203ec553.gif)

[2018-12-05 13:50] #9981 closed

[2018-12-05 14:00] elfl0rd commented on #9981
@Spydarlee hmm... why _name_ contain worldobject icon and color? 0_p

[2018-12-05 15:16] mirasrael commented on #10170
I kept option, but now it doesn't override Language Match filter, but instead used as default.

[2018-12-05 16:19] elfl0rd commented on #6902
@D3nnis3n can you select one issue from duplicates? this newest, but contain more information...

[2018-12-05 16:32] elfl0rd commented on #4977
@D3nnis3n cannot repeat, maybe fixed in unstuck changes.

[2018-12-05 16:32] elfl0rd commented on #3460
Hm... Looks as removed feature, this is still need? @D3nnis3n

[2018-12-05 16:35] elfl0rd commented on #5532
Still happens in latest versions...

[2018-12-05 16:43] elfl0rd commented on #3483
Maybe too old, @D3nnis3n ? :)

[2018-12-05 16:46] elfl0rd commented on #6560
@D3nnis3n dupe of fixed issue https://github.com/StrangeLoopGames/EcoIssues/issues/5432

[2018-12-05 16:48] elfl0rd commented on #6900
@D3nnis3n fixed looooong time ago.

[2018-12-05 16:50] elfl0rd commented on #6580
@D3nnis3n old issue.

[2018-12-05 17:14] elfl0rd commented on #5064
This issue looks too old... Maybe fixed? @rainfarmer
Or close as not answered.

[2018-12-05 17:18] elfl0rd commented on #6848
@D3nnis3n fixed long time ago.

[2018-12-05 17:19] elfl0rd commented on #2724
@BlazeGuy2 suggestion?

[2018-12-05 17:22] elfl0rd commented on #9325
Addition, https://github.com/StrangeLoopGames/EcoIssues/issues/8849 (maybe grab into this issue?)

[2018-12-05 17:32] mirasrael commented on #7361
Fixed in referred pull request (at least loading time). Let me know if you still have crashes.

[2018-12-05 17:32] #7361 closed

[2018-12-05 17:39] elfl0rd commented on #7427
Looks as old and maybe fixed issue.

[2018-12-05 17:40] elfl0rd commented on #7671
@D3nnis3n can be closed, intended.

[2018-12-05 17:47] DragonSupremacy commented on #10200
Update: removing the db entry in question caused the next value being 299061 showing up as though it was 'duplicate'. I've since removed the entire db

[2018-12-05 17:49] elfl0rd commented on #7853
heh, my issue is dupe :) closing it - https://github.com/StrangeLoopGames/EcoIssues/issues/8620

[2018-12-05 17:50] elfl0rd commented on #8620
closing as dupe - https://github.com/StrangeLoopGames/EcoIssues/issues/7853

[2018-12-05 17:50] #8620 closed

[2018-12-05 17:51] elfl0rd commented on #7071
@D3nnis3n Fixed in 0.7.8

[2018-12-05 17:54] elfl0rd commented on #7063
@D3nnis3n can you look? :D

[2018-12-05 17:57] elfl0rd commented on #3447
@johnkslg hmm... markers added... auto markers added too (campsite).

[2018-12-05 18:04] elfl0rd commented on #8594
Pay removed, but cleaning\sending all currency still actual :(
@Quadbro can you look?

[2018-12-05 18:06] elfl0rd commented on #8742
@D3nnis3n as intended.

[2018-12-05 18:07] elfl0rd commented on #8507
@D3nnis3n i think you interested about :)

[2018-12-05 18:08] elfl0rd commented on #8860
@D3nnis3n fixed long time ago.

[2018-12-05 18:09] elfl0rd commented on #8848
All work as intended, you need screw press and another benches in same room.
@D3nnis3n can you close? :)

[2018-12-05 18:11] elfl0rd commented on #8734
@D3nnis3n added. "Internal" light and torch stand. Maybe can be closed :)

[2018-12-05 18:13] elfl0rd commented on #9002
@BlazeGuy2 ? Maybe can be closed due to modifications problem?

[2018-12-05 18:18] elfl0rd commented on #10184
@Quadbro can you look too - https://github.com/StrangeLoopGames/EcoIssues/issues/9106 ?

[2018-12-05 18:19] elfl0rd commented on #9374
@D3nnis3n fixed in https://github.com/StrangeLoopGames/Eco/pull/3595

[2018-12-05 18:20] elfl0rd commented on #9251
@D3nnis3n fixed in https://github.com/StrangeLoopGames/Eco/pull/3595

[2018-12-05 18:31] metachronism commented on #4286
new thoughts on how to fix:

determine sets of triangles contributing to each edge face polygon, instead of one list of all triangles
when removing faces, only remove them if all the vertices of the to-be-removed face lie within triangles in the same set

this *should* work.

[2018-12-05 18:32] elfl0rd commented on #7704
@D3nnis3n fixed.
![20181205213139_1](https://user-images.githubusercontent.com/4980243/49535406-32467180-f8d5-11e8-95c5-daf90e8aa1ed.jpg)

[2018-12-05 18:34] elfl0rd commented on #7364
@D3nnis3n fixed.

[2018-12-05 18:37] elfl0rd opened #10206 "Chainsaw have incomfortable high sound."
Please make chainsaw sound quieter.
1\2 for me.

[2018-12-05 18:39] elfl0rd commented on #7875
@D3nnis3n server killself if main game crashed\closing.
Fixed.

[2018-12-05 18:44] elfl0rd commented on #8147
Fixed)) you can close it :)
![20181205214345_1](https://user-images.githubusercontent.com/4980243/49536163-ed233f00-f8d6-11e8-9bcb-6140ad06f952.jpg)
![20181205214349_1](https://user-images.githubusercontent.com/4980243/49536166-eeed0280-f8d6-11e8-8ad2-4bf51a70604d.jpg)
![20181205214351_1](https://user-images.githubusercontent.com/4980243/49536175-f0b6c600-f8d6-11e8-8df0-e397049634c0.jpg)

[2018-12-05 18:46] elfl0rd commented on #8737
@D3nnis3n can you look? maybe this and linked issue is fuxed, PR merjed.

[2018-12-05 18:52] elfl0rd commented on #9199
@D3nnis3n fixed in current release as i see.

[2018-12-05 18:55] elfl0rd commented on #3070
@D3nnis3n as i know it fixed by restrict harvest notgrow plants.

[2018-12-05 19:01] elfl0rd opened #10207 "Smite cutted tree destroy all tree part"
Includes stump and parts of a tree trunk
https://youtu.be/q8CbqxeSYK4

[2018-12-05 19:35] D3nnis3n commented on #5913
Duplicate

[2018-12-05 19:35] #5913 closed

[2018-12-05 19:37] D3nnis3n commented on #4977
Yep, i had that tested a while back, too and it did no longer occur. Reopen if it reoccurs.

[2018-12-05 19:37] #4977 closed

[2018-12-05 19:38] D3nnis3n commented on #3460
Feature has been removed, Hewn Logs are crafted nowadays.

[2018-12-05 19:38] #3460 closed

[2018-12-05 19:39] D3nnis3n commented on #3483
Old Issue.

[2018-12-05 19:39] #3483 closed

[2018-12-05 19:39] D3nnis3n commented on #6560
Fixed.

[2018-12-05 19:39] #6560 closed

[2018-12-05 19:40] D3nnis3n commented on #6900
Fixed.

[2018-12-05 19:40] #6900 closed

[2018-12-05 19:40] D3nnis3n commented on #6580
Indeed.

[2018-12-05 19:40] #6580 closed

[2018-12-05 19:41] D3nnis3n commented on #6848
Fixed.

[2018-12-05 19:41] #6848 closed

[2018-12-05 19:44] D3nnis3n commented on #7671
Indeed,

[2018-12-05 19:44] #7671 closed

[2018-12-05 19:45] D3nnis3n commented on #7071
Indeed.

[2018-12-05 19:45] #7071 closed

[2018-12-05 19:47] D3nnis3n commented on #8742
Even if intended i do not really like this. I'll keep it open for the developers to decide what to do with it.

[2018-12-05 19:51] D3nnis3n commented on #8860
Indeed.

[2018-12-05 19:51] #8860 closed

[2018-12-05 19:52] D3nnis3n commented on #9374
Indeed.

[2018-12-05 19:52] #9374 closed

[2018-12-05 19:52] D3nnis3n commented on #9251
Indeed.

[2018-12-05 19:52] #9251 closed

[2018-12-05 19:54] D3nnis3n commented on #7704
Indeed.

[2018-12-05 19:54] #7704 closed

[2018-12-05 19:55] D3nnis3n commented on #7364
Indeed.

[2018-12-05 19:55] #7364 closed

[2018-12-05 20:11] D3nnis3n commented on #10201
Try to go to a Real Estate Desk and find it there, then going the the coordinates shown.

[2018-12-05 20:22] D3nnis3n opened #10208 "[Master] Mint is broken"
Shows a FakePlant Tab and nothing in its main tab.

![mint](https://user-images.githubusercontent.com/25908592/49541678-cb748880-f8d3-11e8-9aca-cefb928808f4.jpg)

[2018-12-05 20:32] D3nnis3n commented on #8737
Fixed.

[2018-12-05 20:32] #8737 closed

[2018-12-05 20:33] D3nnis3n commented on #8734
Added.

[2018-12-05 20:33] #8734 closed

[2018-12-05 20:34] D3nnis3n commented on #8848
Thats correct, but it's not made aware to players that those machines need to be in the same room and it should be, keeping open therefore.

[2018-12-05 20:35] D3nnis3n commented on #7875
I sometimes still occur this issue, therefore keeping it open.

[2018-12-05 20:36] D3nnis3n commented on #9199
Indeed fixed.

[2018-12-05 20:36] #9199 closed

[2018-12-05 20:37] D3nnis3n commented on #3070
Yep, cannot be harvested without fruits.

[2018-12-05 20:37] #3070 closed

[2018-12-05 20:38] D3nnis3n commented on #8231
Seems indeed fixed, reopen if it reoccurs.

[2018-12-05 20:38] #8231 closed

[2018-12-05 20:41] D3nnis3n commented on #8873
@Conchipedia Do you still see this issue?

[2018-12-05 20:43] D3nnis3n commented on #8975
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/7749

[2018-12-05 20:43] #8975 closed

[2018-12-05 20:45] D3nnis3n commented on #8514
Duplicate of #1424

[2018-12-05 20:45] #8514 closed

[2018-12-05 20:56] BlazeGuy2 opened #10209 "[8.0.0] Can't launch SP from Client built with IL2CPP"
Can't launch single player from client built with IL2CPP.  When I attempt to generate new world with random landscape, I get this:
![il2cpp_error](https://user-images.githubusercontent.com/35509188/49543464-2df66600-f88d-11e8-9d74-74c88d7c5ec9.PNG)
Included link to the build.
https://drive.google.com/open?id=1WnOFYrWB6DcFyElFmtMSHmbwUNtfEDF2

[2018-12-05 21:00] BlazeGuy2 commented on #10209
Also including link to IL2CPP built debug info:
https://drive.google.com/open?id=1wVbQOYseqx3CVJlAl2qYUvTlBS4iI7Qg

[2018-12-05 21:01] elfl0rd commented on #7875
in 0.7.8 too? after mirasrael steam fixes.

[2018-12-05 21:02] elfl0rd commented on #8848
But "missing info" is different issue from this :)

[2018-12-05 21:07] D3nnis3n commented on #7875
Yes.

[2018-12-05 21:09] elfl0rd commented on #8742
You do not like the fact that you can work quickly and effectively only on a special workbench? :)

[2018-12-05 21:11] elfl0rd commented on #7875
In singleplayer? after crash? Or in different cases?

[2018-12-05 21:12] D3nnis3n commented on #7875
After Crash and sometimes even after just ending the game.

[2018-12-05 21:13] D3nnis3n commented on #8742
Sorry, i did not realise the carpentry table also offers hewn logs to craft. Closed.

[2018-12-05 21:13] #8742 closed

[2018-12-05 21:15] D3nnis3n opened #10210 "[Master] Connection failed dialog is even shown when the c onnection did work fine"
Gives something like this:
![connectionfailed](https://user-images.githubusercontent.com/25908592/49544479-3aa1ab00-f8db-11e8-8c89-d71d79fcb92d.jpg)

[2018-12-05 21:15] D3nnis3n commented on #10210
(Yes i can just go on fine)

[2018-12-05 21:36] ManuHeel opened #10211 "Wheelbarrow moves in X and Y axis according to the origin location when moving"
Hi Devs,

I'm using 7.8.5 with friends.
Once the wheelbarrow has been placed in the world, it looks like it's storing it's original location, then does not move forward and backward according to the direction it's facing butin the direction of the absolute X and Y axis. Here is a video I captured, only moving with W and S, forward and backward.

https://youtu.be/iB4v4_cSFdo

I moved backward then

[2018-12-05 21:56] #10183 closed

[2018-12-05 21:56] #10184 closed

[2018-12-05 21:56] #10185 closed

[2018-12-05 21:56] #10186 closed

[2018-12-05 21:56] #10197 closed

[2018-12-05 21:59] #9869 closed

[2018-12-05 21:59] #9870 closed

[2018-12-05 21:59] #9871 closed

[2018-12-05 21:59] #9872 closed

[2018-12-05 21:59] #9881 closed

[2018-12-05 21:59] #9968 closed

[2018-12-05 21:59] #9752 closed

[2018-12-05 21:59] #9760 closed

[2018-12-05 21:59] #9768 closed

[2018-12-05 21:59] #9770 closed

[2018-12-05 21:59] #9789 closed

[2018-12-05 21:59] #9790 closed

[2018-12-05 21:59] #9847 closed

[2018-12-05 21:59] #9851 closed

[2018-12-06 02:37] SeanAtr0n opened #10212 "Crafting with slowly supplied liquid toggles workorder status too quickly"
Results in a lot of unnecessary view updates

[2018-12-06 02:46] SeanAtr0n commented on #10212
Guess the view updates might occur anyway... the main annoyance is toggling operating sounds

[2018-12-06 02:50] D3nnis3n commented on #10051
Merged with: https://github.com/StrangeLoopGames/EcoIssues/issues/10051

[2018-12-06 02:50] #10051 closed

[2018-12-06 03:10] SeanAtr0n opened #10213 "WaterFilter MaxCanRecieve Loop"
Connecting input to output results in a stack overflow

[2018-12-06 03:15] SeanAtr0n opened #10214 "Pipe networks can transmit multiple types at the same time"
Just using one pipe for water + sewage works w/o any issue

[2018-12-06 03:24] SeanAtr0n opened #10215 "LiquidConsumer doesn't track actual consumption rate"
When a consumer limits output to 0.1/s multiple crafters can output at 0.1/s to the same consumer

[2018-12-06 05:51] elfl0rd commented on #10214
And smog maybe? :)

[2018-12-06 06:11] elfl0rd commented on #10203
@D3nnis3n this more low priority then middle... /unstuck still work and this case is rarely :)

[2018-12-06 08:21] mirasrael commented on #10209
Fix for Il2CPP process was dropped in this merge "Merge from staging (#3627) Walker Mansfield* 11/16/2018 03:15"

[2018-12-06 09:37] elfl0rd commented on #10057
@D3nnis3n I believe that this is not a suggestion but a bug. In a single game you may need a lot of time before you can sleep in a separate bed.

[2018-12-06 10:33] MrManviFTAI commented on #10155
Hey! So I had the same issue, I got in reach with one of the support devs and I got to this post.
The Fix helped me out but I had 2 unusually big users name in the game.eco file. with 964 characters each. He advised me to post the file here. So Mirasel will be informed regarding this. Here you go mate:
[https://mega.nz/#!W2ZgRSbT!FB_Jv77XVOfJhcdpRvEHqAvgifOVmEbst-teNyc8s7Q](url)

[2018-12-06 10:50] MrManvi opened #10216 "USER ISSUE: Everyone gets disconnected at the same time randomly and more... (VPS Server)"
Hey so I'm having an issue for quite a while now. We bought a VPS to host a Eco Server with specs (for information):
**Intel Core Xeon X5670 @2.93GHz (8 Cores)
16GB RAM
Windows Server 2016
100mbps up and down speed.
NOTE: We already have .NET 4.7.2 Framework installed. EcoServer Version: 0.7.8.5. NO MODS INSTALLED**
Now the main issue is that Players constantly get disconnected from the server at

[2018-12-06 10:54] Conchipedia commented on #8873
still getting same problem in 7.8.5, only way to get up on this block 1 level below surface of water is to go deeper and then come back up to get on top of the block

[2018-12-06 11:14] mirasrael commented on #10155
@MrManvi thanks!

[2018-12-06 12:40] D3nnis3n commented on #10057
I don't agree on this one, sorry. As BlazeGuy2 was of the same opinion as me, it stays as is.

[2018-12-06 12:41] D3nnis3n commented on #7427
Reopen if it reoccurs, i could never ever occur a crash when eating and people on my server were eating a lot.

[2018-12-06 12:41] #7427 closed

[2018-12-06 13:14] elfl0rd commented on #8873
can you record video?

[2018-12-06 13:16] elfl0rd commented on #10057
In this case fake "bed" need to be removed from campsite.

[2018-12-06 13:17] elfl0rd commented on #10057
As written in changelog
![default](https://user-images.githubusercontent.com/4980243/49586498-6328b400-f972-11e8-9467-97746c24ff58.png)
this is bed? yes.
![default](https://user-images.githubusercontent.com/4980243/49586516-6f147600-f972-11e8-9e3f-748f636a2a0b.png)
Why i cannot sleep in it?

[2018-12-06 13:19] D3nnis3n commented on #10057
Cause it's not a bed item, but a starter camp item. Please refrain from pressing through your opinion, thank you.

[2018-12-06 13:19] elfl0rd commented on #10057
Is it? I do not see his opinion, I see the work of the automatic tool.

[2018-12-06 14:24] D3nnis3n opened #10217 "[Master] Bank - Deleting account crashes the server"
https://gist.github.com/D3nnis3n/deee5498d698e05aefec9ef2ae542b25

[2018-12-06 14:26] D3nnis3n opened #10218 "[Master] Bank / Registrar - Permissions / Assignments for accounts / titles cannot be set"
There is no way to set permissions for bank accounts. It shows the screen below but when you click on a account nothing appears there.

[2018-12-06 15:34] elfl0rd opened #10219 "Missing animation - oil refinery"
You can see animation in youtube announce, https://www.youtube.com/watch?v=F0cK30I9iHo (10 month ago!) but this animation not included to game.

[2018-12-06 19:33] elfl0rd commented on #3447
@D3nnis3n this looks as realized.

[2018-12-06 19:58] #10198 closed

[2018-12-06 20:00] D3nnis3n commented on #3447
Seems so, yes.

[2018-12-06 20:00] #3447 closed

[2018-12-06 20:56] elfl0rd opened #10220 "Master: /testsewage broken"
after models change. Pipes not connected and queue fail.

[2018-12-06 21:00] #10209 closed

[2018-12-06 21:33] #4407 closed

[2018-12-06 21:33] #8048 closed

[2018-12-06 21:33] #10166 closed

[2018-12-06 21:38] elfl0rd opened #10221 "Master: QoL pump (pipes) connection to water"
You cannot "just place and go" for now
![default](https://user-images.githubusercontent.com/4980243/49612626-5a59d180-f9b6-11e8-9671-a8049ce3b797.png)
Not work...

You need create some pipes structure...
![default](https://user-images.githubusercontent.com/4980243/49613306-6181df00-f9b8-11e8-80e0-be9d3f7454a0.png)

[2018-12-06 21:42] elfl0rd opened #10222 "Master: water filter crash server"
If user create circle, server crash.
e.g.
![default](https://user-images.githubusercontent.com/4980243/49613583-fbe22280-f9b8-11e8-99c5-7a72c28ef96d.png)

  HResult=0x800703E9
  Сообщение = Выдано исключение типа "System.StackOverflowException".

[2018-12-06 21:48] elfl0rd commented on #10220
(not tested /testpipes, probably too.)

[2018-12-06 22:36] lordmampf opened #10223 "Server not stored in recent list when direct join with IP and port"
Server not stored in recent list when direct join with IP and port

Eco Version: v0.7.8.5-beta

Steps to reproduce:

1. Delete file: \AppData\LocalLow\Strange Loop Games\Eco\recentServers.eco
2. Main menu ->Your worlds -> + -> Enter IP and Port -> Join Server -> Leave Server -> Your worlds

Some things which I found out:
Class: Eco.Shared.Networking.NetworkClient
Around `Line 120`:

[code]

`this.

[2018-12-06 23:22] elfl0rd commented on #10221
I think adding a 90 degree turn as one of pipe form (shift) will be part of the solution.
Second part of the solution, replace "fixed linear" pump in point to "linear or 90" (in my thoughts) if no pipes connected and water source under in point part - in point part rotate 90 and connect to water source.

[2018-12-06 23:30] elfl0rd commented on #8873
oh, underwater... now I understand, thank you

[2018-12-06 23:32] Conchipedia commented on #8873
also Underwater is causing blocks to SLEEP, try going underwater and building from the sea bed to the surface, they WIll STOP letting you add blocks on the top, until somehow you can place and remove blocks so as to wake up the chunk, this is with normal tools AND Devtool, only way i have found to **wake** up the sea is to use /level command in the water

[2018-12-06 23:33] Conchipedia commented on #8873
this also happens dropping dirt,sand,tailings into the sea from the surface against a floating block, the blocks that Drop become invisible, until they are woken up and they all suddenly appear

[2018-12-06 23:34] Conchipedia commented on #8873
hope All this info helps

[2018-12-07 03:37] elfl0rd opened #10224 "Master: redwwod added like fir"
Gathering leaves not available :( no seeds\saplings...
![default](https://user-images.githubusercontent.com/4980243/49626352-7e370a80-f9ea-11e8-8ed5-dbbf1fa5b168.png)

[2018-12-07 03:37] elfl0rd commented on #9601
fixed in master

[2018-12-07 03:37] #9601 closed

[2018-12-07 03:40] elfl0rd opened #10225 "Master: gathering lattice mushroom cause break"
and kick player from server.

  HResult=0x80004003
  Сообщение = Значение не может быть неопределенным.
Имя параметра: key
  Источник = mscorlib
  Трассировка стека:
   at System.ThrowHelper.ThrowArgumentNullException(ExceptionArgument argument)
   at System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
   at System.Collections.Generic.Dictionary`2.TryGetValue(TKey key, TValue& value)
   at

[2018-12-07 03:49] elfl0rd opened #10226 "Master: wolves no animation"
everytime static model, 0 animations.

[2018-12-07 03:52] elfl0rd commented on #10220
yes, /spawnpipes broken too

[2018-12-07 03:54] elfl0rd opened #10227 "Master: strange pipes in Liquid Converter"
Pipes orientation static, and not changed by main object orientation)
![default](https://user-images.githubusercontent.com/4980243/49626884-e71f8200-f9ec-11e8-8746-9b6c327bd13b.png)

[2018-12-07 04:34] Quadbro commented on #7237
nope,  you need to be a leader to do it, it's quite logical, it's not an admin feature)

[2018-12-07 06:11] mirasrael commented on #10202
We are trying to avoid default configs, because they produces a lot of head ache when changing locally during development with dev env specific values, but we can add template files for each config. So it will be easy enough to copy template and change everything if you want to pre-configure server manually.

[2018-12-07 07:04] Quadbro commented on #10217
can't find anything related to bank account editing in the crash, and i tested on master now - can't reproduce crashes.

[2018-12-07 07:06] Quadbro commented on #10203
and what i need to do?) remove floor graphics or add collision to it?)

[2018-12-07 07:38] mirasrael commented on #10223
Both fixed in next version.

[2018-12-07 08:17] Quadbro commented on #9413
It's hard to do with general, atomic inventory change system :(

[2018-12-07 09:07] Quadbro commented on #10208
@johnkslg Did you replace MintUI with AutoViewComponentUI on mint worldobject panel?

[2018-12-07 10:03] Deantwo commented on #8594
@Quadbro, just to be sure, this doesn't just fill the input field with the amount of money, right?
I believe there is still a chance that you can get a currency amount that is too small to write in the input fields.
At least be a champ and test it. Having `0.00000000042` of sone obcure credit that no uses is just annoying.
See: #9280

PS: Fixed-point currency numbers?

[2018-12-07 10:34] D3nnis3n commented on #10217
Sorry, the issue is on deleting a bank account, not editing.

[2018-12-07 10:53] elfl0rd commented on #10202
good solution too!

[2018-12-07 10:54] elfl0rd commented on #7237
However, it is strange that the administrator does not have rights to anything.

[2018-12-07 10:55] D3nnis3n commented on #10057
I already told you my argumentation: The "bed" in the changelog is referring explicitly to the furnitures that are solely a bed and / or named like one. I even agree that your idea is a good one - but it is a suggestion and not a bug. As i already told you that and you are still claiming that it's not a suggestion the only thing you are doing at the moment is pressing your opinion on this issue de

[2018-12-07 10:59] D3nnis3n commented on #10217
https://drive.google.com/file/d/12cXUQ7m5lD68fbXitbYS9nmsuV5P_34c/view?usp=sharing

There you go.

[2018-12-07 11:06] elfl0rd commented on #10057
The suggestions section doesn't work if that. There is no proposal that would be implemented from there and it looks more like a dump.

[2018-12-07 11:09] elfl0rd commented on #10217
@Quadbro
Yes, immediately after click on X to delete bank account.

  HResult=0x80004002
  Сообщение = Заданное приведение является недопустимым.
  Источник = Eco.Core
  Трассировка стека:
   at Eco.Core.Utils.ThreadSafeDictionary`2.Remove(Object key) in D:\DevelopECO\Eco\Server\Eco.Core\Utils\ThreadSafeDictionary.cs:line 77
   at Eco.Core.Utils.IDDictionary`2.Remove(INetObject player, Object entr

[2018-12-07 11:12] elfl0rd opened #10228 "Master: bank accounts loose color\icon after edit."
(before relogin)
![r](https://user-images.githubusercontent.com/4980243/49644654-1e605400-fa2a-11e8-8aed-e46be6430af5.gif)

[2018-12-07 11:30] elfl0rd commented on #10203
Note: Adding a collision will make using a stockpile painful in some configurations.

[2018-12-07 11:34] lordmampf commented on #10223
thanks!

[2018-12-07 11:44] D3nnis3n commented on #10057
This game is still in early access and there are a lot of things planned that need to be implemented first. Despite that, we still take inspiration from those issues in some changes and even some additions. But i'll bring up a more visible handling of those. Still, i don't think we have any developer with free capacities to just implement some of those very good ideas. Also - recently i did allow

[2018-12-07 11:47] D3nnis3n commented on #10217
I changed the title accordingly, sorry again.

[2018-12-07 14:08] #10196 closed

[2018-12-07 14:35] elfl0rd opened #10229 "Master: object name and object type mixed"
As you can see, object _name_ contain color and object icon.
![default](https://user-images.githubusercontent.com/4980243/49645594-967c4900-fa2d-11e8-97a8-488965b57a1d.png)

Expected
object name white (if no color tag), object type (in "()") contain blue color and object icon.

[2018-12-07 15:45] elfl0rd commented on #10057
In any situation, demanding to stop expressing your opinion is not good. This is especially not good from someone who works with the community.
I'm not saying that the developers do not do anything, do not muddle my words.
And of course I do not require for all these qol\issues any priority, low - quite normal.
The majority does not like "features" which are partially or not completely implemented

[2018-12-07 17:05] MrManvi opened #10230 ""Run for Election" Malfunctioned, Random Name ID's and more..."
Alright, It's only normal that I cant live my life peacefully for one bit and another issue pops up. Okay puns apart...
So I wanted to make a global currency for which u have to be the governor and get the treasury, So I chose "Run for Election" wrote a speech and then I got a weird candidate name which is probably my hash starting with 140000 and so on. Anyways, screenshot attached.
In the screen

[2018-12-07 17:37] pamduncan commented on #10230
Note: mirasrael was already working an earlier issue with this same server regarding so called his attention to this as it is probably related.  He is going to look at when he gets back and wanted a bug report regarding it so I expect it should be assigned to him.

*** This loked like what were getting with people that were running servers with the RequiterAuthorization set to false so friends cou

[2018-12-07 18:52] #10220 closed

[2018-12-07 18:58] SeanAtr0n commented on #10140
Pumps now have input pipes so this isn't really necessary anymore. (also the new pumps look silly floating on water so I'll just close this to preserve artists well being)

[2018-12-07 18:58] #10140 closed

[2018-12-07 19:42] BlazeGuy2 commented on #10225
LatticeMushrooms don't have a ResourceItemType hooked in yet.

[2018-12-07 20:00] SeanAtr0n commented on #2174
fixed a while back

[2018-12-07 20:00] #2174 closed

[2018-12-07 22:31] elfl0rd opened #10231 "Master: /spawnpipes broken"
after models change. Pipes not connected.
Looks same as https://github.com/StrangeLoopGames/EcoIssues/issues/10220

![unknown](https://user-images.githubusercontent.com/4980243/49675973-eb997880-fa88-11e8-9b10-3d9532209755.png)

[2018-12-07 22:40] D3nnis3n commented on #10057
I don't demand that you stop to express your opinion, i asked you to stop saying that your opinion is truth.

"In this case fake "bed" need to be removed from campsite." - This looks like a fact. But it's none.
"this is not suggestion, this is bench without sleep function." - Looks like a fact. But it's none.

You expressed it correctly here:
"I believe that this is not a suggestion but a bug" - Y

[2018-12-07 22:53] BlazeGuy2 commented on #10231
Yeah, pipes changed, I'd need to rewrite the tests.

[2018-12-07 22:55] #10170 closed

[2018-12-07 22:58] BlazeGuy2 commented on #9706
Dupe issue fixed a while ago.

[2018-12-07 22:58] #9706 closed

[2018-12-07 23:15] D3nnis3n opened #10232 "Steam Connection Issues"
We got a problem of three streamers wanting to play the game, but one of them not being able to connect to the server another one hosts. The third one can.

They already checked firewall and game ports on both host and affected client with no luck.

Can anyone look into that and get me which information he needs?

They join each other through steam.

[2018-12-07 23:39] D3nnis3n commented on #10057
As i told you in discord, we'll be opening up this issue and putting it on my list.

[2018-12-07 23:45] mikiZmiki commented on #10232
Manual connection gave the same results. when i host servers in other games everything work fine, maybe problem is in his configuration. Two of us are living in the same city, we have the same ISP, our iP is the same at the beginning only two last digits are different maybe this cause problems

[2018-12-08 00:36] #10210 closed

[2018-12-08 00:37] #10231 closed

[2018-12-08 02:33] Spirit901 opened #10233 "Graphic bug"
I put a chair against a wall and my friend broke the chair and I ended up invisible to him. He said the only thing he could see were my tools floating in the air.

[2018-12-08 02:59] MrManvi commented on #10230
A Little continuation... So One of my friends "Claire" was able to vote but the surprising thing is her name is still intact and normal and doesn't have a big 400+ Character hash like me and Nik. Now the other thing is, I tried writing a response in the Discussions thing below and I still have a hash code and its DIFFERENT AGAIN! Like I'm getting so triggered by this even though I shouldn't lol
![

[2018-12-08 05:30] MrManvi commented on #10230
Alright so I used SLG version instead of Steam since steam was becoming awfully unstable, so I tried voting from SLG and it worked! My name is finally here! BTW No one can vote the hash names, they get an error. and can only vote proper names.

[2018-12-08 07:07] elfl0rd commented on #10054
Looks like https://github.com/StrangeLoopGames/EcoIssues/issues/10155
(https://github.com/StrangeLoopGames/Eco/pull/3699)

[2018-12-08 07:19] elfl0rd commented on #10035
Still on master
![default](https://user-images.githubusercontent.com/4980243/49683196-9cc40100-fad1-11e8-9611-a2145217a2c9.png)

and latest release.

[2018-12-08 10:54] elfl0rd opened #10234 "Physics (player position?) recalculation when action (placing\removing blocks)."
(please rename if you find more appropriate variant, all details in video)
If you stay on ramp and place\mine blocks close to it, your character and stone debris jump.
https://youtu.be/Xaixp5MZUI8

[2018-12-08 11:12] elfl0rd opened #10235 "Plants on edge fluing in air"
![3](https://user-images.githubusercontent.com/4980243/49685345-45cf2380-faf3-11e8-993d-3570906cf5b5.JPG)
![1](https://user-images.githubusercontent.com/4980243/49685347-4667ba00-faf3-11e8-9794-1d1a9f5d1911.JPG)
![2](https://user-images.githubusercontent.com/4980243/49685348-4667ba00-faf3-11e8-8c98-34afdb052132.JPG)

[2018-12-08 12:04] elfl0rd commented on #10224
Closing, another way to obtain saplings added, hooray! https://github.com/StrangeLoopGames/Eco/pull/3727

[2018-12-08 12:04] #10224 closed

[2018-12-08 12:07] elfl0rd commented on #5786
![default](https://user-images.githubusercontent.com/4980243/49685780-e37a2100-fafa-11e8-8aee-47b38e88513e.png)
https://github.com/StrangeLoopGames/Eco/pull/3727
Hooray! It's so close! :P

[2018-12-08 12:08] elfl0rd opened #10236 "Master: palm provide birch seeds."
https://github.com/StrangeLoopGames/Eco/pull/3727
![default](https://user-images.githubusercontent.com/4980243/49685797-25a36280-fafb-11e8-94b4-eff5c99b72d5.png)

Maybe this happens by "no redwood\palm seeds\saplings in game"

[2018-12-08 12:32] elfl0rd opened #10237 "Master: palm, interaction problems."
![default](https://user-images.githubusercontent.com/4980243/49685944-238ed300-fafe-11e8-997a-59db8197b4c4.png)

(can be chopped down, but see screenshots.... Chop position really hard to find
![default](https://user-images.githubusercontent.com/4980243/49685947-35707600-fafe-11e8-93ed-cf8f48eae475.png)
log OVERSIZED
![default](https://user-images.githubusercontent.com/4980243/49685952-49b47300-fa

[2018-12-09 01:40] Quadbro commented on #10203
Stockpile bottom graphics is now hidden...

[2018-12-09 01:44] Quadbro commented on #10203
but now it will be looking strange, when you'll drop objects on air, in your screenshot case)

[2018-12-09 01:49] Quadbro commented on #10203
Nope :D wouldn't ))))

[2018-12-09 01:58] Quadbro commented on #8594
@Deantwo it fills field with max value, so no "0.0000000100500" values left

[2018-12-09 04:07] Quadbro commented on #10195
Can't reproduce, cleaned server typed  /leader and pressed run for office
![image](https://user-images.githubusercontent.com/6802030/49693346-9782b700-fba2-11e8-9d78-61155a9d9b18.png)

[2018-12-09 04:08] D3nnis3n commented on #10195
There was a pull request to fix that up lately.

[2018-12-09 04:11] D3nnis3n commented on #10195
https://github.com/StrangeLoopGames/Eco/pull/3705

That one i believe.

[2018-12-09 04:13] Quadbro commented on #10195
yeap

[2018-12-09 07:38] elfl0rd opened #10238 "Master: /testdistributionstation cause break"

[2018-12-09 07:40] elfl0rd commented on #10238
As i see Distribution Station no more accept lot of items.

[2018-12-09 07:41] elfl0rd opened #10239 "Master: Distribution station wrong [X] mark position."
It over field, not ok.
![default](https://user-images.githubusercontent.com/4980243/49694634-dadb2680-fb9e-11e8-8ef4-33ed0e696d5d.png)

[2018-12-09 07:49] elfl0rd commented on #9106
no more crashed at first call, but break if you try to call it secondary, after first.
[code]

[2018-12-09 07:58] elfl0rd commented on #9955
It's still happens on freshly generated world at master.
"fresh" ecosystem
![default](https://user-images.githubusercontent.com/4980243/49694761-576f0480-fba1-11e8-951e-9a2d51366fa9.png)

[2018-12-09 08:00] elfl0rd commented on #9023
https://github.com/StrangeLoopGames/EcoIssues/issues/9292

[2018-12-09 08:00] elfl0rd commented on #10059
https://github.com/StrangeLoopGames/EcoIssues/issues/9292

[2018-12-09 08:09] elfl0rd opened #10240 "Master: double "connection failed" window"
![r](https://user-images.githubusercontent.com/4980243/49694849-edeff580-fba2-11e8-893d-6d1e20e47ecc.gif)

[2018-12-09 08:35] elfl0rd opened #10241 "Master: species, tortoise has green color like plant."
![default](https://user-images.githubusercontent.com/4980243/49695092-8176f580-fba6-11e8-8e4d-0f58f5ee4393.png)

[2018-12-09 08:38] elfl0rd opened #10242 "Master: no "Title Assignments" and "Authorization Settings" in registrar and bank"
If you select anything in top section, you see nothing in down section.

[2018-12-09 08:47] elfl0rd opened #10243 "Master: Titles loose color\icon after edit."
(before relogin)
like - https://github.com/StrangeLoopGames/EcoIssues/issues/10228

![r](https://user-images.githubusercontent.com/4980243/49695184-20e8b800-fba8-11e8-8d49-6574ad95fd6c.gif)

[2018-12-09 11:01] elfl0rd commented on #10203
For me - it's looks better "in general"
![default](https://user-images.githubusercontent.com/4980243/49696377-4979ad80-fbba-11e8-91a1-bea5a90f0e3b.png)

Over hole
![default](https://user-images.githubusercontent.com/4980243/49696390-68783f80-fbba-11e8-84d5-b09a2dbceb99.png)
Approptiate.

Totally in air
![default](https://user-images.githubusercontent.com/4980243/49696433-c0af4180-fbba-11e8-984f-72

[2018-12-09 11:17] elfl0rd opened #10244 "Master: objects inventories broken (critical!)"
![default](https://user-images.githubusercontent.com/4980243/49696571-9a8aa100-fbbc-11e8-88f4-2569fc7d5cd5.png)
![r](https://user-images.githubusercontent.com/4980243/49696601-30bec700-fbbd-11e8-8eda-723eda22ff8e.gif)
Happens on all objects with inventory for non-carried items.

Children issue - https://github.com/StrangeLoopGames/EcoIssues/issues/10238

[2018-12-09 11:19] elfl0rd opened #10245 "Master: repair button on repair table - possible out of screen"
![default](https://user-images.githubusercontent.com/4980243/49696617-695ea080-fbbd-11e8-8816-a06463420e05.png)
![default](https://user-images.githubusercontent.com/4980243/49696619-73809f00-fbbd-11e8-8f66-0e6a6653c55b.png)

[2018-12-09 11:19] Deantwo opened #10246 "Repair Efficiency not visible anywhere"
Version: 0.7.8.5 beta

Iron tools cost 8 **Iron Bars** to repair. I just trained the **Smelting** skill to max, and not repairing iron tools to full cost 3 **Iron Bars**.
I didn't even know that the skill reduced repair cost, why is this not mentioned anywhere at all?

If no one knows that they are doing it inefficiently, the people with the skill won't know to setup a repair service.

Would maybe

[2018-12-09 11:24] elfl0rd opened #10247 "Master: /creative crash server"
Looks after skills changes, due no more skill levels available for "up by spending points"

[code]

[2018-12-09 11:32] Deantwo commented on #10246
Also related to #9125
Not sure why that is a suggestion though.

[2018-12-09 11:37] elfl0rd commented on #10246
![default](https://user-images.githubusercontent.com/4980243/49696710-0bcb5380-fbbf-11e8-8785-68dbd1442c22.png)

Yes i agree. I prefer "basic repair available for everyone, but effective repair available for persons with "creating this tool" profession."

[2018-12-09 11:40] Deantwo commented on #10246
Ooh, never actually noticed that before. But it clearly does not mention the repair efficiency or what kill it uses. Preferably just like the recipe tooltips with `(<skill> decreses by <amount>%)`

[2018-12-09 11:44] elfl0rd commented on #10246
And i found this suggestion https://github.com/StrangeLoopGames/EcoSuggestions/issues/366
The current behavior looks like the result of its implementation

[2018-12-09 13:02] elfl0rd commented on #3316
@mirasrael this is not about you powergrid optimisation?

[2018-12-09 13:08] elfl0rd commented on #10141
@D3nnis3n maybe this can be closed? No real deadlock here...

[2018-12-09 13:09] elfl0rd commented on #7852
huh, i found this for linking ) https://github.com/StrangeLoopGames/EcoSuggestions/issues/341

[2018-12-09 13:36] elfl0rd commented on #8823
Maybe https://github.com/StrangeLoopGames/EcoIssues/issues/4434 happens with same reason.

[2018-12-09 15:04] elfl0rd commented on #9644
I think the best solution would be
If user interact (place\pickup) with engine - he place\take fuel.
If user interact with "vechicle stockpile" - he place\take cargo.

[2018-12-09 15:35] elfl0rd commented on #9393
@D3nnis3n you can see changes in master... I think this changes not good :(
Due

[2018-12-09 16:03] elfl0rd commented on #9294
Maybe refers to https://github.com/StrangeLoopGames/EcoIssues/issues/7051

[2018-12-09 16:17] D3nnis3n commented on #9424
Closed for Third-Party-Issue.

[2018-12-09 16:17] #9424 closed

[2018-12-09 16:54] D3nnis3n commented on #10141
Well, it should be moved by BlazeGuy to the correct channel. His tool does not automatically move them, but he needs to move them manually after review it seems.

[2018-12-09 16:55] elfl0rd commented on #9189
Or and - https://github.com/StrangeLoopGames/EcoIssues/issues/7612 https://github.com/StrangeLoopGames/EcoIssues/issues/10234

[2018-12-09 16:56] elfl0rd commented on #10141
I think this need to be renamed, e.g. "Adding a tutorial about tools durability"

[2018-12-09 16:58] D3nnis3n commented on #10218
Same for titles.

[2018-12-09 16:58] D3nnis3n commented on #10242
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/10218 - added to that issue.

[2018-12-09 16:58] #10242 closed

[2018-12-09 17:02] D3nnis3n commented on #8484
Same happens when picking up a furniture where a player sits on. #10233

[2018-12-09 17:02] D3nnis3n commented on #10233
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/8484

[2018-12-09 17:02] #10233 closed

[2018-12-09 17:06] elfl0rd commented on #10218
thx :)

[2018-12-09 17:06] D3nnis3n commented on #10203
Seems okay. Flying stockpiles look bad in any case.

[2018-12-09 17:09] elfl0rd commented on #10203
Ofc, but while there are flying blocks, flying objects, etc., it makes no sense to change something specifically for the stockpile. Maybe in future...

[2018-12-09 17:25] #10054 closed, assigned to nobody

[2018-12-09 17:37] elfl0rd commented on #10227
maybe refers to this https://github.com/StrangeLoopGames/EcoIssues/issues/10199

[2018-12-09 17:46] elfl0rd commented on #9393
Gold pipes is good solution too (in addition, the use of gold is good in General), but it is necessary to adjust the balance that such pipes would not get too cheap.

[2018-12-09 18:08] elfl0rd commented on #9393
![default](https://user-images.githubusercontent.com/4980243/49700936-84013b80-fbf6-11e8-80ea-35a4c8eb5e82.png)
than more furniture you have, then more SP you loose due to reduction.
this is really painfull on high collaboration servers.
we have to give up "beauty" without making the chimney in favor of SP

[2018-12-09 21:45] Deantwo commented on #10174
Duplicate of #8241

[2018-12-10 06:57] mirasrael commented on #3316
@elfl0rd not exactly

[2018-12-10 07:19] mirasrael commented on #10232
Hi @mikiZmiki
1. Do you have anti-virus or firewall enabled?
2. Do you have external IP address?

[2018-12-10 07:53] mikiZmiki commented on #10232
Hi,
I don't have anti-virus, firewall is enabled.

I have internal IP

[2018-12-10 08:14] mirasrael commented on #10232
Can we have a chat in Discord for simpler communication? My name `mirasrael` in Discord.

[2018-12-10 08:20] Quadbro commented on #10238
Fake plant issue too.

[2018-12-10 10:54] elfl0rd opened #10248 "[QoL] repair station: usability"
(if this fast - please, if not - low prior\mark as suggestion)
1) Expang "item for repair" accept zone, like inventory (Quadbro changes)
2) Add support "click to move" (in both cases, from inventory to repair slot and from repair slot to inventory), like inventory (Quadbro changes)
3) Add button like "Repair and pickup" - repair item and grab it back to inventory.

4) maybe not easy.
I believe tha

[2018-12-10 11:23] elfl0rd commented on #10234
Happens with curved blocks while placing blocks close.
Not only ramp issue, but it is more noticeable on the ramps

[2018-12-10 12:45] D3nnis3n opened #10249 "[Master - Steam] Objects start fly when you look at them from above"
![flying](https://user-images.githubusercontent.com/25908592/49733477-ea7f6b80-fc81-11e8-8a86-275655170a42.jpg)

The higher you get the higher the objects fly - pipes stay where they are.

[2018-12-10 13:13] D3nnis3n opened #10250 "[Master - Steam] Skillsystem - Tooltips and Art missing"
![skill](https://user-images.githubusercontent.com/25908592/49734781-bb6af900-fc85-11e8-801c-ced970376550.jpg)

[2018-12-10 13:14] D3nnis3n opened #10251 "[Master - Steam] Skillsystem - UI misplaced"
When you open the skill UI it looks like this until you resize the window a little bit to get the view you should get.
![skillsystem](https://user-images.githubusercontent.com/25908592/49734860-e9e8d400-fc85-11e8-9be6-9ed9b841c25f.jpg)

[2018-12-10 13:15] D3nnis3n commented on #10250
Oh yeh, and it should neither be casting nor should it casting be where it is.

[2018-12-10 13:18] D3nnis3n opened #10252 "[Master - Steam] After reloading the world all tree branches and leaves are gone"
Everything is fine when you create the world. But as soon as you reload the world it looks like this:
![trees](https://user-images.githubusercontent.com/25908592/49735080-7bf0dc80-fc86-11e8-81d2-3c9e92bd1b19.jpg)

[2018-12-10 13:20] D3nnis3n opened #10253 "[Master] Flying bushes as of missing block type i assume?"
<img width="1920" alt="flyingbush" src="https://user-images.githubusercontent.com/25908592/49735173-c3776880-fc86-11e8-9c3b-9dd0eefdcaa5.png">

[2018-12-10 13:29] D3nnis3n opened #10254 "[Master - Steam] Bad Performance"
https://www.godsofwar.de/eco.mp4

Full HD, none of the features on the right side activated.
Medium settings on the left side for leaves and render distance.
Maxed out the rest

RTX 2080 + Ryzen 2700X on 64 GB of RAM.
417.22 Drivers

~40 FPS. Nope, that won't work.

[2018-12-10 15:38] mirasrael commented on #10230
@MrManvi did you disable `RequireAuthentication`?

[2018-12-10 15:58] mirasrael commented on #10230
OK. It looks like I have a theory.
1. You disabled `RequireAuthentication` on your server.
2. Then you login with Steam. When you're using steam login it uses  Steam`AuthSessionTicket` as `auth_token` (which is well known long string of digits and letters).
3. Then it tried to login to the server with this token and (for some reason) wasn't able to verify this token.
4. Then, because you have `Req

[2018-12-10 16:02] mirasrael commented on #10230
Solution is to not disable `RequireAuthentication`.
Let me know if you're not disabled this option, but still have this issue.

[2018-12-10 18:00] iceman11a opened #10255 "USER ISSUE: Disconnected after putting stone into storage"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
Mined some stone and tried to put it into storage and it just disconned for some reason

**Expected behavior:**
It shouldn't have disconnected for any reason that I know of.

**Actual behavior:**
The following error message popped up:
[code]
Connection timed out
[code]

[2018-12-10 19:39] #10203 closed

[2018-12-10 19:39] #10217 closed

[2018-12-10 19:39] #10228 closed

[2018-12-10 19:39] #10243 closed

[2018-12-10 19:39] #10238 closed

[2018-12-10 19:39] #10240 closed

[2018-12-10 19:39] #10244 closed

[2018-12-10 19:39] #10247 closed

[2018-12-10 19:39] #10245 closed

[2018-12-10 19:42] #8594 closed

[2018-12-10 19:51] 228vak opened #10256 "USER ISSUE: Гладиатор ПВНЗ"
**Version:** 0.7.6.3 beta

**Steps to Reproduce:**
10

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]

[2018-12-10 19:57] BlazeGuy2 commented on #10256
@228vak Please update to the latest version 7.8.5 either on http://www.strangeloopgames.com/eco/ or update from steam.

[2018-12-10 19:57] #10256 closed

[2018-12-10 19:58] #10223 closed

[2018-12-10 20:01] johnkslg opened #10257 "Your Worlds showing lots of blanks"
![image](https://user-images.githubusercontent.com/3536496/49758219-47bff080-fc73-11e8-8353-c8ce2d7697a0.png)

[2018-12-10 20:21] NathanaelMangold opened #10258 "Main Menu Serverlist Scrollview horizontal movement"
I don't know for sure if this is intended but I think not.
The main menu server list Scrollview has "Horizontal" Movement not disabled and therefore you can drag it however you like.

![20181210211448_1](https://user-images.githubusercontent.com/41338825/49759238-64831500-fcc1-11e8-94c0-95e5c5d7fe70.jpg)

[2018-12-10 22:03] johnkslg opened #10259 "Trying to reap tall grass gave 'not ripe enough' message"
![image](https://user-images.githubusercontent.com/3536496/49764452-56fb6a00-fc84-11e8-816a-1c54e3fc6d3e.png)

[2018-12-10 23:00] elfl0rd commented on #10254
video from game launched from RAM storage, you can see periodic freezes for short time.
https://www.dropbox.com/s/dnvblshoh4n33sy/20181210234212.ts?dl=0
no fps issues, no fps drop on external tracker, this is "ingame" problem.

[2018-12-10 23:01] elfl0rd commented on #10254
Maybe refers to https://github.com/StrangeLoopGames/EcoIssues/issues/10136

[2018-12-10 23:17] elfl0rd commented on #9208
Closing due to fixed.

[2018-12-10 23:17] #9208 closed

[2018-12-11 00:01] elfl0rd opened #10260 "Distribution station info does not show how many items you can actually pick up"
You can see lot of available items in chat... World marker...
![default](https://user-images.githubusercontent.com/4980243/49769339-ce66e300-fcf0-11e8-8d14-3526fb5e546e.png)

But... Not all this items "really" available.
![default](https://user-images.githubusercontent.com/4980243/49769362-ea6a8480-fcf0-11e8-8e18-424e0c79dda4.png)
(e.g. you cannot grab 12 skill books in this case)

Serverinfo - co

[2018-12-11 00:55] MrManvi commented on #10230
That was what I thought aswell. But then Pam advised me to put my current world in the new server files from SLG (i.e new config files etc....) And I very specifically remember that "Require Authentication" was turned "on" and I tried logging in then and I had the same issue. Then I generated the a new save world (which was a 100x100x100) and I believe I had the same exact issue. Anyways, running

[2018-12-11 01:04] SeanAtr0n opened #10261 "Plant variations w/ large size differences are weird"
Might just be Salal?

Hard to pick a movement penalty on it when its size varies so much

[2018-12-11 01:31] BlazeGuy2 commented on #10255
@iceman11a Does this occur every time you put stone in storage?

[2018-12-11 01:35] BlazeGuy2 commented on #10252
@D3nnis3n Can't seem to reproduce this in Unity.  Can you narrow down what causes this?

[2018-12-11 02:31] D3nnis3n commented on #10252
Still happens on most recent master build for steam.

[2018-12-11 04:40] D3nnis3n commented on #10254
It does, but got even worse.

[2018-12-11 06:01] elfl0rd opened #10262 "Master: no info on screen about player movement speed penalty in large plants"
This is not critical but i think it is not very right not to display any information about speed is reduced (and why it happened)

[2018-12-11 06:07] elfl0rd commented on #10250
And addition, as i know some skills removed from game, but persist in this interface.
Campfire, etc...

[2018-12-11 06:31] mirasrael commented on #10155
Shouldn't happen with `RequireAuthentification` enabled. Happens because of for failed authentication Steam session ticket uses for new user creation.

[2018-12-11 06:31] #10155 closed

[2018-12-11 06:34] elfl0rd commented on #10252
I can confirm, this happens only in builded 0.8 branch in steam.
first login
![20181211092624_1](https://user-images.githubusercontent.com/4980243/49782552-c2e2de80-fd27-11e8-9328-9515122adab6.jpg)
second login
![20181211093157_1](https://user-images.githubusercontent.com/4980243/49782557-c8d8bf80-fd27-11e8-8230-4976512d4588.jpg)

logfile
[output_log.txt](https://github.com/StrangeLoopGames/EcoIss

[2018-12-11 06:39] Deantwo commented on #10248
And show skill benefiting the repair while an item is in the repair station, and its effect on material cost.
See: #10246

[2018-12-11 06:50] elfl0rd commented on #10248
It's 100% requie a lot more time :)

[2018-12-11 09:34] elfl0rd opened #10263 "Distribution station - highlight"
From @Deantwo https://github.com/StrangeLoopGames/EcoIssues/issues/10260#issuecomment-446132151
Why is the Distribution Station highlighted red when you are able to take things from it?
It's confusing, on all other objects "red - you cannot interact with".

[2018-12-11 09:36] elfl0rd commented on #10263
I think "yellow" highlight in such cases would be optimal.
If too hard to implement - green if you can grab something and red if cannot (due to no items\grab period expired\all available items grabbed.)

[2018-12-11 11:05] iceman11a commented on #10255
No, as a matter of fact. I took some game time off and I log in later and it stopped. So I have no idea why it was doing this. I do play this game for long hours. 2 to 5 hours a day. This happen when I logged in when no one else was on. Game play seemed fine.

[2018-12-11 13:06] Zazus opened #10264 "corrupt game.db file"
I get this message in my console window every 2 sec

[03:46:26] Error writing to stat database: InvalidCastException Unable to cast object of type 'LiteDB.EmptyPage' to type 'LiteDB.HeaderPage'.

I deleted it on my server, but Pam said you would like it:
https://drive.google.com/file/d/1Nj6vcJDa7iDINu9n62lnVOchlH19OhNq/view?usp=sharing

[2018-12-11 13:16] ayan4m1 opened #10265 "Incorrect tool durability display when dropping icon on another"
When a tool with full durability is drag-dropped onto another tool with non-full durability, the durability value _appears_ to be "copied" onto the source item. If you then drag-drop the source item onto a blank inventory slot, the durability visually reverts back to its correct value. This also seems to be able to occur in reverse - that is, dropping an item with durability onto one with full dur

[2018-12-11 17:50] D3nnis3n commented on #10043
Most machines like blastfurnaces don't have either.

[2018-12-11 18:15] D3nnis3n commented on #10262
When on roads a speed bonus is shown - why not show it on plants?

[2018-12-11 18:28] D3nnis3n opened #10266 "[7.9.0-1] output_log.txt"
[output_log.zip](https://github.com/StrangeLoopGames/EcoIssues/files/2668812/output_log.zip)

[2018-12-11 18:48] Nicolausi113 commented on #10259
related #10095

[2018-12-11 18:56] #10257 closed

[2018-12-11 19:18] SeanAtr0n opened #10267 "Apply plant move speed penalties to vehicles"
May depend on the vehicle... human powered carts should go even slower through bushes, industrial vehicles should probably just destroy plants

[2018-12-11 19:54] D3nnis3n opened #10268 "Meteor shard hover in the air near your ... when you don't have a backpack"
![meme](https://user-images.githubusercontent.com/25908592/49826305-f0ab4000-fd86-11e8-9fe2-c9a1e153fe70.jpg)

[2018-12-11 19:57] BlazeGuy2 commented on #10125
Set server to german on master and tested.  Fix should come out in a future release.

[2018-12-11 19:57] #10125 closed

[2018-12-11 20:02] #10195 closed

[2018-12-11 20:02] johnkslg opened #10269 "Need more info on XP popups"
I'd like to make this graphical, but in the meantime we can just improve the text here.  Should say which workorder youre advancing, what kind of XP youre gaining, and how much longer to the next level up, all with UILink tooltipable text.
![image](https://user-images.githubusercontent.com/3536496/49826730-79e95500-fd3c-11e8-9301-f06386df7c1d.png)

[2018-12-11 20:02] #10014 closed, assigned to Quadbro

[2018-12-11 20:15] #10258 closed

[2018-12-11 20:15] #10260 closed

[2018-12-11 20:16] johnkslg commented on #10269
![image](https://user-images.githubusercontent.com/3536496/49827626-9b4b4080-fd3e-11e8-919b-58ff1d0c8457.png)
These also get pretty spammy since they show everytime an order finishes one thing. Should just show when the order completes.

[2018-12-11 21:09] johnkslg commented on #10227
@keegan-o can you remove the meshes from PipeSlotBlock?

[2018-12-11 21:27] johnkslg opened #10270 "Smith Skill has a max level of 10 but only 7 skillpointcosts defined."
Causes a crash
![image](https://user-images.githubusercontent.com/3536496/49831300-62b06480-fd48-11e8-9495-718561fc197d.png)

[2018-12-11 23:58] BlazeGuy2 opened #10271 "[8.0.0] Icons are wrong for campfire recipe"
Shouldn't be a campfire icon.
![unknown](https://user-images.githubusercontent.com/35509188/49837975-7ca87200-fd5d-11e8-9b03-65a1626224d4.png)

[2018-12-12 00:07] BlazeGuy2 opened #10272 "[8.0.0] Skills UI needs some fixing"
![skills_nofeedback](https://user-images.githubusercontent.com/35509188/49838233-8bdbef80-fd5e-11e8-94a8-97ea7c1d9d17.PNG)

[2018-12-12 00:15] BlazeGuy2 opened #10273 "[8.0.0] Stuffed Elk Inventory Crash"
System.ArgumentNullException
  HResult=0x80004003
  Message=Value cannot be null.
Parameter name: key
  Source=mscorlib
  StackTrace:
   at System.ThrowHelper.ThrowArgumentNullException(ExceptionArgument argument)
   at System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
   at System.Collections.Generic.Dictionary`2.TryGetValue(TKey key, TValue& value)
   at Eco.Gameplay.Items.InventoryCha

[2018-12-12 00:18] BlazeGuy2 commented on #10273
Sean claimed he triggered this from looting a bighorn.

[2018-12-12 00:43] BlazeGuy2 opened #10274 "[8.0.0] Highlighting in stockpiles is incorrect"
![highlightwrong](https://user-images.githubusercontent.com/35509188/49839453-f17eaa80-fd63-11e8-8c96-fe63a8ee7c29.PNG)

[2018-12-12 00:44] BlazeGuy2 commented on #10274
![2](https://user-images.githubusercontent.com/35509188/49839476-0f4c0f80-fd64-11e8-9e64-509ac3f42fd8.PNG)

[2018-12-12 00:48] johnkslg commented on #10221
Just build the pipe down into the water :)  Closing for now

[2018-12-12 00:49] redwyre opened #10275 "[8.0.0] Trees leaves spiral out when it rolls"
Difficult to see in the image
![image](https://user-images.githubusercontent.com/431728/49839611-939da180-fdfb-11e8-8ee4-6c3cb8a7bfa6.png)

https://drive.google.com/file/d/1sUz2pYaQCqzD1q07_rJhrNMTw9tFGKTt/view?usp=sharing

[2018-12-12 00:51] redwyre commented on #10274
Rubble is incorrect in the large stockpile too
![image](https://user-images.githubusercontent.com/431728/49839669-cf386b80-fdfb-11e8-9575-ccd6f901f783.png)

[2018-12-12 00:53] johnkslg commented on #10215
Will need some deeper changes to the pipe system, so pushing this to 8.1

[2018-12-12 00:56] redwyre commented on #10274
The starter stockpile seems to be only highlighting one blocks worth
![image](https://user-images.githubusercontent.com/431728/49839826-859c5080-fdfc-11e8-8d1f-e59ebba1484c.png)

[2018-12-12 01:12] redwyre opened #10276 "[8.0.0] Claimed land didn't update in client"
It's not highlighted, but when I try to claim it, it says I already have. (I may have claimed it while looking at the stockpile, not sure)

https://drive.google.com/file/d/1O6acq8j-MZpssQ_nHeZ5by_iDmuG2fDZ/view?usp=sharing

[2018-12-12 01:18] redwyre commented on #10276
Unclaiming it an then claiming it again had no visual effect, however re-logging into the server fixed it.

[2018-12-12 01:34] redwyre opened #10277 "[8.0.0] Big trees fly off when chopped down"
https://drive.google.com/open?id=1NFIenBowh1u6-NfMA907ymWlgnwxJ9XK

[2018-12-12 01:38] redwyre opened #10278 "[8.0.0] Dirt ramp requires paper milling?"
![image](https://user-images.githubusercontent.com/431728/49841201-6b657100-fe02-11e8-8140-52d0c2436724.png)

[2018-12-12 01:40] BlazeGuy2 opened #10279 "[8.0.0] Gneiss has mismatched material sizes."
Unity keeps posting this error in my log.

[2018-12-12 01:41] BlazeGuy2 commented on #10279
![gneiss](https://user-images.githubusercontent.com/35509188/49841314-fa737a00-fd6b-11e8-9989-4e71b860c621.PNG)

[2018-12-12 01:43] BlazeGuy2 opened #10280 "[8.0.0] Running for office causes webexception"
![webexception](https://user-images.githubusercontent.com/35509188/49841398-4e7e5e80-fd6c-11e8-85ba-7b8614111177.PNG)

[2018-12-12 02:16] johnkslg commented on #10214
Going to push this for a future pipe update

[2018-12-12 04:45] redwyre opened #10281 "[8.0.0] Invisible wood"
Has collision (steps on top of it)
![image](https://user-images.githubusercontent.com/431728/49847562-85ac4880-fe1c-11e8-861e-14abfec98853.png)

[2018-12-12 04:47] redwyre commented on #10281
Actually I think it was a stump, relogging removed it (net sync issue?).

[2018-12-12 04:54] redwyre opened #10282 "[8.0.0] Tomatoes mesh issue"
![image](https://user-images.githubusercontent.com/431728/49847807-b0e36780-fe1d-11e8-9903-8c6ae11af7d1.png)

[2018-12-12 05:00] redwyre commented on #10282
Changes with distance, related to LODing?
![image](https://user-images.githubusercontent.com/431728/49847879-120b3b00-fe1e-11e8-8f92-5a0a737dd134.png)

[2018-12-12 05:06] redwyre opened #10283 "[8.0.0] Scrolling or changing the content of the chat window results in icons flashing on the screen"
https://drive.google.com/file/d/1hEwlIsGTY82hpZMGFWAqXC-UQ7VN9UDH/view?usp=sharing

[2018-12-12 05:07] elfl0rd commented on #10281
old issue. https://github.com/StrangeLoopGames/EcoIssues/issues/4107

[2018-12-12 05:08] elfl0rd commented on #10282
yes, https://github.com/StrangeLoopGames/EcoIssues/issues/2825

[2018-12-12 05:18] elfl0rd commented on #10276
dupe https://github.com/StrangeLoopGames/EcoIssues/issues/8827

[2018-12-12 05:35] elfl0rd commented on #10221
Nice idea! But you get this:
![default](https://user-images.githubusercontent.com/4980243/49849034-e3bf3880-fde8-11e8-8e36-17b0c0fb2de0.png)
in some cases.

90 degree pipe form is ideal solution as i see.

[2018-12-12 05:56] elfl0rd opened #10284 "Master: talents"
You can get both talents at same time

![default](https://user-images.githubusercontent.com/4980243/49849690-d8214100-fdeb-11e8-91be-214911238beb.png)

[2018-12-12 05:57] elfl0rd opened #10285 "No way to change talents"
For now, we can see 2 group of talents.
1) good for beginners, e,g, "Lowers the tier requirement of related tables"
2) good for "experienced" e.g. "Increases the tier requirement of tables by 0.2, but reduces the resources needed by 10 percent."

Without ability to change talents (maybe just drop specialization XP after change? e.g. -3 lvl...) group 1 used only by newbie players.

[2018-12-12 06:41] thereporter42 opened #10286 "[8.0.0 and below] USER ISSUE: Land Claim Issues"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
1. Select your Land Claim Stake
2. Go stand on the plot of land you want to claim
3. Right click on the plot of land to claim it.

**Expected behavior:**
That it would go the same color that I have set which is red
for that plot.

**Actual behavior:**
Instead it is staying the same ground color instead of going
red but it insists that I already ow

[2018-12-12 06:48] thereporter42 commented on #9607
Not sure if this is the same or not but I just opened up a ticket for this
in regards to land claiming.

https://github.com/StrangeLoopGames/EcoIssues/issues/10286

**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
1. Select your Land Claim Stake
2. Go stand on the plot of land you want to claim
3. Right click on the plot of land to claim it.

**Expected behavior:**
That it would go the same colo

[2018-12-12 06:52] elfl0rd commented on #9393
After https://github.com/StrangeLoopGames/Eco/pull/3740 you cannot more create t4 kitchen room :(

[2018-12-12 07:11] redwyre opened #10287 "[8.0.0] Fishery description doesn't mention it's required for preparing seafood"
Fishery description doesn't mention it's required for preparing seafood
![image](https://user-images.githubusercontent.com/431728/49852794-d7f76480-fe30-11e8-82d6-5a1761d6e8a5.png)

[2018-12-12 07:15] elfl0rd commented on #9393
In addition... Nice and costless t3 house, t2 possible too.
![default](https://user-images.githubusercontent.com/4980243/49852985-c6916680-fdf6-11e8-819f-5ef60106d0c9.png)

[2018-12-12 07:15] johnkslg commented on #10221
Ah, because the water is only one layer deep. Makes sense. I could do an easy fix for that. Making water look nicer around pipes will be a tricky affair though.

[2018-12-12 07:21] elfl0rd commented on #10221
I know this, this is why i want connection to water surface, heh :D

[2018-12-12 07:55] redwyre opened #10288 "[8.0.0] No Crimini mushrooms"
There are no Crimini mushrooms around, but they are required for the Farming skill book.

![image](https://user-images.githubusercontent.com/431728/49854789-0d06b580-fe37-11e8-9304-3afd4ef9997a.png)

[2018-12-12 07:57] redwyre commented on #10286
As a workaround, if you log out and back in the claims should appear correctly.

[2018-12-12 08:02] redwyre commented on #10276
Also #9607

[2018-12-12 09:17] D3nnis3n commented on #9607
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/10286

[2018-12-12 09:17] #9607 closed

[2018-12-12 09:17] D3nnis3n commented on #8827
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/10286

[2018-12-12 09:17] #8827 closed

[2018-12-12 09:18] D3nnis3n commented on #10276
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/10286

[2018-12-12 09:18] #10276 closed

[2018-12-12 09:18] D3nnis3n commented on #10286
Happens on 8.0, too - just merged the duplicate issues into this as it has the best description.

[2018-12-12 09:19] D3nnis3n commented on #10284
Are these talents? I thought talents start from level 8 - 10?

[2018-12-12 09:36] D3nnis3n commented on #8036
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/9955

[2018-12-12 09:36] #8036 closed

[2018-12-12 09:37] D3nnis3n commented on #10288
Crosslinking https://github.com/StrangeLoopGames/EcoIssues/issues/9955

I couldn't test yet on master but on my QA tests it frequently happens on the current release versions with NO special settings.

[2018-12-12 09:38] D3nnis3n commented on #10252
Thanks for reproducing GDragon. @BlazeGuy2 Probably only happens on the steam build.

[2018-12-12 09:40] D3nnis3n commented on #10267
Don't forget to implement that vehicles should also "destroy" most animals ;P

[2018-12-12 09:46] elfl0rd commented on #10252
Mirasrael got this in unity :D

[2018-12-12 10:33] elfl0rd opened #10289 "Master: broken plots"
After you make somethings, closest plots periodically corrupted. Still happens after relogin and server restart.
![default](https://user-images.githubusercontent.com/4980243/49863742-fc901400-fe11-11e8-8913-100143514dc6.png)
![default](https://user-images.githubusercontent.com/4980243/49863770-103b7a80-fe12-11e8-818e-f550ec1ad35e.png)
[Storage.zip](https://github.com/StrangeLoopGames/EcoIssues/fil

[2018-12-12 13:32] Spydarlee commented on #10025
So it looks like some of the previous fixes for this bug were applied to AliasSelector.cs but there are _two_ files with that name in the project.

One in "Server\Eco.Gameplay\Alias" and one in "Eco.Gameplay\Aliases"

The latter is the one actually included in the Visual Studio project, but the former has has several changes over the past month (including as part of the last fix for this issue).

[2018-12-12 13:34] D3nnis3n commented on #10025
If you fix this one, this would be worth a hotfix imo. It's a really enerving bug that should have been fixed long ago.

[2018-12-12 13:48] elfl0rd commented on #10221
Suggestion about pipe forms - https://github.com/StrangeLoopGames/EcoSuggestions/issues/647

[2018-12-12 16:30] #9579 closed

[2018-12-12 17:00] elfl0rd opened #10290 "HW: don't show HW server in recent if HW button provided"
![default](https://user-images.githubusercontent.com/4980243/49885542-91156900-fe48-11e8-88ad-5b6d01f4e0ea.png)
In this case, "Continue" target is same with HW button.

[2018-12-12 18:24] LHMplus89 opened #10291 "USER ISSUE: Language is mixed up: German and English"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
1. Set Language in options menu to English
2. Set Server to English
3. Play the game: move one step, and the glitch occurs

**Expected behavior:**
Everything should be in English. Every object name, every action, every description.

**Actual behavior:**
The game uses English and German seemingly random. Objects and desriptions are referred to in E

[2018-12-12 18:31] elfl0rd commented on #10291
you

Using serverUI?
You restarted server after it?

Attach your server\configs\Localization.eco please

[2018-12-12 18:32] elfl0rd commented on #8685
Bump

[2018-12-12 18:49] #10095 closed

[2018-12-12 18:49] #10259 closed

[2018-12-12 18:49] #10270 closed

[2018-12-12 18:49] BlazeGuy2 commented on #10288
PR merged in

[2018-12-12 18:49] #10288 closed

[2018-12-12 18:53] BlazeGuy2 commented on #10285
@craig-jong ^

[2018-12-12 18:57] BlazeGuy2 commented on #10282
Closing as dup

[2018-12-12 18:57] #10282 closed

[2018-12-12 18:57] BlazeGuy2 commented on #10281
closing as dup

[2018-12-12 18:57] #10281 closed

[2018-12-12 19:19] #10042 closed

[2018-12-12 19:21] elfl0rd commented on #10126
- [ ] 1) add visible "autodetect" option.
- [ ] 2) fix server part, need to use client language (if singleplayer) instead of system if _server_ language not changed manyally.

[2018-12-12 19:51] elfl0rd opened #10292 ""Official Test Servers" need to be renamed to "Official server" and include new stable servers."
![20181212224721_1](https://user-images.githubusercontent.com/4980243/49894945-3e47ab80-fe60-11e8-98e6-a646aad936fc.jpg)
![20181212224930_1](https://user-images.githubusercontent.com/4980243/49894957-4b649a80-fe60-11e8-8ee3-d1fc87f571ab.jpg)
This server for "standart" player is "official" only by name, but everyone can name self server as "official"...

And i think need additional "official" marke

[2018-12-12 20:52] johnkslg opened #10293 "Attempting to vote gave me an invalid error message"
![image](https://user-images.githubusercontent.com/3536496/49898066-c8febb00-fe0c-11e8-8922-9bad8f0197e1.png)

[2018-12-12 20:53] johnkslg commented on #10293
This is most likely due to me not being a citizen, but it should display that in the red bar.
@mirasrael Jeff and I did some work to make sure this was working, looks like something broke it.  Since Jeff is away can you see if you can figure out the issue?

In current release.

[2018-12-12 20:54] johnkslg commented on #10293
The issue is that the return value for errors was changed from a string to an object. Probably a case of the webcode not getting that update to release.

[2018-12-12 20:59] johnkslg opened #10294 "Popup info appears too high to see on starter camp"
![image](https://user-images.githubusercontent.com/3536496/49898352-a7520380-fe0d-11e8-9411-a9ba7cb6e99a.png)
![image](https://user-images.githubusercontent.com/3536496/49898385-c355a500-fe0d-11e8-8808-92499d52fb10.png)

Lets make this really easy to spot since the player isnt familiar with the game at this point.

[2018-12-12 21:05] johnkslg opened #10295 "Split chat and notification"
![image](https://user-images.githubusercontent.com/3536496/49898605-4e369f80-fe0e-11e8-8552-e69763ab2f56.png)
Right now, chat and notifications are mixed in the log, making less important stuff push out more important stuff.  With this feature, we will split those, so notifications will not push out chat.  Thinking we have the notifications or chat appear at the top while the other remains in plac

[2018-12-12 21:07] johnkslg opened #10296 "Chat starts scrolled up partially"
![image](https://user-images.githubusercontent.com/3536496/49898775-c0a77f80-fe0e-11e8-8949-4f93f026484b.png)
Above is when I first open the chat menu.  Notice the scrollbar indicates its at the end of the scroll.  However, when I scroll down, more messages are revealed and the scroll bar changes:
![image](https://user-images.githubusercontent.com/3536496/49898821-dae15d80-fe0e-11e8-9e74-77cfcb148

[2018-12-12 21:23] johnkslg opened #10297 "Shadows show no body"
![image](https://user-images.githubusercontent.com/3536496/49899618-0a916500-fe11-11e8-9637-d70d41a47649.png)
Two possible solutions:
- hide shadows from carried stuff
- make a blob of shadow for the body

[2018-12-12 21:25] johnkslg opened #10298 "Tree disappeared while I was chopping it after felling it"

[2018-12-12 21:29] johnkslg opened #10299 "Torch Stand accepts Torch as fuel"
![image](https://user-images.githubusercontent.com/3536496/49899909-f0a45200-fe11-11e8-9623-b90a5561dcc4.png)

[2018-12-12 21:31] johnkslg opened #10300 "Blocked message appeared twice"
![image](https://user-images.githubusercontent.com/3536496/49900011-38c37480-fe12-11e8-897d-0e497e744fba.png)

[2018-12-12 21:32] D3nnis3n opened #10301 "Delete Button for world saves"
There really should be a "X" icon next to the saves in the load menu to delete them.

[2018-12-12 22:06] elfl0rd commented on #10299
I always thought that was the plan, or didn't?

[2018-12-12 22:07] elfl0rd commented on #6964
@metachronism woo, ponies and riding confirmed!

[2018-12-12 22:09] elfl0rd commented on #10301
Issues
https://github.com/StrangeLoopGames/EcoIssues/issues/6099
https://github.com/StrangeLoopGames/EcoIssues/issues/6964

Suggestions
https://github.com/StrangeLoopGames/EcoSuggestions/issues/550

[2018-12-12 22:12] elfl0rd commented on #10297
:D
https://github.com/StrangeLoopGames/EcoIssues/issues/4809
https://github.com/StrangeLoopGames/EcoIssues/issues/6280
https://github.com/StrangeLoopGames/EcoIssues/issues/8791

[2018-12-12 22:13] elfl0rd commented on #10293
https://github.com/StrangeLoopGames/EcoIssues/issues/10154

[2018-12-12 22:30] BlazeGuy2 commented on #10280
Looking into it, it only breaks when run in debug mode on the server, release runs fine.  However, release mode doesn't display the error at all on the webpage.

[2018-12-12 22:56] BlazeGuy2 opened #10302 "[8.0.0] Eco in game Webpage not displaying proper error information"
![error_with_elections](https://user-images.githubusercontent.com/35509188/49903959-94dfc600-fe1d-11e8-95c0-16244a7cf377.PNG)

This error above occurs when I try to run for office in a newly generated game.  The citizenship law is preventing me from running for office and that info should be listed above.

[2018-12-12 23:06] #10212 closed

[2018-12-12 23:06] #10213 closed

[2018-12-12 23:06] #10222 closed

[2018-12-12 23:09] johnkslg opened #10303 "Add 'delete' button next to each saved world"

[2018-12-12 23:10] #10303 closed

[2018-12-12 23:52] BlazeGuy2 commented on #10273
Reproduced, issue lies with bighornsheep not having a resourcetype.

[2018-12-13 00:49] redwyre opened #10304 "[8.0.0] Crashed server after trying to reap deerlichen"
![image](https://user-images.githubusercontent.com/431728/49908134-e0997a80-fec4-11e8-924a-6450c8c1aa6c.png)

[2018-12-13 01:16] BlazeGuy2 commented on #10297
Closing as a dup of the previous issues.

[2018-12-13 01:16] #10297 closed

[2018-12-13 01:17] BlazeGuy2 commented on #10298
Can you post a video showing this?

[2018-12-13 01:31] BlazeGuy2 commented on #10277
Couldn't get this to repro on master.

[2018-12-13 01:52] redwyre opened #10305 "[8.0.0] Workbench UI not initialised properly"
The other tabs are fine, reconnecting didn't help. Even quitting the game didn't help.
![image](https://user-images.githubusercontent.com/431728/49910187-76d19e80-fecd-11e8-880e-03b5685ef48d.png)

[2018-12-13 01:56] redwyre commented on #10277
They might have to be maximum maturity, I don't think it happens with the thinner ones.

[2018-12-13 02:13] D3nnis3n commented on #6964
Merged with #10301

[2018-12-13 02:13] #6964 closed

[2018-12-13 02:14] D3nnis3n commented on #6099
Merged with #10301

[2018-12-13 02:14] #6099 closed

[2018-12-13 02:15] D3nnis3n commented on #10299
That seems intended. You put a torch into the stand until it burned out and you need a new one!?

[2018-12-13 02:16] D3nnis3n commented on #10298
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/8823?

[2018-12-13 02:17] D3nnis3n commented on #10292
Afaik John wanted them to not show up there to not hurt other server owners. @johnkslg ?

[2018-12-13 02:19] D3nnis3n commented on #10291
You need to restart the server after changing the server language.

[2018-12-13 02:20] D3nnis3n commented on #10293
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/10020

[2018-12-13 02:20] #10293 closed

[2018-12-13 02:30] D3nnis3n commented on #4809
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/6280

[2018-12-13 02:30] #4809 closed

[2018-12-13 02:30] D3nnis3n commented on #8791
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/6280

[2018-12-13 02:30] #8791 closed

[2018-12-13 02:46] redwyre opened #10306 "[8.0.0] Can scroll order count in crafting window"
They capture the mouse wheel which stops the window from scrolling.
Mouse at x and scrolled field.
![image](https://user-images.githubusercontent.com/431728/49912175-00389f00-fed5-11e8-8c77-876100c58bb6.png)

[2018-12-13 02:47] thereporter42 commented on #10286
Why did this ticket get closed? It appears that all the other ones #8827 and 10276 are also
all closed but I don't believe the issue is resolved.

[2018-12-13 02:52] redwyre commented on #10305
Placing another one and opening it fixed the UI for the first one.

[2018-12-13 02:57] redwyre commented on #10305
Seems to be something to do with the project missing items, I started a new job of making hewn logs, and when I came back it was broken again. The other workbench is fine.

[2018-12-13 03:41] D3nnis3n commented on #10286
The issues have been merged.

[2018-12-13 04:32] mirasrael commented on #10290
I don't see any real reason to now show it. Because you can connect to HW in any way - with direct connection or from Recommended Tab or from search search. So if it will only be shown in part of cases then it may be confusing to users.

[2018-12-13 05:40] elfl0rd commented on #10020
https://github.com/StrangeLoopGames/EcoIssues/issues/10144
https://github.com/StrangeLoopGames/EcoIssues/issues/10154
;)

[2018-12-13 05:44] elfl0rd commented on #10296
Maybe refers to https://github.com/StrangeLoopGames/EcoIssues/issues/8248

[2018-12-13 05:46] elfl0rd commented on #10299
"Not fueled" torch allow users to create "free" light sources...
This appropriate only if torch stand is no more counts as housing item.

[2018-12-13 06:14] elfl0rd commented on #10301
And comment about deleting.
1) maybe delete button require click and hold to delete? Instead of click and confirm.
2) Not bad (if it possible) delete to system trashbin instead of fully deleting.

[2018-12-13 06:15] elfl0rd opened #10307 "Feature/suggestion: button (somewhere) to open eco profile folder"
It's really helpfull for supporting players, e.g. configs\logs showcase and configs editing.

[2018-12-13 06:24] elfl0rd opened #10308 "Feature: preventing Admin Abuse"
(Yes, i know - this is more suggestion, but i see too many crying posts about AA...)
1) All admin actions need to be stored in separate logfile. Commands, devtool using, etc. (It's help to server owners on servers with multiple administrators.)
2) "Show admin actions" server option. All admin actions stored in special chat channel, if enabled, this channel visible to everyone's. (if not enabled -

[2018-12-13 06:48] elfl0rd commented on #4936
maybe refers to https://github.com/StrangeLoopGames/EcoIssues/issues/7240

[2018-12-13 07:10] elfl0rd opened #10309 "Balance: (Iron) brazier and Stone Brazier"
(Iron) brazier worth much more than Stone Brazier
![default](https://user-images.githubusercontent.com/4980243/49921472-a75e0c00-febe-11e8-91d7-4bcea7137069.png)
![default](https://user-images.githubusercontent.com/4980243/49921510-c9f02500-febe-11e8-803c-525ab7ea8909.png)
and provide same quantity of SP bonus, and provide same burning time (9d 12h at 40 coal).
![default](https://user-images.githu

[2018-12-13 07:15] elfl0rd commented on #10236
@D3nnis3n merged, but for palm is not fixed.
![default](https://user-images.githubusercontent.com/4980243/49921792-c27d4b80-febf-11e8-9c16-048edb970cc0.png)

Redwood - fixed.
![default](https://user-images.githubusercontent.com/4980243/49921869-fe181580-febf-11e8-897b-85e64cb9883f.png)

[2018-12-13 07:23] elfl0rd opened #10310 "Master: mining not provide stones"
![r](https://user-images.githubusercontent.com/4980243/49922188-f9a02c80-fec0-11e8-8b56-b1a871ad6e7b.gif)

[2018-12-13 07:24] elfl0rd opened #10311 "Master: ice dirt looks as stone"
(it's confuse me, heh)
![default](https://user-images.githubusercontent.com/4980243/49922281-4c79e400-fec1-11e8-82f0-50c4da2c8c4b.png)

Real stones marked
![default](https://user-images.githubusercontent.com/4980243/49922361-82b76380-fec1-11e8-9325-c58cb874872b.png)

[2018-12-13 07:27] elfl0rd opened #10312 "Master: Dwarf Willow not slow player"

[2018-12-13 07:32] elfl0rd commented on #10227
closing, looks as fixed.
![default](https://user-images.githubusercontent.com/4980243/49922629-53edbd00-fec2-11e8-9862-bed99be5665e.png)

[2018-12-13 07:32] #10227 closed

[2018-12-13 07:42] elfl0rd opened #10313 "Master: /spawnsewage and /testpipes broken"
due water pump require electrical power, in preset prowided mechanical (windmill)
![default](https://user-images.githubusercontent.com/4980243/49923215-d75bde00-fec3-11e8-9fec-6630a3414a2c.png)

/testpipes include /spawnsewage with his problems, not have power too, shower object broken.
![default](https://user-images.githubusercontent.com/4980243/49923188-c4490e00-fec3-11e8-83e3-8bb54c5ed5b1.png)

[2018-12-13 07:49] elfl0rd opened #10314 "Master: some objects have unwanted storage"
e.g. Wind Turbine, Solar Panels...
![default](https://user-images.githubusercontent.com/4980243/49923312-20139700-fec4-11e8-8917-8863c9e86b9a.png)
![default](https://user-images.githubusercontent.com/4980243/49923328-2c97ef80-fec4-11e8-94ac-c8541efe88f7.png)

[2018-12-13 07:50] elfl0rd opened #10315 "Master: waterfilter provide water w\o sewage"
![default](https://user-images.githubusercontent.com/4980243/49923529-d5464f00-fec4-11e8-98d8-f697a8ccff0b.png)
![default](https://user-images.githubusercontent.com/4980243/49923522-ce1f4100-fec4-11e8-8c0d-4b1a37f025c8.png)

[2018-12-13 08:21] redwyre opened #10316 "[8.0.0] Replacing blocks under door made room not a room"
/testroom randomly says it's a room, or I think that there was a ceiling missing (there isn't).
Kiln in the room says it's not in a room.
Removing and placing a block from the floor inside fixed it.

See also https://github.com/StrangeLoopGames/EcoIssues/issues/9636

[2018-12-13 08:28] Deantwo opened #10317 "Can't Open Skill Window"
Clickbait title, I know.
But the question is happening way too often on Discord.

This happens because the Skill Button is hidden and the hotkey disabled while the tutorial hasn't been completed or skipped.

A simple suggestion to fix this issue, or at least make new players wonder less. Make it so that when you click `K` to open the skill window, but haven't completed the tutorial yet, display an

[2018-12-13 10:54] Deantwo commented on #10182
Try rebinding the Skill Window hotkey to another key.
I suggest `K`, since thst is the default skills button in most other games. `Z` makes for a horrible hotkey.

[2018-12-13 11:01] Deantwo commented on #10180
As far as I know the skill point cost of learning a new speciality is a server config option.
Maybe something has changed the file, or maybe a bug in the default. So you need to show what the file contains.
It should be the [`Difficulty.eco`](https://eco.gamepedia.com/Server_Configuration#Difficulty.eco) config file.

[2018-12-13 11:38] elfl0rd commented on #10283
dupe https://github.com/StrangeLoopGames/EcoIssues/issues/8290

[2018-12-13 11:40] elfl0rd commented on #7370
https://github.com/StrangeLoopGames/EcoIssues/issues/10182
https://github.com/StrangeLoopGames/EcoIssues/issues/10317

[2018-12-13 18:19] elfl0rd commented on #3008
@D3nnis3n looks as fixed\removed

[2018-12-13 18:21] elfl0rd commented on #1262
I want this, lol.

[2018-12-13 18:21] elfl0rd commented on #1406
@D3nnis3n looks fixed :D

[2018-12-13 18:28] metachronism opened #10318 "World objects should not have tier, use WorldObjectBlocks with different tier instead"
A hack was made to world objects adding a "tier" to them to fix room detection with objects such as doors.  This adds bloat to all world objects when only a very small number of them actually need the tier value.

Instead, have world objects that need tier blocks place "WorldObjectTierBlock" instead of normal WorldObject block, and remove the tier values from world object.

[2018-12-13 18:38] metachronism commented on #10299
this is intended

[2018-12-13 18:38] #10299 closed

[2018-12-13 19:02] metachronism opened #10319 "DefaultWorld is missing"

[2018-12-13 19:32] BlazeGuy2 commented on #10280
Opened new issue with the wrong weberror, closing this one.

[2018-12-13 19:32] #10280 closed

[2018-12-13 19:32] pamduncan opened #10320 "File validation is removing saved games?"
Please are letting us know that when they validate the files through system validate it is removing saved games.  It should not do that and has not in the past  Is this a new way Eco is handling saved games now and do we need to have people backup outside of the server directory before doing a validate or is steam doing something wonky?

[2018-12-13 19:54] elfl0rd commented on #2817
@D3nnis3n i think this need to be renamed (e.g. "When drag project, drag it with border") and maybe low priority?

[2018-12-13 19:55] elfl0rd commented on #742
@D3nnis3n hm, looks fixed, but need some info about "what is descriptions" in John case :P

[2018-12-13 19:56] elfl0rd commented on #2799
@D3nnis3n in 0.8 - more electrical machinery... Not bad if poles included to 0.8 or 0.8.1...

[2018-12-13 19:57] elfl0rd commented on #2803
@D3nnis3n fixed.

[2018-12-13 19:57] elfl0rd commented on #3195
@D3nnis3n fixed or\and too old issue))

[2018-12-13 19:59] elfl0rd commented on #3177
@D3nnis3n fixed.
![default](https://user-images.githubusercontent.com/4980243/49964104-bb3f5780-ff2a-11e8-8581-a7247877978e.png)

[2018-12-13 20:02] #3177 closed

[2018-12-13 20:03] elfl0rd commented on #3169
@D3nnis3n
![default](https://user-images.githubusercontent.com/4980243/49964328-4587bb80-ff2b-11e8-8164-f17c448726ff.png)

[2018-12-13 20:04] elfl0rd commented on #3107
@Quadbro it looks as your inventory changes :D

[2018-12-13 20:07] elfl0rd commented on #3301
@D3nnis3n
![default](https://user-images.githubusercontent.com/4980243/49964574-e2e2ef80-ff2b-11e8-9545-ba1edcc28abd.png)

[2018-12-13 20:08] elfl0rd commented on #3098
@D3nnis3n as i see this target reworked...

[2018-12-13 20:08] elfl0rd commented on #3321
@D3nnis3n too old...

[2018-12-13 20:10] elfl0rd commented on #3559
@D3nnis3n fixed loong time ago.

[2018-12-13 20:11] pamduncan commented on #10320
Update,  Finally got told that this was not just a validate but that the steamcmd was run to update anbd validate so he ran  steamcmd, login anon, force_install_dir <dir>, app_update # valdiate.

I am now getting mixed results when running steamcmd  It has emptied the Storage folder of files 2 times out of 5 attempts

The player having the worst issue with this is "Blobby"

[2018-12-13 20:12] elfl0rd commented on #3339
@D3nnis3n hmm... sounds as red\green highlight.

[2018-12-13 20:13] elfl0rd commented on #3809
@D3nnis3n deed UI changed
![default](https://user-images.githubusercontent.com/4980243/49964894-b7143980-ff2c-11e8-944f-a13783d1083b.png)

[2018-12-13 20:15] elfl0rd commented on #3784
@D3nnis3n carrying changed.

[2018-12-13 20:15] elfl0rd commented on #3782
Yea, confusing.
![default](https://user-images.githubusercontent.com/4980243/49964993-f80c4e00-ff2c-11e8-9bb6-859d0cd3ed7e.png)

[2018-12-13 20:17] elfl0rd commented on #3748
Happens with 3 log in block.
![default](https://user-images.githubusercontent.com/4980243/49965097-4a4d6f00-ff2d-11e8-98ac-d134620a64f0.png)

[2018-12-13 20:19] elfl0rd commented on #3686
@D3nnis3n as i know - "construction" skills removed.

[2018-12-13 20:20] elfl0rd commented on #4119
@D3nnis3n fixed

[2018-12-13 20:20] #2803 closed

[2018-12-13 20:22] elfl0rd commented on #3965
@D3nnis3n not issue after changing stockpiles :D

[2018-12-13 20:22] elfl0rd commented on #3969
@D3nnis3n fixed

[2018-12-13 20:54] JaeLotus opened #10321 "USER ISSUE: Server Connection"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
Try to connect to a server

**Expected behavior:**
Connected to the server

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2018-12-13 21:15] johnkslg commented on #9393
Problem with removing the tiers on pipes is that then you can have houses made of pipes entirely.
You also get the problem if you give pipes a higher tier.

Thinking this solution:
- Pipes could only count towards your tier score if they are 'exposed', that is, they touch an empty block of room space.  Otherwise, they dont contribute.  This way, you can have pipes under and behind objects, and the

[2018-12-13 21:34] BlazeGuy2 commented on #10298
Dup, also couldn't repro from unity.

[2018-12-13 21:34] #10298 closed

[2018-12-13 21:35] BlazeGuy2 commented on #10274
Couldn't repro in unity at all, dropping pri for now.

[2018-12-13 21:42] elfl0rd commented on #9393
:(
Still bad for kitchen
![default](https://user-images.githubusercontent.com/4980243/49969207-0eb8a200-ff39-11e8-8dcd-32270d37642f.png)

And i think adding to this issue https://github.com/StrangeLoopGames/EcoSuggestions/issues/587 allow it to resolve and at the same time will clean the holes. And in this case, removing "free space occupancy" from pipes is not bad idea as I think.

(To pass from

[2018-12-13 21:51] BlazeGuy2 commented on #10275
Issue with fir tree spiral branch.

[2018-12-13 21:55] BlazeGuy2 commented on #10275
https://youtu.be/HeGjBaD_zBo

[2018-12-13 22:02] D3nnis3n commented on #9393
@johnkslg But you can have housed made of pipes entirely now, too. And even T3 ones. Having no tier they at least are useless for most things?

[2018-12-13 22:03] #3969 closed

[2018-12-13 22:03] #3965 closed

[2018-12-13 22:04] D3nnis3n commented on #3686
Indeed.

[2018-12-13 22:04] #3686 closed

[2018-12-13 22:05] #3784 closed

[2018-12-13 22:05] #3809 closed

[2018-12-13 22:06] elfl0rd commented on #9393
And for understanding, I want not "only remove tier from pipes" I want  "remove pipes from room calculation (space and tier)".
In this case you cannot build room from pipes, pipes don,t drop/raise room tier, don,t occupy free space from room, etc.

[2018-12-13 22:06] #3559 closed

[2018-12-13 22:07] D3nnis3n commented on #3321
Old issue.

[2018-12-13 22:07] #3321 closed

[2018-12-13 22:08] D3nnis3n commented on #3098
Don't see any change on the buttons - still no text on them.

[2018-12-13 22:09] D3nnis3n commented on #3301
Yeh, it works with single ones, but if you have multiple ones it's still snapping weirdly while it could show better afaik.

[2018-12-13 22:10] elfl0rd commented on #9393
@D3nnis3n look at possible exploit in "just remove case" https://github.com/StrangeLoopGames/EcoIssues/issues/9845

[2018-12-13 22:10] D3nnis3n commented on #3169
But your table is running? It's about when they don't run.

[2018-12-13 22:11] D3nnis3n commented on #3195
Old issue.

[2018-12-13 22:11] #3195 closed

[2018-12-13 22:14] D3nnis3n commented on #3010
Old issue.

[2018-12-13 22:14] #3010 closed

[2018-12-13 22:15] D3nnis3n commented on #10160
https://github.com/StrangeLoopGames/EcoIssues/issues/10321

[2018-12-13 22:15] #10160 closed

[2018-12-13 22:16] D3nnis3n commented on #10020
One of them is mainly about lag and the other one has another cause for the object issue, so those are no real duplicates.

[2018-12-13 22:18] Deantwo commented on #10020
Duplicate of #10084

[2018-12-13 22:20] D3nnis3n commented on #10020
That one is already closed.

[2018-12-13 22:20] D3nnis3n commented on #10236
Reopened and renamed.

[2018-12-13 22:21] Deantwo commented on #10020
It is, but it is not solved, the player just closed it...
Either way, just wanted to reference it.

[2018-12-13 22:23] D3nnis3n commented on #10308
Need this for official servers anyway. I'm totally against point 2, though. That's ark survival bs.

Also we need the possibility to give different people different access to different commands. (Probably add this to your issue :))

[2018-12-13 22:30] D3nnis3n commented on #742
@johnkslg Is that fixed? I've no idea what you mean, as you didn't add a more detailed description *g*

[2018-12-13 22:32] D3nnis3n commented on #10320
I have my Eco server on a VPS and using steamcmd does not remove my saved games.

[2018-12-13 22:32] D3nnis3n commented on #10320
Feel free to add more information when you get some.

[2018-12-13 22:33] D3nnis3n commented on #10321
Could you go a bit more into detail on which server this happened and if you managed to join later?

[2018-12-13 22:34] D3nnis3n commented on #10317
That's probably the most asked question in support, lol.

[2018-12-13 22:35] D3nnis3n commented on #7370
Funnily, i cannot reproduce this, but i'll merge the issues.

[2018-12-13 22:35] D3nnis3n commented on #4485
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/7370

[2018-12-13 22:36] D3nnis3n commented on #10182
This happens with several of the menus. Often when i chat and type in the hotkeys they open up.

[2018-12-13 22:37] elfl0rd commented on #7370
It still happens( I can record video if needed

[2018-12-13 22:38] D3nnis3n commented on #882
They still look to me like that. But probably i just don't get what is the issue. @elfl0rd Could you make me a screenshot of the fixed view to compare?

[2018-12-13 22:39] D3nnis3n commented on #2696
Doesn't look so to me.

[2018-12-13 22:41] D3nnis3n commented on #3008
Yeh, the hammer is no longer craftable but the different tiers of tools still don't show any difference in their tooltips. They are limited to uses but if you hover over them in the crafting menu they don't show the amount of uses - and that was the main part of this issue.

[2018-12-13 22:43] D3nnis3n commented on #10301
I'd rather like a confirm action. I'm really pissed of the games that require you to hold buttons to do something, i just can't understand the waiting time. "Hold e to interact" - Very sad they do this nowadays. Especially for deletion a clear and big red warning should be the best solution - you could loose everything.

[2018-12-13 22:43] elfl0rd commented on #9393
Heh, if this way is possible, it way to temporary fix vertical ladder issue, until ladders from another materials has arrive.

[2018-12-13 22:43] DragonSupremacy commented on #10308
I agree with the added logging, as currently there's very little in terms of actual logging besides chat. However as D3nnis3n said, I don't see the point to #2. People should be able to work on a trust basis instead of punishing people for not showing admin actions for any number of reasons.

I can see #3 working out rather nicely with demographics, as currently I need to use a 3rd party mod to ga

[2018-12-13 22:45] D3nnis3n commented on #10308
As a transparency option you can include it. But i'd not want people to see if its enabled or loose points due to it. We do not activate this, because it's none of the players business which actions we do on our server. And we do have a very transparent one, but we announce things on discord to stop people from debating shit on the server.

[2018-12-13 23:00] DragonSupremacy opened #10322 "[8.0.0] Crash upon placing tent"
See attached screenshot

![crash on placing tent](https://user-images.githubusercontent.com/841990/49972883-4d4b5e00-ff33-11e8-9aed-55f335b5f00f.JPG)

[2018-12-13 23:20] Praefator opened #10323 "[8.0.0] InvalidCastException when trying to remove bank account"
Detailed description:
I opened a bank account and subsequently tried to remove the bank account.

Expected behavior:
Bank account being removed from the list of active accounts

Actual behavior:
Server threw an InvalidCastException. See https://pastebin.com/pcu9hVes

Steps to reproduce
1. Place bank
2. Add bank account
3. Remove newly created bank account

[2018-12-13 23:37] BlazeGuy2 opened #10324 "[8.0.0] Workbench recipe appears twice in campsite"
Recipe should only appear once.

[2018-12-14 01:30] johnkslg opened #10325 "Unloading a shovel should drop it vertically whichever direction youre facing"
So it doesnt look funny when you try to let go of dirt from a shovel and it sticks.

[2018-12-14 01:31] johnkslg commented on #10325
Will be handy for throwing dirt in pits and such

[2018-12-14 01:35] Conchipedia commented on #3169
as far as i have seen this should be working now as this is an old github so i will close this

[2018-12-14 01:35] #3169 closed

[2018-12-14 05:46] elfl0rd commented on #10325
Like excavator\skidsteer work? :)

[2018-12-14 05:47] elfl0rd commented on #10308
Okay, agree.

[2018-12-14 05:50] elfl0rd commented on #10324
@BlazeGuy2 hmm, this is not intended?
https://github.com/StrangeLoopGames/EcoIssues/issues/9625

[2018-12-14 05:57] elfl0rd commented on #10249
Missed curved shader, hehe :D

[2018-12-14 05:57] elfl0rd commented on #10322
https://github.com/StrangeLoopGames/EcoIssues/issues/10185

[2018-12-14 06:10] elfl0rd commented on #882
Not fully flat for me
![default](https://user-images.githubusercontent.com/4980243/49986222-0fc0f200-ff80-11e8-8830-ffb0da945775.png)

[2018-12-14 07:08] redwyre opened #10326 "FromBsonIList calling functions that weren't compiled when using IL2CPP"
When compiled for Android, at least

System.ExecutionEngineException: Attempting to call method 'Eco.Shared.Utils.ListExtensions::FromBson<Eco.Shared.Localization.LocString>' for which no ahead of time (AOT) code was generated.

![image](https://user-images.githubusercontent.com/431728/49988445-66e7b680-ffc2-11e8-8909-73fffc9075f2.png)

[2018-12-14 07:20] elfl0rd commented on #10307
Do you think, this need to moving into suggestions in that case? @D3nnis3n

[2018-12-14 09:53] elfl0rd commented on #10091
@Quadbro @D3nnis3n now happens on release, lol

[2018-12-14 09:58] elfl0rd opened #10327 "ALL fresh versions: crane not remove occupancy after pickup."
All ok.
![default](https://user-images.githubusercontent.com/4980243/50042427-b4702c00-0073-11e9-8d58-3e31b516a744.png)

place crane
![default](https://user-images.githubusercontent.com/4980243/50042431-c782fc00-0073-11e9-8adb-5c6c877150c4.png)

pick up it
check...
![default](https://user-images.githubusercontent.com/4980243/50042437-dc5f8f80-0073-11e9-8647-d18bbff23821.png)

block occupied.

[2018-12-14 12:40] mirasrael commented on #10232
After research wasn't able to solve this problem.
Having Player A and Player B and me (C).
A, C can connect B.
A, B can connect C.
C can connect A.
B can't connect A.
We tried:
- everything with Firewall (reconfigure rules, disable it completely);
- A and B uses Hamachi (VPN for LAN over Internet), we tried with enabled/disabled Himachi in any combination, no success;
- tried direct connection, wo

[2018-12-14 18:16] Deantwo commented on #10119
maybe number of garbage blocks created should depend on the total weight of the bag content.
That way a stack of 100 ingots create more garbage than a stack of 100 skill scrolls.
But I guess that would require all items to have a weight.

[2018-12-14 18:23] EvilKenevil opened #10328 "Fps not capping at 60 / using VSync"
**Changed number to 60, restarted game and it still is at over 100 FPS -- Steam client FPS counter, matches the Ingame FPS counter, so there is no variations between the 2 which could differ the results.**
![untitled](https://user-images.githubusercontent.com/38164448/50020246-4e30ce00-ffcd-11e8-9132-39679dfcf2a2.png)

[2018-12-14 18:41] thereporter42 opened #10329 "Failed to Clean backup"
Version: 0.7.8.5 beta Server

Steps to Reproduce:

Just let the server run for a couple of days

Expected behavior:
That the server would properly cleanup the backups
and handle them properly

Actual behavior:

Ok well this is pretty intresting the server has been running now for
a couple of days and I have not mucked or touched the backup files
in any way but on my console window on the server wh

[2018-12-14 18:43] thereporter42 commented on #9043
Version: 0.7.8.5 beta Server

Steps to Reproduce:

Just let the server run for a couple of days

Expected behavior:
That the server would properly cleanup the backups
and handle them properly

Actual behavior:

Ok well this is pretty intresting the server has been running now for
a couple of days and I have not mucked or touched the backup files
in any way but on my console window on the server wh

[2018-12-14 18:58] thereporter42 opened #10330 "The requested name is valid, but no data of the requested type was found"
Version: 0.7.8.5 beta Server

Steps to Reproduce:

Unknown

Expected behavior:

That the server would actually handle
the exeption properly.

Actual behavior:

Ok so this is a crash dump that I got  even if say a connection
goes down it should not throw exceptions like this and should
be able to properly handle it.

I am not sure what exactly happened here but I thought I would
post the dump.  Thi

[2018-12-14 19:03] thereporter42 commented on #9259
Well I got it going with a fresh install but I should have been able to update it from
one version to the next without having to do a fresh install like that every time.

[2018-12-14 19:07] D3nnis3n commented on #9043
You should open a new issue for this, this is the wrong place to report it.

[2018-12-14 19:11] elfl0rd commented on #10119
That way a stack of 100 ingots create more garbage than a stack of 100 skill scrolls.
But I guess that would require all items to have a weight.
1 chest, occupy 2 block. Can contain LOT of trash items w\o creating pollution.

[2018-12-14 19:12] BlazeGuy2 commented on #10323
https://youtu.be/pDKLUF9A2HU

@DragonSupremacy Tried to repro, couldn't get it to happen.

[2018-12-14 19:16] #10324 closed

[2018-12-14 19:35] D3nnis3n commented on #882
I don't see a difference, lol. Probably because it's dark in your shot.

[2018-12-14 19:36] D3nnis3n commented on #10307
Keep it here, devs will move it if needed.

[2018-12-14 19:37] elfl0rd commented on #10307
This does not work like this, issues with the suggestion label are moved automatically :)

[2018-12-14 19:40] BlazeGuy2 commented on #10310
Rocks are still being worked on.

[2018-12-14 19:54] #10190 closed

[2018-12-14 19:54] #10273 closed

[2018-12-14 19:56] #10310 closed

[2018-12-14 20:21] pamduncan commented on #10320
I think we can close this.  The issue must have had some problem with environmental settings in a VM on Linux running windows.  Moving the game to a Folder (server/) instead of having it at root solved the issue.  I have never run a game application at root but I know of some that successfully install ecoserver to root and run the server without issue.  removing all the EcoServer files and creatin

[2018-12-14 20:22] D3nnis3n commented on #10320
Alright.

[2018-12-14 20:57] DragonSupremacy commented on #10323
https://youtu.be/bq0lvX9adjs

@BlazeGuy2 Not sure if related, but I clicked on the newly created bank account once before trying to delete it and crashing.

[2018-12-14 21:13] Blob-Senpai opened #10331 "Client pulls in incorrect GamePort when trying to connect from server list"
Server Verison: 0.7.8.6 beta

For the past few days, people have been unable to connect to my server using the server browser list. When I open up my recentServer.eco and look at my server entry, it has the incorrect Gameport. At first, I checked my firewall rules to make sure I was not redirecting the ports and my Network.eco to make sure my ports were the original ports I set it to. I found no i

[2018-12-14 21:54] elfl0rd commented on #10325
Hah, yes, sounds like it.

[2018-12-14 22:13] D3nnis3n commented on #10320
I just experienced that too on the update fron 0.7.8.6 to the re-released 0.7.8.6 version. It deleted my savegame - not my backups though.

[2018-12-14 22:22] johnkslg opened #10332 "Why is fast-forward disabled on my singleplayer world?"
User reported, @BlazeGuy2 investigate

[2018-12-14 22:34] D3nnis3n commented on #10332
FastForward = false in sleep.eco by default?

[2018-12-14 22:37] SeanAtr0n opened #10333 "Dead corn looks silly in 8.0"
![image](https://user-images.githubusercontent.com/774628/50033535-c7202d80-ffad-11e8-9142-12e54dc7d99a.png)

[2018-12-14 22:48] johnkslg commented on #10332
Its supposed to specifically enable it when you start single player, and default to false otherwise.

[2018-12-14 22:49] D3nnis3n commented on #10332
Then that's high priority. Cause that is not the case.

[2018-12-14 22:58] amboo515 opened #10334 "USER ISSUE: Server I played on today vanished"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
Not sure how

**Expected behavior:**
I should be able to rejoin my server

**Actual behavior:**
I can't seem to find it in my worlds or browsing all servers

**Do you have mods installed? Does issue happen when no mods are installed?:**
I can't seem to find it in my worlds or browsing all servers

[2018-12-14 23:01] D3nnis3n commented on #10320
Another report:
<img width="527" alt="report" src="https://user-images.githubusercontent.com/25908592/50034320-91eefc00-fffc-11e8-9485-bcd06f4a4e81.png">

[2018-12-14 23:11] Deantwo commented on #10331
Issue from #10080 is back?

[2018-12-15 01:10] BlazeGuy2 commented on #10322
Haven't been able to repro this when I place a tent in 8.0.0.

[2018-12-15 01:18] SeanAtr0n commented on #10312
fixed

[2018-12-15 01:18] #10312 closed

[2018-12-15 03:11] pamduncan commented on #10334
There were problems with the links not keeping the info when a server was restarted.  Trry taking the server off of being a favorite and then search for it again and make a new connection to i.  If it does not show up in the browser in a search its possible that the server is down, you should talk to the owner as we have no way to locate a server that is not online

If it is your server and you ha

[2018-12-15 05:49] mirasrael commented on #10320
Game saves was accidentally added to Server release on Steam... I re-uploaded version on Steam, now it should be OK. Sorry for all who get hurt.

[2018-12-15 05:49] #10320 closed

[2018-12-15 09:58] elfl0rd opened #10335 "USER ISSUE: too many skillpoints"
**Version:** 0.8.0.0 beta master-e510ffa5
(standart settings, after start new fresh world)
![20181215125447_1](https://user-images.githubusercontent.com/4980243/50041648-22632600-0069-11e9-9c3e-e61f97f711a2.jpg)

[2018-12-15 10:00] elfl0rd commented on #10322
Yep, looks as fixed. master\steam 0.8

[2018-12-15 11:07] elfl0rd opened #10336 "Master\0.8 - finding ores is really hard"
Without the ability to search, it takes a lot of time and makes the game unplayable in both single and multiplayer games.

There should be deposits, but for 2 days I have not found any, only single blocks of ore.
In addition, the surface must be ore for initial development (swamp iron, etc.).)

@johnkslg

[2018-12-15 11:17] elfl0rd opened #10337 "Master: new item names broken"
![default](https://user-images.githubusercontent.com/4980243/50042459-1892f000-0074-11e9-944f-8e7323295c5f.png)
(and e.g. seeds, etc)
![default](https://user-images.githubusercontent.com/4980243/50042469-41b38080-0074-11e9-8ffa-8684e3804639.png)

[2018-12-15 11:21] elfl0rd opened #10338 "Master: QoL: pipes in 2x1 tunnel"
Problem with passage, character periodically stuck - unconfortable.
![default](https://user-images.githubusercontent.com/4980243/50042500-b38bca00-0074-11e9-8eff-a1958aa9bd2f.png)

[2018-12-15 11:25] elfl0rd opened #10339 "Master: unowned waterfilter ignore linked storage"
![default](https://user-images.githubusercontent.com/4980243/50042524-1ed59c00-0075-11e9-861a-202a473f2979.png)
![default](https://user-images.githubusercontent.com/4980243/50042533-47f62c80-0075-11e9-846b-3705d4f48912.png)
![default](https://user-images.githubusercontent.com/4980243/50042535-50e6fe00-0075-11e9-9795-aa8e103ed585.png)

[2018-12-15 11:28] elfl0rd opened #10340 "0.8 Waste Filter need "compost" with tooltip"
In "Status" tab, like sewage.
![default](https://user-images.githubusercontent.com/4980243/51876295-380e7f80-2379-11e9-913c-e42a864f69f7.png)

[2018-12-15 11:33] elfl0rd opened #10341 "Master: Agave not slow player"
@SeanAtr0n
![default](https://user-images.githubusercontent.com/4980243/50042602-6e689780-0076-11e9-9b29-c919e00cea63.png)

[2018-12-15 11:35] elfl0rd opened #10342 "Master: check sewage pollution"
![default](https://user-images.githubusercontent.com/4980243/50042621-b2f43300-0076-11e9-943d-00f5901044de.png)

[2018-12-15 11:38] elfl0rd opened #10343 "Pipes connect with pipes in stockpile"
![default](https://user-images.githubusercontent.com/4980243/50042660-18482400-0077-11e9-86f6-4af683de448e.png)

[2018-12-15 12:32] MrYoshii opened #10344 "User don't see server"
ok sice yesterday all my users report that the server is offline.  Now only the server shows online if they downgrade to 0.7.8.5 then the server is online but shows its on version 0.7.8.6  and if they update to 0.7.8.6 they can join again. until server or client restart.

[2018-12-15 15:59] pamduncan commented on #10344
There was a problem with 7.8.6 where it was not saving the GUID whenever you restarted so your links that people had saved were no longer good or would connect after the server restarted.  This was posted for everyone in the discord announcements channel:

mirasraelYesterday at 12:47 AM
Eco Server 0.8.6 was re-released both on Steam and SLG S3

No need to update client, it is just a server change.

[2018-12-15 16:15] pamduncan commented on #10332
I have has several of these but in each case the player did pick to have friends join Several has been okaying single player games and sleep worked but they had not invited friends, when they made a new world and invited then fast forward was disabled.  Not sure is allowing friends to join therefore makes in no longer single player and the fast forward is turned off.  The hard part of this is that

[2018-12-15 18:08] Nicolausi113 commented on #10131
I’ve updated to 7.8.6, unfortunately the problem still persist. My favorite server doesn’t show up in Recommended nor in Browse All and e.g. the server “Der Rentner Treff” is not shown in Browse ALL
![server1](https://user-images.githubusercontent.com/38510829/50045977-4c820b80-009c-11e9-90c9-e77e934aca1f.jpg)
![server2a](https://user-images.githubusercontent.com/38510829/50045980-5b68be00-009c-11

[2018-12-15 21:10] D3nnis3n commented on #8685
Most probably it'll be fixed with https://github.com/StrangeLoopGames/EcoIssues/issues/9903, so you need to have patience until that is refactored.

[2018-12-15 21:32] elfl0rd commented on #8685
Nope, still happens on master and 7.8.6 :(
I hate this, it's terribe...
You see as you can craft 100 from 10, but you need 11 after project started... And you not receive 100 without 11 :(((

[2018-12-15 21:33] D3nnis3n commented on #8685
Afaik the crafting scrap is not in 8.0 nor planned for it.

[2018-12-15 21:34] elfl0rd commented on #8685
I would like to see at least 0.8.1

[2018-12-15 21:46] elfl0rd commented on #9483
@D3nnis3n really looks as fixed... And not answered :)

[2018-12-16 05:49] Quadbro commented on #10322
@elfl0rd yeah, i fixed it in that issue

[2018-12-16 12:00] ghost opened #10345 "[0.8.1.4] Teleport to Top"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
1. Go down a ladder/mineshaft and stand next to a wall.
2. Place down a block or mine one out.

**Expected behavior:**
Just place the block or mine the block out

**Actual behavior:**
Places down the block or mines it but also teleports you to the top of that wall.

**Do you have mods installed? Does issue happen when no mods are installed?:**
Pla

[2018-12-17 12:32] elfl0rd commented on #3067
@D3nnis3n can you look? this and https://github.com/StrangeLoopGames/EcoIssues/issues/10295

[2018-12-17 12:34] elfl0rd commented on #9661
Hmm... @D3nnis3n looks refer to https://github.com/StrangeLoopGames/EcoIssues/issues/3067 and https://github.com/StrangeLoopGames/EcoIssues/issues/10295

[2018-12-17 12:34] elfl0rd commented on #3072
@D3nnis3n ? https://github.com/StrangeLoopGames/EcoIssues/issues/10295

[2018-12-17 19:14] SeanAtr0n commented on #9294
Pretty sure this one was fixed w/ 7.7 or 7.8

[2018-12-17 19:14] #9294 closed

[2018-12-17 19:16] elfl0rd commented on #9294
nope, actual in 7.8.6

[2018-12-17 19:22] SeanAtr0n commented on #9294
vehicles fall through the world when crossing in 7.8.6 or are you talking about another issue?

[2018-12-17 22:31] amboo515 commented on #10334
Yes. To be honest, I just started over on a different server, but I appreciate the advice and will use it if it occurs again. Thank you.

Sent from my iPhone

[2018-12-17 23:24] Zhinj opened #10346 "SERVER ISSUE: Connecting users stuck on loading world."
Version: 7.8.6

I am seeing issues with at least two users (Cog, Knight_Fox) being unable to connect to a server they have previously had no issues connecting to.

The issue from the users side: They typically will get to the "Loading World" piece of the login and it will freeze entirely and eventually timeout and return to the main screen. Other times they will be able to login successfully but w

[2018-12-17 23:35] johnkslg opened #10347 "Long errors make dialog box too big"
![image](https://user-images.githubusercontent.com/3536496/50122432-52e5c400-0211-11e9-856c-11488b5588c1.png)

[2018-12-17 23:40] SeanAtr0n commented on #10328
works fine in master / 8.0... seems to have been caused by a 7.8 hotfix of some sort

[2018-12-18 00:39] keegan-o commented on #10271
Fixed in master.

[2018-12-18 00:39] #10271 closed

[2018-12-18 00:39] keegan-o commented on #10261
Sean mentioned he was changing the movement penalty to account for height of plant.

[2018-12-18 00:39] #10261 closed

[2018-12-18 00:41] keegan-o commented on #10249
Fixed in master.

[2018-12-18 00:41] #10249 closed

[2018-12-18 00:44] keegan-o commented on #10035
Fixed in master.

[2018-12-18 00:44] #10035 closed

[2018-12-18 05:40] Quadbro commented on #9712
It's a one time thing and it do not worth it

[2018-12-18 06:49] pamduncan opened #10348 "Users Issues (MacOS)"
Received a complaint about a Mac users issue present since last June and was unable to find any bug report dealing with this.  Was told to make a issue regarding it and to see what can be done:
[![Screenshot from Gyazo](https://gyazo.com/1d52a72e0f0cb3343e48e84abe32d11a/raw)](https://gyazo.com/1d52a72e0f0cb3343e48e84abe32d11a)

[![Screenshot from Gyazo](https://gyazo.com/04d17c7244afba65ac90f5af43

[2018-12-18 07:07] #9712 closed

[2018-12-18 07:13] mirasrael commented on #10334
Ok. @amboo515 thanks for answer. Closing this issue for now.

[2018-12-18 07:13] #10334 closed

[2018-12-18 08:04] Tigran07 commented on #10106
https://github.com/StrangeLoopGames/Eco-Accounts/pull/69

[2018-12-18 09:21] elfl0rd opened #10349 "Master: QoL "Permanent account cannot be deleted""
![default](https://user-images.githubusercontent.com/4980243/50144082-53d52f00-02bf-11e9-9f6d-d8b4f487b0b7.png)

I prefer remove "delete" button from permanent accounts, (and maybe show small lock icon) instead of showing error after attempt.

![default](https://user-images.githubusercontent.com/4980243/50144112-68192c00-02bf-11e9-9a51-fa598d1ac8f0.png)

[2018-12-18 09:24] elfl0rd commented on #10337
Fixed as i see.

[2018-12-18 09:24] #10337 closed

[2018-12-18 09:43] elfl0rd opened #10350 "Some species missing category"
As i see: Otter, Buttonbush, Pitcher Plant, Waterweed need assign to categories. (And some new incoming in 0.8 too.)
![default](https://user-images.githubusercontent.com/4980243/46556132-62ca5900-c8ee-11e8-86a4-f6e49b2da65a.png)

[2018-12-18 11:48] redwyre commented on #10326
I have a hack in the webgl branch to compile this function statically, haven't had another crash since but not sure what triggered it in the first place

[2018-12-18 11:55] redwyre commented on #10348
Is the webpage problem an issue launching the browser, or that it doesn't load the page correctly?

[2018-12-18 11:59] Tigran07 commented on #10105
Pull Request is here
https://github.com/StrangeLoopGames/Eco-Accounts/pull/70

[2018-12-18 12:12] mirasrael commented on #10326
@redwyre how did you hack this?

[2018-12-18 12:15] mirasrael commented on #10326
—extra-types.file=»C:\Program Files\Unity\Editor\Data\il2cpp\il2cpp_default_extra_types.txt»
I think we should use this way to specify list of types which can't be found in code, but may be dynamically created.

[2018-12-18 12:26] redwyre opened #10351 "TimeoutException in StatDatabase.DoDatabaseWrite"
This was from just leaving the server open, I thought it was a deadlock but after skipping it a few times it continued on. Game was running in Unity editor, but paused.

Callstack:
[code]

[2018-12-18 13:54] #10236 closed

[2018-12-18 13:56] ClayC90 opened #10352 "Connection Issue"
As per discussion on discord, a single person is having issues connecting to my server, I have went so far to wipe the server. Still no luck,

The last performed test I have downloaded the latest server files and extracted into a separate folder, then generated a new world with no mods etc. The user still failed to connect, no errors on both ends.

The save file can be found in support@strangeloop

[2018-12-18 14:09] elfl0rd commented on #10352
https://github.com/StrangeLoopGames/EcoIssues/issues/10232 ?

[2018-12-18 14:22] ClayC90 commented on #10352
Doesn't seem to be same issue, we already went through the basics with Pam on discord.

[2018-12-18 15:12] ClayC90 commented on #10352
As an addition, we have just tested with the same user using an SLG account and same issue has occurred, so this is not steam related.

[2018-12-18 15:23] Spydarlee commented on #10347
Do you have an example of something that triggers these sorts of errors, @johnkslg? I'm pretty sure it's the standard Popup dialog that is being used, but I can't find any examples in error handling code. 🤔

[2018-12-18 15:34] elfl0rd commented on #10347
@Spydarlee chop palm and try to pickup his log :D

[2018-12-18 18:51] elfl0rd opened #10353 "Master: Can't select shovel while carrying clay"
**Version:** 0.8.0.0 beta master-d2f08330 debug
(you can pickup clay only by shovel)

![default](https://user-images.githubusercontent.com/4980243/50175922-18625100-030f-11e9-8cc3-a34929dc2f25.png)

[2018-12-18 18:55] #10279 closed

[2018-12-18 18:56] elfl0rd opened #10354 "Master: clay and dirt particles - too shiny."
![default](https://user-images.githubusercontent.com/4980243/50176181-c5d56480-030f-11e9-89ea-6c829e9c8301.png)
![20181219202017_1](https://user-images.githubusercontent.com/4980243/50236494-9c7a0e80-03cb-11e9-913f-8493501aa53d.jpg)

[2018-12-18 18:58] #10314 closed

[2018-12-18 18:58] #10317 closed

[2018-12-18 19:02] #10020 closed

[2018-12-18 19:03] #9721 closed

[2018-12-18 19:03] #9723 closed

[2018-12-18 19:03] #9731 closed

[2018-12-18 19:03] #9738 closed

[2018-12-18 19:03] #9739 closed

[2018-12-18 19:03] #9740 closed

[2018-12-18 19:03] #9614 closed

[2018-12-18 19:03] #9651 closed

[2018-12-18 19:03] #9709 closed

[2018-12-18 19:03] #9710 closed

[2018-12-18 19:03] #9714 closed

[2018-12-18 19:03] #9715 closed

[2018-12-18 19:03] #9716 closed

[2018-12-18 19:03] #9717 closed

[2018-12-18 19:03] #9718 closed

[2018-12-18 19:03] #9719 closed

[2018-12-18 19:11] elfl0rd opened #10355 "Master: clay - balance."
okay, largest clay vein i found - 112.
At maximum skill it is equal ~50 bricks...
Really? 0_o lower requiments or make veins bigger please.

[2018-12-18 19:13] #1894 closed

[2018-12-18 19:13] #10341 closed

[2018-12-18 19:30] SeanAtr0n commented on #10254
I don't expect that would fix the skipped frames themselves though... maybe @metachronism has ideas

[2018-12-18 20:13] SeanAtr0n opened #10356 "Merge Species / World Layer Settings"
Ideally there should be 1 file / species and world layer settings could be generated from fields in AnimalSpecies

[2018-12-18 21:40] thereporter42 opened #10357 "0.7.8.6 beta Linux client Got a SIGILL while executing native code."
Version: 0.7.8.6 beta Linux client

Steps to Reproduce:

Try and run either Eco.x86 or Eco.x86_64

Expected behavior:

That the Linux Eco client will run properly on Debian 9.x

Actual behavior:

Ok this is just crazy I have mono installed on my laptop and I am trying to install
the Eco client on this laptop. (Debian 9)

There is no real guide that I can find out there either that says
exactly wha

[2018-12-18 21:51] Deantwo commented on #9673
Bump.
When this is fixed, will we get an actual tax option added to the treasury menu? Or is the functionality just gonna be removed with no alternative?

See: https://github.com/StrangeLoopGames/EcoSuggestions/issues/447

[2018-12-19 07:32] rainfarmer opened #10358 "Logout and login as new user does not reset menu options."
For hosted world users, the main menu has quick links to their hosted worlds.

This works correctly, but if user logs out and in, the quick link does not change to the new user's worlds.

Or if first user does not have hosted world, then a HW user logs in, the quick link does not appear.

logging in and out might be common in schools.

[2018-12-19 12:36] effolkronium commented on #7868
Have no issues with
![image](https://user-images.githubusercontent.com/15274763/50220588-6886f500-039b-11e9-9da5-7f28defaa33e.png)

[2018-12-19 14:58] D3nnis3n opened #10359 "[8.0.0 Steam Beta] Default World missing"
The default world is missing after installing the game, so you can't start a server with the default world.

[2018-12-19 15:00] D3nnis3n commented on #10349
That would make players ask why they can't remove it though, i'll give it low.

[2018-12-19 15:10] D3nnis3n opened #10360 "[8.0.0 Steam Beta] Forage tutorial is a bit stuck"
See the screenshot, i gathered the required material with commands like we did in earlier builds but it was not checked. Moving the materials to the tent and back did check all but corn, after moving corn two more times that was also checked. Something probably not registering correctly?

![food](https://user-images.githubusercontent.com/25908592/50228575-96266b00-03a8-11e9-9f5c-031fe9182962.jpg)

[2018-12-19 15:13] D3nnis3n opened #10361 "[8.0.0 Steam Beta] Digging tutorial is broken"
See the screenshot, i picked up my shovel, tried to dig there with my shovel - no tutorial appeared. Probably related to the new biomes?

![digging](https://user-images.githubusercontent.com/25908592/50228775-0c2ad200-03a9-11e9-834e-7cf8c96495bc.jpg)

[2018-12-19 15:15] D3nnis3n opened #10362 "[8.0.0 Steam Beta] Mining tutorial is broken"
Picking up sandstone or other stone types does not trigger the tutorial, neither selecting the pickaxe does. The tutorial needs to be adapted.

![image](https://user-images.githubusercontent.com/25908592/50228843-39778000-03a9-11e9-8227-933a9ec58e9e.png)

[2018-12-19 15:15] 5maxson5 opened #10363 "Invalid login info"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]
<size=150%>Ошибка подключения</size>

Invalid login info.

<size=60,00%>Token is invalid.</size>
[code]

[2018-12-19 15:19] D3nnis3n opened #10364 "[8.0.0 Steam Beta] Balance skillpoints"
![image](https://user-images.githubusercontent.com/25908592/50229059-ba367c00-03a9-11e9-88bd-3f2d97d59925.png)
Look in the lower left - it's definately not supposed to be like that. Also the balance of gaining skillpoints seems way off. I assume you got me a developer version - i need one suitable for end users to test the new skillpoints system and balance. Also streamers (for those this version

[2018-12-19 15:20] D3nnis3n commented on #9283
Considering this is removed in 8.0 (as i suppose) it should be removed from the "New World" screen, too.

[2018-12-19 15:38] D3nnis3n opened #10365 "[8.0.0 Steam Beta] Completed tutorials empty"
<img width="1920" alt="tutorials" src="https://user-images.githubusercontent.com/25908592/50230140-64af9e80-03ac-11e9-9368-3a51d32df7b2.png">
As you can see - no tutorials are shown. I mastered them all, though ;P

[2018-12-19 15:46] D3nnis3n opened #10366 "[8.0.0 Steam Beta] /testdistributionstation broken"
The command is broken, it causes a permanent lag icon in the right corner, new chunks can't be loaded, no distribution station appears and on restart of the server there is none, either.

[2018-12-19 15:47] elfl0rd commented on #10363
Pirate copy?

[2018-12-19 15:49] D3nnis3n opened #10367 "[8.0.0 Steam Beta] Treasury can only transfer money to the main account"
None of my other two accounts are listed:
![image](https://user-images.githubusercontent.com/25908592/50230983-0d123280-03ae-11e9-9598-f3a0ca931f17.png)

[2018-12-19 15:50] elfl0rd commented on #10364
dupe https://github.com/StrangeLoopGames/EcoIssues/issues/10335

[2018-12-19 15:50] D3nnis3n commented on #10367
If this is not possible, how am i supposed to make an account for several people where taxes can go?

[2018-12-19 16:02] D3nnis3n commented on #10364
I'll merge your issue into this one, as i've already used this issue in numerous places, including DMs, as it needs to be fixed ASAP.

[2018-12-19 16:03] D3nnis3n commented on #10335
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/10364 as of reasons mentioned there.
Thanks for your report GDragon.

[2018-12-19 16:03] #10335 closed

[2018-12-19 16:03] D3nnis3n commented on #10364
GDragons picture: https://user-images.githubusercontent.com/4980243/50041648-22632600-0069-11e9-9c3e-e61f97f711a2.jpg

[2018-12-19 16:12] D3nnis3n opened #10368 "[8.0.0 Steam Beta] Registrar has no hitbox"
The new registrar model has no hitbox - you can't open it.

[2018-12-19 16:26] D3nnis3n opened #10369 "[8.0.0 Steam Beta] Give command spawns things into carriable slot"
/give hoe =
![image](https://user-images.githubusercontent.com/25908592/50233217-413c2200-03b3-11e9-8e2b-8d93c7aef6a0.png)

Comment from GDragon:
1. happens only if no space on toolbar. (you can have space in backpack, but it still happen.)
2. /give in this case can replace content of carried slot.

[2018-12-19 16:33] D3nnis3n opened #10370 "[8.0.0 Steam Beta] Layers are broken on the webinterface"
<img width="1875" alt="layers" src="https://user-images.githubusercontent.com/25908592/50233644-274f0f00-03b4-11e9-90b6-16a1324770af.png">

[2018-12-19 16:33] D3nnis3n commented on #10370
This applies to most, but not all of them.

[2018-12-19 16:44] elfl0rd commented on #10369
1) happens only if no space on toolbar. (you can have space in backpack, but it still happen.)
2) /give in this case can replace content of carried slot.

[2018-12-19 16:48] D3nnis3n opened #10371 "[8.0.0 Steam Beta] Laws don't get converted correctly."
World convert correctly despite laws. It takes it 120 seconds to to do initialisation of legislation and all the laws are converted to laws with the correct description but only a "tax X" clause. Use this world to retry: https://download.godsofwar.de/eco/cycle-5.zip

<img width="826" alt="laws" src="https://user-images.githubusercontent.com/25908592/50234548-3df66580-03b6-11e9-8c05-a83631c1ecec.pn

[2018-12-19 16:51] D3nnis3n opened #10372 "[8.0.0 Steam Beta] Converted Server crashes shortly after start"
With this error:

[code]

Use world https://download.godsofwar.de/eco/cycle-5.zip to test.
I made them medium priority as we advised to create new worlds.

[2018-12-19 16:58] D3nnis3n commented on #10369
Good catch, that's right!

[2018-12-19 17:06] D3nnis3n opened #10373 "[8.0.0 Steam Beta] Weight is broken"
See the screenshot, i'm carrying a minus value:
<img width="1237" alt="weight" src="https://user-images.githubusercontent.com/25908592/50235717-d857a880-03b8-11e9-86a6-1cf4c650b3d8.png">

[2018-12-19 17:07] D3nnis3n opened #10374 "[8.0.0 Steam Beta] Getting items with left click from vehicles or stockpiles doesnt work"
See title.

[2018-12-19 17:10] D3nnis3n opened #10375 "[8.0.0 Steam Beta] /give does not give you another item if you already have one"
Do /give hammer - now you got a hammer.
You want a second one, so use /give hammer again.
You don't get a second hammer.

[2018-12-19 17:11] elfl0rd opened #10376 "Steam-master: chest open\close animation lost"
**Version:** 0.8.0.0 beta master-d2f08330

[2018-12-19 17:13] D3nnis3n commented on #10376
Confirmed.

[2018-12-19 17:13] D3nnis3n opened #10377 "[8.0.0 Steam Beta] Using scythe on tall grass removes the grass completely."
Normal grass is cut to a small state, big grass is removed completely. Working as intended? Is confusing at least.

[2018-12-19 17:19] elfl0rd opened #10378 "[8.0.0 Steam Beta] /give multiple non stackable items cause problems."
**Version:** 0.8.0.0 beta master-d2f08330
If you /give someting nonstackable (e.g. /give shovel,10)
you receive stack of nonstackable items. As result - you cannot move it.
You need move every 1 item from stack to split.

[2018-12-19 17:21] elfl0rd opened #10379 "[8.0.0 Steam Beta] dirt particles too shiny"
![20181219202017_1](https://user-images.githubusercontent.com/4980243/50236494-9c7a0e80-03cb-11e9-913f-8493501aa53d.jpg)

[2018-12-19 17:22] D3nnis3n opened #10380 "[8.0.0 Steam Beta] Recent Servers show no name"
<img width="1242" alt="recent" src="https://user-images.githubusercontent.com/25908592/50236549-faeac100-03ba-11e9-8c0e-eacdc2c54e46.png">
Some of then are online, some offline. Ususally it did save the name even of offline ones.

[2018-12-19 17:23] elfl0rd commented on #10375
(silently, without any errors or messages. Maybe refers to https://github.com/StrangeLoopGames/EcoIssues/issues/10378 )
If you
/give paper,5
then
/give paper
You loose 4 paper from stack :D

[2018-12-19 17:28] elfl0rd opened #10381 "[8.0.0 Steam Beta] skills window - no scroll"
**Version:** 0.8.0.0 beta master-d2f08330
Okay, some skills hidden, and no "scrolling" indicator.
But scrolling possible.

In addition, "usability" of this window really lower then previous.
Too many animations, unwanted tooltips, mouse moves and clicks.
![default](https://user-images.githubusercontent.com/4980243/50236735-3f328d00-03cc-11e9-82cb-b6c5c67a5211.png)

[2018-12-19 17:29] D3nnis3n opened #10382 "[8.0.0 Steam Beta] Unobtainable Items that should be obtainable"
The list of unobtainable items got bigger, bit includes items like shower and water filter. At least the latter one should be obtainable, eh?

<img width="534" alt="unobtainable" src="https://user-images.githubusercontent.com/25908592/50236925-f541ab00-03bb-11e9-809a-b0db7da455c3.png">

[2018-12-19 17:30] D3nnis3n commented on #10379
Is that intended @keegan-o?

[2018-12-19 17:31] elfl0rd opened #10383 "[8.0.0 Steam Beta] removed skills returned"
**Version:** 0.8.0.0 beta master-d2f08330
Some time ago, slg remove skills like construction, campfire, etc.
In "new" interfase all this skills is exists.
This is intended?

![default](https://user-images.githubusercontent.com/4980243/50237075-02b36100-03cd-11e9-97ee-f7c2e2806248.png)

[2018-12-19 17:33] elfl0rd commented on #10251
Addition to UI problems
"experience bar"

[2018-12-19 17:34] D3nnis3n opened #10384 "[8.0.0 Steam Beta] Mountain Goat Carcass has no icon"
See title.

[2018-12-19 17:34] D3nnis3n commented on #10384
Nah, i'll do a collection for these issues.

[2018-12-19 17:34] #10384 closed

[2018-12-19 17:38] D3nnis3n opened #10385 "[8.0.0 Steam Beta] Deer Carcass Icon is missing the meat symbol, Goat Carcass Icon is missing completely"
<img width="693" alt="meat" src="https://user-images.githubusercontent.com/25908592/50237471-50c06880-03bd-11e9-8577-3ddd373b805a.png">

[2018-12-19 17:43] D3nnis3n opened #10386 "[8.0.0 Steam Beta] Missing Icons"
Missing following icons: AdvancedBakingFocusedWorkflowTalentGroup, AdvancedBakingFrugalWorkspaceTalentGroup, AdvancedBakingLavishWorkspaceTalentGroup, AdvancedBakingParrallelProcessingTalentGroup, AdvancedCampfireCookingFocusedWorkflowTalentGroup, AdvancedCampfireCookingFrugalWorkspaceTalentGroup, AdvancedCampfireCookingLavishWorkspaceTalentGroup, AdvancedCampfireCookingParrallelProcessingTalentGr

[2018-12-19 17:44] D3nnis3n opened #10387 "[8.0.0 Steam Beta] Missing Objects"
Missing following objects: APGenObject, ButtonObject, ElkSkypiercerObject, LogicGateObject, ShowerObject, SwitchObject, TollObject, WasteTreatmentObject

[2018-12-19 17:45] D3nnis3n opened #10388 "[8.0.0 Steam Beta] output_log.txt"

[2018-12-19 17:51] D3nnis3n opened #10389 "[8.0.0 Steam Beta] /testexchange is broken"
Same like in this issue with distribution stations: https://github.com/StrangeLoopGames/EcoIssues/issues/10366

[2018-12-19 17:54] D3nnis3n opened #10390 "[8.0.0 Steam Beta] /spawneconomy is broken"
Same issue as with https://github.com/StrangeLoopGames/EcoIssues/issues/10389 and #10366
This issue disables me from doing a test for the economy features though. Cannot even do it manually, as i only got a steam version, no slg version.

[2018-12-19 17:56] D3nnis3n opened #10391 "[8.0.0 Steam Beta] /spawncontracts is broken"
Same as https://github.com/StrangeLoopGames/EcoIssues/issues/10390 - disables me to do easy contract testing.

[2018-12-19 18:07] D3nnis3n commented on #10354
@keegan-o Intended?

[2018-12-19 18:10] D3nnis3n commented on #10348
We'll never know - the user left the discord.

[2018-12-19 18:12] D3nnis3n commented on #10344
Did this fix your problem?

[2018-12-19 21:21] #10347 closed

[2018-12-19 21:50] johnkslg opened #10392 "Pipes make chunks think they're encased and fail to render, despite being visible"
![image](https://user-images.githubusercontent.com/3536496/50250210-075c2300-0395-11e9-8e11-2a452ecd2769.png)
I fixed this on the server but need help on the client.

[2018-12-19 21:52] johnkslg commented on #10392
@redwyre There's a detection for 'encasement' in the code, if a chunk is fully enclosed by 'solid' blocks, then it doesnt render or send to the client.  Problem is that some blocks like pipes are 'solid' (they have collisions and other properties that 'solid' confers) but they do not encase.  Glass is another one.

I added a tag on the server 'DoesntEncase', but it needs to detected and propagated

[2018-12-19 21:58] elfl0rd opened #10393 "Master: big bluestem - texture? missing."
![default](https://user-images.githubusercontent.com/4980243/50250612-600dd900-03f2-11e9-8a59-834a1468ba95.png)
![default](https://user-images.githubusercontent.com/4980243/50687614-14cf0980-1033-11e9-8a7c-a6d95aa85bfe.png)

[2018-12-19 22:07] elfl0rd opened #10394 "Master: bank accounts loose color\icon. Maybe happens with registrar too."
like https://github.com/StrangeLoopGames/EcoIssues/issues/10228
![default](https://user-images.githubusercontent.com/4980243/50250998-7d8f7280-03f3-11e9-9521-a169482bb9fc.png)

[2018-12-19 22:10] elfl0rd opened #10395 "Localized reciepes loose color and icon"
@Quadbro
![default](https://user-images.githubusercontent.com/4980243/50251145-f989ba80-03f3-11e9-95d5-e5b796e82e3a.png)

[2018-12-20 00:54] Deantwo opened #10396 "Seeds not invented"
Version: v7.8.6 beta

Just started a new world and was setting up a quick store to get rid of junk.
It turns out that you can't sell **Tomato Seeds** and **Beet Seeds** at a store before the **Farming** skill has been researched.

This is the same old issue of not being able to add things to a store before they are invented.
Can we just please get a "show only invented items" checkbox on the item

[2018-12-20 04:01] Quadbro commented on #10374
Context?) what slot you used on hotbar?) (emty? iterm? tool?)

[2018-12-20 04:05] yinghuaho opened #10397 "USER ISSUE: Can't open in game broswer"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
Can't open in game broswer

**Expected behavior:**
web broswer opened when I clicked vote or law

**Actual behavior:**
it says this site can't reached

**Do you have mods installed? Does issue happen when no mods are installed?:**
it says this site can't reached

[2018-12-20 05:51] thereporter42 commented on #10357
I am a very experienced user for Linux been using some distro of Linux for 30
years now.

Part of the problem I believe is that there is no documentation for
Linux as to programs you need to have in able to successfully run
the Linux client.

Like I said I have mono and mono-devel installed and I thought that would
have been enough but I guess not.

Now I have googled this issue too looking for po

[2018-12-20 06:32] Deantwo commented on #10397
What kind of server are you playing on?
Are the webpage ports forwarded?
Is only you affected? Or everyone on the server?

[2018-12-20 06:36] Deantwo commented on #10363
@5maxson5, Steam or standalone version?
Can you login on the [SLG website](https://ecoauth.strangeloopgames.com/login)?

[2018-12-20 08:50] Aatch opened #10398 "Contract validation doesn't consider all clauses together."
If I create a contract, but don't have the funds to cover the payment, the contract is considered invalid, however the clauses seem to be checked independently, meaning that if I 1000 money I can create a contract with two 1000 money payments and it works fine. When using loans, this causes the debt to be created, but the money isn't transferred, since money may have already gone into escrow.

[2018-12-20 09:15] Quadbro commented on #10390
If it's working as intended in master branch, do it need some fixes?)

[2018-12-20 09:20] Quadbro commented on #10374
It works with empty slot, and with item to refill

[2018-12-20 10:03] Quadbro commented on #10394
Not localization related, original EN variant has no icon there too. Just because it uses name without markup in automatic field generator. I think now it's intended :)

[2018-12-20 10:14] Quadbro commented on #10394
@johnkslg We need some info, pls :)

[2018-12-20 12:48] elfl0rd opened #10399 "Singleplayer stuck on "Initializing Webserverplugin""
Happens only if user launch game in client.
If user launch ecoserver manually - launch ok, user can connect and play.

To improve.

1. No timeout check, user wait ~20h.
2. Server launched from client periodically stuck in process list after client close. (In this case)
3. No "information" in client about what client\server going, about errors, etc. (In this case)

Repeated error in output_log.txt

[2018-12-20 14:08] D3nnis3n commented on #10390
It's not working on the Steam Branch i have to test. Try to get me a new version on that branch. If it still doesn't work it's a issue with the steam build. We had such things before.

[2018-12-20 14:09] D3nnis3n commented on #10374
Empty hotbar, empty carriable slot. Reproducable on the steam build i got.

[2018-12-20 14:16] Spydarlee commented on #10390
Same for #10389 - works fine on master. Haven't tried on release yet.

[2018-12-20 15:45] Spydarlee commented on #10025
Hey @metachronism - would you be able to take a quick look at this again to make sure you're previous fixes haven't got lost in the shuffle? See above comment for some duplicate file weirdness. Also I _am_ able to reproduce this on master now, but I've been digging and can't see what part of your fix is missing. 🤔

[2018-12-20 19:05] keegan-o commented on #10385
Fixed in master.

[2018-12-20 19:05] #10385 closed

[2018-12-20 19:37] keegan-o commented on #9484
Switched it out to the smoke the steam truck uses and added collision (added collision to the skidsteer and steam truck smoke too)
![image](https://user-images.githubusercontent.com/14983165/50306892-9461b380-044b-11e9-8a44-43ac190d6382.png)

[2018-12-20 19:37] #9484 closed

[2018-12-20 20:14] keegan-o commented on #10219
Added in the animation in master.

[2018-12-20 20:14] #10219 closed

[2018-12-20 20:21] keegan-o commented on #10311
Toned down the 'permafrost' frozen soil block a ton in generation, so you shouldn't see this anymore.

[2018-12-20 20:21] #10311 closed

[2018-12-20 20:41] elfl0rd opened #10400 "Master: oil refinery - additional ghost pipe connector?"
2 additional at back
![default](https://user-images.githubusercontent.com/4980243/50309675-bfcab980-04b0-11e9-9b03-1098b02a7e8f.png)
This connector not have collision and out from oil refinery collision block.
![default](https://user-images.githubusercontent.com/4980243/50310658-b55def00-04b3-11e9-81b3-5f6d0d43d98a.png)

@keegan-o ?

[2018-12-20 21:01] elfl0rd opened #10401 "Master: oil refinery - static collision"
Now have animation, but animation is not interact with collision.
(like Robotic assembly)

[2018-12-20 21:07] elfl0rd opened #10402 "Master: machinery play animation while project halted or completed"
e.g. robotic assembly, oil refinery
![default](https://user-images.githubusercontent.com/4980243/50310804-3ddc8f80-04b4-11e9-941a-da004e3e320d.png)
![default](https://user-images.githubusercontent.com/4980243/50310839-5351b980-04b4-11e9-969e-d563a6de5539.png)
![default](https://user-images.githubusercontent.com/4980243/50310811-43d27080-04b4-11e9-9426-b38aa9f1244d.png)

[2018-12-20 21:09] elfl0rd commented on #10402
Maybe this is reason why enabled sink play sound...

[2018-12-20 21:20] elfl0rd commented on #10311
This is in master already? I can not see changes...
![default](https://user-images.githubusercontent.com/4980243/50311417-30280980-04b6-11e9-843d-18c4f3b8c935.png)

[2018-12-20 21:21] elfl0rd commented on #10311
Yes, i agree - it looks cool in snow biome,
![default](https://user-images.githubusercontent.com/4980243/50311471-606fa800-04b6-11e9-93fb-35476b2ea150.png)
But not ok outside :(

[2018-12-20 21:41] keegan-o commented on #10311
Will make it only spawn in the 'ice' biome which is snow-covered for 8.0

[2018-12-20 22:43] RealDuckSauce opened #10403 "USER ISSUE: Minimap detal setting destoys framerate"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
turn the minimap detail setting up at all

**Expected behavior:**
it  should not destroy my pc

**Actual behavior:**
its puts my frames from 50+ down to 15

**Do you have mods installed? Does issue happen when no mods are installed?:**
no mods

[2018-12-20 23:58] Aatch commented on #8174
This appears to be a problem still in 7.8.6

[2018-12-21 00:43] johnkslg opened #10404 "Bisons should not parkour"
https://drive.google.com/file/d/1ShXFFlqVP4Okclnhy6-EhKiuwwKtKxqg/view?usp=sharing
Could tackle a few ways:
- Dont allow path finding transitions to go up/down unless there is are flat blocks within X units (so to pathfind up hills, theyll need a lower gradation)
- Consider path width when creating the graphs, dont create paths for one-wide blocks

[2018-12-21 00:47] johnkslg commented on #10404
The nice thing is that mountain goats CAN parkour and should.  Though leaping animations would be nice for them.

[2018-12-21 00:57] #10106 closed

[2018-12-21 00:57] #10105 closed

[2018-12-21 07:23] thereporter42 opened #10405 "Day and Night Cycles in deep caves?"
Version: 0.7.8.6 beta

Steps to Reproduce:

1. Dig a deep cave really deep
2. Make a room at the bottom of the entrance shaft
3. Wait for the day / night cycles to change it takes a while.

Expected behavior:

That when you are in a deep cave there
should be no day / night cycle it should be a constant
darkness.

Actual behavior:

Now this is kind of strange I have a mine which is dug way
deep. It

[2018-12-21 08:12] D3nnis3n opened #10406 "[Web] Creation of new account throws a database error"
After creating an account and setting the username and password this appears:

Pressing the back button leads me to the account page, logged in, though.

[2018-12-21 08:24] D3nnis3n opened #10407 "[Web] You need to hard-refresh to see new downloads after buying"
When i bought the game, i needed to hard-refresh the page to see the new download links. Neither relogging nor normal refresh was enough.

[2018-12-21 08:29] D3nnis3n opened #10408 "[Web] Downloads are old versions"
The download links still link to 7.7.2, which is not the most recent version.

[2018-12-21 08:36] D3nnis3n opened #10409 "[Web] Trying to register an invite while logging in does not switch accounts"
1. Be logged in with an account
2. Send invite to an e-mail
3. Accept invite
4. Give your data and register your account.
5. Instead of now being logged in with the newly registered account you are still logged in with the one you sent the invite with.

[2018-12-21 08:44] D3nnis3n opened #10410 "[Web] Trying to link game to steam with unowned account not working as expected?"
Instead of getting an error i get redirected to the page where i can buy eco on SLG site - is that correct?

Also: Why not simply not showing the Steam Link option until an account has bought the game!? This just seems odd.

[2018-12-21 12:44] elfl0rd opened #10411 "Master: localized item names loose color and icon"
@Quadbro
Ru
![default](https://user-images.githubusercontent.com/4980243/50343193-0a8f1480-0537-11e9-9f31-428cb16c722f.png)

En
![default](https://user-images.githubusercontent.com/4980243/50343281-43c78480-0537-11e9-9db6-fd1a6013176c.png)

[2018-12-21 15:44] elfl0rd opened #10412 "Master: art: no clay on shovel image"
(like dirt\sand)

[2018-12-21 16:21] elfl0rd opened #10413 "Typo in "soft""
"Sof t and fluffy."
![default](https://user-images.githubusercontent.com/4980243/50373019-75008d00-05e9-11e9-96b4-7863ce78cf0f.png)

[2018-12-21 16:59] elfl0rd opened #10414 "Localization: duplicated strings"
https://crowdin.com/translate/eco-by-strange-loop-games/all/en-ru#q=Spearhead+the+fashion
![default](https://user-images.githubusercontent.com/4980243/50353928-d9284000-055a-11e9-99f8-3c2eb952a798.png)

[2018-12-21 17:02] elfl0rd commented on #10414
https://crowdin.com/translate/eco-by-strange-loop-games/all/en-ru#q=Solar+Panels
![default](https://user-images.githubusercontent.com/4980243/50354057-3fad5e00-055b-11e9-92e4-cc6e361544fd.png)

[2018-12-21 17:11] elfl0rd opened #10415 "Master: mint empty"
![default](https://user-images.githubusercontent.com/4980243/50354436-a121fc80-055c-11e9-8217-1a718bc96704.png)

[2018-12-21 17:18] elfl0rd opened #10416 "Master: /allplants broken"
Nothing after "building blocks"
Lot of errors like

[code]

In server console.

[2018-12-21 17:25] elfl0rd opened #10417 "Source string: triilium"
https://crowdin.com/translate/eco-by-strange-loop-games/40/en-ru#67004

Triilium -> Trillium

[2018-12-21 17:53] elfl0rd opened #10418 "Localization: duplicated strings"
https://crowdin.com/translate/eco-by-strange-loop-games/all/en-ru#q=Spooky+pumpkin+that+emits

[2018-12-21 18:00] elfl0rd opened #10419 "Localization: duplicated strings"
ArcticWillow and Arctic Willow
https://crowdin.com/translate/eco-by-strange-loop-games/40/en-ru#q=Arctic+Willow

[2018-12-22 00:30] Aatch commented on #10404
Related to this: it would be nice if animals avoided player-constructed paths. A bison charging into a house or onto a bridge is frustrating. I don't think it should be impossible, but it would be nice if the local pathfinding weighted paths such that animals prefer running away from player constructions.

[2018-12-22 04:05] limon2233 opened #10420 "klik"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]
<size=150%>Ошибка подключения</size>

Invalid login info.

<size=60.00%>Token is invalid.</size>
[code]

[2018-12-22 09:38] elfl0rd opened #10421 "Master: campfire - yellow text"
![default](https://user-images.githubusercontent.com/4980243/50372815-6d8bb480-05e6-11e9-80de-2e8a35256807.png)

[2018-12-22 23:20] johnkslg commented on #10353
Keegan can you add clay for shovels?

[2018-12-23 05:36] FallingSkye opened #10422 "USER ISSUE: Unable to Play"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
open game, click continue

**Expected behavior:**
let me play non-server worlds

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2018-12-23 06:40] Quadbro commented on #10374
@D3nnis3n does it happen on new steam build?)

[2018-12-23 09:11] Deantwo commented on #9761
As a side note, maybe we could get a recipe to turn Mortared Stone into concert? Hewn Logs have a use, why doesn't Mortared Stone?

[2018-12-23 10:11] elfl0rd opened #10423 "Some objects not fit in standart `/spawn` house"
![default](https://user-images.githubusercontent.com/4980243/50382569-e7d63a80-06b3-11e9-838d-b291ea194a7d.png)
![unknown](https://user-images.githubusercontent.com/4980243/50382576-f0c70c00-06b3-11e9-8a9d-44dd503232d5.png)
House have requied space, but objects spawned partially outside...
![default](https://user-images.githubusercontent.com/4980243/50382580-12c08e80-06b4-11e9-978a-aef73029b1df.pn

[2018-12-23 14:42] Z0tt3l opened #10424 "Server - 7.8.6 - Corrupted .eco File"
Hey,
my girlfriend and me were playing ECO in a game wich was hosted at my machine. The game was hosted by starting the game with eco.exe (not ecoserver.exe). The game was shut down correctly from the ingame buttons. While we wanted to continue the game today, Steam expected the game in a wrong folder (I switched my Steam-Folder some months ago). Fixed this Issue by reinstalling the game in the co

[2018-12-23 20:31] ClaireRouge opened #10425 "0.7.8.6 tailings poluting vertically"
The old issue about tailings is still the same even though you repeatedly have said in the releasenotes that it's fixed

the polution in the picture is from tailings at bedrock (about 50 blocks below) and it's the same as down there meaning tailings still polute everything in a chunk and isn't affected by being dug down as intended, last time it worked as intended was about 0.2 or 0.3 so you might

[2018-12-24 09:32] Thorgrimm opened #10426 "USER ISSUE: Multiple Tutorial messages are not deletable"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
Restart Tutorial in Options Menu
- (do some tasks)
- restart Tutorial again while some tutorial tipps are still to be done

**Expected behavior:**
I guess you should be able to delete all tutorial messages with the red x

**Actual behavior:**
The second tutorial messages can be deleted, the ones from the first tutorial not anymore, although the ta

[2018-12-24 13:19] LoBlanc opened #10427 "USER ISSUE: Tools do not break"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
1. Use a tool to the point it becomes red
2. Keep using it endlessly

**Expected behavior:**
Tools should stop working a little time after they become highlighted in red

**Actual behavior:**
Instead it can be used forever

**Do you have mods installed? Does issue happen when no mods are installed?:**
Instead it can be used forever

[2018-12-24 16:45] elfl0rd commented on #10427
Intended.
You loose lot of calories while you using damaged tool.

[2018-12-24 16:47] elfl0rd commented on #9263
This is still happens with different players and on different servers. Please bump priority.

[2018-12-24 21:47] Deantwo commented on #10425
Tailings were totally changed, in v0.7 (?), so looking at code from v0.3 likely isn't very useful.

My guess is that pollution was there before and simply isn't dissipating currently?
It is intended that buried tailings still pollute, but it is supposed to take a long time before it reaches the surface. Many facts about tailings are still mostly rumors though.

[2018-12-24 22:02] ClaireRouge commented on #10425
The issue is not a question but a big report, I already tested the workings of tailings be the issue is the same as its been since v. 0.3 meaning it wasn't resolved any of the times it was claimed to be solved
And the code causing the error is likely the same as it was back then because I doubt the entire code regarding tailings was resolved

Additionally please refrain from sending messages inten

[2018-12-25 05:38] elfl0rd commented on #10425
Attach a savefile.

[2018-12-25 12:38] GKNB1012 opened #10428 "USER ISSUE: Stuck under Stockpile"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
1. Dig under stockpile, use shovel to dig dirt
2. accidentaly place dirt below yourself
3. Be stuck in a square of height 2 under stockpile, cant move any direction due to dirt
4. Can only interact with stockpile so cant dig myself out

**Expected behavior:**
Allowe me to dig out/dig dirt

**Actual behavior:**
I could only interact with the stockp

[2018-12-25 18:52] elfl0rd opened #10429 "(Suggestion or missing feature)Master: Wood debris doest not slow players"
Maybe it's missed...
But it's strange after plants slow players.

[2018-12-25 18:54] elfl0rd commented on #4887
https://github.com/StrangeLoopGames/EcoIssues/issues/9864
https://github.com/StrangeLoopGames/EcoSuggestions/issues/615

[2018-12-25 19:06] elfl0rd opened #10430 "(suggestion maybe) removing stump not provide resources."
New players miss removing stumps due "no resources gathered" since require lot of calorie to remove. I think adding some resources to stump (e.g. 1-2 log or maybe 10-20 Wood Pulp) will be good.

In addition, a new seedling appears after a while and aside, interaction between the destruction of the stump and the new seedling has arrived is absolutely not obvious.

[2018-12-25 21:52] elfl0rd opened #10431 "If server folder not provided (e.g. x32 client, or corrupted, or deleted, etc...) show correct info about it."
No "server" folder.
![default](https://user-images.githubusercontent.com/4980243/50426803-70b5c780-08a8-11e9-9e28-3f09041e3cfc.png)

No warnings...
![20181226004156_1](https://user-images.githubusercontent.com/4980243/50426775-e3727300-08a7-11e9-9095-1cde7a7f7b74.jpg)

And...
This errors is confusing.
![20181226004216_1](https://user-images.githubusercontent.com/4980243/50426773-d8b7de00-08a7-11e9

[2018-12-26 00:44] alt2035 opened #10432 "USER ISSUE: huckleberries not growing"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
none as they dont grow

**Expected behavior:**
should grow

**Actual behavior:**
they dont

**Do you have mods installed? Does issue happen when no mods are installed?:**
they dont

[2018-12-26 03:52] D3nnis3n commented on #10420
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/10363

[2018-12-26 03:52] #10420 closed

[2018-12-26 03:54] D3nnis3n commented on #10425
How old is the world? Afaik tailings pollution is meant to reach the surface after a while no matter what you do. In any case, we indeed need the savefile, put it up on google drive or somewhere else and link it here, please.

[2018-12-26 03:57] D3nnis3n commented on #10427
This is intended behaviour.

[2018-12-26 03:57] #10427 closed

[2018-12-26 03:59] D3nnis3n commented on #10430
I'm pretty sure we wanted to do that.

[2018-12-26 04:00] D3nnis3n commented on #10432
Did you plant them in a area where they are good to grow? If yes, could you send us the savefile and tell us the coordinates where you tried to grow them?

[2018-12-26 06:17] elfl0rd commented on #10363
I think all this issues (invalid login info) about 0.7.8.5 due to "new" cracked version from Xatab...

[2018-12-26 09:18] Quadbro commented on #10430
but there is cool, from ecological point of view, you must to choose: "hard and clean" vs "easy, but dirty". Such changes will transform eco more into just survival game).... Just my thoughts

[2018-12-26 09:58] Quadbro commented on #10430
Sorry guys, misunderstood you, yes, i agree with stumps and resources

[2018-12-26 10:08] elfl0rd commented on #10429
It just seems weird.
Not slow
![default](https://user-images.githubusercontent.com/4980243/50442276-38959f80-090f-11e9-960e-ac34a9e2c8b1.png)

slow
![default](https://user-images.githubusercontent.com/4980243/50442301-4cd99c80-090f-11e9-8b92-3477463c7bd7.png)

:D @SeanAtr0n do you think?

[2018-12-26 12:15] Nicolausi113 commented on #10429
This could be the missing motivation to remove debris, most players don’t care about stumps and wood pulp.

[2018-12-26 14:02] EmilJacobs opened #10433 "USER ISSUE: Cant login"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
Try to login

**Expected behavior:**
I expect it to login

**Actual behavior:**
The following error message popped up:
Unknown Error
Failed to login

Unknown Error
[code]

[2018-12-26 14:15] EmilJacobs commented on #10433
Some more information:
I run a fully updated instance of Fedora 29.
Issue occurs with both executables.
My hardware overview is:
`$ sudo lshw
[sudo] wachtwoord voor emil:
picard
    description: Desktop Computer
    product: System Product Name (SKU)
    vendor: System manufacturer
    version: System Version
    serial: System Serial Number
    width: 64 bits
    capabilities: smbios-2.7 dmi-2.7

[2018-12-26 14:18] EmilJacobs commented on #10433
When running the game from terminal:

$ ./Eco.x86_64
Set current directory to /home/emil/bin/Eco 7.8.6
Found path: /home/emil/bin/Eco 7.8.6/Eco.x86_64
Mono path[0] = '/home/emil/bin/Eco 7.8.6/Eco_Data/Managed'
Mono config path = '/home/emil/bin/Eco 7.8.6/Eco_Data/MonoBleedingEdge/etc'
Preloaded 'ScreenSelector.so'
Preloaded 'libCSteamworks.so'
Preloaded 'libOni.so'
Preloaded 'libsteam_api.so'
Unab

[2018-12-26 14:19] EmilJacobs commented on #10433
Output of /home/emil/.config/unity3d/Strange Loop Games/Eco/Player.log

$ cat /home/emil/.config/unity3d/Strange\ Loop\ Games/Eco/Player.log
Desktop is 1920 x 1080 @ 60 Hz
Initialize engine version: 2018.2.19f1 (06990f28ba00)
GfxDevice: creating device client; threaded=1
Renderer: GeForce GTX 770/PCIe/SSE2
Vendor:   NVIDIA Corporation
Version:  4.5.0 NVIDIA 410.78
GLES:     0
 GL_AMD_multi_draw_in

[2018-12-26 14:24] elfl0rd opened #10434 "The completion of the backpacks"
### **No information about general backpacks differences ingame. What is "bearpack"? He better than "Work backpack" or not?**

- [ ] **1) Backpack need info about bonuses.**

In item (backpack) tooltip.
As i know

This bonuses work in the master, but for players - only wiki can show information about bonuses.
![default](https://user-images.githubusercontent.com/4980243/50448247-05640800-0931-11e9-

[2018-12-26 14:50] EmilJacobs commented on #10433
Workaround: the game works via Steam (I believe it uses Proton for that as I only see the Windows version there).

[2018-12-26 19:55] Deantwo commented on #10434
Same with other clothing items that have bonuses.

[2018-12-27 02:25] schuttek opened #10435 "Exploit: Tailings not produced by Blast Furnace when not connected to Stockpile"
When producing Iron Ingots with the Blast Furnace, the production of tailings can be avoided (or reduced) with the method below.

[2018-12-27 02:32] schuttek commented on #10435
Steps to reproduce:

1. Go to the Blast Furnace, connect a Storage chest, and 1 Stockpile of Iron ore.

2. Launch smelting of 100+ iron ore

3. Immediately disconnect the stockpile.

4. Wait until finished.

5. Reconnect Stockpile.

Result: Results vary, but you rarely get the 50 Tailings you'd expect. usually you get one to 3 Tailings, instead of the intended 50.

----

Tested in 0.7.8.6.beta

Th

[2018-12-27 04:05] schuttek commented on #10435
This a float to int rounding error... simple as that...

[2018-12-27 04:06] schuttek commented on #10435
but yes, it has deeeeeeeep repercussions...

[2018-12-27 07:38] elfl0rd commented on #9775
![default](https://user-images.githubusercontent.com/4980243/50470908-7eac3b00-09c3-11e9-8c07-609e5f346d7e.png)

[2018-12-27 08:11] elfl0rd commented on #10435
I can not repro, can you write video about it?

[2018-12-27 15:08] Nicolausi113 commented on #10435
It’s an issue, I reproduced it!
If the game is restarted after blast furnace has finished, all tailing is vanished.

Start a project with 100 iron bar and disconnect stockpile right after it – don’t interfere the process until finished – now restart game – result: no tailings at all.

[2018-12-27 17:22] elfl0rd commented on #10355
lot of clay deposits equal ~30 blocks...
15 bricks on max eff? srsly? not funny.

[2018-12-27 18:49] elfl0rd opened #10436 "[Site] no system requiments on official SLG site"
It was quite strange not to find them, given some things like the need for an Internet connection to check the license.

[2018-12-27 18:53] elfl0rd opened #10437 "(partially suggestion) No "full" offline mode"
Eco does not support full offline mode when you can use the application without connecting to the Internet.
It is also quite embarrassing that the requirement of a connection at startup is not specified on the SLG site and is not specified as mandatory in Steam.

Some users want "full offline" using, i agree that this is necessary.

[2018-12-27 19:15] Nicolausi113 commented on #10436
Not on SLG site but in Wiki
![minsys2](https://user-images.githubusercontent.com/38510829/50491744-218ca580-0a14-11e9-8699-b3f6a5dcc1d8.jpg)

[2018-12-27 19:20] elfl0rd commented on #10436
And on steam, i know.
But wiki is secondary resource.

[2018-12-27 19:36] elfl0rd commented on #10437
The current protection is aimed more at authorization on servers rather than protection against piracy. Authorization is not needed for single player.

And this "protection" is not really protect from crackers.
![default](https://user-images.githubusercontent.com/4980243/50492273-cd8bbc00-0a27-11e9-8ee5-6235896e0ae1.png)

[2018-12-27 19:59] Nicolausi113 commented on #10437
I strongly disregard piracy!
Do you think of distributing game on DVD with a protection code – would be a possibility if the game is in a more finish state.

[2018-12-27 20:12] elfl0rd commented on #10437
DVD is obsoleted format.

[2018-12-27 22:15] Wyattagum opened #10438 "USER ISSUE: Glitched/Stuck inside Campsite"
**Version:** 0.7.8.6 beta

**Steps to Reproduce:**
1. Use the Wheelbarrow
2. Roll next to your campsite
3. Unuse Wheelbarrow

**Expected behavior:**
Teleport me away from glitched area/outside of the camp

**Actual behavior:**
Got me stuck inside with no way out...

**Do you have mods installed? Does issue happen when no mods are installed?:**
No modpacks that I know of

[2018-12-27 22:21] Wyattagum commented on #10438
p.s
the wheel barrow was 10m away from the campsite!

[2018-12-28 06:08] elfl0rd commented on #10438
try /unstuck

[2018-12-28 06:32] #4422 closed

[2018-12-28 15:03] elfl0rd opened #10439 "Localization: threasury allocation and dump buttons not have space"
@Quadbro :D can you make it bigger?
![unknown](https://user-images.githubusercontent.com/4980243/50519213-e26d5b80-0aca-11e9-9865-9dee11dfab86.png)

[2018-12-28 19:02] johnkslg opened #10440 "Plants are not dying+deleting when surrounding ground is removed."
![image](https://user-images.githubusercontent.com/3536496/50525382-f2b41500-0a8f-11e9-8b2e-b537548238e6.png)
Should probably delete itself when you dig next to it?

[2018-12-28 21:26] alexarthur94 opened #10441 "Public crafting tab of economy viewer shows wrong tables"
Since the update to 7.8.6, the Public Crafting Tables tab of the Economy Viewer doesn't just show public crafting tables. Rather, it shows each player any and all crafting tables they are authorized to use, whether the table is their own table, an unowned table, a table authorized for everyone, or a table that someone has specifically authorized them to use. It's not a huge problem, but it is a bi

[2018-12-28 23:46] elfl0rd commented on #10440
Looks as refer to https://github.com/StrangeLoopGames/EcoIssues/issues/10235

[2018-12-28 23:50] elfl0rd commented on #10441
I more like new behavior... But ofc, tab need to be renamed.
Option to swith behavior (or filter maybe?) will be nice too.

[2018-12-29 02:07] keegan-o commented on #10412
fixed in master

[2018-12-29 02:07] #10412 closed

[2018-12-29 09:15] #10138 closed

[2018-12-29 09:15] #10205 closed

[2018-12-29 09:16] #10124 closed

[2018-12-29 09:16] #9193 closed

[2018-12-29 09:43] F3UR10 opened #10442 "Crash after restart - World Object"
Hi there,

cause I cant fix our problem, PAM told me to open an issue.

After restarting our server, I get the following dump, any solution:
Dump Time
12/28/2018 23:31:14

Exception
Exception: Exception
Message:Error(s) occurred when loading WorldObjects
Source:Eco.Core

System.Exception: Error(s) occurred when loading WorldObjects
   at Eco.Core.Serialization.DataStore.LoadAsync[T](String folder,

[2018-12-29 10:04] F3UR10 opened #10443 "stores not working after restart"
Hi there,

after server restarts all players need to reactivate there store. Thats annoying cause the whole trading isnt working when the players werent online after a restart. So other players cant buy and sell ressources they need.

Version: 7.8.6

Kind regards
F3UR10

[2018-12-29 10:16] elfl0rd commented on #10353
@keegan-o commented 8 hours ago in https://github.com/StrangeLoopGames/EcoIssues/issues/10412

You miss wooden shovel :P
![default](https://user-images.githubusercontent.com/4980243/50537017-e1403b00-0b6b-11e9-9a21-23d630ceb4cf.png)

[2018-12-29 12:11] F3UR10 commented on #10442
FIX: activate the "CleanupFilesOnExceptions" in the Storage.eco config.

[2018-12-29 12:11] #10442 closed

[2018-12-29 14:32] barwnKesteven opened #10444 "Unrecognized GUID format with 7.8.7"
Updated today to 7.8.7 and when the server starts, it just loops through this continuously, never gets anywhere. Problem on my server install? I didn't change anything except running the steam update. No mods installed.

[06:29:25] Eco Server 0.7.8.7 beta
[06:29:25] Server Initialization...
[06:29:25] Starting LocalizationPlugin...
Finished in 232.9ms[06:29:25] Starting ModKitPlugin...
[06:29:25]

[2018-12-29 15:29] Spuddow opened #10445 "USER ISSUE: Campsite disappeared in multiplayer"
**Version:** 0.7.8.7 beta

**Steps to Reproduce:**
1. Joined a multiplayer server
2. Went to a friend's claim to join him
3. Tried placing my camp but they hadn't given me access yet.
4. I moved across to the edge of the plot to put the camp down (I just tried placing on each square until it didn't say I was unauthorised to place)
5. When I tried placing one block out of the claim, the camp disapp

[2018-12-29 17:14] Deantwo commented on #9427
Tooltip of tailings is still very unclear.

By the way @D3nnis3n, please rename this issue to "tooltip" instead of "description", since description is could be anything and makes this issue hard to find. As a minimum add "tooltip" to the opening post content.

[2018-12-29 18:04] BitsBytesGaming commented on #10429
I'm sure players would care about stumps and wood pulp, considering that failure to remove them results in negative consequences for the ecosystem.

[2018-12-29 18:32] alexarthur94 commented on #10441
I personally prefer the old behavior, although if you could see either that would be fine, too.

[2018-12-29 18:38] RobertBrunhage commented on #10429
New to the game here and my input may help. As a new player, I didn't care at all about them until I researched how to get new trees growing. So my opinion would be to give more obvious consequences about stumps and wood pulp such as being slowed which forces the player to remove them.

[2018-12-29 20:06] elfl0rd commented on #9620
![default](https://user-images.githubusercontent.com/4980243/50541798-445abd80-0bbe-11e9-9579-9aa57ca60f82.png)
Looks fixed in master, but internal campsite inventory has loooooooooooooooooooooow priority to place.

[2018-12-29 20:12] elfl0rd commented on #10445
lol, confirmed.
![default](https://user-images.githubusercontent.com/4980243/50541829-1033cc80-0bbf-11e9-88e3-f6f08ccb85e2.png)
![default](https://user-images.githubusercontent.com/4980243/50541832-1c1f8e80-0bbf-11e9-8894-bb1036e20aa8.png)
![default](https://user-images.githubusercontent.com/4980243/50541835-25a8f680-0bbf-11e9-8bbd-d004e22f08ab.png)
![default](https://user-images.githubusercontent

[2018-12-30 17:56] elfl0rd commented on #3215
@D3nnis3n lol, strange bahavior still there... can you check?
And need to check possibility creating SLG user with dot in name...

[2018-12-30 18:00] elfl0rd commented on #3206
@D3nnis3n i think can be closed, due to "fake plants" in pot in 0.8.

[2018-12-30 18:26] redwyre opened #10446 "Giant Tortoise server crashing"
Log Alex retrieved:
![image](https://user-images.githubusercontent.com/431728/50550014-7e59bb80-0cb3-11e9-8818-f21f28a86af9.png)

In the code this appears to be only possible if this.blocks is null in PersistentChunk.Tick(). In the Freeze() and Thaw() functions access to this array is protected using a lock(), so it looks most likely a race issue with Freeze() and Tick().

From discussion with Ale

[2018-12-30 21:40] Deantwo commented on #10422
As @elfl0rd mentioned, there were some changes that might have broken the Continue button in v0.7.8.6, so try just using the Load World option instead.
For more direct help you can ask in the #offical-support channel on the [official Eco Discord server](http://discord.gg/eco).

[2018-12-30 21:40] elfl0rd commented on #10441
nope, this is new issue about new behavior.

[2018-12-30 22:19] elfl0rd opened #10447 "Server: "Browse Mods" tab empty"
[QoL][Feature][Medium Priority]
![default](https://user-images.githubusercontent.com/4980243/50551905-bce27c80-0c99-11e9-89e9-1ce47ceea43a.png)
Until launch "ModKit -> Refresh Mod list" from menu. This is odd behavior.
![default](https://user-images.githubusercontent.com/4980243/50551908-c9ff6b80-0c99-11e9-8dea-99462ecc8562.png)

You can add autorefresh while this tab is open, and add manual "refr

[2018-12-30 23:06] elfl0rd commented on #9390
so... another user (KlockworkCanary) stuck underground on official server (tortoise)
this is odd.

You can find all this story on #community-help ~ 31.12.2018 01:23 (moscow time, +3)

[2018-12-31 00:33] MarcelBostelaar opened #10448 "USER ISSUE: Large number error"
**Version:** 0.7.8.7 beta

**Steps to Reproduce:**
1. Open bloomery
2. Enter an order with size 9999
3. Press order

**Expected behavior:**
Queue says that it takes a long time (IE 18 days and a bit)

**Actual behavior:**
Queue says that it takes 2 minutes and a bit.

**Do you have mods installed? Does issue happen when no mods are installed?:**
No mods installed. Queue says that it takes 2 minute

[2018-12-31 00:36] #10448 closed

[2018-12-31 00:37] MarcelBostelaar commented on #10448
User side issue: User is tired and misunderstood correct interface.

[2018-12-31 01:15] Conchipedia commented on #3206
how will fake plants work in pots? are they planted with seeds and turn into something else when it detects that its placed in a pot? most plants are OK in Pots its just Trees in pots don't work, and i haven't seen gaps in trees for ages.

[2018-12-31 08:43] elfl0rd commented on #3206
Plants in pots no more simulated, plots have storage, accepted seeds, if seed in storage - pot have plant on top.

[2018-12-31 12:33] Conchipedia commented on #3206
so it pretends to be a plant if a seed is in its storage?
sounds interesting 🌱

[2018-12-31 18:54] BlazeGuy2 commented on #10438
Couldn't get this to repro. Could you send me a clip of this occurring @Wyattagum?  /unstuck command should also take you out of the stuck position.

[2018-12-31 18:57] BlazeGuy2 commented on #10436
Should have system requirements on website where we sell the game.

[2018-12-31 19:00] BlazeGuy2 opened #10449 "Test results posting garbage strings"
People should know what tests pass and fail, I suspect that the cause is tests outside of the dll.

[2018-12-31 19:01] BlazeGuy2 commented on #10449
![testresults](https://user-images.githubusercontent.com/35509188/50566170-6dc53780-0ceb-11e9-8ae5-dde9649f793d.PNG)

[2018-12-31 19:07] BlazeGuy2 commented on #10432
Reopen if more info is provided @alt2035.

[2018-12-31 19:07] #10432 closed

[2018-12-31 19:08] BlazeGuy2 commented on #10428
Refer to elfl0rd's comment

[2018-12-31 19:08] #10428 closed

[2018-12-31 19:09] BlazeGuy2 commented on #10422
Reopen if the suggested solutions don't help.

[2018-12-31 19:09] #10422 closed

[2018-12-31 19:31] BlazeGuy2 commented on #10397
Reopen when @yinghuaho responds.

[2018-12-31 19:31] #10397 closed

[2018-12-31 21:41] elfl0rd commented on #10404
Or remake vertical movement, current (instant jump) is really ugly... Jumping animations will be better!

[2018-12-31 21:44] elfl0rd commented on #10435
@BlazeGuy2 i can show repro stages in release wersion if you want :D

[2018-12-31 21:51] D3nnis3n opened #10450 "Server doesn't start, crashes immediately - Discord Report"
![20181231_124742](https://user-images.githubusercontent.com/25908592/50568175-9599b700-0d4e-11e9-80d1-03b06268abd7.jpg)

What could be the cause?

Server is downloaded through steam - most recent version.

[2018-12-31 21:55] D3nnis3n commented on #10374
Still on vacation, cannot try before i'm back.

[2018-12-31 23:55] elfl0rd commented on #10450
looks as configs\mods issue... This happens with you?

[2018-12-31 23:57] D3nnis3n commented on #10450
Fresh Installation from a german discord user.

[2018-12-31 23:59] elfl0rd commented on #10450
He have eco installed on pc? Check .net version.
Maybe .net installation missed in server package, lol.

[2019-01-01 00:07] D3nnis3n commented on #10450
Yes, on his own computer.

[2019-01-01 00:17] elfl0rd commented on #10450
hm... server in game package work but not work server from server package? On one pc? correct?

[2019-01-01 01:36] D3nnis3n commented on #10450
Yes, on all of his computers.

[2019-01-01 12:43] D3nnis3n opened #10451 "Backup system broken?"
@mirasrael Knows there are flaws in the backup system, just opening an issue for it.

[code]

Assuming this should give 24 backups, but i have 36. Could you improve on the descriptions so people can easily get to know what they need to set to keep an specific amount of hourly backups?

Also, it seems like the default config still contains old variables that cause the server to not do backups corre

[2019-01-01 12:46] D3nnis3n commented on #9131
That issue was fixed, wasn't it?

[2019-01-01 12:49] D3nnis3n commented on #10451
Probably related to https://github.com/StrangeLoopGames/EcoIssues/issues/8093

[2019-01-01 18:47] Wyattagum commented on #10438
I'll recreate it, I got out by picking up the camp and placing it back
down. Also I sometimes glitches through the terrain. I suppose that is one
factor in this glitch. The game probably tried to lplace my on solid ground
or I kept glitch ingredients through the terrain at random directions. Like
how energy escapes from the sun. Bouncing off of particles for decades,
centuries, millennials

On Mon

[2019-01-01 19:54] kuxii2016 opened #10452 "USER ISSUE: Bugs,Bugs,Bugs"
**Version:** 0.7.8.7 beta

**Steps to Reproduce:**

**Expected behavior:**
Pixel over Pixel in the Screen

**Actual behavior:**
Unplayable with the Nice Grafik Bugs.!!!

**Do you have mods installed? Does issue happen when no mods are installed?:**
Unplayable with the Nice Grafik Bugs.!!!

https://cdn.discordapp.com/attachments/393509686487285763/529689134684438528/VID-20190101-WA0006.mp4

[2019-01-01 21:48] kuxii2016 commented on #10082
nothing changed?!

[2019-01-02 00:33] elfl0rd commented on #10452
Duplicate of #10082

[2019-01-02 00:35] elfl0rd commented on #10082
But your card support 11.2...

But Eco require >4.7...

You are one with this problem, i think this is something within your configuration.
Developers cannot fix issue without reproduction.
But wait, developers answers after holidays.

[2019-01-02 01:00] kuxii2016 commented on #10082
I use Win7 and Have the Fucking Grafik Bugs.!! WIN 7 have only DX11.
I kann play this Game Under Linux whit no Grafik Bugs?! Uh Why???
![screenshot_2](https://user-images.githubusercontent.com/21268770/50577874-1da4bd00-0e32-11e9-9dc4-c39750c1a3a3.png)

[2019-01-02 01:34] redwyre commented on #10350
This is actually based on what resource type the item gives, rather then the item itself. So no resource = no icon and dark blue text.

I'm going to close this as they'll change as resource types get added to the items.

[2019-01-02 01:34] #10350 closed

[2019-01-02 03:36] #10452 closed

[2019-01-02 03:37] D3nnis3n commented on #10082
Added video from the duplicate issue.

This most probably is a local problem with hard or software.

[2019-01-02 19:12] craig-jong commented on #10285
It's removed. I'm since a lot of stuff has had their requirements removed, I think it should be fine.

May re-evaluate as we test the system.

[2019-01-02 19:20] elfl0rd commented on #10285
@craig-jong In this case, you need to add an irreversibility warning to the confirmation window.
Otherwise you receive ALOT of whimpers after update.

[2019-01-02 19:36] SeanAtr0n commented on #9131
yup, fixed

[2019-01-02 19:36] #9131 closed

[2019-01-02 19:38] elfl0rd commented on #10285
In addition... What about beginners? How to be with those who cultivate civilisation on the server from scratch?
They'll all just leave the servers... I do not find this change useful, it is harmful :(

[2019-01-02 19:44] metachronism commented on #10355
this is intended.  clay is only more prevalent in specific biomes

[2019-01-02 19:46] metachronism commented on #10254
lots of the graphics settings changed with higher maximums, specifically foliage quality and others.  you arent expected to run the game at max settings and max fps

[2019-01-02 19:52] elfl0rd commented on #10355
@metachronism Yes, I understand that - but its current quantities do not allow it to be used!
The amount of work to the result is simply incomparable, despite the fact that in the real world the resource to the result is about 1.25 to 1.

[2019-01-02 20:05] #10449 closed

[2019-01-02 20:17] elfl0rd commented on #10440
Why do plants on the edge have to die? In real life this is not so...
![pankrannik](https://user-images.githubusercontent.com/4980243/50610580-8fd5da00-0ee4-11e9-8c82-603401bd9675.jpg)
Besides, won't the long slopes become too empty?

[2019-01-02 20:19] #10392 closed

[2019-01-02 20:20] #703 closed

[2019-01-02 20:20] #10325 closed

[2019-01-02 20:20] #10327 closed

[2019-01-02 20:20] #10375 closed

[2019-01-02 20:20] #10378 closed

[2019-01-02 20:20] #10395 closed

[2019-01-02 20:20] #6599 closed

[2019-01-02 20:20] #7140 closed

[2019-01-02 20:20] #8223 closed

[2019-01-02 20:20] #8224 closed

[2019-01-02 20:20] #9602 closed

[2019-01-02 20:20] #10411 closed

[2019-01-02 21:04] johnkslg opened #10453 "Player is always sprinting"
Seems to be locked to 'on' somehow.
Skill/talent related?

[2019-01-02 21:17] kuxii2016 commented on #10082
Read the Steam Reviews.... More Users have Problems with the Grafik....

[2019-01-02 21:32] elfl0rd commented on #10400
Hmm... Maybe this connectors for water and sewage?

[2019-01-02 22:02] SeanAtr0n commented on #10453
Looks like you aren't running, MovementSpeed is constantly getting updated to 5 now by view changes where it used to be 3

If we are actually going to use this functionality we should probably make it pass some sort of multiplier instead so we can apply it to run as well... currently run speed is 4.6 so you can now walk faster than you run

[2019-01-02 22:12] elfl0rd opened #10454 "Master: Character movement animations broken"
(3rd view, can someone check fpv?)
![r](https://user-images.githubusercontent.com/4980243/50615218-9bc99800-0ef4-11e9-8f6f-0527c1c97126.gif)

[2019-01-02 22:15] SeanAtr0n commented on #10454
any errors in your log file / console? it's working fine for me

[2019-01-02 22:18] elfl0rd commented on #10454
AvatarAnimationManager.UpdateState () (at Assets/Scripts/Utils/AvatarAnimationManager.cs:275)
AvatarAnimationManager.LateUpdate () (at Assets/Scripts/Utils/AvatarAnimationManager.cs:200)

[2019-01-02 22:22] elfl0rd commented on #10440
From my and Keegan discussion.
23:08] GDragon: Why do plants on the edge have to die? In real life this is not so...
[23:09] GDragon: Besides, won't the long slopes become too empty? :thinking:
[23:54] Keegan: it's how it has been for quite a while now
[23:55] Keegan: all the art would have to be tripled in assets or so to fully support it
[23:55] Keegan: we all know it's not great but the solutio

[2019-01-02 22:37] SeanAtr0n commented on #10454
so that error was repeating?

how did you transition into thirdperson to make this happen?

[2019-01-02 22:58] craig-jong commented on #10453
can pass a multiplier.

The problem right now is that talent values send 1 as a default if they dont have a base value set, so its sending 5 instead of 3. I fixed it, but we can get it to something better as well.

[2019-01-02 23:00] D3nnis3n commented on #10254
It doesn't work either when you set the settings to ultra-low and see only pixel-mud - fps drops occur at the same frequency and lag is the same. In any case the mid-settings already are not that good looking, so they should be absolutely fine for a 2080 RTX. I already proposed on some other place to offer some default settings like "Low, Mid, High" as choosing a working graphics setting is very h

[2019-01-02 23:29] SeanAtr0n opened #10455 "Bighorn sheep moving while laying down"

[2019-01-02 23:55] johnkslg opened #10456 "Registrar needs collision"
Cant click it either

![image](https://user-images.githubusercontent.com/3536496/50618291-c1c84b80-0ea6-11e9-968b-67780aa1e2b2.png)

[2019-01-03 00:00] metachronism opened #10457 "build has wrong shader for FPV meshes"
![image](https://user-images.githubusercontent.com/3150561/50618424-795d5d80-0ea7-11e9-83b2-d29bbfe016fc.png)

[2019-01-03 00:03] D3nnis3n commented on #10437
In fact studies have shown games without piracy protection get less piracy than the ones with protection. And funnily, the ones with piracy protection usually have issues that stop legit players from playing while pirating players are not stopped, in turn causing buyers to pirate it just so they can play it. I think a full offline mode is required and should be there.