[2019-03-24 22:08] Blanclour opened #11749 "USER ISSUE: Fatal Law Bug"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**

1. Pass a law that affects the run for office function.
2. Let it pass.
3. Try to open the law menu.

**Expected Behavior:**
It should have worked just fine.

**Actual behavior:**
The following error message popped up:
[code]

[2019-03-24 22:10] Blanclour commented on #11749
TITLE Presidential Term Act USER Auron
LAW
When attempting to Run For Office
If (the World Leader's Play hours where (time performed (days) > (current time (days) - 1.5)) = 0)
Then allow
Otherwise
If (everyone's Get Elected actions where (time performed (days) > (current time (days) - 5)) = 0)
Then allow
Otherwise prevent

This is what I think is causing it.

[2019-03-25 01:40] Blanclour opened #11750 "Easter Egg Can Still Be Found Easily"
In version 0.8.0.7 beta it's possible to find the easter egg with relative ease by walking to various points in the world and clipping the player through the terrain to see any caverns in the area. I suggest making the cavern and easter egg item invisible until you are literally right next to it.

[2019-03-25 04:07] Quadbro commented on #11027
closing for now, until there will not be extra info

[2019-03-25 04:07] #11027 closed

[2019-03-25 06:19] mirasrael commented on #11739
Can you provide more details? I don't have such issue.

[2019-03-25 07:07] Quadbro commented on #11526
mod confclicts with stone road

[2019-03-25 09:22] D3nnis3n commented on #10144
@rainfarmer This happens on any server, it just depends on how long the law is. The more clauses you add and the more complex it is, the laggier it gets. I have experienced up to 15 minutes delay for an select action in a dropdown to actually work on long laws.

[2019-03-25 09:22] D3nnis3n commented on #11745
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/10144

[2019-03-25 09:22] #11745 closed

[2019-03-25 09:23] D3nnis3n commented on #11746
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11548

[2019-03-25 09:23] #11746 closed

[2019-03-25 09:24] D3nnis3n commented on #11708
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/11747

[2019-03-25 09:24] #11708 closed

[2019-03-25 11:01] faiith opened #11751 "House value not showing in tooltip"
Version: 0.8.7
Mods: No

House value is not showing in tooltip (tooltip pops up, but is empty). Bug occurs after building multiple houses on different properties.

![382310_20190325115815_1](https://user-images.githubusercontent.com/40213281/54914663-c0328080-4ef5-11e9-938a-b607ddb10e3c.png)

[2019-03-25 15:11] itamarcps commented on #11572
Seems to work, no problem here

[2019-03-25 17:06] #10938 closed

[2019-03-25 17:12] #11613 closed

[2019-03-25 17:18] johnkslg opened #11752 "Change Ctrl-Click force-pickup action to verify with a popup box instead"
Use async commands, like done in titles, to get the results of the players choice

[2019-03-25 17:19] #11549 closed

[2019-03-25 17:19] #10953 closed

[2019-03-25 17:19] #11387 closed

[2019-03-25 17:19] #11588 closed

[2019-03-25 17:19] #11518 closed

[2019-03-25 17:19] #11526 closed

[2019-03-25 18:01] BlazeGuy2 commented on #11750
What easter egg?

[2019-03-25 18:01] #11750 closed

[2019-03-25 18:04] seccombew opened #11753 "Contracts test commands not working"
Not working in 8.1 staging.

[2019-03-25 18:11] metachronism commented on #11739
pretty sure this is a dupe of #11163

[2019-03-25 18:12] faiith commented on #11744
I have a Tipple-Monitor-Setuo, and nhave one of your described issues. Your resolution is set to fullscreen (not windowed)?

[2019-03-25 18:13] faiith commented on #11751
Forgot to mention, i'm playing with german localisation, don't know if this is cause of the issue

[2019-03-25 18:18] SeanAtr0n commented on #11163
![image](https://user-images.githubusercontent.com/774628/54943892-8494b800-4eef-11e9-88cf-99033e84636d.png)

[2019-03-25 18:26] BlazeGuy2 commented on #11739
Closing as dup

[2019-03-25 18:26] #11739 closed

[2019-03-25 18:27] faiith opened #11754 "No food consuption im wearing special shoos and backpack"
Version: 0.8.7
Mods: None

If i wear 'worker shoes' + 'worker backpack', i'm not burning calories at all, even if i use broken tools. I can literally work endless using broken tools and not getting hungry.

[2019-03-25 20:21] rainfarmer commented on #9912
feature removed from game for now

[2019-03-25 20:21] #9912 closed

[2019-03-25 20:38] SeanAtr0n commented on #9289
How do you get carts to appear where they are not?

[2019-03-25 20:59] Ripley2208 commented on #11693
voila je le renvoie , il est modifié comme le précédent.
[eco_probleme.zip](https://github.com/StrangeLoopGames/EcoIssues/files/3005462/eco_probleme.zip)

[2019-03-25 22:59] #10774 closed

[2019-03-25 23:27] alexanderbock opened #11755 "Performance issues only when game is in focus (with workaround)"
There has been a regression in either 0.8.0.6 or 0.8.0.7 to this as it did not happen in 0.8.0.4.

When the game is in focus, the framerate drops considerably (to about 20 fps or so);  if the game is not in focus, it is at >=144fps regardless of graphics setting.  This even happens if only the menu is loaded.  Issue happens regardless of whether G-Sync is enabled or not

https://youtu.be/ivHiSGvqh

[2019-03-26 00:07] Blanclour opened #11756 "USER ISSUE: Currency Transfer Error"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
1. Create a bank account and put all currency from a second newly minted currency in it.
2. Attempt to transfer some of the currency into the treasury. Using the transfer button in the Y menu.
* I am the world leader.
* I own the mint and all the bank accounts involved.
* A different currency was set as the world default currency.

**Expected beha

[2019-03-26 03:38] D3nnis3n commented on #9289
This is a weird bug that is hard to reproduce. Every now and then i can see in a vehicle stockpiles that are too far away and remove control them and sometimes i can see carts that actually are not there. How this happens exactly - unfortunately no idea, nur it happens every now and then. The issue with remove control stockpiles happens way more often then a cart that is not there.

[2019-03-26 03:41] D3nnis3n commented on #11754
Duplicate of #11293

[2019-03-26 03:41] #11754 closed

[2019-03-26 03:43] D3nnis3n commented on #11756
Is there any dort of direct transfer tax? If des, set them to 0% and try again. If it works then, its a duplicate.

[2019-03-26 07:30] mirasrael commented on #11163
@SeanAtr0n do you have this issue with regular client or only within Unity editor?

[2019-03-26 09:24] D3nnis3n opened #11757 "Harvest contract doesn't require to put items into a storage"
Contract tells me to harvest a palm and deposit it in stockpile X.
I harvest the palm, contract does not update in any way telling me to pick it up and bring it to the stockpile, instead i can just finish the contract and get my reward - all i did was to cut the tree and let it lie around.

(I actually never really noticed before, that the contracts are actually supposed to make you deliver the ha

[2019-03-26 09:44] D3nnis3n commented on #11753
Fixed.

[2019-03-26 09:44] #11753 closed

[2019-03-26 09:53] D3nnis3n commented on #9238
Fixed.

[2019-03-26 09:53] #9238 closed

[2019-03-26 10:17] D3nnis3n opened #11758 "[QoL] Make the /level command usable for flattening"
Current behaviour:
/level replaces everything in the given radius with the specified item.

Better behaviour:
/level only removes all blocks up to the given coordinate, NOT changing the blocks below AND
/level only adds the specified blocks in empty air blocks up to the given height NOT changing the existing blocks to the specified blocks:

Use:
Easy flattening of areas for cool buildings projects

[2019-03-26 11:38] Quadbro commented on #11731
Sorry, tested all the configurations, even yours on editor and staging build... cant reproduce in any way((( probably need someone else help(

[2019-03-26 12:34] Deantwo commented on #11749
@Blanclour, interesting law.

[2019-03-26 12:40] mirasrael commented on #11740
@Lars225 Can you attach the server save? It seems to be not reproduced on regular version.

[2019-03-26 12:42] mirasrael commented on #11740
Also which locale uses server?

[2019-03-26 12:55] mirasrael commented on #11740
nwm, found it related to locale

[2019-03-26 13:01] Deantwo commented on #11740
@Lars225, by the way that Law in your picture won't do anything. It is not possible to abandon specialities anymore, and a law that only say "Allow" will never do anything because by default everything is allowed.

[2019-03-26 13:22] mirasrael commented on #11742
@Blanclour actually it shouldn't reset the law, because as you said it may be complex so you don't want to lose it. It seems it has some errors with law logic, so it just should be correctly processed and displayed.
Is this error 100% reproducible? So can you repeat this law (which causes error), make a screen and post it here. Also the server save will be very useful.

[2019-03-26 15:04] mirasrael commented on #11664
Testing stand: GeForce 1060, Default Settings, Unity Editor
Tested on master. Seems greatly improved: ~70 fps.
Tested on staging, improved over my last testing (was ~20 fps), now: ~40 fps

Closing for now. Feel free to re-open if you will not see improvements after 8.2 release.

[2019-03-26 15:05] mirasrael commented on #10566
FPS was greatly improved in 8.2. Re-open issue if issues will persist after 8.2 release.

[2019-03-26 15:05] #10566 closed

[2019-03-26 15:49] mirasrael commented on #11706
Should be fixed in 8.1. Re-open issue if it will persist.

[2019-03-26 15:49] #11706 closed

[2019-03-26 15:51] mirasrael commented on #10028
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9903

[2019-03-26 15:52] #10028 closed

[2019-03-26 16:03] Blanclour commented on #11756
It is indeed related to the direct transfer tax, I set it to 0 and now it's allowing me to do transfers. Thanks :)

[2019-03-26 16:04] #11756 closed

[2019-03-26 16:05] Blanclour commented on #11749
I was hoping to create a law that gave presidents a generous amount of time in office while also allowing people to start another election if the president goes inactive.

[2019-03-26 16:19] Blanclour commented on #11742
Sadly it was not reproducible when I tried making the law again, there were probably other factors at play that I am not aware of. I'm not the server owner so I do not have access to the save. Here is the law that I was trying to make:

TITLE Economics II: Income Tax USER Auron
LAW
Every 1 days, for each player
If (your Wulongs > 5,000)
Then tax (your Wulongs % 16) Wulongs
Otherwise If (your Wulon

[2019-03-26 16:46] Deantwo commented on #11749
@Blanclour, yup I see that, just looks like a nice idea. Might be a nice addition to the #law-examples channel.
Anyway, this is a bad place to discuss this.

[2019-03-26 17:28] BlazeGuy2 commented on #11734
![image](https://user-images.githubusercontent.com/35509188/55019302-e158a700-4fb1-11e9-838c-dd1a319cfd62.png)
It's on current staging

[2019-03-26 17:28] #11734 closed

[2019-03-26 17:34] redwyre commented on #11738
Fixed in 0.8.1

[2019-03-26 17:34] #11738 closed

[2019-03-26 17:36] BlazeGuy2 commented on #11723
![image](https://user-images.githubusercontent.com/35509188/55019912-04d02180-4fb3-11e9-8d7d-ce97000899de.png)
Worked for the current staging build-4

[2019-03-26 17:36] #11723 closed

[2019-03-26 17:41] redwyre commented on #11747
Fixed in 0.8.1

[2019-03-26 17:41] #11747 closed

[2019-03-26 17:51] redwyre commented on #11758
/Level starts from the top adds blocks down until it hits the first solid block and stops. It doesn't replace anything in the ground already.

[2019-03-26 17:58] #7775 closed

[2019-03-26 18:20] D3nnis3n commented on #11758
Weird, last time i tested that it did not work like this.

[2019-03-26 18:20] #11758 closed

[2019-03-26 18:35] #11737 closed

[2019-03-26 18:35] #11740 closed

[2019-03-26 18:35] #11749 closed

[2019-03-26 18:35] #11486 closed

[2019-03-26 21:09] Lars225 commented on #11740
Deantwo you readed my post ?! I Think not. Not the Law is the Problem but i fixed mit already its a Bug in the Translation

[2019-03-26 21:21] rainfarmer commented on #11715
not working on 8.0.8

[2019-03-26 21:52] #11732 closed

[2019-03-26 22:13] BlazeGuy2 opened #11759 "Meteor is no longer appearing by default"
Meteor was set to disabled by default

[2019-03-26 22:59] Deantwo commented on #11740
@Lars225, I didn't say anything about the reported bug. The bug is supposedly fixed already in the dev build.

I was just saying that the law shown in the picture is useless and won't actually do anything.

[2019-03-27 01:55] AlisonB319 opened #11760 "USER ISSUE: Game running 8.0.5 but server need 8.0.7 WSU Honors 390 CLass"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
Download the most reason version of eco sent to our teacher and the world server will not be corrrect. We recieved the link

https://accounts.strangeloopgames.com/worlds

To update our world server but it just redirects to

https://accounts.strangeloopgames.com/home

**Expected behavior:**
You can log in and play Eco

**Actual behavior:**
The foll

[2019-03-27 04:09] mole3421 opened #11761 "USER ISSUE: skid steer bug"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
skidsteer stops picking up rubble when not full. This has been happening snice update 8.0.6

**Expected behavior:**
should be picking up rubble

**Actual behavior:**
not picking any rubble up

**Do you have mods installed? Does issue happen when no mods are installed?:*
no mods installed

[2019-03-27 05:08] mirasrael commented on #11715
It fixed in staging (upcoming 8.1)

[2019-03-27 05:35] rainfarmer commented on #10685
It is working now thank you!

One small detail, is it's displaying as a Continue option:
![image](https://user-images.githubusercontent.com/7343272/55052752-3da1e200-5017-11e9-8b05-4f36b0044c93.png)

But it is much nice when it looks like this:
![image](https://user-images.githubusercontent.com/7343272/55052761-485c7700-5017-11e9-85e7-cbf4366c1c9a.png)

That is how it looks for world owners

[2019-03-27 06:50] mirasrael commented on #11244
@Quadbro you fix doesn't fixes this issue. It happens when stockpile loaded after blocks.

[2019-03-27 10:02] mirasrael commented on #11671
Closed due to no response.

[2019-03-27 10:40] SereneRebel commented on #11714
Can also confirm this issue when re-entering multiplayer server.
When it's broken the external elevator call buttons still change the state of the elevator's buttons but the elevator still won't move.

Issue does not happen on single player games.
Restarting server does not fix issue.
Re-placing the elevator in only fix.

[2019-03-27 11:18] mirasrael commented on #9182
Issue here is many API actions requires an user to be correctly executed. I.e. Law API, so we should either limit number of APIs supported with the master key and ensure they don't need any User to proceed or should use surrogate user, but then it doesn't differ much from using pre-created admin user.

Any thoughts @rainfarmer ?

[2019-03-27 11:19] mirasrael commented on #11145
@Yorkforce can you attach your save file if this issue is still actual for you?

[2019-03-27 11:40] D3nnis3n commented on #11761
Duplicate of #11654

[2019-03-27 11:40] #11761 closed

[2019-03-27 11:44] D3nnis3n commented on #11594
Duplicate of #11654

Fix is available in upcoming 8.1 release.

[2019-03-27 11:44] #11594 closed

[2019-03-27 12:05] mirasrael commented on #11742
Seems I found why it happens. Should be fixed in 8.2.

[2019-03-27 13:00] D3nnis3n commented on #11731
No longer happening in Staging-4 from yesterday.

[2019-03-27 13:00] #11731 closed

[2019-03-27 13:02] D3nnis3n commented on #11718
Closed due to no response.

[2019-03-27 13:02] #11718 closed

[2019-03-27 13:03] D3nnis3n commented on #11679
Closed due to no further information.

[2019-03-27 13:03] #11679 closed

[2019-03-27 15:35] Conchipedia opened #11762 "Lost UI to see owned land when skills are learned"
**Version:** 0.8.0.7 beta
![snap4281](https://user-images.githubusercontent.com/29383891/55089817-f0b91c80-50a5-11e9-8829-304bb6cec771.png)

**Steps to Reproduce:**
Claim land, then learn a skill

**Expected behavior:**
Should be able to see if i walk on land owned by me or another player in UI

**Actual behavior:**
Cannot see owner of land in UI

[2019-03-27 15:42] Conchipedia commented on #11762
didn't see this is now on the **right** UI so will close this

[2019-03-27 15:42] #11762 closed

[2019-03-27 15:53] thereporter42 commented on #11671
What do you mean closed due to no response this is bullshit .. I did respond
and was responding. This is absolute BS who is the head developer for this
project I want to speak to them now you are closing off tickets when the issues
are not resolved and YES i was responding and I attached the needed logs
and everything.

Screw this the Eco development team is absolutely useless
and don't give a dam

[2019-03-27 15:59] Lars225 commented on #11740
the law was a sample because i cleared all before to show if it work with new laws. Sorry for my comment it was not the right way

[2019-03-27 16:14] redwyre commented on #11671
@thereporter42 You were asked to try a smaller upgrade, and to provide a copy of your save, neither of which you have done. We are _trying_ to help you here, and you are just being rude in return.

Unless you are wiling to provide a copy of the save, and/or try the smaller upgrade, there is nothing we can do for you.

[2019-03-27 16:48] #11742 closed

[2019-03-27 16:55] D3nnis3n opened #11763 "Lighting Issues"
While making videos i occured weird lightning issues increasingly:

1. Very often, textures flicker weirdly in light. I found no way to stop that, none of the graphics settings have any influence on this.
2. More rarely but still happening, lighting updates very slow. I look at a building which is lightened by the sun, move a bit and suddenly the building gets very dark.

[2019-03-27 17:29] #11759 closed

[2019-03-27 17:33] Paxton1997 commented on #11744
I have triple monitor aswell and my resolution is set to fullscreen, but it happens in both fullscreen and windowed mode, so far i was able to fix it with a program called "Dual Monitor Tools" and you can set a hotkey to lock your cursor to one monitor, thats what i did for the time being.

[2019-03-27 18:12] redwyre commented on #11724
Confirmed on staging 8.1-4, same error as Sean pasted

[2019-03-27 18:27] johnkslg opened #11764 "Fade out on Minimal Loader screen doesnt fade properly"
![image](https://user-images.githubusercontent.com/3536496/55102267-46300200-5083-11e9-88ca-0477a0057f22.png)
The leaves fade but not the branches.

[2019-03-27 18:28] johnkslg opened #11765 "Revive eye-opening animation at game title"
Reapply this to the opening scene, it was removed with the latest title screen.

[2019-03-27 18:28] redwyre opened #11766 "Mining tutorial specifies Sandstone, but any rock can now be broken with the beginner pick"
![image](https://user-images.githubusercontent.com/431728/55102307-d3219c80-5111-11e9-9ea7-0515b64311af.png)

Maybe just updating if with limestone and granite (available on the surface) would be enough

[2019-03-27 18:29] johnkslg opened #11767 "Weird lighting"
![image](https://user-images.githubusercontent.com/3536496/55102422-96a75f80-5083-11e9-933f-f573b55680b0.png)

[2019-03-27 18:37] johnkslg opened #11768 "Vehicle problems"
- Can't get out of vehicles
- Putting carried gas into excavator didnt put it in the fuel slot

[2019-03-27 18:38] BlazeGuy2 opened #11769 "Can't exit skidsteer with e"
Only leave machine on disconnect

[2019-03-27 18:39] redwyre opened #11770 "When in a vehicle, when chatting pressing movement keys moves the vehicle"
w,a,s,d etc

[2019-03-27 18:40] seccombew opened #11771 "Tent hitbox is blank in large areas of back wall"
![image](https://user-images.githubusercontent.com/12839021/55103153-2e597d80-5085-11e9-87a1-812356003807.png)

Notice dot disappear in next screenshot.

Cant open tent when looking at this section...
![image](https://user-images.githubusercontent.com/12839021/55103148-2994c980-5085-11e9-9ae6-9ebcd6f9ee82.png)

... to this section
![image](https://user-images.githubusercontent.com/12839021/5510319

[2019-03-27 18:43] seccombew commented on #4918
Still happening in 8.1 staging.

[2019-03-27 18:45] johnkslg opened #11772 "Vehicle controls need tuning"
Change excavator and skidsteer to be like the crane:
Excavator:
- Mouse wheel changes bucket angle
- Mouse movement freelooks
- WASD rotates arm

Skidsteer
- Mouse wheel changes arm angle
- Mouse movement freelooks
- WASD moves vehicle

The controls UI is also confusing:
![image](https://user-images.githubusercontent.com/3536496/55103455-afb11000-5085-11e9-878f-659eba70471d.png)

Change this to in

[2019-03-27 18:46] johnkslg commented on #11772
Boosting priority on this because its low hanging fruit

[2019-03-27 18:46] johnkslg commented on #11767
![image](https://user-images.githubusercontent.com/3536496/55103580-fa328c80-5085-11e9-9880-4c0d1ab1588b.png)
This is with fog off

[2019-03-27 18:47] johnkslg commented on #11767
looks like its volumetric fog that does it

[2019-03-27 18:47] johnkslg opened #11773 "Bisons can be walked through"
![image](https://user-images.githubusercontent.com/3536496/55103661-23ebb380-5086-11e9-847d-43d103ba8d2a.png)

[2019-03-27 18:48] johnkslg commented on #11767
![image](https://user-images.githubusercontent.com/3536496/55103715-3f56be80-5086-11e9-83fb-8bb97b92a661.png)

[2019-03-27 18:48] SeanAtr0n opened #11774 "Placed my campsite on someone else's property & markers are wrong"
I'm authorized on Waves's property but my campsite is marked as his... probably shouldn't allow campsite placement on other people's property even if you are authorized
![image](https://user-images.githubusercontent.com/774628/55103655-1f26ff80-5086-11e9-96e6-89cacb8a6a69.png)

[2019-03-27 18:49] johnkslg opened #11775 "Joshua tree branches lod out early leaving floating leaves"
![image](https://user-images.githubusercontent.com/3536496/55103765-57c6d900-5086-11e9-96e7-4b5bfdee49ed.png)

[2019-03-27 18:53] johnkslg commented on #11769
![image](https://user-images.githubusercontent.com/3536496/55104068-e63b5a80-5086-11e9-8b1b-79698cdd81cc.png)
Had same problem.
Also wasnt able to move the arms this time

[2019-03-27 18:54] johnkslg commented on #11767
I CANT SEE
![image](https://user-images.githubusercontent.com/3536496/55104157-13880880-5087-11e9-947f-082548913d81.png)

[2019-03-27 18:54] seccombew opened #11776 "Tutorial doesn't disappear after completion of tasks."
![image](https://user-images.githubusercontent.com/12839021/55104175-1c78da00-5087-11e9-8e5e-c672ad299ef6.png)

[2019-03-27 18:55] redwyre opened #11777 "Spawned Industry speciality using /give"
/give industry

Doesn't seem like I should be able to...
![image](https://user-images.githubusercontent.com/431728/55104171-98216800-5115-11e9-970c-8f238c3acb3d.png)

[2019-03-27 18:56] johnkslg opened #11778 "Joshua tree leaves pop off instantly"
When you chop it down. They should pop off on impact or later or not at all.
![image](https://user-images.githubusercontent.com/3536496/55104260-4af6b500-5087-11e9-88a2-39ee846920c2.png)

[2019-03-27 18:58] SeanAtr0n commented on #11773
intended

[2019-03-27 18:58] #11773 closed

[2019-03-27 18:59] SeanAtr0n commented on #11769
log files

[2019-03-27 18:59] redwyre commented on #11768
I can get out of my excavator that has fuel, when is unfueled

[2019-03-27 19:05] SeanAtr0n commented on #11726
still present in 8.1 staging

[2019-03-27 19:07] johnkslg commented on #2852
Removed the controls from this bug, theyre in a separate bug now.
Elevating this and other vehicle bugs as they are quite unusable atm

[2019-03-27 19:11] johnkslg opened #11779 "Spawn road debug command needs updating for new ramps"
![image](https://user-images.githubusercontent.com/3536496/55105268-5c40c100-5089-11e9-9cdd-8dbd50cd785a.png)

[2019-03-27 19:18] SeanAtr0n commented on #11772
don't think this would be an improvement.

[2019-03-27 19:21] SeanAtr0n commented on #11772
maybe we should ask the community if they would like other vehicles to control as great as the crane

[2019-03-27 19:22] redwyre opened #11780 "Treasury placement is offset"
![image](https://user-images.githubusercontent.com/431728/55105834-3a8f1a80-5119-11e9-8cec-5159a937a120.png)

[2019-03-27 19:28] redwyre opened #11781 "treasury doesn't list word leader's bank account"
![image](https://user-images.githubusercontent.com/431728/55106248-30b9e700-511a-11e9-8f7f-0b5f4921c663.png)

Here my account isn't listed:
![image](https://user-images.githubusercontent.com/431728/55106269-3f080300-511a-11e9-9b6a-c673c6e99917.png)

[2019-03-27 19:39] redwyre opened #11782 "Economy viewer not showing backed type icon"
![image](https://user-images.githubusercontent.com/431728/55106660-3b28b080-511b-11e9-948c-19ce880151c8.png)

[2019-03-27 19:40] redwyre opened #11783 "Mint only allows you to type in 3 digits to craft coins"
![image](https://user-images.githubusercontent.com/431728/55106972-e20d4c80-511b-11e9-89e7-3b89cf830127.png)

[2019-03-27 19:44] redwyre commented on #11781
Actually, it's not listing a number of people's accounts
![image](https://user-images.githubusercontent.com/431728/55107215-7aa3cc80-511c-11e9-87c7-2fbe9844103f.png)

[2019-03-27 19:46] redwyre opened #11784 "Error creating new law"
![image](https://user-images.githubusercontent.com/431728/55107298-b8a0f080-511c-11e9-96f8-4984e0c03bce.png)

[2019-03-27 19:46] mirasrael commented on #11726
@SeanAtr0n  Can you provide more details about context? World? Position? Action sequence. Now only place where NPE may appear if rigidbody is null, but I absolutely have no idea how it may happens.

[2019-03-27 19:46] redwyre commented on #11784
After refreshing the page I could fill in the name and reasoning again and create it

[2019-03-27 19:50] redwyre opened #11785 "Law to allocate funds on pass, didn't"
http://74.85.92.174:3001/laws.html?lawid=2a340978-b8ae-43f9-bedb-a4ced563faca

I passed it with /passlaws

![image](https://user-images.githubusercontent.com/431728/55107500-3a911980-511d-11e9-8ff8-446935c6ed66.png)

[2019-03-27 20:01] redwyre opened #11786 "Placement went underground"
Might just be an issue with the Flat Steel

![image](https://user-images.githubusercontent.com/431728/55107882-12ee8100-511e-11e9-807d-fafcbefbdf81.png)

[2019-03-27 20:02] redwyre opened #11787 "Store filter lists "Tier 10" and "Tier 6""
Also not in the tiers section
![image](https://user-images.githubusercontent.com/431728/55108302-0fa7c500-511f-11e9-92c1-bdd2fa907db2.png)

[2019-03-27 20:14] thereporter42 commented on #11671
wow you are the one being rude here redwyre I did respond and I added the
needed logs.

I want to speak to the head developer now!  I am sick of people like redwyre
closing off tickets when they are not resolved. This is an absolutely horrible
project.

[2019-03-27 20:25] SeanAtr0n commented on #4918
it was fixed, has been un-fixed

[2019-03-27 20:26] SeanAtr0n commented on #11726
not sure, happened in multiplayer and i wasn't anywhere near rubble afaik but my log file was full of those exceptions

[2019-03-27 20:40] redwyre opened #11788 "Rubble can be burried"
![image](https://user-images.githubusercontent.com/431728/55110627-2c92c700-5124-11e9-8fea-a26c42f2d7d5.png)

![image](https://user-images.githubusercontent.com/431728/55110641-35839880-5124-11e9-81ed-2cf44a9e295a.png)

It seems that some pop up from under the ground

[2019-03-27 20:43] D3nnis3n commented on #11671
I'm going to give you this last chance to understand that we don't need your logfiles but your savegame or that you try to do the suggested minor upgrade first. If your only intention is to be rude to our developers and causing disturbance, i'll lock the comments.

[2019-03-27 20:53] D3nnis3n commented on #11777
Duplicate of #10117

[2019-03-27 20:53] #11777 closed

[2019-03-27 20:55] D3nnis3n commented on #11770
Duplicate of 9429

[2019-03-27 20:55] #11770 closed

[2019-03-27 20:57] D3nnis3n commented on #11780
Duplicate of #10576

[2019-03-27 20:57] #11780 closed

[2019-03-27 21:01] D3nnis3n commented on #11779
Duplicate of #9214

[2019-03-27 21:01] #11779 closed

[2019-03-27 21:04] D3nnis3n commented on #11776
Seems to be unspecific to this tutorial: #11725

Also i couldnt reproduce this with any of the tutorials.

[2019-03-27 21:05] D3nnis3n commented on #11774
When you put something on other peoples ground its treaten as theres, so probably working as intended. Placement restriction would hinder playing together.

[2019-03-27 21:07] D3nnis3n commented on #11768
Partly duplicate of #11733

[2019-03-27 21:09] D3nnis3n commented on #11768
Actually the other part is duplicate of #11769

[2019-03-27 21:09] #11768 closed

[2019-03-27 21:12] D3nnis3n commented on #11785
Did treasury have that much bucks?

[2019-03-27 21:12] D3nnis3n commented on #11785
Cannot reproduce.

[2019-03-27 21:15] redwyre commented on #11785
I made a similar law previously, which must have accidentally been a tax, which output a whole bunch of logs that people didn't have enough money to pay.

This time, nothing.

[2019-03-27 21:20] SeanAtr0n commented on #11774
Campsite is a special case, it would be a pretty awful first experience playing if you accidentally did this and then got un-authorized

[2019-03-27 21:22] D3nnis3n commented on #11774
It would also be awful if players that play their fifth round could no longer start out on property of someone else. Please find a way not involving me to need to search land a kilometre away first before  i can pick it up again and go back ...

[2019-03-27 21:23] D3nnis3n commented on #11774
Were actually doing this each cycle, working on property of someone else.

[2019-03-27 21:28] D3nnis3n commented on #11784
Also sometimes get this in complex laws WHILE editing, but can save just fine.

[2019-03-27 22:08] #11163 closed

[2019-03-27 22:08] #10358 closed

[2019-03-27 23:46] seccombew commented on #11725
Closing as dupe #11776

[2019-03-27 23:46] #11725 closed

[2019-03-28 06:27] mirasrael commented on #11784
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11742
Fixed in master. @redwyre during creation of the law did you switch to districts view?

[2019-03-28 08:02] beastyn opened #11789 "Wrong durability and nutrition calculation"
**8.0.7 No mods**
**Expected result:**
When you try to gather a granite block with a stone pickaxe you should use two hits. Every hit should consume 10 calories and 1 durability. After breaking a block, a pickaxe should lose 2 durability and calories should lose 20 points.

**Test result:**
A granite block was broken with two hits. But calories and durability was dropped down one time - after brea

[2019-03-28 10:10] faiith opened #11790 "To many Ressources per block generated by Mining + pick-up bug"
Version: Stagion 0.8.1.0 e7012ee4
Mods: None

In mining, too much material is generated for every block that has been mined. Normally you would get 4 resources per block, but in the Stagin version you get 10-15.

In addition (I do not have the skill for multiple pick up) is always trying to pick up everything on the ground. If many rocks are next to each other, so it goes beyond 20, you can not co

[2019-03-28 10:16] faiith opened #11791 "Greatly improved Server-Performance, but strange new FPS drops"
Version: Stagion 0.8.1.0 e7012ee4
Mods: None

Server performance has been improved significantly in staging 0.8.1, we no longer have lags. Great work Guys!!!  But FPS burglaries have been added that are easy to reproduce and are common to all players on our server (regardless of client hardware).

The following causes massive FPS drops(down to 1 FPS):

Drive off with a cart
Pass another player, or

[2019-03-28 11:15] D3nnis3n commented on #11790
Cannot reproduce, could you attach a video?

[2019-03-28 11:17] faiith commented on #11790
Sure, i'm at work now, but i'll attach a video as soon as i'm home

[2019-03-28 11:33] mirasrael commented on #11776
@seccombew
Researched the code and tried different ways to reproduce it, but without success.

I fixed one very unlikely possible case when it may happens: if tutorial task completed, removed from tasks and then added it back from chained tasks or from another thread.

I'm not sure if it actually fixed this issue, but if it will happen again to you then please provide more additional context:

1.

[2019-03-28 12:14] faiith commented on #11790
Well, can't attach video because i'm not able to connect to server anymore :/  We have installed on our server the latest staging version available on the official website: Staging - beta 8.1.0 # e7012ee4 Unfortunately, our clients can no longer connect to the server because the staging version that ships via Steam is already higher version number: #743897c95

[2019-03-28 12:44] mirasrael commented on #11787
![image](https://user-images.githubusercontent.com/475445/55158649-6e495f00-5170-11e9-9959-02a0e55daa3f.png)

[2019-03-28 14:01] faiith commented on #11790
Found a workarround for connection-issue... just overwrote gamefile in steam-folder with files from official website^^

So, here's the link to the requested video (youtube): https://youtu.be/9XE7jBMJzgc

In the VIdeo, i'm showing

- i don't have the pick-up skill from mason/mining
- i'm mining 1 block, and getting 16 limestone
- all limestones where picked up
- after mining 3 blocks, it's not poss

[2019-03-28 14:56] mirasrael commented on #11774
![image](https://user-images.githubusercontent.com/475445/55167867-cd17d400-5182-11e9-9d5b-9a0484b97be5.png)

[2019-03-28 15:10] mirasrael commented on #11774
I think we can have a compromise.

[2019-03-28 15:13] mirasrael commented on #11790
Can you please attach your server save to this issue?

[2019-03-28 15:15] mirasrael commented on #11790
Also seems you're using older version. Can you test with Official Beta Server?

[2019-03-28 15:28] faiith commented on #11790
@misrael: How can attach the server-save here in github, game.db is 250MB large, game.eco 92MB, but here is maximum of 10MB allowed? Or are other files meant?

Yeah, wir using not newest staging version, because there is no server download with newest version available on your website.

[2019-03-28 15:31] mirasrael commented on #11790
You can get latest server version from Steam.
Tools -> Eco Server [bleeding_edge]

[2019-03-28 15:31] mirasrael commented on #11790
You can upload the sever save (only *.eco needed) to Google Drive and put link here.

[2019-03-28 15:38] faiith commented on #11790
Link for *.eco:

https://drive.google.com/file/d/1Xb4mHugLbFoeT0DEIayo4G7K3qAU9PNR/view?usp=sharing

[2019-03-28 16:26] redwyre commented on #11784
@mirasrael I believe the default action is to add a district, so it started on that

[2019-03-28 16:31] redwyre commented on #11787
Your image has Tier 10 though? Or are you just saying that's a different issue?

[2019-03-28 16:34] faiith commented on #11790
Updated Server now on newest version, issue still occurs

![382310_20190328173305_1](https://user-images.githubusercontent.com/40213281/55175444-a015f200-517f-11e9-9c1a-87af72c72b5f.png)

[2019-03-28 17:27] mirasrael commented on #11787
@redwyre yes, you're right. Missed it because of ordering.

[2019-03-28 17:33] keegan-o commented on #11775
This is a hard coded LOD setting for all tree branches, we need some kind of code solution to expose this for tweaking ideally per tree instead of as a universal setting for all tree branches as it currently is, or the tree will have to be re-structured if that is not possible.

[2019-03-28 17:40] #11774 closed

[2019-03-28 17:40] #11776 closed

[2019-03-28 17:40] #11783 closed

[2019-03-28 17:40] #4918 closed

[2019-03-28 17:40] #9214 closed

[2019-03-28 17:40] #11726 closed

[2019-03-28 17:40] #11769 closed

[2019-03-28 17:43] seccombew commented on #11789
@beastyn Was this on 8.1 staging?

[2019-03-28 17:53] beastyn commented on #11789
@seccombew
Nope, 8.0.7

[2019-03-28 17:58] #11788 closed

[2019-03-28 18:14] D3nnis3n commented on #11790
Still cannot reproduce this, but found another bug, try to make a video please.

[2019-03-28 18:16] D3nnis3n opened #11792 "[8.1.0 Staging-5] Rubble is not targetable"
![notarget](https://user-images.githubusercontent.com/25908592/55182821-cdb66780-518e-11e9-8718-e8b9bf1727a4.png)

[2019-03-28 18:23] D3nnis3n commented on #11789
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11667

[2019-03-28 18:23] #11789 closed

[2019-03-28 18:29] faiith commented on #11790
I did a video allready ;)

[2019-03-28 18:32] mirasrael commented on #11789
@seccombew it also in 8.1 latest staging (tested it today)

[2019-03-28 18:55] D3nnis3n opened #11793 "Mortar and Otter Carcass have no icon - template icon instead"

[2019-03-28 19:04] D3nnis3n commented on #11664
![1](https://user-images.githubusercontent.com/25908592/55185367-7e733580-5194-11e9-93d5-1c24d0b1d215.png)
![2](https://user-images.githubusercontent.com/25908592/55185368-7e733580-5194-11e9-9dad-de9e3ba3cd1b.png)
![3](https://user-images.githubusercontent.com/25908592/55185369-7e733580-5194-11e9-89df-2a52c6662d98.png)

Facts:
- Performance when standing still got much better, but could still be b

[2019-03-28 19:08] Sobaton commented on #11793
also Otter Carcass
![grafik](https://user-images.githubusercontent.com/48158779/55185694-30126680-5195-11e9-968f-c920b3367a9a.png)

[2019-03-28 19:46] D3nnis3n commented on #11790
Mh, weird. Still can't reproduce this, but i can reproduce that rubble can't be picked up at all. We're going to take a look on this in playtest, maybe someone else can reproduce it.

[2019-03-28 21:13] keegan-o commented on #11778
Can't really repro on staging or master...
![image](https://user-images.githubusercontent.com/14983165/55193258-af874200-5163-11e9-9abd-0ec5e9d1bfb9.png)

[2019-03-28 21:26] keegan-o commented on #10576
![image](https://user-images.githubusercontent.com/14983165/55193866-66d08880-5165-11e9-85af-777c980889b9.png)
Cannot repo on master or staging, someone must have fixed it-- I updated the occupancy on the prefabs and it made no changes to autogen, thus... someone updated it already.

[2019-03-28 21:26] #10576 closed

[2019-03-28 21:32] johnkslg commented on #11778
Was happening with '/give axe', maybe its unique to that

[2019-03-28 21:47] SeanAtr0n commented on #11735
subscriptions aren't working as expected here... most likely related to recent view changes

[2019-03-28 22:03] SeanAtr0n opened #11794 "USER ISSUE: Rubble pickup exception"
**Version:** 0.8.1.0 beta staging-3ce3fe75 debug*-6

**Steps to Reproduce:**
Mined Limestone with a stone pickaxe, pickup rubble by holding e

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2019-03-28 22:10] rainfarmer commented on #10685
Just tested again, and the Join World link shows up, but it doesnt connect to server, always returns connection error.
Direct connecting using serverID or continue works correctly.

[2019-03-28 22:12] SeanAtr0n commented on #11790
I'm seeing this behavior in-editor, along with this exception:
[code]

[2019-03-28 22:18] SeanAtr0n commented on #11794
Duplicate https://github.com/StrangeLoopGames/EcoIssues/issues/11790

[2019-03-28 22:18] #11794 closed

[2019-03-28 22:21] SeanAtr0n commented on #11790
Bug requires multiple people having the sweeping hands talent on your server

[2019-03-28 22:23] D3nnis3n commented on #11790
That explains why it didnt occur for me

Sean Ater <notifications@github.com> schrieb am Do., 28. März 2019, 23:21:

[2019-03-28 22:31] SeanAtr0n commented on #11422
why was this reopened?

[2019-03-28 22:34] keegan-o commented on #11793
fixed in staging and master

[2019-03-28 22:34] #11793 closed

[2019-03-28 23:37] SeanAtr0n commented on #11422
file a new issue if there is another problem, this exception was definitely fixed

[2019-03-28 23:38] keegan-o commented on #11341
The closer to the ground they are the more awkward pipe ports have to be since they need some kind of rim/receiving part, which we don't want to be sticking into the ground or out of the meter space. So no plans to fix this.

[2019-03-28 23:38] #11341 closed

[2019-03-29 00:00] D3nnis3n commented on #11422
Actually it seems not. Discord user reported having it, therefore reopened.

[2019-03-29 00:00] SeanAtr0n commented on #11422
where is that info then?

[2019-03-29 00:01] D3nnis3n commented on #11422
![Screenshot_20190329-010036_Discord](https://user-images.githubusercontent.com/25908592/55200389-2f41fa80-51be-11e9-8708-3d402e88ea9d.jpg)

[2019-03-29 00:03] D3nnis3n commented on #11422
![Screenshot_20190329-010305_Discord](https://user-images.githubusercontent.com/25908592/55200451-703a0f00-51be-11e9-9001-3652dee1e636.jpg)

[2019-03-29 00:05] keegan-o commented on #11778
![image](https://user-images.githubusercontent.com/14983165/55200487-8d012300-517b-11e9-8142-aefc4a6a8ef9.png)
Do you mean the branch with all the clumps detaches right when it's cut? Doesn't seem to differ for me whichever implement I use to cut it down.

[2019-03-29 00:15] SeanAtr0n commented on #11422
whoops, ok a different exception was fixed

[2019-03-29 00:37] johnkslg commented on #11778
I saw as soon as it started to fall, all the leaves disappeared. Looks like its not happening to you anymore for whatever reason, so I'll close. Thanks!

[2019-03-29 00:37] #11778 closed

[2019-03-29 00:55] SeanAtr0n commented on #11422
guess the exception is relatively harmless so we won't be hotfixing this, if you want to get rid of em before 8.1 edit Mods/Items/SteamTractorAttachment.cs to have:
[code]

[2019-03-29 01:16] SeanAtr0n commented on #11775
fixed in svn

[2019-03-29 01:16] #11775 closed

[2019-03-29 01:33] SeanAtr0n commented on #11763
Probably need some examples of the flickering

[2019-03-29 01:42] D3nnis3n commented on #11763
https://youtu.be/o1nTR4FygkE

0:22 Clip. Note the roofs of the building.

[2019-03-29 05:36] mirasrael commented on #11664
Seems most FPS drops here is coming from chunk rendering. @metachronism can you look into this?

[2019-03-29 05:39] mirasrael commented on #11792
@D3nnis3n can you provide more details. How can I reproduce this?

[2019-03-29 05:54] mirasrael commented on #11784
@johnkslg @seccombew Should we back port fix from master to the staging?

[2019-03-29 06:22] seccombew opened #11795 "Black bar growing during character selection screen (staging 8.1)"
![image](https://user-images.githubusercontent.com/12839021/55213311-2b0ee080-51b0-11e9-986a-1204945acd6c.png)

[2019-03-29 06:23] seccombew commented on #11795
![image](https://user-images.githubusercontent.com/12839021/55213430-77f2b700-51b0-11e9-9ffe-b10d9144407a.png)

Alt-tab'ed back into game to find this.

[2019-03-29 06:24] seccombew commented on #11795
Black spots were dripping down like ink.
Rotated camera, and now fully black.
![image](https://user-images.githubusercontent.com/12839021/55213494-a8d2ec00-51b0-11e9-9be1-31b814318df4.png)

[2019-03-29 06:50] mirasrael commented on #11790
@faiith and @SeanAtr0n Nice finding! Fixed in 8.1-7

[2019-03-29 08:35] beastyn commented on #11570
*UPDATE*
0.8.1.0 staging-6
no mods

**Reproduced Steps**
1. Get task for stockpiles
2. Chope Trees
3. Collect 20 logs in hand
4. Placing logs in owned stockpile ( 12 in one slot, 8 in second by on time clicking in carrying cell)

**Expected Result:**
stockpile task will end with success

*Actual Result*
Stockpile quest still have yellow element in list with placing 10 logs in stockpile and not end

[2019-03-29 08:51] Quadbro commented on #11795
did you able to reproduce it 2 times?

[2019-03-29 08:54] seccombew commented on #11795
Only occurred once for me.
@SeanAtr0n thought it might have to do with temporal anti-aliasing, which I did have turned on.

[2019-03-29 09:24] Quadbro commented on #11795
nah, tried to reproduce it with different specs and conditions (inc anti-aliasing)... nothing =(

[2019-03-29 09:46] beastyn commented on #11724
Update
0.8.1.0 staging-6

Confirmed, but in my case tutorial wasn`t ending. Objective got ticked.

![after_meteor_first_look](https://user-images.githubusercontent.com/27898520/55224050-69001900-5231-11e9-87d2-53daa8794391.jpg)

[2019-03-29 10:06] mirasrael commented on #11791
Hi @faiith I'm not sure I understand repro-case. Can you explain in more details, probably upload video to the Youtube?

[2019-03-29 10:07] beastyn commented on #11724
клиентский лог
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3022074/output_log.txt)

[2019-03-29 10:43] mirasrael commented on #11791
Tried to reproduce issue with no success. Any additional info will be very helpful. Please attach client log and video also will be useful.

[2019-03-29 10:44] D3nnis3n commented on #11792
Staging-6 does no longer have this problem somehow.

[2019-03-29 10:44] #11792 closed

[2019-03-29 12:23] beastyn opened #11796 "[0.8.1.0-staging 6] Missing 3d person view tools animation"
0.8.1.0-staging-6
no mods

There is no tools animation when switching from first to third-person view.

**Steps to reproduce**

1. Start in first person view mode
2. Take stone axe
3. Hit with left button and check animation
4. Switch to 3d person view.
5. Hit with left button and check animation

**Expected result**
Played hitting animation in 3d person view

**Actual result**
I can hear the soun

[2019-03-29 13:03] D3nnis3n commented on #11500
Reopened. Treasury still does not show without relogging in 8.1.0-Staging-6.

[2019-03-29 13:10] D3nnis3n opened #11797 "[0.8.1.0-Staging 6] Treasury - Can tax without giving reason but allocation forces one"
Taxing should also force giving a reason.

[2019-03-29 13:17] mirasrael commented on #11735
Should be fixed in staging-7

[2019-03-29 13:17] D3nnis3n opened #11798 "[0.8.1.0-Staging 6] Escape while in a UI no longer closes the UI but opens the main menu."
Quite sure this behaviour was different earlier. In any way, that's not what it should do.

[2019-03-29 13:21] mirasrael commented on #11798
Which UI exactly do you mean? Tested with Wood Cart UI and with Economy Viewer UI - both working as expected - ESC closes UI.

[2019-03-29 13:30] D3nnis3n commented on #11734
Reopened, doesn't work for me on Staging-6. No output.

[2019-03-29 13:30] D3nnis3n commented on #11734
![listunobtainable](https://user-images.githubusercontent.com/25908592/55236017-3d7c2f00-522f-11e9-9601-69e271d038c9.png)

[2019-03-29 13:31] D3nnis3n commented on #11734
Try with german language, but also didnt work on english.

[2019-03-29 13:39] D3nnis3n opened #11799 "[0.8.1.0-Staging 6] Economy Viewer Sorting does no longer work"
When pressing some of the buttons the list below does change, but not as expected.
E.g. if i try to sort for price, the list does move but i get something like:

5
7
3
2
29
1

Which is no sorting, sorted would be:
1
2
3
5
7
29

Or

29
7
5
3
2
1

[2019-03-29 13:41] D3nnis3n commented on #11798
It happens with most UIs for me. Map doesn't work, but did before. Also some of the objects it didnt work.
Inventory doesn't work - but that one did never work for me, so maybe expected.

[2019-03-29 13:41] D3nnis3n commented on #11798
Do i need to search for each specific object? Won't manage that today, can do that monday. I used the command to spawn all world objects and most of them did not correctly close ui, but opened menu.

[2019-03-29 13:42] D3nnis3n commented on #11798
So i assumed it's broken in general.

[2019-03-29 13:59] faiith commented on #11791
With Staging 8.1 - 6 not able to reproduce, neither on new world nor the backuped old one. As soon as i'm able to reproduce again i'll tell ya. Maybe allready fixed somehow

[2019-03-29 14:04] mirasrael commented on #11798
Did you test with UI I mentioned above?

[2019-03-29 14:04] mirasrael commented on #11798
Map doesn't work, because it stays after going into movement mode. So I don't know if it should stay or not actually.

[2019-03-29 14:36] mirasrael commented on #11791
Thanks! Closing for now. Feel free to re-open issue if you will be able to reproduce this.

[2019-03-29 14:38] faiith opened #11800 "[0.8.1.0-Staging 6] Popup for Talent choice not opening"
Version: 0.8.1.0-Staging 6
Mods: None

Popup for choosing a talent-choice is not opening anymore

[2019-03-29 14:54] mirasrael commented on #11800
Already fixed in upcoming staging build.

[2019-03-29 14:59] MrDKGE commented on #11422
I will post it here as well and the link to the world.
https://dkge.nl/download/Game-2019-03-29-15.36.21.zip
![Capture](https://user-images.githubusercontent.com/32115695/55241553-9ce03c00-523b-11e9-9e77-7d589a52b3b1.PNG)

[2019-03-29 15:40] mirasrael commented on #11799
Wasn't able to reproduce. Anything in client log?
![image](https://user-images.githubusercontent.com/475445/55244332-0ec38000-5252-11e9-88d3-84d8254128d2.png)

[2019-03-29 16:24] eyvalon opened #11801 "Webinterface bug when Server localization is "German""
**Version**: 0.8.0.7   no Mods

When the Server config localization is in "German", the Webinterface is broken.
The "+" symbol is missing to enter another actions in the law (see pictures).

**Webinterface with Server localization in "German":**
![eco_issue_img01](https://user-images.githubusercontent.com/7224267/55246480-95be2b80-5245-11e9-9cb4-9dd3da478021.png)

**Webinterface with Server locali

[2019-03-29 18:21] #11284 closed

[2019-03-29 18:21] #11570 closed

[2019-03-29 18:21] #11735 closed

[2019-03-29 18:21] #11736 closed

[2019-03-29 18:21] #11787 closed

[2019-03-29 18:21] #11790 closed

[2019-03-29 18:21] #11422 closed

[2019-03-29 20:19] rainfarmer commented on #11760
I think the server was updated.

If not, you can download 8.0.5 for windows here:
https://s3-us-west-2.amazonaws.com/eco-releases/EcoPC_v0.8.0.5-beta.zip

[2019-03-29 20:19] #11760 closed

[2019-03-29 20:27] SlayksWood commented on #11590
Crane doesn't show correctly in multiplayer.
When I look from the side as someone works on a crane, the crane does not move at all, only constructed objects appear.

[2019-03-29 20:29] SlayksWood commented on #11590
8.1.0 Staging-6
Crane doesn't show correctly in multiplayer.
When I look from the side as someone works on a crane, the crane does not move at all, only constructed objects appear.

[2019-03-29 20:31] SeanAtr0n opened #11802 "Vehicle Parking"
Parking would disable physics, tween the vehicle to the closest voxel-aligned rotation and add worldobject blocks. It would only occur when you explicitly hit a new button or key binding. Vehicles would need to define occupancy that is only used during placement & parking.

This would prevent trees growing through parked vehicles, animals walking through vehicles or any other events that might mov

[2019-03-29 20:48] redwyre commented on #11802
Is there anything stopping a tree from growing through a moving vehicle?

[2019-03-29 20:49] redwyre opened #11803 ""Name" and "Reasoning" fields aren't saved in law creator"
If you refresh the page they are lost.

[2019-03-29 20:51] SeanAtr0n commented on #11802
nope, it has happened to me before... fixing that would take more effort than it's worth though

[2019-03-29 20:59] redwyre opened #11804 "After proposing law, getting "This law does not exist""
![image](https://user-images.githubusercontent.com/431728/55262352-4dd8ec00-52b9-11e9-97b6-fa213e98276c.png)

You can see the law "dfsdf" on the left which was proposed. The address is http://127.0.0.1:3001/laws.html?lawid=null so it looks like something has dropped the law id

[2019-03-29 21:18] BlazeGuy2 commented on #11724
Someone moved the tutorial to a separate scene and forgot to update the build function to include it.  Should be fixed in the next build.

[2019-03-29 21:23] SeanAtr0n commented on #11798
please attach your log file if you see it not work on a worldobject UI

[2019-03-29 21:30] redwyre opened #11805 ""A law with this name already exists" when proposing law with no visible laws in proposed or active"
Not sure if this has something to do with "one-shot" laws that aren't visible in the interface

[2019-03-29 21:48] johnkslg commented on #11803
Only happens when refreshing so changing to low

[2019-03-29 22:05] Moor718 commented on #11671
Hello, I got the same problem as @thereporter42. I get the exact same log entries. I've already updated version by version from 0.7.8.7 to 0.7.8.9. But I can't get 0.8.0.0 or higher working. Here is a link to my save file (Had to upload it to a file-hoster since the archive exceeds the maximum upload size):

[https://www.file-upload.net/download-13554000/Game.zip.html](url)

[2019-03-29 22:20] SeanAtr0n opened #11806 "Seems text on these signs is too perfectly aligned"
![signfight](https://user-images.githubusercontent.com/774628/55265560-1bd27600-5236-11e9-8a18-3d86a79ffb65.gif)

[2019-03-29 22:39] SeanAtr0n opened #11807 "GI isn't curved"
Uncurved GI can make far away things pretty ugly
![GICurve](https://user-images.githubusercontent.com/774628/55266112-8edcec00-5238-11e9-8526-adb1da5ef7b8.gif)

Should be able to fix this like I did w/ the property shader

[2019-03-29 23:00] D3nnis3n commented on #11805
Afaik working as intended. Laws that were used only to repeal other laws, create or redefine districts or demographics were there, but are not visible. Not sure if that should be changed.

[2019-03-29 23:03] D3nnis3n commented on #11805
E.g. laws that names are used but you cannot see:
- All repealed laws
- All laws that create or redefine districts or demographics
- All laws that only do a thing once

[2019-03-29 23:04] D3nnis3n commented on #11802
For reference: https://github.com/StrangeLoopGames/EcoIssues/issues/11696

[2019-03-29 23:26] SeanAtr0n commented on #11807
Fixed in svn
![GICurveFixed](https://user-images.githubusercontent.com/774628/55267433-5096fb00-523f-11e9-9892-9cc3f6bca9f3.gif)

[2019-03-29 23:26] #11807 closed

[2019-03-29 23:43] Deantwo commented on #11492
got another one from `@mambroz#8512` on Discord.
https://cdn.discordapp.com/attachments/469297188909088789/561236304776658953/unknown.png

Got a save file from him too.
Here: https://www.dropbox.com/s/p0dfglbo13frsmj/prevent-crafting-law.zip?dl=0

[2019-03-30 00:14] thereporter42 commented on #11671
Thank you Moor718 now maybe they will start taking the report seriously.
See it isn't just me getting this error.

And by the way here is my game DB
http://www.filedropper.com/gamedb

[2019-03-30 08:59] SlayksWood opened #11808 "[0.8.1.0 Staging-7] BackPack don't work."
Without Backpack:
![2019-03-30](https://user-images.githubusercontent.com/45708377/55273856-c2278580-52e1-11e9-9f1a-9086d65cc81a.png)
With Basic Backpack:
![image](https://user-images.githubusercontent.com/45708377/55273873-f56a1480-52e1-11e9-8412-fc95f0276824.png)
With Bearpack:
![image](https://user-images.githubusercontent.com/45708377/55273884-20ecff00-52e2-11e9-96fc-a04042db844e.png)
This is

[2019-03-30 10:45] Sergant1530 opened #11809 "USER ISSUE: 4523"
**Version:** 0.7.8.5 beta

**Steps to Reproduce:**
4576у45нурн

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]
<size=150%>Ошибка подключения</size>

Не удалось подключиться - время соединения истекло.
[code]

[2019-03-30 10:53] SlayksWood commented on #10978
[0.8.1.0 staging-7] Meteor collapses like this:
https://drive.google.com/file/d/1DpkEeIphipCyvB7T03eVGe17uXfUj6kz/view?usp=sharing

Lasers do not activate visually. Just goes the inscription that the meteorite will be shot down in 30 seconds. After 30 seconds, it destroyed.

[2019-03-30 11:37] redwyre commented on #11809
You are using a very old version, please update to the latest.

Вы используете очень старую версию, пожалуйста, обновите ее до последней версии.

[2019-03-30 11:37] #11809 closed

[2019-03-30 13:09] redwyre commented on #9429
@D3nnis3n menus coming up is a separate issue (might have also just been lag?)

[2019-03-30 13:43] D3nnis3n opened #11810 "[8.1.0-Staging-6] Crane can't be seen moving by a third player in multiplayer"
Quote from SlayksWood

8.1.0 Staging-6
Crane doesn't show correctly in multiplayer.
When I look from the side as someone works on a crane, the crane does not move at all, only constructed objects appear.

[2019-03-30 13:43] D3nnis3n commented on #11590
This is an entirely different issue, splitted: https://github.com/StrangeLoopGames/EcoIssues/issues/11810

[2019-03-30 13:43] #11590 closed

[2019-03-30 13:53] D3nnis3n commented on #9429
I didn't experience that since the lag issues got a bit better, so probably that was it. Could somehow ensure that this doesn't happen nayway if possible.

[2019-03-30 14:16] faiith opened #11811 "[Staging 8.1 -7] Missing Receipes in all kinds of Workbenches"
Version 8.1-7
No Mods
German localisation

In all kinds of workbenches is something weird going on (see pictures below). it occurs from time to time, no clue what the cause is. If you pickup the workbenches and place it again, it works again for few minutes.

![382310_20190330151210_1](https://user-images.githubusercontent.com/40213281/55277291-c31ae000-52fe-11e9-807a-45c022f87d75.png)

![382310_2

[2019-03-30 14:53] SlayksWood opened #11812 "[0.8.1.0-Staging-7] Housing doesn't perform the room value calculation properly."
Doesn't reduce value for multiples of furniture types
For Example: Wooden Fabric Bed - 60% less value each, Large rug - 50% less value each,
![image](https://user-images.githubusercontent.com/45708377/55277698-f9af2580-5313-11e9-9c46-22f7fe879743.png)
![image](https://user-images.githubusercontent.com/45708377/55277706-18adb780-5314-11e9-9d97-4fb31050fb65.png)

[2019-03-30 15:04] Infinaty1 opened #11813 "Changing item with stockpile"
This only works for carried items only ( as far as I know )

So if you have Item A in a cart or stock pile. and you are holding Item B (not a full stack) and you attempt to pick up from the stock pile, Item B will turn into item A.

So if you have 19 Stone and a cart with 1 gold ore in it, if you attempt to get the gold ore out while holding the 19 stone it changes into 20 gold.

[2019-03-30 15:04] redwyre commented on #11811
Was just discussing this with @mirasrael and he has a fix in https://github.com/StrangeLoopGames/Eco/pull/4180

[2019-03-30 15:31] SlayksWood opened #11814 "Face Remover Needs more Optimization"
When you put 3 types of floor block (Corrugated Steel; Brick; Flat Steel) near the wall, they seem to shine through. As far as I know this bug isn't only in this version.
![image](https://user-images.githubusercontent.com/45708377/55278138-87d9da80-5319-11e9-837e-95d2ae85e6e8.png)

[2019-03-30 15:50] redwyre opened #11815 "Test failed! TestUser's Waste Filter is not enabled and operating."
CI is failing regularly with:

=====EXCEPTION 0=====
Warning: Exception Caught in Test testpipes - System.Exception: Test failed! TestUser's Waste Filter is not enabled and operating.
Exception: Exception
Message:Test failed! TestUser's Waste Filter is not enabled and operating.
Source:Eco.Gameplay
System.Exception: Test failed! TestUser's Waste Filter is not enabled and operating.
at Eco.Gameplay

[2019-03-30 16:03] beastyn commented on #11800
0.8.1.0 staging 7
no mods

I suppose this one should work now on staging 7, but still can`t open talent popup. It works just one time and need to reset Skill UI

**Reproduce**
1. Open Skill window
2. Select Skill you have
3. Click on Spec you have
4. Check Talent popup
5. Click on other Sspec you have (or select Spec in other Skill you have)

**Expected result**
current Talent popup should close a

[2019-03-30 16:46] Sobaton commented on #10723
Otter provide meat instead of carcas in 8.1.0 #61937788

[2019-03-30 18:40] Sobaton commented on #11811
sometimes when the table work is done, the normal interface comes back! Happens on all workingtables

[2019-03-30 19:28] Praefator opened #11816 "8.0.7: Tailings tooltip misleading"
As the image shows, the tooltip implies that tailings can safely be contained within buildings when they actually are best stored as deep as possible.

Additionally, tailings IRL are a waste product from separating ores from stone during **mining** rather than **smelting**. Since tailings count as a block I reckon it'd be a hard thing to create extra debris which forms as a block upon placement. I

[2019-03-30 21:06] Meerkats961 opened #11817 "Incorrect Icon for skill efficiency and speed"
![Bugreport](https://user-images.githubusercontent.com/49105866/55281655-de411c00-530d-11e9-9da0-5c49c52c35ab.png)

This seems to happen with all the specialties. (When hovered over it displays correct information in tooltip)

[2019-03-30 22:11] Frederikam opened #11818 "USER ISSUE: Opening someone's trash pile causes the client to disconnect"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
1. Open a pile of trash

Other steps unknown.

**Expected behavior:**
The inventory should have been opened.

**Actual behavior:**
The following error message popped up:
[code]

I have no idea why this particular pile causes the exception.

The contents is wood pulp and plant fibers. Anyone who opens it, including the dumper, is kicked from the se

[2019-03-31 02:46] dmanning6522 opened #11819 "USER ISSUE: water pump"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
place sink and hook up to pipes

**Expected behavior:**
water to be used by the sink

**Actual behavior:**
water is hooked up but sink wont work status says no water even though there is

**Do you have mods installed? Does issue happen when no mods are installed?:**
no

[2019-03-31 05:24] DuckDGoose opened #11820 "USER ISSUE: bs"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
this is fucking bullshit

**Expected behavior:**
it should fuc king work

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2019-03-31 06:26] braxton33 opened #11821 "Contract grant rights allows people to steal vehicles"
The receive permissions contract clause will allow users who have been temporarily granted rights to a skid steer, excavator, truck, etc to pick them up and move them.

Once it has been picked up it becomes the property of the person who picked it up, even if it's placed back on the ground.

Granting rights in this way should use the normal permissions table, so that the user can not pick up prope

[2019-03-31 11:47] faiith commented on #11791
Okay, we can reproduce it now. In most cases the FPS-Drops occur if somebody near your position is using a cart, or if you're self using a cart. FPS drops down till 1 FPS. All clients on our server have this issue. Not occuring everytime u use a cart, but quiet often. Multiple players using a cart has of course massive impact.

Link to video where you can see the FPS drops: https://www.youtube.com

[2019-03-31 14:12] redwyre commented on #11820
@DuckDGoose please be respectful to those that are here to help you

[2019-03-31 14:22] redwyre commented on #11820
Are you able to log in to the website at https://accounts.strangeloopgames.com/ ? Have you tried resetting your password?

[2019-03-31 14:48] WeaselDog commented on #11816
You are right that tooltip is misleading, but tailing are created when the ore is processed through an extraction process not currently in Eco. Mining itself does not create tailing. Overburden is the waste product from mining.

[2019-03-31 14:57] redwyre commented on #11816
There are changes coming for this in 8.2, in the near future.

[2019-03-31 18:55] SplattedRabbit opened #11822 "USER ISSUE: Unable to move camera around"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
1.) Try to move the camera with my mouse

**Expected behavior:**
Camera should be moving

**Actual behavior:**
Nothing Happens!

**Do you have mods installed? Does issue happen when no mods are installed?:**
Nothing Happens!

[2019-03-31 19:22] redwyre commented on #11822
Hi @SplattedRabbit, do you see a mouse cursor while you are unable to move? Does pressing "Tab" help?

If not, can you post a screenshot?

[2019-04-01 00:11] unloveddolphin opened #11823 "USER ISSUE: tree one sided seeing"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
cut down a tree
walk realy far away from it
come back its gone for u alone
your friend can see it tho

**Expected behavior:**
it should have not vaneshed

**Actual behavior:**
instead it should have stayed there

**Do you have mods installed? Does issue happen when no mods are installed?:**
instead it should have stayed there

[2019-04-01 00:59] Meerkats961 commented on #11817
Version: 0.8.7 Beta

[2019-04-01 02:43] Quadbro commented on #11771
too far away probably...

[2019-04-01 04:14] beastyn commented on #11724
Still no cut scene in 0.8.1.0 staging-7 regardless it was meged.

[2019-04-01 04:19] SplattedRabbit commented on #11822
Sorry, was a bit ranty yesterday.

Mousemovement through the Menus and while holding tab is no problem at all but doesn't help with the problem.
I reinstalled the game a few times, also with the last 4 earlier builds and a last 0.7.x.x. build but nothing seemed to help.

Screenshot will come later.

[2019-04-01 07:54] mirasrael commented on #11791
@beastyn can you try to reproduce this issue together with @SlayksWood ?

[2019-04-01 07:57] mirasrael commented on #11813
@Infinaty1, thanks for report!
Few questions:
1. Which Eco Version?
2. How do you exactly pick up this item? Drag to carried slot or other method?

[2019-04-01 08:03] mirasrael commented on #11813
Tried both staging and release versions. Wasn't able to reproduce. Can you provide more detailed steps? Video would be ideal.

[2019-04-01 08:07] D3nnis3n opened #11824 "[Steam Review] Can't move camera, while writing bug report keys do ingame actions"
From this review: https://steamcommunity.com/id/splattedrabbit/recommended/382310/

Hoping to get more information by the player but tracking anyway.

[2019-04-01 08:08] D3nnis3n commented on #11823
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11487

[2019-04-01 08:08] #11823 closed

[2019-04-01 08:10] D3nnis3n commented on #11822
Are you affe_mit_waffe from the steam reviews? I created another issue for that here: https://github.com/StrangeLoopGames/EcoIssues/issues/11824

If you are, please tell me, so that i can close that issue.

[2019-04-01 08:14] D3nnis3n commented on #11816
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9427

[2019-04-01 08:14] #11816 closed

[2019-04-01 08:17] D3nnis3n commented on #11813
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11666, which is fixed in 8.1.

[2019-04-01 08:17] #11813 closed

[2019-04-01 08:19] D3nnis3n commented on #11599
Does this issue still occur?

[2019-04-01 08:23] SplattedRabbit commented on #11822
Yep, this is me :)

[2019-04-01 08:23] D3nnis3n commented on #11799
Works correctly in staging-7.

[2019-04-01 08:23] #11799 closed

[2019-04-01 08:30] mirasrael commented on #11671
@thereporter42 you archive is broken. Try to re-upload it.

[2019-04-01 08:32] faiith commented on #11791
Meanwhile i think the FPS-Drops are just a sideeffect of the issue, i believe it's more network related or something like that. Using the carts (in most case near other players, sometimes if you're alone in the area too) seems to produce lagspikes on the server (that's why most clients online are affected somehow)

[2019-04-01 09:14] D3nnis3n commented on #11798
I've just gone through the world objects again in staging-7 and the issue didnt reoccur. The starter tent showed this behaviour (i actually pressed e on the new bed inside), but only on the first time opening. On the second time it closed the menu as expected. I attached my log (do no longer have the old one), but if there is nothing to see in there, feel free to close the issue. (I'd still like t

[2019-04-01 09:14] #11824 closed

[2019-04-01 09:15] D3nnis3n commented on #11822
Also attach your system specs, please.

[2019-04-01 09:22] Deantwo opened #11825 "Title Chat Commands"
Just learned that three chat commands exist to manage titles.
- `/titleset`
- `/titlelist`
- `/titleassign`

They do not appear to work correctly, but using the Registrar table works fine.

I am guessing these are actually developer test commands that aren't meant to be used by players? Since they weren't mentioned in any patch notes or anything.

[2019-04-01 09:36] Arend90 opened #11826 "Made a Discord for Server ads as owner and get banned"
Made a Discord account to post Server ads and get banned in 5 min....

[2019-04-01 09:47] mirasrael commented on #11671
@Moor718 thanks for your save! It helped to identify a problem and to fix it. Fix should be in 8.1 version (I was able to migrate your save with the fix). I fixed the original problem (posted in issue description). Another log with spam of `partial identifier` seems to be a problem with the installation, should be fixed by reinstall.

[2019-04-01 09:47] mirasrael commented on #11671
@thereporter42 no more need your save.

[2019-04-01 09:55] mirasrael commented on #11791
@faiith Do you have big number of stockpiles or another containers around?

[2019-04-01 09:55] Arend90 commented on #11826
Pam:
Rge server-ads rules are pinned in the channel and the ads may only be posted by the server owner .  Our knowledges is that Arenbds is teh server owner and he would need to post the ad

[2019-04-01 09:58] D3nnis3n commented on #11826
You are banned on the discord, circumventing a ban is against the rules. So you may not post ads.

[2019-04-01 09:58] #11826 closed

[2019-04-01 09:58] D3nnis3n commented on #11825
/titlelist works, the rest are commands for upcoming 9.0, afaik.

[2019-04-01 10:00] mirasrael commented on #11784
Fix backported from master.

[2019-04-01 10:00] #11784 closed

[2019-04-01 10:04] faiith commented on #11791
I don't think it's related to containers/stockpiles, it also occurs if you're quiete deep in the  nowhere. Certainly, near stockpiles or containers, there are always FPS drops, or the game feels 'lazy'. The performance problems tend to be more independent. It seems really strange, if you start with the cart, you will be stuck every second step shortly. It's like rubberbanding without being pulled

[2019-04-01 10:11] mirasrael commented on #11791
Can you please upload `output_log.txt` ?

[2019-04-01 10:16] faiith commented on #11791
Sure :)

[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3028806/output_log.txt)

And to be clearly, without using a cart there's no issue at all^^

[2019-04-01 10:42] thereporter42 commented on #11671
Wow no thanks for me and I was the one that found this bug first and Misrsreal I uploaded
it when I had time.  Wow you people are rude.

And here is my game DB anyways.

https://gofile.io/?c=tkSGml

[2019-04-01 11:55] mirasrael commented on #11671
@thereporter42 thanks for founding and reporting this bug.

[2019-04-01 12:55] mirasrael commented on #11791
@faiith Thanks for log. It helped. I think I found and fixed cause of this issue.

[2019-04-01 13:41] SlayksWood commented on #11808
Small addition: doesn't work only on the new server.

[2019-04-01 13:46] mirasrael commented on #11808
1. Does it starts working after server restart?
2. Do you have some issue on last release (0.8.0.7)?

[2019-04-01 14:26] mirasrael commented on #11808
Additional info. This issue happens to **every new user** until server restart.

[2019-04-01 15:07] mirasrael commented on #11800
@beastyn Seems your issue not about talent selector, but about switching between specs. You can't switch between specs even without touching talent popup. This issue actually fixed as part of this https://github.com/StrangeLoopGames/Eco/pull/4180

[2019-04-01 16:11] SlayksWood opened #11827 "[0.8.1.0 staging-7] Crane's block selection window is reversed"
When you hold the hammer your block selection window looks like this (while scrolling up is up, down is down):
![image](https://user-images.githubusercontent.com/45708377/55342495-978c2700-54b1-11e9-872c-1b73cf2fd2c4.png)
When you are sitting on the crane your block selection window looks like this (while scrolling up is down, down is up):
![image](https://user-images.githubusercontent.com/4570837

[2019-04-01 17:07] Moor718 commented on #11671
Hey,
I just checked it with the same file as I provided with the newest version. As you can see, I get the same error as before. Can you please check if that bug still exists?
![image](https://user-images.githubusercontent.com/40657425/55345769-07e67880-54b1-11e9-9221-d3172b0e90a7.png)

Best regards

[2019-04-01 17:08] #11244 closed

[2019-04-01 17:09] mirasrael commented on #11671
@Moor718 fix not yet deployed to Steam. You should expect it in 8.1-beta-8.

[2019-04-01 17:13] #11667 closed

[2019-04-01 17:13] #11724 closed

[2019-04-01 17:13] #11808 closed

[2019-04-01 17:13] #11500 closed

[2019-04-01 17:13] #11781 closed

[2019-04-01 17:13] #11791 closed

[2019-04-01 17:13] #11812 closed

[2019-04-01 17:13] #11276 closed

[2019-04-01 17:13] #11671 closed

[2019-04-01 17:13] #11771 closed

[2019-04-01 17:13] #11797 closed

[2019-04-01 17:13] #11811 closed

[2019-04-01 17:13] #11785 closed

[2019-04-01 17:13] #11800 closed

[2019-04-01 17:20] johnkslg commented on #11820
Check password on strangeloopgames site

[2019-04-01 17:20] #11820 closed

[2019-04-01 17:20] johnkslg commented on #11819
@dmanning6522 Can you attach your game.eco file so we can take a look?

[2019-04-01 17:22] johnkslg commented on #11814
Related to sparkle PR?  Or Art bug?

[2019-04-01 17:23] johnkslg commented on #11805
Will work in 9.0

[2019-04-01 17:24] johnkslg commented on #11804
Why did you mark this low? Would break whole law system

[2019-04-01 17:28] SlayksWood commented on #10102
0.8.1.0 staging-7.
Real-time passed:
It should be:                            It really is:
10 minutes                              10 minutes
25 minutes                              25 minutes
50 minutes                              50 minutes
1 hours 25 minutes                 1 hours 25 minutes
When the time becomes 1 hour 30 minutes it starts to display incorrectly
It should be:

[2019-04-01 17:44] johnkslg commented on #11802
You could use @mirasrael 's new BlockContainerManager: https://github.com/StrangeLoopGames/Eco/pull/4154
I wouldn't move the vehicle automatically or place world object blocks, too much to get our of sync

[2019-04-01 17:51] SeanAtr0n commented on #11802
there would be nothing to get out of sync, it'd be a worldobject that doesn't move while parked

[2019-04-01 17:57] BlazeGuy2 commented on #11724
@beastyn Fix was merged in before new build.

[2019-04-01 18:09] zacharek opened #11828 "USER ISSUE: Terrain not loading"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
Create custom world
Go to coordinates x=0
Face side where x is decreasing( into other side of the world)

**Expected behavior:**
Loaded the terrain

**Actual behavior:**
Loading only objects like trees, grass, animals, but not the terrain

**Do you have mods installed? Does issue happen when no mods are installed?:**
Loading only objects like tree

[2019-04-01 18:11] SeanAtr0n commented on #11814
these blocks aren't truly 'solid' from an art perspective

[2019-04-01 18:11] johnkslg commented on #11772
@mike can you take a look at improving controls on vehicles for 8.2?

[2019-04-01 18:16] SeanAtr0n commented on #11795
a bug we can't reproduce isn't critical priority

[2019-04-01 18:20] SeanAtr0n commented on #11795
if this happens again the log file might be useful `%APPDATA%\..\LocalLow\Strange Loop Games\ECO`

[2019-04-01 18:42] SeanAtr0n commented on #11798
sounds like it's working as expected, escape doesn't close the map because some people like to keep it open while walking around

[2019-04-01 18:42] #11798 closed

[2019-04-01 19:06] keegan-o commented on #11806
Fixed in master and staging.

[2019-04-01 19:06] #11806 closed

[2019-04-01 19:35] johnkslg opened #11829 "Animal flee should look good"
Work with Milenko and Lach to make animal's 'getup and flee' look great.

[2019-04-01 21:23] keegan-o commented on #11105
![image](https://user-images.githubusercontent.com/14983165/55360513-6f88cd80-5489-11e9-8055-a41fb4beb9c0.png)
Made it more explicit which is which with arrows.

![image](https://user-images.githubusercontent.com/14983165/55360572-a65ee380-5489-11e9-8f6a-546fad8f1692.png)

Fixed in master.

[2019-04-01 21:23] #11105 closed

[2019-04-01 21:50] redwyre commented on #11804
The law is there, you just don't get redirected to it properly, you can just click it on the left.

[2019-04-01 21:53] redwyre commented on #11828
Can you upload the output log after this happens?
https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file

[2019-04-01 22:21] #9429 closed

[2019-04-01 22:28] rainfarmer commented on #11804
Sometimes it redirects before the server api can create the new law.
Needs to wait for confirmation from server api for new law, might need to add that to the api

[2019-04-01 23:26] BlazeGuy2 opened #11830 "Release notes generator doesn't like bug issue number in PR titles"
Caused the tool to crash in the past, needs to be fixed for the automated pipeline.

[2019-04-02 01:13] metachronism commented on #11664
Dennis is CPU limited in his posting.  You are always either GPU or CPU limited.  Its easiest to tell based on GPU since its generally just one load, it GPU is not maxed (100% usage) then you are CPU limited.

Unity does not use all CPUs on any given machine

[2019-04-02 01:17] D3nnis3n commented on #11664
I shouldn't be CPU limited, though. Hardware is powerful enough to support
any other game with way better results. Eco should at least perform
similar. Cannot Tell me Eco is so special, it doesnt work on a Ryzen, but
gets beaten by an older and weaker intel. Considering there are similar
issues with intel Hardware, too, i can't give into that.

Eric Anderson <notifications@github.com> schrieb am D

[2019-04-02 03:30] SeanAtr0n opened #11831 "Need scroll shader"
I'll add a scroll shader... preferably in a way that doesn't increase curved/standard variations

[2019-04-02 05:17] mirasrael commented on #11767
Reopened because Eric reverted the fix. Reassigned because he seems to have a better idea how to fix this.

[2019-04-02 05:20] Quadbro commented on #11705
Probably can be fixed with latest mirasrael changes, can't reproduce it either...

[2019-04-02 05:20] #11705 closed

[2019-04-02 05:27] #11743 closed

[2019-04-02 06:05] mirasrael commented on #11810
This issue isn't related to view sync. Actually it isn't even regression, it doesn't work in 8.0.7 (before any view sync changes).

[2019-04-02 06:10] Deantwo commented on #11805
Yeah would definitely be nice if we could see all past laws.
Always hated that all the comments on a law becomes unreadable once the law is refused. Hard to make a better law if you can't see what people disagreed with.

By the way, would be nice if we could comment on laws even after they were passed or repealed and such. But that might be confusing.

[2019-04-02 06:53] Quadbro commented on #11728
Found problem GarbageManager.Obj.Tick(); returns too large walue between ticks.... and if there is fresh start (no garbage) it returns enourmous time between garbage ticks...

[2019-04-02 07:54] Sobaton opened #11832 "Laws: Place where item is Skid Steer or Truck or Excavator"
making Laws like
![grafik](https://user-images.githubusercontent.com/48158779/55385016-7f0d2280-552c-11e9-9486-9210de02f834.png)
you cant pick as Item "Skid Steer", "Excavator" or "Truck" (all from skill Industry) for the laws
---
Version: 0.8.0.7 and 0.8.1.0 #0c12c40e

Steps to Reproduce:
1.) Try to make a Law whit "item is"

Expected behavior:
dropdown menue whit "Skid Steer", "Excavator", "Truc

[2019-04-02 08:08] mirasrael commented on #11728
Seems nextTickTime evaluation should be moved out of `if`

[2019-04-02 08:13] mirasrael commented on #11671
@Moor718 8.1-beta-8 released to steam (as bleeding_edge). Can you confirm your world is working now?

[2019-04-02 08:34] SlayksWood opened #11833 "[0.8.1.0 staging-8] Incorrect in mining while work low level pickaxe"
1. To break a stone above the level of a pickaxe, you need to hit the required number of times in a row on one stone.
For example, take basalt:
To break the basalt, I need to hit a stone pickaxe 6 times. If I hit a stone pickaxe 5 times and then hit a nearby stone 1 time, then in order to destroy the first stone I need to hit it again 6 times.
If I hit a stone 5 times, and then I would do another

[2019-04-02 08:58] Quadbro commented on #11751
Failed to reproduce this issue by building different houses on different properties and by doing that on non-english locale too, can you provide a world-save?) (on some hosting like google drive, or any you want)

[2019-04-02 09:12] faiith opened #11834 "[0.8.1.0 staging-8] Create new Contract, Name of Deposits not showing"
Version: [0.8.1.0 staging-8]
Mods: None
Localisation: German

If i'm creating a new contract, and want to choose a deposit, the names of the deposits are not shown in the list:

![382310_20190402111024_1](https://user-images.githubusercontent.com/40213281/55390784-38252a00-5538-11e9-9304-3bca170a4b2b.png)

[2019-04-02 09:12] Sobaton commented on #11833
same in 8.0.7

[2019-04-02 09:31] SlayksWood opened #11835 "[0.8.1.0 staging-8] Maximum range to gain experience hunter and damage from the bow"
You can shoot from a bow far enough. But for causing damage and accordingly receiving for this experience the distance is not so big.
Here is the approximate distance from which damage is done.
![image](https://user-images.githubusercontent.com/45708377/55391273-b76b2b80-5541-11e9-9c17-eb862b23e9ac.png)

If I shoot farther than this distance and hit an animal (when I hit it, this can be seen from

[2019-04-02 10:21] goobie opened #11836 "Electric water pump runs when there is no demand"
The electric water pump is always on regardless of demand. It will drain a steam engine of fuel when nothing is being crafted in a Blast furnace etc.

Not sure if this intended behaviour however machines and the waste filter only output waste when there is demand.

[2019-04-02 10:21] zacharek commented on #11828
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3033452/output_log.txt)

[2019-04-02 10:55] SlayksWood commented on #11817
0.8.1.0 staging-8 same

[2019-04-02 11:13] SlayksWood opened #11837 "Crazy dancing excavator"
I can't repeat it.
Before this happened, I was digging a hole. The excavator began to roll down into the hole. I got out to put dirt under the wheels. As soon as I got out he started spinning.
https://drive.google.com/file/d/1CVpjSnQWVB-JCpVm7yTEyoq9HESD5UXf/view?usp=sharing

[2019-04-02 12:50] SlayksWood commented on #11681
0.8.1.0 staging-8:
When fuel runs out in the Blast Furnace, it stops working, but the waste water continues to flow. If you cancel the craft, nothing will change. The only way to stop: add fuel and put the craft, the craft must stop itself.
![image](https://user-images.githubusercontent.com/45708377/55403297-31111280-555e-11e9-8832-419e4c09123c.png)

![image](https://user-images.githubusercontent.

[2019-04-02 13:06] SlayksWood opened #11838 "[0.8.1.0 staging-8] Pipes want to connect from the wrong side."
If in the place where the pipe is connected to the object to bring the pipe to the other side, then the pipe will want to connect to the object from the other side.
The water supply from the wrong side will not work. But I suppose that it simply rests against the block, and therefore the exit of the pipe closes.
![image](https://user-images.githubusercontent.com/45708377/55404142-f60fde80-555f-11e

[2019-04-02 13:33] SlayksWood opened #11839 "[0.8.1.0 staging-8] Empty tab "Pump" in Electric/Mechanical Water Pumps"
Electric Water Pump Menu differ from Mechanical Water Pump Menu (Pump and Pipes).
![image](https://user-images.githubusercontent.com/45708377/55406174-3e310000-5564-11e9-8acd-edcd51022819.png)
![image](https://user-images.githubusercontent.com/45708377/55406222-5b65ce80-5564-11e9-86be-bd91556f80ea.png)

[2019-04-02 13:33] Frederikam commented on #11818
It's not my server, but I'll try to get a hold of the save.

I don't think the server has restarted recently.

I also noticed that one of my trash piles is permanently stuck at 100% decomposition.

[2019-04-02 14:53] mirasrael commented on #11834
Hi @faiith I was able to reproduce issue with blank icons (fixed), but didn't get any problem with text. Can you attach output_log.txt please?

[2019-04-02 15:25] skylaralexander585 opened #11840 "USER ISSUE: cant log in"
**Version:** 0.8.0.5 beta

**Steps to Reproduce:**
wont let me log in, and i have double checked my password multiple times i know its correct

**Expected behavior:**
to be logged in

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2019-04-02 15:25] faiith commented on #11834
Requested log:
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3034680/output_log.txt)

:)

[2019-04-02 15:42] skylaralexander585 commented on #11840
no mods are installed

[2019-04-02 16:48] #10804 closed

[2019-04-02 16:48] #4269 closed

[2019-04-02 17:07] #11830 closed

[2019-04-02 17:16] johnkslg commented on #11795
Reproducibilty doesnt affect priority.    This will break the game for people and is critical.
@seccombew work with Sean to find a repro case?

[2019-04-02 17:18] #11782 closed

[2019-04-02 17:24] johnkslg commented on #11840
Steam is having trouble, you can download the game from our site in the meantime strangeloopgames.com

@mirasrael can you investigate giving error messages that place blame on steam when thats the case? This has happened a few times

[2019-04-02 17:25] johnkslg commented on #11839
breaks pipes, something wrong with the electric one's config.  @SlayksWood good find

[2019-04-02 17:26] #11796 closed

[2019-04-02 17:26] johnkslg commented on #11838
Cosmetic, but yes should be fixed.

[2019-04-02 17:26] redwyre commented on #11822
Are you able to attach your log as well?
https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file

After you submit the log file, you can also try going into %LOCALAPPDATA%Low/Strange Loop Games and renaming the Eco folder (to something like Ecox) and running Eco again and see if it's still happening. If that fixes it please zip up that folder and email it to simon@strangel

[2019-04-02 17:27] johnkslg commented on #11837
Related to #2852

[2019-04-02 17:27] johnkslg commented on #11836
This happens when the flow is insufficient, otherwise you get an on/off scenario. Is that what youre seeing?

[2019-04-02 17:28] johnkslg commented on #11834
Fixed!

[2019-04-02 17:28] #11834 closed

[2019-04-02 17:29] johnkslg commented on #11833
Could stand to be polished as described

[2019-04-02 17:29] redwyre commented on #11693
Hi @Ripley2208 , can upi try going into "%LOCALAPPDATA%Low/Strange Loop Games" and renaming the Eco folder (to something like Ecox) and running Eco again and see if it's still happening. If that fixes it for you can you please zip up that folder and email it to simon@strangeloopgames.com (it can contain personal information so better to not post it here)

[2019-04-02 17:30] johnkslg commented on #11831
👍

[2019-04-02 17:30] johnkslg commented on #11828
This happens when the world is small. What size is your world?

[2019-04-02 17:30] johnkslg commented on #11828
@metachronism lets extend support for smaller worlds, probably is easy

[2019-04-02 18:21] espoire opened #11841 "Server: rare crash while no players online."
Server crashed overnight after multiple weeks of uptime, while either no players were playing, or possibly right at the time when a player attempted to connect. The chat log suggests the former, that this occurred when no players were playing. The most recent chat message was a block of identical periodic law messages:

_Notifications: UserNameREDACTED's property was unclaimed, by law Eminent Doma

[2019-04-02 18:38] seccombew commented on #11795
Moving to milestone 8.2, will be attempting to reproduce.

[2019-04-02 18:58] espoire commented on #11841
Update: upon returning to the game, the elevator is misbehaving. The elevator car has somehow ended up in a VERY wrong location. The image below are the two elevator cables running diagonally through walls.

![image](https://user-images.githubusercontent.com/16272456/55428705-5185a080-554f-11e9-9dc2-664e4e3ad2a4.png)

[2019-04-02 19:04] espoire commented on #11841
![image](https://user-images.githubusercontent.com/16272456/55428939-da044100-554f-11e9-9623-75706a5ccbfa.png)

![image](https://user-images.githubusercontent.com/16272456/55428950-de305e80-554f-11e9-81d6-663f57ce8bf5.png)

![image](https://user-images.githubusercontent.com/16272456/55429007-facc9680-554f-11e9-96ca-2615e1f41e65.png)

[2019-04-02 19:14] redwyre opened #11842 "World objects can be spawned outside of the worlds wrapped coordinates (maybe just in testing)"
When you try to go to it on the minimap, it just spins continuously

![image](https://user-images.githubusercontent.com/431728/55429326-8a188f00-55ce-11e9-81c5-efc04207b483.png)

[2019-04-02 19:37] metachronism commented on #11767
This is intended behavior.  John has brightness setting way up causing blown out lighting.  Keegan can tweak lighting further if he prefers it another way, but dropping it to .05 makes it basically invisible

[2019-04-02 21:06] johnkslg commented on #11767
I dont think I had brightness turned up that high, but will check when I get back to my machine.
In any case, the game should never look like that under user-creatable circumstances.

[2019-04-02 21:10] SeanAtr0n opened #11843 "Mounted player positions out of sync"
![image](https://user-images.githubusercontent.com/774628/55436366-f359bd00-5550-11e9-8abf-4531d5c26930.png)

[2019-04-02 21:14] johnkslg opened #11844 "Staging build has to 'convert build to new format'"
![image](https://user-images.githubusercontent.com/3536496/55436588-927eb480-5551-11e9-8dc8-082afc05b925.png)

[2019-04-02 21:14] johnkslg commented on #11844
The build process should create a map

[2019-04-02 21:16] johnkslg opened #11845 "Title screen went crazy during loading of world"
![image](https://user-images.githubusercontent.com/3536496/55436684-d1146f00-5551-11e9-8842-e0d74e3bbdfe.png)
This was when hosting a new world in the staging build.

[2019-04-02 21:18] johnkslg commented on #11845
The lighting flipped to come from below.  Probably related to spawning in of lights?

[2019-04-02 21:33] craig-jong commented on #11839
I don't know what to say, but this is not reproducible for me.

![image](https://user-images.githubusercontent.com/18184943/55437613-2cdff780-5554-11e9-86ee-c1354d7b9831.png)

I'll take another look once the new staging build is out.

[2019-04-03 00:10] SeanAtr0n commented on #9289
think this was probably resolved w/ the fix to vehicle positions that didn't always update. please reopen if you can make it happen again (and send any relevant log files)

[2019-04-03 00:10] #9289 closed

[2019-04-03 01:49] #11815 closed

[2019-04-03 05:01] espoire commented on #11841
I have concluded that the elevator nonsense and the server crash are likely unrelated problems. I believe the elevator nonsense is due to physics calculations disagreeing across multiple clients.

[2019-04-03 05:24] mirasrael commented on #11767
For me it doesn't seems like "invisible", but may be it just me
![image](https://user-images.githubusercontent.com/475445/55454778-c86f7780-55e9-11e9-86d6-d47ba1bf3854.png)

[2019-04-03 06:58] SlayksWood opened #11846 "[0.8.1.0-release-preview] Holey pipes"
When there is an object nearby, the pipe begins to "flow". Visually, it is displayed that is connected, but in fact the water goes in a straight line.
![image](https://user-images.githubusercontent.com/45708377/55457830-d3c7a080-55f3-11e9-9904-40a3d3e8d18d.png)

That works well:
![image](https://user-images.githubusercontent.com/45708377/55458125-bf37d800-55f4-11e9-9b73-c844b32f532d.png)

If I put

[2019-04-03 08:52] beastyn opened #11847 "[0.8.1.0-release-preview] Wrong count for add blocks contract"
[0.8.1.0-release-preview]
no mods

When closing contract for adding blocks, deed`s suface doesn`t count blocks on blocks, just ones on the ground.

**Steps to reproduce**
1. Take contract type "Add/Remove Block"
2. Place 1 needed block
3. Check for count. It should count 1.
4. Place second block upon the first one
5. Check the count.

**Expected result**
When place block on block it counts as two

[2019-04-03 08:57] SlayksWood opened #11848 "[0.8.1.0-release-preview] Incorrect water flow at Water Pump"
When you use one water pump and one blast furnace, then a 0.3 liter per second flow comes from the water pump. When you connect 2 blast furnaces to one water pump, the flow is 0.6 l/s; 3 ovens - 0.9 l/s. The fourth blast furnace will not work as the maximum flow is 1 l/s (by the way, this is not indicated anywhere). Therefore the blast furnace for work consumes 0.3 l/s.
The most interesting thing

[2019-04-03 09:42] beastyn commented on #11847
Duplicate of #11204

[2019-04-03 09:42] beastyn commented on #11204
Looks like I foung it again in 8.1 preview release.

[2019-04-03 09:43] #11847 closed

[2019-04-03 10:27] mirasrael commented on #11840
@skylaralexander585 did you login with Steam or with SLG login?

[2019-04-03 10:29] faiith commented on #11751
Requested World-Save: https://drive.google.com/file/d/1eINCuk4TX8LYVN8MKxxm_WfSWiL0li5A/view?usp=sharing

Meanwhile we have several players on the server having this issue

[2019-04-03 10:37] Quadbro commented on #11751
@faiith Thanks

[2019-04-03 10:50] SlayksWood opened #11849 "[0.8.1.0-release-preview] Crash during server startup"
Fastforward has been enabled on the server. I decided to reconnect to the server. When the world was load, I was disconnected from the server. A little later, I realized that he just broke. When I started to restart the server such an error appeared.

![image](https://user-images.githubusercontent.com/45708377/55472992-2023d800-5616-11e9-9c33-c339d8f92354.png)

[2019-04-03 10:56] faiith commented on #11751
In the meantime, we had started a new world to exclude various bugs. At first the tooltip worked perfectly, but not anymore. I currently only have 1 building with the declared room generating points, but the problem still occurs. Even with my teammate, the problem occurs, even though she has only 1 house. Maybe several rooms marked as "common" cause the problem (above link of worldsave is from new

[2019-04-03 11:56] gregoryl09 opened #11850 "USER ISSUE: Invalid Login Info"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
1.) Kicked for Login Token Changed.
2.) Attempt to login

**Expected behavior:**
It should have asked for a server password and logged in or not have kicked me to begin with.

**Actual behavior:**
The password box never appears and a message pops up stating invalid login info.

**Do you have mods installed? Does issue happen when no mods are insta

[2019-04-03 12:26] SlayksWood opened #11851 "[0.8.1.0-release-preview] Elevator broken."
1.I get on the elevator platform. I push the button down. The elevator starts to go down. I'm staying on top.
![image](https://user-images.githubusercontent.com/45708377/55478418-5ff1bc00-5624-11e9-8058-bfeff9e68116.png)
I can't fall into the hole (only if I dig under the side). And I run on an invisible platform.
In 0.8.1.0 staging-7 it works.

2. Incorrect display of the elevator for different u

[2019-04-03 12:35] beastyn commented on #11757
I just tested this one on 0.8.1.0-release-review and wasn`t able to close contract without deliver. I will close it for now.

[2019-04-03 13:30] beastyn opened #11852 "[0.8.1.0-release-preview] Can`t change currency for contract"
[0.8.1.0-release-preview]
no mod

After creating a contract an opening again you see that currency is always global.

**Steps**
1. Create new contract with payment clause.
2. Set currency to something different from global
3. Close contract
4. Open created contract

**Expected result**
Currency should stay as it was installed

**Actual resul**
Currency became global

![bandicam 2019-04-03 18-20-48

[2019-04-03 13:51] beastyn opened #11853 "[0.8.1.0-release-preview] No marker on deposit with in-game helper in Harvest Contract"
[0.8.1.0-release-preview]

After taking harvestin contract you can see a harvest marker (with in-game counter), but ehre is no marker for a deposit stockpile.

**Steps**
1.Take harvesting contract
2. Look at markers that should appear

**Expected result**
You can see markers for harvest place and deposit place with in-game object counter.

**Actual result**
You can see harvesting place but you can

[2019-04-03 14:13] Ripley2208 commented on #11693
HI,
Nothing works, I move the same way as before.

[2019-04-03 14:14] redwyre commented on #11852
@Quadbro I believe you wished to be notified of issues like theses

@beastyn Can you confirm if the contract has changed or if it's just an issue with the UI displaying the wrong value?

[2019-04-03 14:16] redwyre commented on #11693
Hmm.. can you zip up and send that folder to me anyway?

[2019-04-03 15:02] SlayksWood commented on #11733
[0.8.1.0-preview-release]
Put Gasoline in a Truck -> Goes to Fuel
Put Gasoline in an Exacavator -> Goes to Fuel
**Put Coal into Steam Tractor -> Goes to storage**
Put Coal into Steam Truck -> Goes to Fuel

[2019-04-03 15:17] beastyn commented on #11852
@redwyre I suppose it was changed, because after complitig payment was made in wrong currency, not that I implement in creation window but in global.

[2019-04-03 16:30] Vantropix opened #11854 "USER ISSUE: There us no UI on boot"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
start game
load world
have no ui
be scared

**Expected behavior:**
there would be a hotkey for it

**Actual behavior:**
it's just gone with no way to fix it

**Do you have mods installed? Does issue happen when no mods are installed?:**
i have no mods at all

[2019-04-03 17:01] #11810 closed

[2019-04-03 17:01] #11835 closed

[2019-04-03 17:15] #11804 closed

[2019-04-03 17:30] johnkslg commented on #11850
Steam was failing yesterday, should be better now

[2019-04-03 17:30] #11850 closed

[2019-04-03 17:32] johnkslg commented on #11846
Something weird with 'open end' detection

[2019-04-03 17:33] johnkslg commented on #11840
This was a problem with steam failing for a lot of users the other day, was almost certainly steam

[2019-04-03 17:37] SeanAtr0n commented on #11851
duplicate https://github.com/StrangeLoopGames/EcoIssues/issues/11551

[2019-04-03 18:11] faiith opened #11855 "[0.8.1.0 staging-8] Display-Bug Brick-Floor"
I've a weird display-bug, using brick-floors next to full blocks (regardless which material used)

![382310_20190403200930_1](https://user-images.githubusercontent.com/40213281/55502342-a5c27a80-564c-11e9-8fe0-593db8582ffe.png)

[2019-04-03 19:52] SlayksWood commented on #11851
It isn't a duplicate. Even if the behavior in multiplayer can be attributed to the same bug.
But the fact that I basically can't move on the elevator issue #11551 hasn't description (paragraph 1).

[2019-04-03 22:05] #11843 closed

[2019-04-03 22:13] SeanAtr0n commented on #11551
looks like this was already fixed at some point

[2019-04-03 22:13] #11551 closed

[2019-04-03 22:19] #11851 closed

[2019-04-03 22:19] D3nnis3n commented on #11757
Reproduced on release_preview, reopening.

@BlazeGuy2 Could it be the case this is caused by the spawned contract that wants me to harvest a stump which gives no resource back?

[2019-04-03 22:41] SeanAtr0n opened #11856 "Aura flickers at world borders"
Could probably wrap fog somewhere so this doesn't happen

[2019-04-03 22:41] D3nnis3n opened #11857 "[8.1.0 Release Preview] Tree saplings do not appear in pots"
Put tree saplings into the pots to get a screenshot of the bonsai trees for the changelog and found out that nothing is displayed there even after fast forwarding two days.

![bonsai](https://user-images.githubusercontent.com/25908592/55518066-ea610c80-5672-11e9-840f-a526eb8307ef.png)

[2019-04-03 22:43] D3nnis3n opened #11858 "[8.1.0 Release Preview] Level Up symbol still hinders hunting"
Got several level up messages appearing directly at my cursor, no longer being able to see animals.

[2019-04-03 23:06] BlazeGuy2 opened #11859 "Local World saves should be sorted by newest->oldest instead of oldest->newest"
Most recently opened local world saves should be appearing at the top.

[2019-04-04 01:16] D3nnis3n commented on #11853
You don't need to deposit anyway, can just check the contract completed

[2019-04-04 01:23] D3nnis3n commented on #11833
Actually duplicate of #11667

[2019-04-04 01:23] D3nnis3n commented on #11833
As well as #11668

[2019-04-04 01:23] #11833 closed

[2019-04-04 01:24] D3nnis3n commented on #11668
Fixed in master.

[2019-04-04 01:24] #11668 closed

[2019-04-04 02:43] Blanclour opened #11860 "USER ISSUE: Skid Steer Collection Bug"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
1. Try to mine sandstone (or any rock type) with skid steer.
2. Try to pick up sandstone (or any rock type) by holding down left mouse key while having the bucket in the correct position.

**Expected behavior:**
It should have collected the rubble pieces like it did in previous versions.

**Actual behavior:**
Instead it seems to be picky about whi

[2019-04-04 02:47] Blanclour commented on #11860
If i scoop the debris I create right after breaking the blocks while continuing to hold down the left mouse key it will collect the debris like it is supposed to.

[2019-04-04 04:37] beastyn commented on #11655
@SeanAtr0n
I was cheсking this one after last update. Player rotation is a bit creepy. Tractor is not moving, just player trying to look back.
![bandicam 2019-04-04 09-36-05-780](https://user-images.githubusercontent.com/27898520/55529953-494b7380-56bd-11e9-983d-a3c143adaf96.jpg)

[2019-04-04 05:19] beastyn opened #11861 "[0.8.1.0-release-preview] 3d person view tool animation tweaks"
[0.8.1.0-release-preview]
no mods

Now animation actually works, but scythe doesn`t show repeated action.

**Steps**
1. Go somewhere with bunch of grass
2. Toggle to 3d prson view
3. Take scythe and begin working

**Expected result**
Animation should be repeated. As it works in 1d person view
*Actual result*
Animation was shown just once and then grass was mowed without animation

![scythe_3d](htt

[2019-04-04 05:42] beastyn commented on #11204
My mistake, Thanks @Quadbro for explanation

It actually should work like that, When surface is checked deed will check only 1 block surface. This issue is more about why we need it and how to  make proper explanation for user.

[2019-04-04 05:42] #11204 closed

[2019-04-04 06:04] mirasrael commented on #11854
Hi @Vantropix Thanks for report. Can you provide more information?

- Screenshots
- output_log.txt from %LocalAppData%Low\Strange Loop Games\Eco

BTW, there are hot-key Alt-Z to hide and show UI (usually for nice screenshots) if you're meaning something like this.

[2019-04-04 06:22] mirasrael commented on #11840
@johnkslg "Invalid username or password." only should show for non-Steam accounts.

[2019-04-04 06:33] beastyn opened #11862 "[0.8.1.0-release-preview] No road tool animation in 3d person view"
[0.8.1.0-release-preview]
no mods

**Steps**
1. Go in 3d person view mode
2. Take road tool
3. Road it

**Expected result**
animation for road tool

**Actual result**
No actions at all. Not even for picking a tool.

![roadtool-3d](https://user-images.githubusercontent.com/27898520/55534271-5b351280-56cd-11e9-9f22-bf22b25f8a31.gif)

[2019-04-04 07:00] mirasrael commented on #11840
@skylaralexander585 there was incorrect error message in case if account temporary blocked (i.e. in result of too many invalid login attempts). I fixed error message, but if you still experiencing problems then let us know - we can investigate issue with your account.

[2019-04-04 07:14] mirasrael commented on #11841
Hi @espoire
Thanks for report!
Did you use any DNS names in your server config?
Actually this issue very hard to reproduce and identify cause so if it happen again - can you please make a server dump (Process explorer - Right click on EocServer.exe - Create dump file) and attach to this issue?

[2019-04-04 07:52] SlayksWood opened #11863 "[0.8.1.0-release-preview] First star is not displayed in the sub-skill window"
When you study a new sub-skill the star isn't display in the sub-skill window while you are not refresh this window. But it is only at first star if you learn second and the next skill, star will display.
https://drive.google.com/file/d/1s2Y1SXBitqV7ALFeycUFjnXYrWUiIqhN/view?usp=sharing

[2019-04-04 08:13] beastyn commented on #11862
The same issue is for land claim stake

[2019-04-04 10:10] mirasrael commented on #2852
First part fixed in SVN

[2019-04-04 10:13] beastyn opened #11864 "[0.8.1.0-release-preview] Can`t set authorization after reclaiming property"
[0.8.1.0-release-preview]
no mods

**Steps to reproduce**
1. Place stockpile with claiming
2. Check if you can authorize people in it
3. Unclaim it
4. Ask someone other to claim it
5. Unclaim it
6. Claim it yourself again
7. Check authorization

**Expected result**
You can choose user in authorization field
**Actual result**
Authorization field is not usable

It can be fixed with hammer collecting

[2019-04-04 11:17] Quadbro commented on #11751
![image](https://user-images.githubusercontent.com/6802030/55551838-e9c58600-5705-11e9-9717-dabfbba0576d.png)
owned all deeds on that save.... nothing that's interesting

[2019-04-04 11:36] Quadbro commented on #11853
@D3nnis3n  i can't do so, it requires to put stuf in container...

[2019-04-04 11:37] beastyn opened #11865 "[0.8.1.0-release-preview] Broken repeated contracts"
[0.8.1.0-release-preview]
no mods

You can take few copies of repeated contracts in one time, but just one can be closed

**Steps**
1. Let someone make repeated contract for put item in container
2. Take it several times
3. Put item in container
4. Close contract
5. Put one more time item in container
6. Try to close contract

**Expected result**
You won`t be able to take more that one copie of re

[2019-04-04 11:53] beastyn commented on #11853
somehow Dennis could close this contract without deposit. I can`t recreate )

[2019-04-04 12:05] faiith commented on #11751
That's weird...

Fresh screen:
![Faiith_Shiana](https://user-images.githubusercontent.com/40213281/55553806-7f025380-56e1-11e9-9be6-57c34f0f6568.jpg)

Client-Log (output_log.txt):

[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3043302/output_log.txt)

Fresh server-save: https://drive.google.com/file/d/1PIWApDV2LZ0PKmZe0-F9dZu7tN12vuGL/view?usp=sharing

I can't give your more

[2019-04-04 12:51] beastyn opened #11866 "[0.8.1.0-release-preview] Bad log with client launch"
[0.8.1.0-release-preview]
no mods

Please, look at this log, First launch in new world. And it has exceptions
(nothing bad happens in client, but still)
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3043461/output_log.txt)

[2019-04-04 13:46] mirasrael commented on #11751
@faiith Did you try on staging 8.1?

[2019-04-04 14:03] faiith commented on #11751
i did, issue occured also on different worlds (we startet all over 3 times in last 3 weeks, and issue always occured after reaching some progress in housebuilding. In the beginning on every world (and eco-version) everything worked fine

[2019-04-04 14:34] D3nnis3n commented on #11853
Tested german / Mixed lang?

Anna <notifications@github.com> schrieb am Do., 4. Apr. 2019, 13:53:

[2019-04-04 15:06] D3nnis3n commented on #11862
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/9409

[2019-04-04 15:06] #11862 closed

[2019-04-04 15:07] D3nnis3n commented on #9409
Also applies to land claim stake, still there in 8.1.

[2019-04-04 15:36] mirasrael commented on #11751
Hmm, probably one of items causing this problem? If you start house from scratch on the same world - will you have this issue?

[2019-04-04 15:42] mirasrael commented on #11751
https://github.com/StrangeLoopGames/Eco/pull/4210 highlight fix

[2019-04-04 15:42] mirasrael commented on #2852
Claw collision fixes https://github.com/StrangeLoopGames/Eco/pull/4209

[2019-04-04 15:43] mirasrael commented on #2852
https://github.com/StrangeLoopGames/Eco/pull/4210 highlight fix

[2019-04-04 16:36] dmanning6522 commented on #11819
Is this something that is stored on my personal computer? Or that is on the
server files of the server I play on?

On Mon, Apr 1, 2019 at 12:20 PM John Krajewski <notifications@github.com>
wrote:

[2019-04-04 17:09] SeanAtr0n opened #11867 "steam tractor mount needs more constraints"
![image](https://user-images.githubusercontent.com/774628/55574612-a77a5580-56c1-11e9-8c24-3856647dd349.png)
from @beastyn

[2019-04-04 17:12] #2729 closed

[2019-04-04 17:16] SeanAtr0n commented on #11655
fixed in release
made a new issue for the steam tractor, has more to do w/ IK, this bug was about network syncing other players

[2019-04-04 17:16] #11655 closed

[2019-04-04 17:20] mirasrael commented on #11860
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11654. Fixed in upcoming 8.1

[2019-04-04 17:20] #11860 closed

[2019-04-04 17:23] #9008 closed

[2019-04-04 17:33] #11741 closed

[2019-04-04 17:33] #11852 closed

[2019-04-04 17:33] #11853 closed

[2019-04-04 17:34] #11840 closed

[2019-04-04 17:37] johnkslg commented on #11865
Yes dont allow taking multiple copies of the same contracts
/testcontracts will help you here, youll need to make a simple contract with repetitions allowed. Then login with a different account and accept it.  Ask jeff for a second account if you need one

[2019-04-04 17:40] johnkslg commented on #11864
Probably something is not updating the authorization status on the server. This is done with the .Changed function which gets passed in the name of the parameters.

[2019-04-04 17:59] johnkslg commented on #11858
Should move the level up thing higher. This was done before but probably only got pushed to staging or release SVN.

[2019-04-04 19:00] SeanAtr0n opened #11868 "DeerLichen blocks placement"
In master:
![DeerLichenBug](https://user-images.githubusercontent.com/774628/55581100-e237ba00-56d0-11e9-9390-eed4bf74e5b0.gif)

Think it's because its collider's center is at or below the voxel it occupies

[2019-04-04 19:21] rainfarmer opened #11869 "Lazy load on change log page"
So we can display all the change logs over the years, in an easy scrollable one page design.
But the images are too big to load at once, so need to add lazy loading to load change log versions as you scroll down.

[2019-04-04 20:26] elfl0rd commented on #11386
Closing, i'll no more free volunteer after direct lie from @D3nnis3n

[2019-04-04 20:26] #11386 closed

[2019-04-04 20:55] TOTRanger opened #11870 "USER ISSUE: Elevator Broken"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
use the elevator

**Expected behavior:**
you should be able to ride the elevator

**Actual behavior:**
you fall trough the floor of the leevator cart

**Do you have mods installed? Does issue happen when no mods are installed?:**
you fall trough the floor of the leevator cart

[2019-04-04 20:56] SeanAtr0n opened #11871 "shadow meshes sometimes overlap real meshes at chunk borders"
this is at y=80, could probably solve it in the shader or fix the meshes

![image](https://user-images.githubusercontent.com/774628/55587826-23d06100-56e1-11e9-8da6-feb6fa2d3030.png)

[2019-04-04 20:57] SeanAtr0n commented on #11870
Any other details you can give? This doesn't happen all of the time

[2019-04-04 20:59] TOTRanger commented on #11870
wood carts can use the elevator but player's can not we just testet 3 players and 2 re logs just in case

[2019-04-04 21:10] SeanAtr0n commented on #11870
hmm, looks like the fix for this isn't in the release build

[2019-04-04 21:12] TOTRanger commented on #11870
Anything we can do to help?

[2019-04-04 21:25] TOTRanger opened #11872 "USER ISSUE: skills showen in the left bottom is buged"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
the spot down left used to show all my skills but now no mather how many i set it to in the setting's for the snamm menu it only shows 2 of my skill's. and both skill's are maxed out.

**Expected behavior:**
i used to be able to show all my skills so i could keep track of them

**Actual behavior:**
it only shows 2 skill's and not the once i want a

[2019-04-04 21:34] espoire commented on #11841
Acknowledged regarding the dump file. I'm honestly unsure if I will ever see it again, given how long it took to occur in the first place. It's likely to be very rare.

I do not know if the server is using any DNS names. I never set any, so it would be only the defaults, if any.

[2019-04-04 21:45] antimodes221 opened #11873 "Elevators do not function"
After upgrade to 8.1.0 elevators no longer appear to be able to carry players or carts.

When the elevator is in a neutral position (at the top) you cannot walk through them, its a solid block.  When you hit the call button it plays the animation for the lift going down however the floor remains solid.

If you hit the call button at the bottom the lift goes up but the floor passes through the play

[2019-04-04 21:49] ojemineh commented on #11870
happens (everytime) in 0.8.0.7 too
see video
https://youtu.be/b1rPJ0RSgmY

[2019-04-04 21:52] SeanAtr0n commented on #11870
looks like the root cause is exceptions from https://github.com/StrangeLoopGames/EcoIssues/issues/11866

a prefab was somehow modified during the build process, @BlazeGuy2 is looking into it

[2019-04-04 21:54] SeanAtr0n commented on #11866
looks like these exceptions here result in issues described in https://github.com/StrangeLoopGames/EcoIssues/issues/11870 , going to close this bug as a duplicate just because several players commented in the other

[2019-04-04 21:54] #11866 closed

[2019-04-04 21:58] TOTRanger commented on #11870
yeah its been working all day with no problems until tonight after the update

[2019-04-04 22:16] BlazeGuy2 commented on #11873
Dup of #11870

[2019-04-04 22:16] #11873 closed

[2019-04-04 22:18] metachronism commented on #11767
its only high for 2 specific hours of the day.  at .05 you get basically no fog except during those hours
you should have fog at all times of day

[2019-04-04 23:43] nurdism opened #11874 "NullReferenceException at Eco.Gameplay.Items.WorkOrder.set_UncraftedQuantity"
Can't pinpoint what is triggering it, this happened with the Beta 8.1.0 release, didnt regenerate the world, just converted existing world.

Using mono 5.14 and a few popular mods. Let me know if you need the server backup, I can provide.

[code]

[2019-04-04 23:50] #11849 closed

[2019-04-04 23:55] Aviator5811 opened #11875 "USER ISSUE: Elevator"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Placing elevator.

**Expected behavior:**
Elevator moves character.

**Actual behavior:**
Elevator moves graphically, but the hitbox remains static and acts as if you didn't move the elevator.  Started as of last update.

**Do you have mods installed? Does issue happen when no mods are installed?:**
Elevator moves graphically, but the hitbox remai

[2019-04-05 00:19] rainfarmer opened #11876 "maps on hosted worlds dashboard not working"
Usually display maps from server files like this:
http://world201.eco.hw.fra1.do-slg.com/Layers/Terrain.png

the terrain image is empty now.
This is on 8.1.0

Causes error on hosted worlds dashboard, like this:
![image](https://user-images.githubusercontent.com/7343272/55596516-c565ab80-56fd-11e9-83e3-4fa6007e16da.png)

[2019-04-05 00:22] rainfarmer commented on #11876
found it http://world201.eco.hw.fra1.do-slg.com/Layers/Terrain.gif

http://world201.eco.hw.fra1.do-slg.com/Layers/TerrainLatest.gif

[2019-04-05 00:22] #11876 closed

[2019-04-05 00:43] BlazeGuy2 opened #11877 "NullReferenceException"
**==Sent from Eco Crash Server==**
**Details:**
Message:Object reference not set to an instance of an object.
Source:Eco.Gameplay
**Stack:**
at Eco.Gameplay.Tutorial.UserSubTaskInsertItems.CheckComplete(String name, Int32 count)
   at Eco.Gameplay.Items.Inventory.SuccessMoveWrapper(User user, Inventory source, Inventory target, Item item, Int32 quantity)
   at Eco.Gameplay.Items.Inventory.MoveItem

[2019-04-05 01:29] NiveusT opened #11878 "Butchery Table Bug/Issue"
After today's update, it seems like the butchery table is having some issues for my game.

Normally, with level 7 butchery, you have one carcass, and you can put 5x the materials in the butchery table quantity that you craft, and you'd get 5x1 carcass in resources. I put a 5 carcass job up, and it says I'm missing carcasses, takes my carcass, and gives me barely any of the resources that I've aske

[2019-04-05 02:36] redwyre opened #11879 "Sweeping hands no longer works if you try to pick up a piece that needs to be hit again"

[2019-04-05 02:36] redwyre opened #11880 "Hitting a block that needs multiple hits doesn't give any feedback (no sound)"

[2019-04-05 02:52] redwyre commented on #11523
![image](https://user-images.githubusercontent.com/431728/55600940-a6205a00-57a1-11e9-9327-2e7c1d7d208f.png)

[2019-04-05 03:07] Quadbro commented on #11772
@johnkslg sure)

[2019-04-05 05:39] mirasrael commented on #11879
I think it should be intended behavior. You should collect blocks in *addition* to collected, but you can't collect non-broken block.

[2019-04-05 06:05] mirasrael commented on #11841
@espoire Yes, I understand. Unfortunately without enough information we can't identify and fix this :(

Do you still have an issue with elevator? If no how then did it fixed?

[2019-04-05 06:08] mirasrael commented on #11818
@Frederikam do you have this issue on 8.1?

[2019-04-05 06:53] SlayksWood commented on #11875
Dup of #11870

[2019-04-05 06:53] #11875 closed

[2019-04-05 07:06] Quadbro opened #11881 "Vehicle UI"
Originaly posted here https://github.com/StrangeLoopGames/EcoIssues/issues/11772
Just separated that part of issue.

The vehicle control UI is confusing:
![image](https://user-images.githubusercontent.com/3536496/55103455-afb11000-5085-11e9-878f-659eba70471d.png)

Change this to instead have two options on excavator, Dig and Drive, and you have a radio button to choose between the two. Dont use th

[2019-04-05 07:28] D3nnis3n commented on #9989
As we now have a dedicated QA team that can work together, i'm dropping priority to Medium and propose push.

[2019-04-05 07:47] joamla96 opened #11882 "LiteDB Exceptions very vauge"
Hi

My server had started to spew out two Errors:

It started after my server had physically crashed. It does not seem to have any adverse effects on the server, so far it's run 48h with the errors, so thankfully nothing fatal, just rather annoying to see in the console.

I'm looking through the database file right now, trying to find the keys it's having issues with, but if i had some more inform

[2019-04-05 08:05] D3nnis3n commented on #10997
Already fixed.

[2019-04-05 08:05] #10997 closed

[2019-04-05 08:05] Frederikam commented on #11818
@mirasrael I have no way of reproducing it.

[2019-04-05 08:10] D3nnis3n commented on #11291
Actually, from experience - the car is neither used nor would be used in the state it is, no matter what we do. Driving it is just a pain, it's too big, too slow, has too high curving radius. Should just be removed, replacing it with the truck was the right thing to do.

[2019-04-05 09:42] SlayksWood commented on #11870
If I use new preview-release client it works.

[2019-04-05 10:02] SlayksWood commented on #11878
I did not quite understand what was meant.
But I started checking and found that talent at level 6 doesn't work.

7 lvl butchery without talent Lavish Workspace: Butchery
![image](https://user-images.githubusercontent.com/45708377/55619953-6b6af180-57a2-11e9-8b97-fcc38a65c972.png)
If I take talent Lavish Workspace: Butchery I can't do anymore
![image](https://user-images.githubusercontent.com/4570

[2019-04-05 10:07] SlayksWood commented on #11878
also talent don't add average toom tier by 0,2

[2019-04-05 10:48] D3nnis3n commented on #10430
Tree stumps now give wood pulp.

[2019-04-05 10:48] #10430 closed

[2019-04-05 10:56] ClayC90 opened #11883 "[8.1.0] Elevator issue"
When moving the elevator the mesh is not moving with it.

Say if you press the down button, the model goes down as expected, but you will remain in place (in air) as the mesh is not moving.

[2019-04-05 10:59] SlayksWood opened #11884 "[0.8.1.0] truck/steam truck has sound trouble."
When you sit in the passenger seat there is no engine sound. Also sound is intermittent at max speed.
https://drive.google.com/file/d/1L8syGhhXrxz5JGQiHzEskd-VE0GZZ3Wv/view?usp=sharing

[2019-04-05 10:59] D3nnis3n commented on #11883
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11870, all having the same cause.

[2019-04-05 10:59] #11883 closed

[2019-04-05 11:23] SlayksWood opened #11885 "[0.8.1.0] Chainsaw has sound trouble."
1. Sometimes when using a chainsaw she lost sound.
https://drive.google.com/file/d/1EdF3QFIbqWemA0HeCd5WV7nArDV02brE/view?usp=sharing

2. Players don't hear the sound of someone else's chainsaw.
3. From #10206 : "Please make chainsaw sound quieter. 1\2 for me."

[2019-04-05 11:23] SlayksWood commented on #10206
add to #11885

[2019-04-05 11:23] #10206 closed

[2019-04-05 11:44] beastyn opened #11886 "[0.8.1] Vehicles can`t move in a case"
[0.8.1]
no mods

Exca won`t move if fuel was put in storage first.

**Steps to reproduce**
1. Put fuel in excavator's storage
2. Drive
3. Drag and drop fuel from storage to fule supply
4. Try to move

**Expected result**
Excavator shoul move

**Actual result**
You can work with hand, but you can`t move excavator.

Everything will be fine after reuse excavator.

![bandicam 2019-04-05 16-28-02-510](

[2019-04-05 11:47] mirasrael commented on #10685
Tested with test account @rainfarmer provided me in PM and it worked fine.

[2019-04-05 11:47] #10685 closed

[2019-04-05 11:48] mirasrael commented on #11715
@rainfarmer can you check on 8.1 and close if it fixed

[2019-04-05 11:49] #11728 closed

[2019-04-05 11:52] mirasrael commented on #11045
Pushed to 9.0 because really hard to reproduce (you should crash server) and it requires complete refactoring of existing save system.

[2019-04-05 11:57] SlayksWood opened #11887 "[0.8.1.0] Elk and Bison Mount should take up more space."
I think bison mount shold be 2x2x1. Now it takes 2x1x1
![image](https://user-images.githubusercontent.com/45708377/55625515-b6403580-57b1-11e9-8a66-008b9462892f.png)
It is much harder with elk mount. Now it takes 3x1x1. But actually the Elk Mount takes 3x3x2. But size (3x3x2)(may be 3x3x1) it's very much for this
![image](https://user-images.githubusercontent.com/45708377/55625847-99583200-57b2-11

[2019-04-05 12:04] mirasrael commented on #9499
Seems like a zero-coordinate issue. Should be fixed in 8.1 Re-open if still a case.

[2019-04-05 12:04] #9499 closed

[2019-04-05 12:27] beastyn commented on #11877
Had something similar

Tested client and server 0.8.1.0 - additional release-review(last build with elevator fix)
no mods

Placing torch in stand cousing server crash.
Tutorial not completed.
[log1.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3047839/log1.txt)

[2019-04-05 12:37] mirasrael commented on #8658
Checked on 8.1
1. Seems to be fixed
2. Camera behavior was intended, but is going to be fixed in https://github.com/StrangeLoopGames/EcoIssues/issues/11772

[2019-04-05 12:37] #8658 closed

[2019-04-05 12:43] mirasrael commented on #8293
Seems fixed in 8.2

![image](https://user-images.githubusercontent.com/475445/55628486-8301a480-57b9-11e9-88c4-0b73f9b15b85.png)

[2019-04-05 12:43] #8293 closed

[2019-04-05 13:23] Patrick1358 opened #11888 "USER ISSUE: Crash"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Place 7 wood pulp in trash can inside the inventory

**Expected behavior:**
Get rid of the item(s).

**Actual behavior:**
Crashed the game and place the "trash" on the ground.

**Do you have mods installed? Does issue happen when no mods are installed?:**
Crashed the game and place the "trash" on the ground. No, i don't have any mods installed, si

[2019-04-05 13:24] SlayksWood opened #11889 "[0.8.1.0] Large/ Medium/ Small Rug in Tailoring table has another name."
Large Rug - Rug Large
Medium Rug - Rug Medium
Small Rug - Rug Small
Also for recipes
![image](https://user-images.githubusercontent.com/45708377/55630409-4b492b80-57be-11e9-9c11-8634b62ba521.png)

A very good idea for sorting alphabetically. But the rest of the items are written differently.

[2019-04-05 14:09] NaateeD opened #11890 "Treasury: As a world leader you can tax yourself, but not other players."
As world leader you can tax yourself but not other players through the treasury. It used to say "User doesn't have access to said Player's account" in 8.0.7. In 8.1.0 it doesn't say this anymore but still doesn't tax the player. Tried as a server admin with world leader and no taxes were taken from player and put into treasury. Tried taxing multiple players instead of 1 still same outcome.

[2019-04-05 14:11] mirasrael commented on #8207
Wasn't able to reproduce on 8.2. Seems fixed.

[2019-04-05 14:11] #8207 closed

[2019-04-05 14:36] mirasrael commented on #11888
I'm not able to reproduce. Can you provide client crash log (%LocalAppData%Low\Strange Loop Games\Eco\output_log.txt)?
![image](https://user-images.githubusercontent.com/475445/55635390-358d3380-57c9-11e9-85fc-8685bbae5a4d.png)

[2019-04-05 14:42] Patrick1358 commented on #11888
Here it is.

On Fri, Apr 5, 2019 at 5:36 PM Alexander Bondarev <notifications@github.com>
wrote:

Initialize engine version: 2018.3.11f1 (5063218e4ab8)
GfxDevice: creating device client; threaded=1
Direct3D:
    Version:  Direct3D 11.0 [level 11.0]
    Renderer: NVIDIA GeForce 940MX (ID=0x134d)
    Vendor:
    VRAM:     2010 MB
    Driver:   25.21.14.1935
<RI> Initializing input.

<RI> Input initi

[2019-04-05 14:44] NaateeD opened #11891 "Specialty display maxes at 4 specialties shown on the bottom left of the screen even when 10 is selected."
Specialty display maxes at 4 specialties shown on the bottom left of the screen even when 10 is selected. Used the gear and walked it up from 1 to 4 and it works fine, once hitting 5 the specialty doesn't show.
<img width="175" alt="Specialty Display Bug" src="https://user-images.githubusercontent.com/32089039/55635875-b7606b00-578f-11e9-9065-576342a583e3.png">

[2019-04-05 14:46] NaateeD commented on #11891
<img width="176" alt="Specialty Display Bug 2" src="https://user-images.githubusercontent.com/32089039/55636032-03abab00-5790-11e9-902d-0c7f2a3b7b9f.png">

[2019-04-05 15:04] mirasrael commented on #11888
You can just attach a file. Can you also attach server logs archive, please?

[2019-04-05 15:06] Patrick1358 commented on #11888
It's attached to the previous email

On Fri, Apr 5, 2019, 6:04 PM Alexander Bondarev <notifications@github.com>
wrote:

[2019-04-05 15:13] mirasrael commented on #11888
You can check issue on GitHub (https://github.com/StrangeLoopGames/EcoIssues/issues/11888), I can't see it. Probably it doesn't attaches files from email automatically (seems you are answering with email client).

[2019-04-05 15:16] Patrick1358 commented on #11888
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3048557/output_log.txt)

[2019-04-05 15:17] Patrick1358 commented on #11888
This should do it, it looks like it copy pasted the whole crash log not the file

[2019-04-05 15:19] mirasrael commented on #11888
[code]

[2019-04-05 15:31] Patrick1358 commented on #11888
[log_190404122737.log](https://github.com/StrangeLoopGames/EcoIssues/files/3048633/log_190404122737.log)
[log_190405021631.log](https://github.com/StrangeLoopGames/EcoIssues/files/3048634/log_190405021631.log)
[log_190405041832.log](https://github.com/StrangeLoopGames/EcoIssues/files/3048635/log_190405041832.log)
[log_190312014435.log](https://github.com/StrangeLoopGames/EcoIssues/files/3048636/lo

[2019-04-05 15:51] Deantwo commented on #9783
Laws label and 9.0 milestone? :crossed_fingers:

[2019-04-05 15:57] Deantwo commented on #8983
Is this still an issue?
As far as I know a mint is forever locked to produce only one currency once configured. Even if you pickup the mint and place it somewhere else.

[2019-04-05 16:18] beastyn commented on #11891
Which version do you use?
Was checked fot 0.8.1.0 and it worjs fine.

[2019-04-05 16:21] mirasrael commented on #11888
Hmm, strange I can't find anything related to the crash in the log. Can you reproduce this issue? If you can then please attach your save.

It should be in same place where Logs, but in Storage directory:
`steamapps\common\Eco\Eco_Data\Server\Storage`

[2019-04-05 16:23] redwyre commented on #11879
Sorry, I wasn't clear: it didn't and shouldn't pick up the non-broken blocks, but previously if you tried to pick up a non-broken rubble sweeping hands would pick up all the broken rubble instead.

[2019-04-05 16:25] NaateeD commented on #11891
0.8.1.0 :( hehe

[2019-04-05 16:30] beastyn commented on #11891
Can you provide output_log file?

[2019-04-05 17:01] NaateeD commented on #11891
How do I do this, sorry :(

[2019-04-05 17:04] D3nnis3n commented on #11872
Merged with https://github.com/StrangeLoopGames/EcoIssues/issues/11891

[2019-04-05 17:04] #11872 closed

[2019-04-05 17:04] Patrick1358 commented on #11888
I can't reproduce it, now it just drops the items on the ground without crashing the world and taking me to the main menu.

[2019-04-05 17:11] beastyn commented on #11891
My bad )
I should be there
%LocalAppData%Low\Strange Loop Games\Eco\output_log.txt

[2019-04-05 17:24] beastyn commented on #11891
And one more question, Did you migrate from 0.8.0.7?

[2019-04-05 17:24] D3nnis3n commented on #11870
Fixed in release_preview, presumably via PR#4205

[2019-04-05 17:24] #11870 closed

[2019-04-05 17:24] BlazeGuy2 opened #11892 "NullReferenceException"
**==Sent from Eco Crash Server==**
**Details:**
Message:Object reference not set to an instance of an object.
Source:Eco.Gameplay
**Stack:**
at Eco.Gameplay.Tutorial.UserSubTaskInsertItems.CheckComplete(String name, Int32 count)
   at Eco.Gameplay.Items.Inventory.SuccessMoveWrapper(User user, Inventory source, Inventory target, Item item, Int32 quantity)
   at Eco.Gameplay.Items.Inventory.MoveItem

[2019-04-05 17:24] BlazeGuy2 opened #11893 "NullReferenceException"
**==Sent from Eco Crash Server==**
**Details:**
Message:Der Objektverweis wurde nicht auf eine Objektinstanz festgelegt.
Source:Eco.Gameplay
**Stack:**
at Eco.Gameplay.Tutorial.UserSubTaskInsertItems.CheckComplete(String name, Int32 count)
   at Eco.Core.Utils.ThreadSafeAction`2.Invoke(T1 t1, T2 t2)
   at Eco.Gameplay.Items.Inventory.SuccessMoveWrapper(User user, Inventory source, Inventory target

[2019-04-05 17:26] BlazeGuy2 commented on #11893
40 logged crashes atm

[2019-04-05 17:26] BlazeGuy2 commented on #11892
48 logged crashes atm

[2019-04-05 17:32] SlayksWood commented on #11891
On the new server, everything works fine.
I went to the server that moved from 8.0.7. If you get experience for specialization then it is displayed in the list.

[2019-04-05 17:37] johnkslg commented on #11891
Thanks @NaateeD, this should be fixed on the new server.

[2019-04-05 17:37] #11891 closed

[2019-04-05 17:46] #11766 closed

[2019-04-05 17:46] #11859 closed

[2019-04-05 17:50] johnkslg commented on #11881
Have hot keys that change it too

[2019-04-05 18:02] #11802 closed

[2019-04-05 19:18] Conchipedia commented on #8983
i think it has been fixed (but not 100% sure as i don't have anything to do with mints anymore)
but i think the main problem was someone with Permission on your property could **move** the Mint to their Deed and then take over  producing the Currency on this mint and i still think that the Mint could be moved to Storage and then **sold** but if i remember correctly it doesn't  show the information

[2019-04-05 19:19] Conchipedia commented on #8983
i did like the **old** way when you could just move a Mint and the currency was like locked to the player who created it so nobody else could take over the production of **your own** currency

[2019-04-05 19:21] redwyre commented on #11707
Should be fixed in 8.1, reopen if you are still having issues

[2019-04-05 19:21] #11707 closed

[2019-04-05 19:23] redwyre commented on #11674
Sorry @Bram-Boris didn't see your new reply. To grab the log files: https://github.com/StrangeLoopGames/EcoIssues/wiki/Getting-the-Eco-game-log-file

Also can you try 8.1 as it has a number of optimisations that may fix the issue for you.

[2019-04-05 19:42] Conchipedia opened #11894 "USER ISSUE: Cannot Create Singleplayer World in Latest version"
**Version:** 0.8.1.0 beta

Have tried over 5 Times to Create **New World** keep getting this Error
![snap4293](https://user-images.githubusercontent.com/29383891/55652283-f66bdc00-57e2-11e9-8b96-839923e32dd5.png)

Have tried Various ways, Meteor on/off and Random/seed Still Giving Error Window
<size=150%>Connection Failed</size>

Failed to connect - connection timed out.

Log File:
Initialize engi

[2019-04-05 19:44] Conchipedia commented on #11894
it looks like it is possibly making The Worlds (as the names come up in the **load** option)

[2019-04-05 19:45] redwyre commented on #11441
We have release Eco 0.8.1.0 which has a number of performance improvements, give it a go and let me know if it's better.

[2019-04-05 19:46] Deantwo commented on #8983
But being able to hand over the minting responsible is nice too, such as when the world leader or bank owner changes.

[2019-04-05 19:46] redwyre commented on #11391
Hi @TurkishPower92. we have release 8.1 which has a number of performance improvements, could you try it out and report back?

[2019-04-05 19:48] redwyre commented on #11368
@D3nnis3n do we need a design decision on whether to keep or remove the option?

[2019-04-05 19:49] redwyre commented on #11346
Hi @KolyaEP and @Secretname2009, we have release 8.1 which has a number of performance improvements, could you try it out and report back?

[2019-04-05 19:50] redwyre commented on #11253
Hi @Ebiline. we have release 8.1 which has a number of performance improvements, could you try it out and report back?

[2019-04-05 19:51] redwyre commented on #11248
Hi @ludovi71, @loaykr and @ThisFlynn. we have released 8.1 which has a number of performance improvements, could you try it out and report back?

[2019-04-05 19:52] redwyre commented on #11144
Hi @TheKye. we have released 8.1 which has a number of performance improvements, could you try it out and report back?

[2019-04-05 19:55] Conchipedia commented on #11894
**the names i tried are:-**
April 2019
Name
Testing Build
and here are THOSE files
[April 2019.zip](https://github.com/StrangeLoopGames/EcoIssues/files/3049388/April.2019.zip)
[Name.zip](https://github.com/StrangeLoopGames/EcoIssues/files/3049389/Name.zip)
[Testing Build.zip](https://github.com/StrangeLoopGames/EcoIssues/files/3049390/Testing.Build.zip)

NOTE: it is ONLY creating a .eco file and n

[2019-04-05 19:58] redwyre commented on #11822
Hi @SplattedRabbit, we have released 8.1, could you try it out and report back?

[2019-04-05 20:02] redwyre commented on #11894
@Conchipedia can you upload the dump files in SteamLibrary\steamapps\common\Eco\Eco_Data\Server\Dump?

[2019-04-05 20:14] Conchipedia commented on #11894
No folder called Dump (following Text file is a **FULL*** Directory Listing of ALL files in there
[Directory fo Eco in Steam.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3049454/Directory.fo.Eco.in.Steam.txt)
all i found are the Following Log Files:
[log_190405083056.log](https://github.com/StrangeLoopGames/EcoIssues/files/3049462/log_190405083056.log)
[log_190405083406.log](https://gi

[2019-04-05 20:49] Conchipedia commented on #11894
A Restart Of Windows Solved the problem for **NOT** allowing the file eco.mods.dll being written to
**"C:\Users\USER\AppData\Local\Temp"**

[2019-04-05 20:49] #11894 closed

[2019-04-05 21:12] craig-jong commented on #11509
The dynamic value is sent once to the client as a formula that is executed client-side and server-side independently. Presumably it was done to reduce network traffic when people are changing around crafting values.

[2019-04-05 21:24] NiveusT commented on #11878
I'm not sure how else to explain properly, and I don't have any more carcasses to take pictures with, but I'll try to get some pictures when I can.

Basically, I'm level 7 butchery. At level 7 butchery, originally, each carcass butchered gives 5x the amount of resources. (For example, 1 hare gives 5 meat at level 7 butchery, instead of just 1 single meat.)

Currently my level 7 butchery now gives

[2019-04-05 21:29] NiveusT opened #11895 "Skills missing levels and no longer giving benefits they used to."
Ever since the update, our skills are not listed in the bottom left corner of the screen anymore.
For example, mining level 7 is no longer showing a toolbar on the lower left.

In addition to this, it seems as though it does not register that my mining level is level 7 as well. The calorie use reduction went from 1.7 calories burned per pick use, to 7 calories burned per pick use. As if there was

[2019-04-05 21:34] craig-jong commented on #11509
![image](https://user-images.githubusercontent.com/18184943/55657682-d242d780-57af-11e9-8b9b-b2a9bf7c459a.png)

I don't see this issue happening anymore. We've fixed a few rounding error like this in the past, so I'm going to guess that this is fixed in master.

Reopen this issue if it persists.

[2019-04-05 21:35] antimodes221 commented on #11497
We see this behaviour outside of steam name changes but also when switching between steam and SLG.

This also impacts if you are tagged as an admin or not. Flaged as an admin in steam -> switch to SLG client -> no longer and admin.

Also noticed this when you setup titles/groups.  If you gain permission / access through a  group and switch between clients it breaks your access.  switch back to the

[2019-04-05 21:56] espoire commented on #11879
I agree that this change is a nuisance. A huge part of what made this perk good before was that you could easily sweep away all the collectable rubble, leaving behind only the large pieces that needed an additional hit.

The recent patch has added the extra step of first finding one piece of small rubble. I had been timing my mining trips, to collect ore/time data, and while the 0.8.1 changes _fee

[2019-04-05 21:57] espoire commented on #11895
Is 7 the same amount as it would cost for someone without the perk? I had assumed they just decided to massively increase calorie costs across the board.

[2019-04-05 22:00] antimodes221 opened #11896 "Mint laws that reference mint action can cause lag"
When creating a law that triggers on action count, a user who does not have a direct allow clause gets lagged off of the system when attempting to mint.

Example of the law and behaviour:
When attempting to Mint Coins where (currency is Rubble)
If (you are a Admin)
Then allow
Otherwise If (you are a World Leader)
Then allow
Otherwise If (your Mint Coins actions where (currency is Rubble) < 1,001)

[2019-04-05 22:13] ShawnDaGeek opened #11897 "Elevator collision mesh not interacting with player. 0.8.1.0 beta release"
Server: 0.8.1.0 beta release ( windows 10 pro)
Client: 0.8.1.0 steam release ( windows 10 home)

Collision mesh on elevators are not interacting with players making it impossible to use or ride the elevator.  In addition to this, the call buttons stop working after a few minutes of being placed and replaced.
Reproduce: place a new, or replace existing elevator, board and try to go up or down. You

[2019-04-05 22:13] Conchipedia commented on #8983
i thought that what the Currency exchange was designed for just in case a Bank goes out of Business so a New currency could be brought in

[2019-04-05 22:20] craig-jong commented on #11192
this is fixed in master and probably 8.1

[2019-04-05 22:20] #11192 closed

[2019-04-05 22:30] craig-jong commented on #10522
I split the layers so this should no longer occur. It should be in 8.1, so I'm closing this issue.

[2019-04-05 22:30] #10522 closed

[2019-04-05 23:32] Deantwo commented on #8983
No... Currency Exchange is used to make currency exchange stores. Anyone can set one up and start selling a currency for another.

Anyway, I guess this bug report can be closed.
The issue about a Mint for sale not showing thst it already has an assigned currency should be reported in a separate bug report.

[2019-04-05 23:41] BlazeGuy2 opened #11898 "NullReferenceException"
**==Sent from Eco Crash Server==**
**Details:**
Message:Object reference not set to an instance of an object.
Source:Eco.Gameplay
**Stack:**
at Eco.Gameplay.LegislationSystem.Titles.TitleAlias.get_Name()
   at Eco.Core.Utils.CoreReflectionUtils.&lt;&gt;c__DisplayClass11_0`2.<funcmethodhelper>b__0(TTarget target)
   at Eco.Core.Controller.ControllerManager.PackageMember(BSONObject bson, INetClient

[2019-04-05 23:41] BlazeGuy2 opened #11899 "NullReferenceException"
**==Sent from Eco Crash Server==**
**Details:**
Message:Object reference not set to an instance of an object.
Source:Eco.Gameplay
**Stack:**
at Eco.Gameplay.Items.WorkOrder.set_UncraftedQuantity(Int32 value)
   at Eco.Gameplay.Items.WorkOrder.UpdateCrafted()
   at Eco.Gameplay.Components.CraftingComponent.ProcessWorkOrders(Single dtime)
   at Eco.Gameplay.Components.CraftingComponent.Tick()
   at

[2019-04-05 23:43] BlazeGuy2 commented on #11899
93 crashes logged

[2019-04-05 23:43] BlazeGuy2 commented on #11898
116 crashes logged

[2019-04-06 00:24] rainfarmer commented on #9182
Don't see any problems with passing auth token with api calls, like we currently do.

[2019-04-06 01:25] Trekkan opened #11900 "Ping not displaying correctly in the server browser"
Running latest version (8.1) and for some players they are seeing the server ping as a crazy number, here's a screenshot
![JFF_ping](https://user-images.githubusercontent.com/4875754/55663181-2362c380-57d0-11e9-8906-487355af5cbb.png)

[2019-04-06 01:26] Trekkan commented on #11900
Sorry, forgot to mention, this is only in the server browser.  Once connected, pings at are expected numbers.

[2019-04-06 07:12] mirasrael commented on #11879
@redwyre I get you right. I'm saying this talent should work **on pickup**, but you don't pick up big rubble, you just **trying to pick up**. Like you may try to pick up solid stone block.
Talent description: "Picking up rocks also attempts to pick up similar rocks in an area."

[2019-04-06 07:15] mirasrael commented on #11879
And I understand it makes this talent a bit weaker, but in my opinion more correctly working.

[2019-04-06 11:32] Axedl opened #11901 "USER ISSUE: Evelvator not working"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Place wooden elvevator, doesnt mater where as long as it is corectly palced
Use it

**Expected behavior:**
moved with the evelator

**Actual behavior:**
eveator moved down with cart on it, moving through me leaving me at the top. didnt work with other players ether

**Do you have mods installed? Does issue happen when no mods are installed?:**
eve

[2019-04-06 11:58] Ser-Geeves opened #11902 "USER ISSUE: Contract Cancel Crash / Contract pays to wrong player entity."
**Has relation to USER ISSUE: stone contract #6453 where the delivered items counter did not function correctly. last updated on 30 March 2018**

**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
1. make a contract
2. have someone take it out
2.1 have that someone deliver part of the contracts order. In my case ~50/500 logs where delivered.
3. realise that the contract is being paid to another (3

[2019-04-06 12:06] Ser-Geeves commented on #6453
Encountered this bug in 8.1. Linked with issue 11902, where I had multiple issues with 1 contract. One of which ended up causing a game crash.

[2019-04-06 13:20] Ripley2208 commented on #11693
le voila complet
 eco_probleme.zip
<https://drive.google.com/file/d/1Ui7NcdU-fdub5CHqnKtA-oT9uX3VVzsR/view?usp=drive_web>

Le mer. 3 avr. 2019 à 10:16, Simon <notifications@github.com> a écrit :

[2019-04-06 13:58] Ser-Geeves opened #11903 "USER ISSUE: Contract completion caused crash."
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Create a contract
Have contract taken out by 2nd party
Have contract completed
Try to manually complete contract through contract menu.
Crash.

**Expected behavior:**
Contract to be completed as intended.

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?

[2019-04-06 14:14] mirasrael commented on #11879
@espoire you shouldn't find a smaller one, you can just break big one just before you and pick up. Shouldn't actually slow down too much

[2019-04-06 14:55] Ser-Geeves commented on #11895
Like Espoire said, across the board all calorie costs have gone up by a factor of 4.

[2019-04-06 16:33] Dragonshold opened #11904 "USER ISSUE:"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2019-04-06 16:36] DragonHalo99 opened #11905 "USER ISSUE: Can't get on my Private World"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Trying to load into my private world

**Expected behavior:**
getting on my private world

**Actual behavior:**
connection failed invalid log in info. this started after the game crashed when I tried putting a torch in a torch stand.

**Do you have mods installed? no Does issue happen when no mods are installed? yes:**
connection failed invalid log

[2019-04-06 16:42] jolbrown12 opened #11906 "USER ISSUE: Invalid Login Info"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Hit Join Server and receive invalid login info

**Expected behavior:**
prompted me with a password box and then let me join

**Actual behavior:**
Invalid Login Information

**Do you have mods installed? Does issue happen when no mods are installed?:**
Connection Failed-Invalid Login Info

[2019-04-06 17:04] Royalogic opened #11907 "USER ISSUE: Invalid Login Token"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Attempt to log into server

**Expected behavior:**
Logged me into my server

**Actual behavior:**
Got invalid login - couldn't log in

**Do you have mods installed? Does issue happen when no mods are installed?:**
Got invalid login - couldn't log in

[2019-04-06 17:09] beastyn commented on #11901
Duplicate of #11870. Issue fixed, on the way.

[2019-04-06 17:09] #11901 closed

[2019-04-06 17:13] beastyn commented on #11904
Steam has login issues, if you use Steam you can have problem with connection.

[2019-04-06 17:13] #11904 closed

[2019-04-06 17:15] beastyn commented on #11906
Steam has issues. You should be able to log in with SLG copy.

[2019-04-06 17:15] #11906 closed

[2019-04-06 17:16] beastyn commented on #11907
Steam has issues. You should be able to log in with SLG copy.

[2019-04-06 17:16] #11907 closed

[2019-04-06 19:21] Cycrashy opened #11908 "USER ISSUE: Haus wird nicht erkannt"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Egal wie ich es baue, hab zur testzwecken jetzt eben noch mal ein 8x8 haus gebaut welches komplett quadratisch ist und alle ecken und kannten geschlossen sind ausser eine 2x1 tür denoch wird mein haus nicht als dieses erkannt und unten die nazeige fürs haus trotz vollständigem Haus passiert nichts, das haus ist auch im eigenen Gebiet gebaut...

**

[2019-04-06 21:47] Mikerman50 opened #11909 "USER ISSUE: Screen settings ineffective"
**Version:** 0.8.1.0 beta staging-3ce3fe75-6

**Steps to Reproduce:**
Change the screen to windowed to a 800 x 600 applied and confirmed before time expired

**Expected behavior:**
the current full screen game to resize into requested resolution

**Actual behavior:**
had zero effect, for good measure let the confirmation timer expire and it went back to a random resolution not speccified by myself

[2019-04-06 22:21] redwyre commented on #11693
@Ripley2208 it looks like you've renamed the wrong folder... type "%LOCALAPPDATA%Low/Strange Loop Games" into an explorer window (without the quotes) and you should see an Eco folder. If you open it the contents should look like this:
![image](https://user-images.githubusercontent.com/431728/55675958-eac90400-590d-11e9-8b29-93ee34932e58.png)

[2019-04-06 23:25] NaateeD commented on #11890
Finally caught the error in picture, treasury value was 1,041.97 before the tax as well.
<img width="1250" alt="Test Treasury Tax 1" src="https://user-images.githubusercontent.com/32089039/55676354-b61f6300-58a1-11e9-9bcb-2ac84d78b029.png">

[2019-04-06 23:25] NaateeD commented on #11890
I'm Worldleader and Admin if that helps.

[2019-04-06 23:42] Nyl000 opened #11910 "USER ISSUE: Unable to complete SSL connexion"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**
try to log in

**Expected behavior:**
log me in..

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2019-04-07 08:30] Deantwo commented on #11328
Would be nice if we could have you owe the government taxes. And then make other laws that then prevent you to do some things if you owe too much to the government. For example if you owe the government more than $10 you can't produce tailings, and if you owe more than $100 you can't claim new land.

[2019-04-07 08:53] justvader05 opened #11911 "USER ISSUE: Verbindungs-Fehler"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Kann mich nicht verbinden

**Expected behavior:**
Kann mich nicht verbinden

**Actual behavior:**
Kann mich nicht verbinden!!! :C

**Do you have mods installed? Does issue happen when no mods are installed?:**

[2019-04-07 09:58] Bram-Boris commented on #11674
After playing many more hours it did not crash again. I'm guessing it was just a issue on my end. Thanks for helping.

[2019-04-07 09:58] #11674 closed

[2019-04-07 10:13] KlaSSiKa0 opened #11912 "garaj"
**Version:** 0.8.0.7 beta

**Steps to Reproduce:**

**Expected behavior:**

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2019-04-07 10:13] KlaSSiKa0 commented on #11912
ghgfhgfhfghfg

[2019-04-07 10:44] LisKitty opened #11913 "USER ISSUE: gui problem"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
I was gonna cook something at the campfire, I realized i had a skill point so I instantly pressed Z, nothing showed up and all of the gui's disappeared.

**Expected behavior:**
showed me the skill point screen

**Actual behavior:**
it made every gui disappear

**Do you have mods installed? Does issue happen when no mods are installed?:**
No mods i

[2019-04-07 11:04] Nicolausi113 commented on #11911
Es scheint ein Problem mit dem SLG Auth-Server zu bestehen. Ich kann den Client auch nicht starten noch mit SLG-Account verbinden.

( Seems to be a problem with the Auth Server. Can’t start the client nor connect to SLG account.)

[2019-04-07 12:18] PermanentEdding opened #11914 "All Animals gone"
I really dont know what happend but all animals are gone!
![image](https://user-images.githubusercontent.com/37971880/55683413-cd149280-593f-11e9-9816-8c184f0b6552.png)
Is there any solution? /noah  doesnt work at all... :(

[2019-04-07 16:18] CCJordan opened #11915 "USER ISSUE: Roots stay when tree demolished with road building tool"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Demolish a tree with the road building tool, try to dig out the patch from the road building tool.

**Expected behavior:**
It should have been posible to dig the soil out.

**Actual behavior:**
Instead the error "roots are too strong" appeared.

**Do you have mods installed? Does issue happen when no mods are installed?:**
No mods.

[2019-04-07 20:00] Nicolausi113 commented on #11911
The Problem seems to be fixed yet!

[2019-04-07 22:01] vindekator opened #11916 "USER ISSUE: Login Error"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Start Client
Fill in user name and password
Click on Login button

**Expected behavior:**
Get logged in and client finishes loading.

**Actual behavior:**
Failed to log in.  Unknown error

**Do you have mods installed? Does issue happen when no mods are installed?:**
Failed to log in.  Unknown error

[2019-04-07 22:14] vindekator commented on #11916
This is happening on a clean installation and on an existing one.  Two different machines.  So with and without mods.

[2019-04-08 00:07] D3nnis3n commented on #11912
Should be fixed.

[2019-04-08 00:07] #11912 closed

[2019-04-08 00:07] D3nnis3n commented on #11910
Should be fixed.

[2019-04-08 00:07] #11910 closed

[2019-04-08 00:08] pwholmes opened #11917 "USER ISSUE: Orbital insertion"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Mine some rocks while standing on them

**Expected behavior:**
Broken rocks

**Actual behavior:**
Being rocketed straight up so high that I could see the entire planet and then some.  Actually it was quite entertaining.  I wish I could reproduce this at will.

**Do you have mods installed? Does issue happen when no mods are installed?:**
No mods.

[2019-04-08 00:08] D3nnis3n commented on #11911
Should be fixed.

[2019-04-08 00:08] #11911 closed

[2019-04-08 00:09] D3nnis3n commented on #11913
You probably accidently hit alt-z, which disables the UI.

[2019-04-08 00:11] D3nnis3n commented on #11915
Duplicate of #10550

[2019-04-08 00:11] #11915 closed

[2019-04-08 00:13] D3nnis3n commented on #11908
Steht denn auch ein Möbelstück drin?

[2019-04-08 00:22] D3nnis3n commented on #11897
Duplicate of #11870

[2019-04-08 00:22] #11897 closed

[2019-04-08 01:27] trevelmike opened #11918 "steam generator, combustion generator continuously working when there is no demand for power"
It may be associated with either the refinery, pump jacks or sewage treatment but the steam generator and combustion engine will go on indefinitely with fuel even when there is no demand for power.

[2019-04-08 03:25] Cycrashy commented on #11908
Achso es muss jetzt auch ein Möbelstück drinnen stehen?
Früher war das ja nicht so da wurde es erkannt sobald es fertig war
muss ich gleich mal ausprobieren ob es daran liegt ^^

[2019-04-08 06:43] SlayksWood commented on #1509
The cab also doesn't collide
![image](https://user-images.githubusercontent.com/45708377/55703569-a52a3b00-59e2-11e9-9fb4-d8398fb4ec42.png)

[2019-04-08 06:48] SlayksWood commented on #2692
Still usable underwater

[2019-04-08 07:19] SlayksWood commented on #4436
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 07:19] #4436 closed

[2019-04-08 07:41] SlayksWood commented on #5602
It only seems on Powered Cart
![image](https://user-images.githubusercontent.com/45708377/55706814-d73f9b00-59ea-11e9-8457-cd2654f1cc90.png)

[2019-04-08 07:44] Quadbro commented on #11751
UPD: Was able to reproduce it... the issue comes from TextMeshPro...

[2019-04-08 07:45] SlayksWood commented on #6159
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 07:45] #6159 closed

[2019-04-08 07:51] SlayksWood commented on #6173
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 07:51] #6173 closed

[2019-04-08 08:20] SlayksWood opened #11919 "[0.8.1.0] Disorientation after leaving the excavator"
1. Checked the work of the excavator.
2. went out of it (was a first person view). The camera was very low.
3. Switched to 3 person view. I was lying on my back but could move. (move on the back)
4. I went back to the excavator, and when I got into it and went out again, everything was fine.
I can't repeat it.
https://drive.google.com/file/d/1BTLXhyXfYdyUnke_TaJqHgUWslTiILQS/view?usp=sharing

[2019-04-08 08:22] SlayksWood commented on #6181
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 08:22] #6181 closed

[2019-04-08 08:31] Quadbro commented on #11751
@faiith Thanks for fast responces and providing additional info! 👍

[2019-04-08 08:37] SlayksWood commented on #6271
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 08:37] #6271 closed

[2019-04-08 08:43] SlayksWood commented on #11919
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3053406/output_log.txt)

[2019-04-08 08:46] SlayksWood commented on #6535
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 08:46] #6535 closed

[2019-04-08 09:06] beastyn commented on #9504
Issue is actual

[2019-04-08 09:17] SlayksWood commented on #6856
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 09:17] #6856 closed

[2019-04-08 09:32] mirasrael commented on #11888
Closing for now. Probably issue unrelated to garbage, may be just coincidence.

[2019-04-08 09:32] #11888 closed

[2019-04-08 09:34] mirasrael commented on #11854
Seems like Alt - Z was accidentally pressed. @Vantropix If issue is different and you have any additional info, please, add comment and we will re-open issue.

[2019-04-08 09:34] #11854 closed

[2019-04-08 09:36] mirasrael commented on #11882
This issue refers to broken database. Actually, seems like LiteDB journal didn't save us from DB crashes (and from code it seems like this).

[2019-04-08 09:49] SlayksWood opened #11920 "[0.8.1.0] The vehicle doesn't move when fuel is added after you get into it."
1. Put the truck.
2. Give rights to another person.
3. Don't add fuel.
4. Get into the truck.
5. Another person adds fuel.
6. The fuel is displayed in the fuel supply. But you can't move.
7. Get out of the truck / get into the truck. This helps solve the problem.

[2019-04-08 10:07] mirasrael commented on #11920
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11886

[2019-04-08 10:07] #11920 closed

[2019-04-08 10:49] SlayksWood commented on #7306
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 10:49] #7306 closed

[2019-04-08 10:54] SlayksWood commented on #7341
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 10:54] #7341 closed

[2019-04-08 10:57] beastyn commented on #9503
Can't recreate this issue, There are some other strange things, but game wasn't broken

[2019-04-08 10:57] #9503 closed

[2019-04-08 11:09] SlayksWood commented on #7365
still an issue
![image](https://user-images.githubusercontent.com/45708377/55719758-b0439200-5a07-11e9-8298-7bc2f3d54b1d.png)

[2019-04-08 11:16] mirasrael commented on #9503
@beastyn it was about breaking *excavator*, not the game.

[2019-04-08 11:19] mirasrael commented on #8221
Duplicate of #7905

[2019-04-08 11:19] #8221 closed

[2019-04-08 11:22] SlayksWood commented on #7905
8.1 still an issue

[2019-04-08 11:27] beastyn commented on #9503
well, it still wasn't broken ) There are some other issues, but not with excavator

[2019-04-08 11:38] SlayksWood commented on #8187
Checked on 8.1. Wasn't able to reproduce, seems fixed.

[2019-04-08 11:38] #8187 closed

[2019-04-08 11:48] beastyn commented on #9248
Could;t recreate, but still seems to be an issue for 0.8.1.0
Pic from community

![Eco_scr_07](https://user-images.githubusercontent.com/27898520/55721930-2226d600-5a1e-11e9-8a43-32b490e380df.jpg)

[2019-04-08 11:54] mirasrael commented on #11896
Supposed (implemented) solution
![image](https://user-images.githubusercontent.com/475445/55722168-23e89d80-5a0e-11e9-9a7f-5c998a2ed116.png)

[2019-04-08 12:14] SlayksWood opened #11921 "[0.8.1.0] The excavator consumes a lot of fuel at the time of digging"
The counter jumps at the time of digging
When the video started the fuel was enough for 32min 50s.
When the video is over - 27min 4s. Video length 41s.
https://drive.google.com/file/d/16iDHjfyKTli1h8X34YybTFdR9_ajqR-O/view?usp=sharing

[2019-04-08 13:04] SlayksWood opened #11922 "[0.8.1.0] Excavator is rock in digging mode"
While the excavator is in digging mode, it can't be moved. Even if you dig under it (if a person is sitting in it in a digging mode), it will hang in the air.
Also, if you move at high speed and press on the digging mode, the excavator will immediately stop.
![image](https://user-images.githubusercontent.com/45708377/55725619-bb51ee80-5a16-11e9-9dd4-64318f5781f3.png)

[2019-04-08 13:06] mirasrael commented on #11922
Need to re-check on 8.2 (master). During my testing it falls into the caves.

[2019-04-08 14:13] redwyre commented on #7365
This happens when the rubble falls through the terrain, it happens to me about 50% of the time when breaking large rubble into two pieces.

[2019-04-08 14:24] Equinox-Black opened #11923 "Raising Surface Level Exploit for Tailings"
- User has a platform ~100 above surface with a stockpile.
- User has another stockpile on the surface filled with tailings.
- Minimal ground pollution shows on the map.

- Another user has tailings on bedrock and shows ground pollution on the map.

![no-pollution](https://user-images.githubusercontent.com/48458636/55731490-5384af00-59e8-11e9-8765-9a646993213e.png)
![platform](https://user-images.

[2019-04-08 14:53] Nicolausi113 opened #11924 "Auth. Server down again? Can’t login"
Can’t start game nor login to my SLG account

[2019-04-08 15:07] eyvalon commented on #11924
I can start the game but I can not log in! (but I can log on to the strangeloop website)

[2019-04-08 15:16] mirasrael commented on #11924
Should work now. I identified the problem, it happens when auth server can't determine your IP address.

[2019-04-08 15:31] boundbythecurve opened #11925 "USER ISSUE: Game keep crashing"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
Start game. Watch it crash

**Expected behavior:**
Not crash

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2019-04-08 15:42] Nicolausi113 commented on #11924
Sorry, can no fully confirm. The client runs and login works, but I can not login to my SLG account. If I click ACCOUNT on SLG site, nothing happens!

[2019-04-08 15:44] beastyn commented on #11905
Log in problem should be fixed. Tourch fix is on the way.

[2019-04-08 15:44] #11905 closed

[2019-04-08 15:44] mirasrael commented on #11924
@Nicolausi113 can you write me in Discord (can find in official Discord channel as mirasrael)? Want to check your account, but don't want to make this info public.

[2019-04-08 15:50] mirasrael commented on #11924
Fixed AuthServer to correctly determine users Remote IP. In next version error message also will be more descriptive (it will contain information if your account blocked or disabled instead of saying Invalid login or password if you used valid credentials).

[2019-04-08 16:07] faiith commented on #11918
We have the same problem on our server. Initially, the generator is off, as soon as a consumer needs electricity it turns on. If the consumer is subsequently deactivated (or dismantled), the generator continues to run instead of switching off

[2019-04-08 17:46] Nicolausi113 commented on #11924
@eyvalon – do you still encounter problems on this matter?
For me the game runs but still having strange problems with SLG site, button ACCOUNT and BYE ECO doesn't work as supposed.

[2019-04-08 17:53] Nicolausi113 commented on #11924
Oh – now it looks good – all OK

[2019-04-08 18:08] seccombew commented on #11864
Added High priority label, because feature is technically broken.

[2019-04-08 18:13] #11871 closed

[2019-04-08 18:28] beastyn commented on #11924
Great!

[2019-04-08 18:28] #11924 closed

[2019-04-08 18:37] SlayksWood commented on #11839
I meant that the tabs of pumps and pipes in different pumps (Electrical and mechanical) are arranged in a different order:
Electric: PUMP - PIPES - power - status - autorization
Mechanikal: PIPES - PUMP - power - status - autorization
It is in this question that only this is implied.

[2019-04-08 18:43] SlayksWood commented on #11839
I meant that the tabs of pumps and pipes in different pumps (Electrical and mechanical) are arranged in a different order:
Electric: PUMP - PIPES - power - status - autorization
Mechanikal: PIPES - PUMP - power - status - autorization
In this issue I meant only that. It's not critical but when you test two pump together it's quite uncomfortable.
Sorry!  I will be more precise next time.

[2019-04-08 18:43] eyvalon commented on #11924
@Nicolausi113 - no, everything works fine again :)

[2019-04-08 19:03] craig-jong commented on #10853
All of the "deadlocks" created by the talents have been removed (as far as I know), but reopen it if it its still the case.

[2019-04-08 19:03] #10853 closed

[2019-04-08 19:04] Nicolausi113 commented on #11916
Think this should be fixed now - see #11924

[2019-04-08 19:31] johnkslg commented on #11695
Maybe already fixed?

[2019-04-08 19:32] D3nnis3n commented on #11913
I'm closing this for now, report back if you can reproduce this issue and are sure to not have pressed Alt at the same time.

[2019-04-08 19:32] #11913 closed

[2019-04-08 19:34] johnkslg commented on #11507
Want to put together more accurate reqs?

[2019-04-08 19:34] johnkslg commented on #11473
Boosted to high for perf focus

[2019-04-08 19:37] D3nnis3n commented on #11895
The calorie cost reduction from Self Improvement - which any player had - was removed. Therefore calorie cost has gone up. The skill list issue is already known, you just need to get new XP in the skills to have them show again. I'm closing this as this is intended behaviour. The calorie cost reduction for mining do work, but the general cost reduction is removed, therefore the values are way high

[2019-04-08 19:37] #11895 closed

[2019-04-08 19:38] johnkslg commented on #10764
Cant repro anymore

[2019-04-08 19:38] #10764 closed

[2019-04-08 19:40] #8147 closed

[2019-04-08 19:40] johnkslg commented on #2852
👍 👍 👍 👍 👍 👍 👍 👍 👍 👍

[2019-04-08 19:41] D3nnis3n commented on #11923
This is an exploit, but working as intended by how the game works at the moment. I'd like to change this behaviour, but it's up to the developers if it is possible and worth the work. I'd actually just stop that administratively.

[2019-04-08 19:47] D3nnis3n commented on #11908
Falls du meinst, dass es unten in der Housingleiste angezeigt werden soll, dann war da eigentlich schon immer ein Möbelstück für notwendig.

[2019-04-08 19:48] D3nnis3n commented on #11908
Screenshots wären vielleicht hilfreich, um zu verstehen, was du genau meinst.

[2019-04-08 20:09] craig-jong commented on #9955
For the last time, wetlands plants will have a population of 0 for now. We COULD remove them entirely, however the plan is to get them back into the game somewhat soon and it's significantly easier for us to leave them at their current (albeit old style) values than to simply remove them until that time. None of them are progression blocking.

As for the foxes and animals, there's a separate bug t

[2019-04-08 20:09] #9955 closed

[2019-04-08 21:29] D3nnis3n commented on #9955
Could you be at least more specific which planst exactly are intended to be
zero and which are not?

craig-jong <notifications@github.com> schrieb am Mo., 8. Apr. 2019, 22:09:

[2019-04-08 21:57] craig-jong commented on #11093
I fixed this in a previous version. Seems fine in master.

[2019-04-08 21:57] #11093 closed

[2019-04-08 23:07] Cycrashy commented on #11908
Achso es muss jetzt auch ein Möbelstück drinnen stehen?
Früher war das ja nicht so da wurde es erkannt sobald es fertig war
muss ich gleich mal ausprobieren ob es daran liegt ^^

[2019-04-09 01:02] johnkslg opened #11926 "Game does not start in User's language"
It should detect the language of the OS and use that by default.
This used to work.
Reported by <wpsd2n@hotmail.com>

[2019-04-09 02:48] craig-jong commented on #11556
Pretty sure this should be fixed in the next hotfix. Please reopen this if it happens again so I can check into it again.

[2019-04-09 02:48] #11556 closed

[2019-04-09 05:19] Quadbro commented on #11457
@Spydarlee tested it, it seems like we loose some sort of backslash escaping mechanics by localization process, we could replace that text ('\n") to smth like "default new line separator" , etc, or we can debug and find where and why "\\n" is loosing it's escape power by operations on target string

[2019-04-09 05:57] beastyn opened #11927 "[0.8.1.1 release-preview] Can`t create a new random world from client"
[0.8.1.1 release-preview]
no mods

Can`t create new world from client
**Steps**
- Launch client
- Press "New Game
- Go to "Host a private world"
- Check Generate new world
- Start

**Expected result**
login in new  world

**Actual result**
Connection failed

[2019-04-09 05:58] beastyn commented on #11925
Did you try to create a new world or to connect to an existing server?

[2019-04-09 06:11] #11916 closed

[2019-04-09 06:42] beastyn opened #11928 "[0.8.1.1 release-preview] Can`t launch server"
[0.8.1.1 release-preview]
no mods

Trying to launch server with empty storage folder and getting error

*Steps*
1) check if  \Steam\steamapps\common\Eco\Eco_Data\Server\Storage is empty
2) Launch EcoServer

[2019-04-09 07:07] beastyn commented on #11927
server logs
[log_190409105421.log](https://github.com/StrangeLoopGames/EcoIssues/files/3057584/log_190409105421.log)

[2019-04-09 07:09] beastyn commented on #11927
[log_190409095653.log](https://github.com/StrangeLoopGames/EcoIssues/files/3057591/log_190409095653.log)

[2019-04-09 07:19] mirasrael commented on #11548
Hi @Necato Do you still have this issue?

[2019-04-09 07:45] mirasrael commented on #11579
Hi @Madrawn
Do you still have this problem after 8.1 release?

[2019-04-09 07:51] mirasrael commented on #11864
In 8.2 I fixed a problem with auth wasn't properly initialized on server load, may it was related. Can you re-check it on 8.2?

[2019-04-09 07:55] mirasrael commented on #11928
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11927

[2019-04-09 07:56] mirasrael commented on #11928
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11576

[2019-04-09 07:57] mirasrael commented on #11927
Duplicate of https://github.com/StrangeLoopGames/EcoIssues/issues/11576

[2019-04-09 07:57] #11927 closed

[2019-04-09 07:57] #11928 closed

[2019-04-09 08:43] SlayksWood opened #11929 "[0.8.1.1-release-preview] Can't take item from some vehicles with left mouse click"
I **can't** take item with left mouse click from Truck, Steam Truck, Excavator. It works at 0.8.0.7.
I **can** take item with left mouse click from Stockpile, Small Wood Cart, Wood Cart, Tractor, Skid Steer.
Also I **can't** take item with left mouse click from Powered Cart. But it doesn't work at 0.8.0.7
![image](https://user-images.githubusercontent.com/45708377/55786242-8c8e5380-5abc-11e9-8c54-

[2019-04-09 08:58] mirasrael commented on #11358
Hi @SKYMEE1
Is this issue still actual? Did you save your world backup before migration (just in case)? Can you upload your world save to Google Drive (or other file storage) and put link here?

[2019-04-09 12:08] SlayksWood opened #11930 "[0.8.1.1-release-preview] 3d person view. Tool doesn't change with instant use."
1. Take hammer.
2. Take bow and start shooting without waiting for a tool change.
3. You will shoot with a hammer.
4. When you switch to first-person view you have a bow in your hands.
This does not always happen. But This happens quite often. Not only with a bow and hammer, but also with other tools.
![image](https://user-images.githubusercontent.com/45708377/55799048-2237dc00-5ad9-11e9-8898-bef4

[2019-04-09 12:36] SlayksWood commented on #7574
0.8.1.1
still an issue

[2019-04-09 12:48] SlayksWood opened #11931 "[0.8.1.1-release preview] Fishing Pole. Fish behaves strangely on a hook."
1. Take Fishing Pole.
2. Throw the hook into the water.
3. When you catch a fish, she dances crazy on a hook.
4. This will continue until you pull out the fish.
Also You can use Fishing Pole not only in water.
https://drive.google.com/file/d/11d5jqHnvvhVwwAsaFcvAgxMRYDXJKOsP/view?usp=sharing

[2019-04-09 13:15] Nicolausi113 opened #11932 "It takes several seconds till plants disappear after harvesting"
Version 8.1.0
This delays game-play uncomfortable

[2019-04-09 14:06] mirasrael commented on #11695
Fixed in master, if we really need to fix this in release branch then we can just workaround it by rename the MoveItems overload.

[2019-04-09 14:42] #11092 closed, assigned to mirasrael, j3fffff

[2019-04-09 16:07] boundbythecurve commented on #11925
Sorry I wasn't sure why the game kept crashing when I made the report. I
would start the world and within 1 minute it would crash. It was a somewhat
new world, but not brand new.
But I think I figured it out. Each time I started the game, I was reset to
a time where I was adding a resource to a project in a campfire. However,
even though I have permission to use this campfire, the item being cooke

[2019-04-09 16:10] Sekor2600 commented on #10127
@mirasrael need stats too?

[2019-04-09 17:37] #10127 closed

[2019-04-09 17:37] beastyn commented on #11925
Can you provide server log file and world save file?
\steamapps\common\Eco\Eco_Data\Server\Logs

[2019-04-09 17:43] johnkslg commented on #11695
@mirasrael yes please do that

[2019-04-09 17:51] #11576 closed

[2019-04-09 17:58] #11508 closed

[2019-04-09 17:58] #11682 closed

[2019-04-09 18:20] johnkslg commented on #11932
This has been a long term problem, can you take a look for 8.2 sean?

[2019-04-09 18:22] johnkslg commented on #11795
Closing until its seen a second time.

[2019-04-09 18:22] #11795 closed

[2019-04-09 19:13] D3nnis3n opened #11933 "Can't load old map and can't create new map either"
A user on steam reports he cannot convert his old world, nor create a new one, failing to connect on each time.

This is the map he tried to convert: https://drive.google.com/file/d/1k6WDIwEwMefrsnEcTedUEACJf_fiS1RT/view?usp=drive_web

I found an issue when converting the map through singleplayer, it throws an OOM error:

Converting by using the 64-bit exe works fine.

[2019-04-09 19:16] D3nnis3n commented on #11933
I assume the user may have altered world settings and the 32-bit server does not like them, i've asked him to provide information on the settings he used, as i could not reproduce not being able to create a new world.

[2019-04-09 19:33] ChocolateMouse opened #11934 "USER ISSUE: Not connecting to 1P server"
**Version:** 0.8.1.1 beta

**Steps to Reproduce:**
Try to connect to my own server

**Expected behavior:**
it should have... Connected to the server

**Actual behavior:**
The following error message popped up:
[code]

**Do you have mods installed? Does issue happen when no mods are installed?:**
The following error message popped up:
[code]

[2019-04-09 19:35] mirasrael commented on #10127
@Sekor2600 thanks, should be fixed in 8.2

[2019-04-09 19:36] D3nnis3n opened #11935 "Elevator can't be used"
Buttons are not highlighting when hovering on them.

[2019-04-09 19:44] johnkslg opened #11936 "Need a 'Host your Own World' button in the main menu"
- This button should take the user to the signup page for hosted worlds, where it explains what a hosted world is, how citizen accounts work, and link to subscribe, on single page.
- If the user already has a hosted world, the link should say 'Hosted World Management'
- If the user has a steam account only, it should allow them to get to signup before asking them to link their steam account to a n

[2019-04-09 19:57] D3nnis3n commented on #11935
Elevators also seem to have issues to be placed on holes, it's not wanting to place for some people. But with /testelevators the behaviour is that the buttons are not targettable.

[2019-04-09 19:59] johnkslg commented on #11936
Mockup of hosted worlds landing page: https://1drv.ms/w/s!AnNPKT4C9Ig9j2e5A9AAT_CGOS1o

[2019-04-09 20:00] D3nnis3n commented on #11934
is this a local or a remote server?

[2019-04-09 20:10] D3nnis3n commented on #11935
![elevator](https://user-images.githubusercontent.com/25908592/55831812-4b299280-5b14-11e9-9337-9e908157e944.png)

[2019-04-09 20:31] johnkslg opened #11937 "Reset Password not offering confirmation"
![image](https://user-images.githubusercontent.com/3536496/55833059-ca46a880-5acb-11e9-9e3e-6d972b681be7.png)
After resetting, it just refreshes the page, not saying if it sent anything or not.

[2019-04-09 20:48] D3nnis3n commented on #11933
The old world is a 4 km² world.

[2019-04-09 21:02] Alteraner opened #11938 "Entering World takes ages at the first login after server restart"
Since 0.8.0 we are facing the issue with a very long wait time at "Entering World". The time is escalating and takes longer and longer by the time the server is running.

What we have figured out is, that the "Entering World" takes very long only after the server was restarted and than for the first time to login. Once i have waited up to 15min. and i successfully logged in, any further login is q

[2019-04-09 23:06] BlazeGuy2 opened #11939 "Master 8.2 Broken UI"
UI is broken for opening up for choosing a new game
![image](https://user-images.githubusercontent.com/35509188/55840748-68913900-5ae1-11e9-898c-b922abb1cb83.png)

[2019-04-09 23:25] BlazeGuy2 opened #11940 "Master 8.2 Can't use tent when pressing e inside"
![image](https://user-images.githubusercontent.com/35509188/55841401-d6d6fb00-5ae3-11e9-9b28-188c0f04172b.png)

[2019-04-09 23:25] BlazeGuy2 commented on #11940
Probably due to making bed usable inside tent

[2019-04-09 23:27] johnkslg opened #11941 "Ansel crap showing up in release"
![image](https://user-images.githubusercontent.com/3536496/55841518-5369d980-5ae4-11e9-9dba-1f7f55f294e0.png)
Remove plz

[2019-04-09 23:32] johnkslg opened #11942 "Crash in master"
Happened while approaching a tent and clicking and jumping

Server encountered an exception:

<size=60.00%>Exception: NullReferenceException
Message:Object reference not set to an instance of an object.
Source:Eco.Gameplay

System.NullReferenceException: Object reference not set to an instance of an object.
   at Eco.Gameplay.Components.StorageComponent.GetItemsUserCanTake(User user, Item carriedI

[2019-04-09 23:34] BlazeGuy2 opened #11943 "NullReferenceException"
**==Sent from Eco Crash Server==**
**Details:**
Message:Object reference not set to an instance of an object.
Source:Eco.Gameplay
**Stack:**
at Eco.Gameplay.Components.StorageComponent.GetItemsUserCanTake(User user, Item carriedItem, Item selectedItem, Boolean tryTakeAll)
   at Eco.Gameplay.Components.StorageComponent.OnActDesc(InteractionContext context)
   at Eco.Gameplay.Objects.WorldObject.OnA

[2019-04-09 23:35] BlazeGuy2 commented on #11943
Dup of https://github.com/StrangeLoopGames/EcoIssues/issues/11942

[2019-04-09 23:35] #11943 closed

[2019-04-10 00:23] #11890 closed

[2019-04-10 00:23] #11892 closed

[2019-04-10 00:23] #11893 closed

[2019-04-10 00:23] #11896 closed

[2019-04-10 00:23] #11898 closed

[2019-04-10 00:23] #11899 closed

[2019-04-10 00:24] Blanclour opened #11944 "USER ISSUE: Excavator Can't be Picked Up"
**Version:** 0.8.1.1 beta

**Steps to Reproduce:**
1.Try to pick up excavator.

**Expected behavior:**
It should have worked like it did in last patch.

**Actual behavior:**
It says theres not enough room in destination inventory even though i have emptied every single item from my inventory and hotbar.

**Do you have mods installed? Does issue happen when no mods are installed?:**
No Mods

[2019-04-10 00:26] #11877 closed

[2019-04-10 00:56] FalkosTMB commented on #11938
On my system the long waiting could be at any time. But sometimes it conects in seconds.

[2019-04-10 01:25] keegan-o commented on #11941
That's the entire point, is for players to be able to use it! I just tested it and it works in master preview, allows people to get awesome super res screenshots etc. There may be a way to remove this notification, but it would be at the cost of people who know about ansel knowing they can use it in Eco.

[2019-04-10 02:11] Blanclour opened #11945 "USER ISSUE: Blast Furnace Visual Bug"
**Version:** 0.8.1.1 beta

**Steps to Reproduce:**
1. Queue a steel project that takes a long time.

**Expected behavior:**
The yellow flowing metal animation that comes
![bf bug](https://user-images.githubusercontent.com/2582909/55846632-03067200-5b0c-11e9-9b88-34a08bcb1689.PNG)
from the little spout should still be working.

**Actual behavior:**
The animation will be present for a few minutes th

[2019-04-10 02:37] elray23234 opened #11946 "USER ISSUE: the elevator does not work"
**Version:** 0.8.1.0 beta

**Steps to Reproduce:**
the elevator doesnt work

**Expected behavior:**
please help

**Actual behavior:**

**Do you have mods installed? Does issue happen when no mods are installed?:**

[2019-04-10 03:00] Villerger27 opened #11947 "USER ISSUE: FOV Zoom-in"
**Version:** 0.8.1.1 beta

**Steps to Reproduce:**
1. Replay the Meateor tutorial

**Expected behavior:**
It should have done nothing

**Actual behavior:**
Instead it zoomed in the FOV and won't zoom out

**Do you have mods installed? Does issue happen when no mods are installed?:**
No mods

[2019-04-10 03:53] Quadbro commented on #11935
not reproducable in editor, trying latest build now

[2019-04-10 03:54] beastyn commented on #11946
Duplicate of #11870
Should work in 8.1.1, may have some issues with button targeting, will be fixed soon.

[2019-04-10 03:54] #11946 closed

[2019-04-10 04:01] Quadbro commented on #11935
8.1.1 steam => not reproduced

[2019-04-10 04:59] trevelmike opened #11948 "Incorrect required item amounts"
The original post was here and yes it is continues to occur. Yesterday it was substrate today it was butchering table and bison and clay missing from kiln for shale bricks. I can only guess this is an issue with the new skill system and the required items need for a recipe. Again it at first says i have required materials then when crafting says i need one more of this item.

https://github.com/St

[2019-04-10 05:10] trevelmike opened #11949 "Calorie bug or working as intended"
version .8.1.1

I noticed our stomach has inc to a max of 5000 calories. However before hand when i used shovel pick axe etc it was below 7.5 calories. Now those tools are 7.5 calories per use and as you can imagine it depletes food rather quickly. If this is working as intended, please disregard.

[2019-04-10 05:39] faiith opened #11950 "[0.8.1.0] Elevator has no floor"
Version: 0.8.1.0
Mods: None
Localization: German

Issue: Elevator has no floor / player is falling through floor

Videos:
https://www.youtube.com/watch?v=591kgVxDp_c&feature=youtu.be

https://www.youtube.com/watch?v=Y1s0uVx07m4&feature=youtu.be

[2019-04-10 05:42] D3nnis3n commented on #11944
The excavator actually is too heard to carry without backpack or self improvement Benefits. And those were nerfed a bit it seems.

[2019-04-10 05:44] D3nnis3n commented on #11935
Can still reproduce with /testelevator

Those weird issues make me angry.

[2019-04-10 05:46] D3nnis3n commented on #11509
Persists, see #11948

[2019-04-10 05:46] D3nnis3n commented on #11948
Closed, reopened old issue.

[2019-04-10 05:46] #11948 closed

[2019-04-10 05:47] faiith commented on #11950
Just checked again using 0.8.1.1, seems to be fixed in 0.8.1.1

[2019-04-10 05:47] D3nnis3n commented on #11949
Calorie consumption was increased and self improvement no longer give Benefits, so that is working as intended.

[2019-04-10 05:47] #11949 closed

[2019-04-10 05:51] Blanclour commented on #11944
Was wearing bearpack and had level 7 self improvement with no items on me except the hammer to pick it up and it still didn't work.

[2019-04-10 05:57] D3nnis3n commented on #11941
I have no Problem with that notification. It only shows when you have NVIDIA experience, no?

[2019-04-10 05:57] beastyn commented on #11950
Yeap, indded, it was fixed. Thanks for observation )
Do you have any issues with elevator in 8.1.1?

[2019-04-10 05:58] D3nnis3n commented on #11944
Can you Show a Screenshot of your weight limit? Hoher over the best on the right bottom side on the screen.

[2019-04-10 06:00] D3nnis3n commented on #11950
Oh weil, when fixed, then close.

[2019-04-10 06:00] #11950 closed

[2019-04-10 06:02] D3nnis3n commented on #11935
@beastyn Try to reproduce and if you cant, close.

[2019-04-10 06:03] D3nnis3n commented on #11926
On FIRST start only please, though.

[2019-04-10 06:04] D3nnis3n commented on #11908
Dann mach ich hier zu.

[2019-04-10 06:04] #11908 closed

[2019-04-10 06:06] SlayksWood commented on #11935
Can't reproduce, so close.
Buttons work both on the elevator and separately

[2019-04-10 06:06] #11935 closed

[2019-04-10 06:08] Blanclour commented on #11944
![20190410010534_1](https://user-images.githubusercontent.com/2582909/55855420-1c6be600-5b2d-11e9-993b-62a943fb1bd0.jpg)
![20190410010542_1](https://user-images.githubusercontent.com/2582909/55855421-1c6be600-5b2d-11e9-9281-a00bcb791359.jpg)
![20190410010552_1](https://user-images.githubusercontent.com/2582909/55855422-1c6be600-5b2d-11e9-8b46-7bc94282b6e6.jpg)

[2019-04-10 06:09] Rakkeyal commented on #11751
I am having this issue today after the newest update. I am in default english and have tried restarting both the client and the server.

![image](https://user-images.githubusercontent.com/49470647/55855437-e10ffc80-5baa-11e9-908d-eac8fd082629.png)

[2019-04-10 06:09] ChocolateMouse commented on #11934
No, it's a server I opened on my own computer to try to get a feel for the game. It was running fine yesterday, then the game updated, then it stopped being able to connect but is connecting fine to public servers.

-----Original Message-----
From: Dennis Scholz <notifications@github.com>
To: StrangeLoopGames/EcoIssues <EcoIssues@noreply.github.com>
Cc: ChocolateMouse <Nyowpotopop@aol.com>; Author

[2019-04-10 06:09] Blanclour commented on #11944
In fact it says the excavator is only 30kg in description, and I have 47.5kg.

[2019-04-10 06:10] D3nnis3n commented on #11944
Is there fuel in it that you cant carry?

[2019-04-10 06:10] D3nnis3n commented on #11944
Or anything else in its inventory?

[2019-04-10 06:11] D3nnis3n commented on #11944
You can only pick it up if its empty.

[2019-04-10 06:12] Blanclour commented on #11944
The bucket indeed had stuff in it, perhaps a more specific error description stating that the bucket is not empty would help avoid this in the future. I was able to pick it up afterwords. Thanks for the advice :)

[2019-04-10 06:13] D3nnis3n commented on #11944
Alright, great! Closed, as working as intended.

[2019-04-10 06:13] #11944 closed

[2019-04-10 06:20] beastyn commented on #11751
Reopening, @Quadbro
I wasn`t able reproduce it
@Rakkeyal can you provide save?

[2019-04-10 06:28] beastyn commented on #11934
@ChocolateMouse can you provide server log please?

[2019-04-10 06:29] hami88 opened #11951 "USER ISSUE: Speciality Laws not possible"
**Version:** 0.8.1.1 beta

**Steps to Reproduce:**
1.Propose a new Law
2. Abandon Speciality/Learn Speciality

**Expected behavior:**
It should have "where speciality is" or at least the specialities under "skill is"

**Actual behavior:**
Instead it only has the professions like Carpenter, Engineer, ...

**Do you have mods installed? Does issue happen when no mods are installed?:**
Yes but its the

[2019-04-10 06:32] hami88 opened #11952 "USER ISSUE: Sell/Buy Laws are buggy"
**Version:** 0.8.1.1 beta

**Steps to Reproduce:**
1.Propose a new Law
2. When attempting to buy/sell on property X

**Expected behavior:**
Buy should not prevent selling and sell should not prevent buying

**Actual behavior:**
No matter what you choose, it always prevents buying and selling at a store (if thats how it should work please rename it and add the possibility for buying/selling laws)

[2019-04-10 06:35] hami88 opened #11953 "USER ISSUE: Cant prevent craft tailings with law"
**Version:** 0.8.1.1 beta

**Steps to Reproduce:**
1.Propose a new Law
2. When attempting craft where item is tailings
3. Condition if smelting > 0 allow otherwhise prevent

**Expected behavior:**
Nobody without to smelting skill should be able to start a iron/copper/gold bar project.

**Actual behavior:**
You get the message, that its not allowed but the craft starts no matter if you have smeltin

[2019-04-10 06:36] Rakkeyal commented on #11751
Yes, here is our server backup. Let me know what else you may need.
I will say that it worked fine for about 5 or 6 rooms, then it got mad when I used a ladder as a block saying the rooms were connected (doorway unrecognised) and when I replaced the ladder, it went blank and hasn't returned,

https://drive.google.com/open?id=1cLUHrqefrMfqNZLjXvRcP_7aa03LmWHq

[2019-04-10 06:36] Blanclour commented on #11675
Re-logging may cause it to appear again.

[2019-04-10 06:42] SlayksWood commented on #11947
The problem occurs when a meteor is shot down.
You want to watch the video. Go to Menu -> Tutorials -> The Meteor. After watching the video it zoomed in the FOV and won't zoom out.
https://drive.google.com/file/d/1yG0v4YM9E8HLGmcnQWjK2hpKcCO5T0wY/view?usp=sharing

[2019-04-10 06:45] criptonauta opened #11954 "Footsteps when slow walking have the same sound as of when normally walking"
Problem: Footsteps have the same sound (speed) no matter if normally walking or slow walking (CTRL pressed)

[2019-04-10 06:50] SlayksWood commented on #11947
If there is no meteor then Tutorial "The meteor" anyway appears.

[2019-04-10 06:52] D3nnis3n commented on #11952
Works as intended, see comments in this issue: https://github.com/StrangeLoopGames/EcoIssues/issues/9412

[2019-04-10 06:59] elfl0rd commented on #10998
Dont know, i have not launch Eco for more than a month.
Say hi to @D3nnis3n and his lies.

[2019-04-10 07:02] D3nnis3n commented on #11952
Well you know, i actually dislike this behaviour.

@johnkslg
Let's actually give players the option to disallow selling buying separately for the store and the human.

[2019-04-10 07:06] D3nnis3n commented on #11953
This worked pre 8.0.

[2019-04-10 07:11] D3nnis3n commented on #9263
I wonder if anyone saw that since 8.0? I didnt.

[2019-04-10 07:22] SlayksWood commented on #11714
Checked on 8.1.1. Wasn't able to reproduce, seems fixed.

[2019-04-10 07:30] D3nnis3n commented on #8178
#9336

[2019-04-10 07:30] #8178 closed

[2019-04-10 07:32] D3nnis3n commented on #8054
Is this still occuring?

[2019-04-10 07:33] #5112 closed

[2019-04-10 07:36] D3nnis3n commented on #10998
He said no.
@elfl0rd Doing that a third time will have consequences.

[2019-04-10 07:41] D3nnis3n commented on #11951
This also worked pre 8.0.

[2019-04-10 07:53] beastyn commented on #11925
@boundbythecurve
should be fixed in 8.1.1
Fell free to open again if you will still have it.

[2019-04-10 07:53] #11925 closed

[2019-04-10 07:53] SlayksWood commented on #11714
I tried to restart the server some times, restart the game and I confirm such result. That by pressing the button the elevator doesn't respond.
![image](https://user-images.githubusercontent.com/45708377/55861034-34b82100-5b7e-11e9-9561-84ce3489162f.png)
The elevator has no obstacles below
![image](https://user-images.githubusercontent.com/45708377/55861215-95475e00-5b7e-11e9-902c-1ce1aeeff495.png

[2019-04-10 07:56] SlayksWood commented on #11714
I add that the second elevator works well.

[2019-04-10 08:04] beastyn commented on #11751
@Rakkeyal Thank you for provided information, this should be helpful

[2019-04-10 08:10] SlayksWood commented on #11714
After I left the elevator, so that he was out of sight. After some time I came back and found that
It disappeared. And the rope leads to the side.
![image](https://user-images.githubusercontent.com/45708377/55862291-d6407200-5b80-11e9-9de9-02f585415f44.png)
![image](https://user-images.githubusercontent.com/45708377/55862442-24ee0c00-5b81-11e9-9b30-bbafcee4e548.png)
The end of the rope can't be re

[2019-04-10 08:35] SlayksWood commented on #11714
[output_log.txt](https://github.com/StrangeLoopGames/EcoIssues/files/3062808/output_log.txt)

[2019-04-10 09:24] elfl0rd commented on #10998
Yes, yes, cover and protect your lie.
In any case i stopped working with SLG, gl @johnkslg with your better community manager in the world, @D3nnis3n, lol.

[2019-04-10 09:24] #10998 closed

[2019-04-10 09:25] #11524 closed

[2019-04-10 09:25] #11521 closed

[2019-04-10 09:25] #11520 closed

[2019-04-10 09:25] #11516 closed

[2019-04-10 09:25] #11515 closed

[2019-04-10 09:25] #11514 closed

[2019-04-10 09:25] #11478 closed

[2019-04-10 09:25] #11457 closed

[2019-04-10 09:26] #11443 closed

[2019-04-10 09:26] #11415 closed

[2019-04-10 09:26] #11413 closed

[2019-04-10 09:26] #11411 closed

[2019-04-10 09:26] #11409 closed

[2019-04-10 09:26] #11393 closed

[2019-04-10 09:26] #11392 closed

[2019-04-10 09:26] #11384 closed

[2019-04-10 09:26] #11383 closed

[2019-04-10 09:26] #11380 closed

[2019-04-10 09:26] #11378 closed

[2019-04-10 09:26] #11377 closed

[2019-04-10 09:26] #11376 closed

[2019-04-10 09:26] #11374 closed

[2019-04-10 09:26] #11371 closed

[2019-04-10 09:27] #11362 closed

[2019-04-10 09:27] #11361 closed

[2019-04-10 09:27] #11360 closed

[2019-04-10 09:27] #11355 closed

[2019-04-10 09:27] #11354 closed

[2019-04-10 09:27] #11349 closed

[2019-04-10 09:27] #11335 closed

[2019-04-10 09:27] #11334 closed

[2019-04-10 09:27] #11330 closed

[2019-04-10 09:27] #11308 closed

[2019-04-10 09:28] #11286 closed

[2019-04-10 09:28] #11242 closed

[2019-04-10 09:28] #11219 closed

[2019-04-10 09:28] #11216 closed

[2019-04-10 09:28] #11212 closed

[2019-04-10 09:28] #11195 closed

[2019-04-10 09:28] #11191 closed

[2019-04-10 09:28] #11190 closed

[2019-04-10 09:28] #11187 closed

[2019-04-10 09:28] #11185 closed

[2019-04-10 09:28] #11121 closed

[2019-04-10 09:29] #11102 closed

[2019-04-10 09:29] #11101 closed

[2019-04-10 09:29] #11100 closed

[2019-04-10 09:29] #11075 closed

[2019-04-10 09:29] #11072 closed

[2019-04-10 09:29] #11065 closed

[2019-04-10 09:29] #11050 closed

[2019-04-10 09:29] #11021 closed

[2019-04-10 09:29] #11014 closed

[2019-04-10 09:29] #10996 closed

[2019-04-10 09:29] #10991 closed

[2019-04-10 09:29] #10964 closed

[2019-04-10 09:30] #10961 closed

[2019-04-10 09:30] #10945 closed

[2019-04-10 09:30] #10944 closed

[2019-04-10 09:30] #10943 closed

[2019-04-10 09:30] #10933 closed

[2019-04-10 09:30] #10928 closed

[2019-04-10 09:30] #10926 closed

[2019-04-10 09:30] #10920 closed

[2019-04-10 09:30] #10908 closed

[2019-04-10 09:30] #10903 closed

[2019-04-10 09:30] #10900 closed

[2019-04-10 09:31] #10680 closed

[2019-04-10 09:31] #10688 closed

[2019-04-10 09:31] #10689 closed

[2019-04-10 09:31] #10709 closed

[2019-04-10 09:31] #10740 closed

[2019-04-10 09:31] #10769 closed

[2019-04-10 09:31] #10781 closed

[2019-04-10 09:31] #10799 closed

[2019-04-10 09:31] #10807 closed

[2019-04-10 09:31] #10808 closed

[2019-04-10 09:31] #10809 closed

[2019-04-10 09:32] #10811 closed

[2019-04-10 09:32] #10816 closed

[2019-04-10 09:32] #10830 closed

[2019-04-10 09:32] #10832 closed

[2019-04-10 09:32] #10835 closed

[2019-04-10 09:32] #10838 closed

[2019-04-10 09:32] #10844 closed

[2019-04-10 09:32] #10849 closed

[2019-04-10 09:32] #10852 closed

[2019-04-10 09:32] #10860 closed

[2019-04-10 09:32] #10863 closed

[2019-04-10 09:32] #10887 closed

[2019-04-10 09:32] #10898 closed

[2019-04-10 09:33] #10663 closed

[2019-04-10 09:33] #10654 closed

[2019-04-10 09:33] #10651 closed

[2019-04-10 09:33] #10648 closed

[2019-04-10 09:33] #10643 closed

[2019-04-10 09:33] #10628 closed

[2019-04-10 09:33] #10621 closed

[2019-04-10 09:33] #10605 closed

[2019-04-10 09:33] #10603 closed

[2019-04-10 09:33] #10591 closed

[2019-04-10 09:33] #10589 closed

[2019-04-10 09:33] #10570 closed

[2019-04-10 09:34] #10545 closed

[2019-04-10 09:34] #10513 closed

[2019-04-10 09:34] #10518 closed

[2019-04-10 09:34] #10503 closed

[2019-04-10 09:34] #10447 closed

[2019-04-10 09:34] #10437 closed

[2019-04-10 09:34] #10434 closed

[2019-04-10 09:34] #10431 closed

[2019-04-10 09:34] #10423 closed

[2019-04-10 09:34] #10413 closed

[2019-04-10 09:34] #10394 closed

[2019-04-10 09:34] #10349 closed

[2019-04-10 09:35] #9873 closed

[2019-04-10 09:35] #9880 closed

[2019-04-10 09:35] #9914 closed

[2019-04-10 09:35] #9964 closed

[2019-04-10 09:35] #10058 closed

[2019-04-10 09:35] #10063 closed

[2019-04-10 09:35] #10073 closed

[2019-04-10 09:35] #10076 closed

[2019-04-10 09:35] #10089 closed

[2019-04-10 09:35] #10092 closed

[2019-04-10 09:35] SnakeSolidNL opened #11955 "Incorrect docker server version"
The latest docker container labeled (0.8.1.1-beta) is running server 0.8.1.0-beta (client reports incorrect version on connect).

![eco_server_incorrect_version](https://user-images.githubusercontent.com/38540031/55869175-4998b280-5b86-11e9-90f9-bb9debdc294b.JPG)

Edit: docker container labeled 0.8.1.2-beta is also running server 0.8.1.0-beta

[2019-04-10 09:36] #10100 closed

[2019-04-10 09:36] #10102 closed

[2019-04-10 09:36] #10117 closed

[2019-04-10 09:36] #10234 closed

[2019-04-10 09:36] #10241 closed

[2019-04-10 09:36] #10263 closed

[2019-04-10 09:36] #10285 closed

[2019-04-10 09:36] #10292 closed

[2019-04-10 09:36] #10308 closed

[2019-04-10 09:36] #10309 closed

[2019-04-10 09:37] #9863 closed

[2019-04-10 09:37] #9849 closed

[2019-04-10 09:37] #9848 closed

[2019-04-10 09:37] #9846 closed

[2019-04-10 09:37] #9787 closed

[2019-04-10 09:37] #9782 closed

[2019-04-10 09:37] #9774 closed

[2019-04-10 09:37] #9771 closed

[2019-04-10 09:38] #9769 closed

[2019-04-10 09:38] #9766 closed

[2019-04-10 09:38] #9763 closed

[2019-04-10 09:38] #9757 closed

[2019-04-10 09:38] #9753 closed

[2019-04-10 09:38] #9747 closed

[2019-04-10 09:38] #9745 closed

[2019-04-10 09:38] #9743 closed

[2019-04-10 09:38] #9741 closed

[2019-04-10 09:38] #9696 closed

[2019-04-10 09:38] #9671 closed

[2019-04-10 09:38] jfassett opened #11956 "USER ISSUE: Taro Root has an ideal Temperature of up to 75 degrees"
**Version:** 0.8.1.1 beta

**Steps to Reproduce:**
1. Plant Taro on ground with Temperature around 74 degrees

**Expected behavior:**
Be outside of Temperature range by quite a lot conistering temerature extreme is 0.8 degrees.

**Actual behavior:**
Soil Sampler states its within the correct temperature. Looking at the Taro.cs, I'm guessing it's a typo on line 62:

this.IdealTemperatureRange = new

[2019-04-10 09:38] #9667 closed

[2019-04-10 09:38] #9666 closed

[2019-04-10 09:38] #9652 closed